.vlb-section {
  position: relative;
  display: block;
}
.vlb-section .background-media-wrapper {
  position: relative;
  overflow: hidden;
}
.vlb-section .background-media-wrapper > img.bg,
.vlb-section .background-media-wrapper > picture.bg,
.vlb-section .background-media-wrapper > video.bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.vlb-section .background-media-wrapper > iframe.bg {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100%;
  min-height: 34vw;
  object-fit: cover;
}
.vlb-section .background-media-wrapper > :not(.bg) {
  position: relative;
  z-index: 2;
}

@media (max-width: 576px) {
  .vlb-section .background-media-wrapper > iframe.bg {
    width: 100%;
    height: 100%;
  }
}
