.vlb-section {
  position: relative;
  display: block;
}
.vlb-section .background-media-wrapper {
  position: relative;
  overflow: hidden;
}
.vlb-section .background-media-wrapper > img.bg,
.vlb-section .background-media-wrapper > video.bg,
.vlb-section .background-media-wrapper > iframe.bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.vlb-section .background-media-wrapper > :not(.bg) {
  position: relative;
  z-index: 2;
}
