body .layout-builder {
  margin: -3px;
  padding: 3px;
}

body .layout-builder .layout-builder__add-section {
  padding: 1em;
  text-align: center;
  outline: 1px dashed #555;
  font-weight: bold;
}

body .layout-builder .layout-builder__add-section:hover,
body .layout-builder .layout-builder__add-section:active,
body .layout-builder .layout-builder__add-section:focus {
  outline: 1px solid #000;
}

body .layout-builder .layout-builder__add-section .layout-builder__link--add {
  display: inline;
  color: #007bff;
}

body .layout-builder .layout-builder__add-section .layout-builder__link--add:hover,
body .layout-builder .layout-builder__add-section .layout-builder__link--add:active,
body .layout-builder .layout-builder__add-section .layout-builder__link--add:focus {
  text-decoration: underline;
  color: #0056b3;
  background: url(../../images/icons/787878/plus.svg) transparent center left/1em no-repeat;
  background-color: transparent;
  background-position: 10px center;
}

body .layout-builder .layout-builder-block {
  margin: 0;
  padding: 0;
  background: transparent;
  background-color: transparent;
}

body .layout-builder .layout-builder__link--import-from-library {
  margin: 0;
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 30px;
  transition: all 100ms linear;
  text-transform: uppercase;
  color: #007bff;
  background-position: 10px center;
  font-size: 12px;
}

body .layout-builder .layout-builder__link--import-from-library:hover,
body .layout-builder .layout-builder__link--import-from-library:active,
body .layout-builder .layout-builder__link--import-from-library:focus {
  text-decoration: underline;
  color: #0056b3;
  background-color: transparent;
}

body .layout-builder .layout-builder__add-block {
  width: 9.5rem;
  margin: 10px auto;
  text-align: center;
  color: #007bff;
  border-radius: 8px;
  background-color: #eff6fcc9;
}

body .layout-builder .layout-builder__add-block .layout-builder__link--add {
  margin-right: 15px;
  margin-left: 15px;
  color: #007bff;
}

body .layout-builder .layout-builder__add-block .layout-builder__link--add:hover,
body .layout-builder .layout-builder__add-block .layout-builder__link--add:active,
body .layout-builder .layout-builder__add-block .layout-builder__link--add:focus {
  color: #0056b3;
  border-radius: 8px;
  background: url(../../images/icons/787878/plus.svg) transparent center left/1em no-repeat;
  background-color: transparent;
  background-position: 10px center;
}

body .layout-builder .layout-builder__link--add-section-to-library {
  color: #007bff;
  background: url(../../images/icons/ffffff/save.svg) transparent center left/1.3em no-repeat;
}

body .layout-builder .layout-builder__link--add-section-to-library:hover,
body .layout-builder .layout-builder__link--add-section-to-library:active,
body .layout-builder .layout-builder__link--add-section-to-library:focus {
  text-decoration: underline;
  color: #0056b3;
  background-color: transparent;
}

body .layout-builder .layout-builder__link--add-template-to-library {
  text-transform: uppercase;
  color: #007bff;
  background: #eee;
  background-color: #eee;
  font-weight: bold;
}

body .layout-builder .layout-builder__link--add-template-to-library:hover,
body .layout-builder .layout-builder__link--add-template-to-library:active,
body .layout-builder .layout-builder__link--add-template-to-library:focus {
  text-decoration: underline;
  color: #0056b3;
}

body .layout-builder .layout-builder__region > .layout-builder-block:hover:not(.ui-state-drop) .layout-builder__actions__block,
body .layout-builder .layout-builder__region > .layout-builder-block:focus:not(.ui-state-drop) .layout-builder__actions__block {
  z-index: 4;
}

body .layout-builder .layout-builder__region > .layout-builder-block {
  margin: 0;
  padding: 0;
}

body .layout-builder .layout-builder__actions .layout-builder__link--layout_builder_block_attributes {
  background: url("../../images/icons/ffffff/droplet-fill.svg") center center/12px 12px no-repeat;
}

body .layout-builder .layout-builder__section {
  padding: 0;
  outline: 2px dashed #555;
}

body .layout-builder .layout-builder__section:hover,
body .layout-builder .layout-builder__section:active body .layout-builder .layout-builder__section:focus {
  outline: 2px solid #000;
}

body .layout-builder .layout-builder__section:hover .layout-builder__actions__section,
body .layout-builder .layout-builder__section:active body .layout-builder .layout-builder__section:focus .layout-builder__actions__section {
  z-index: 1;
}

body .layout-builder .layout-builder__section .contextual {
  display: none;
}

body .layout-builder .layout-builder__actions__section {
  top: -25px;
  left: -2px;
}

body .layout-builder .layout-builder__actions__block {
  top: 0;
  left: 0;
}

body .layout-builder__layout.is-layout-builder-highlighted,
body .layout-builder-block.is-layout-builder-highlighted,
body .layout-builder__add-block.is-layout-builder-highlighted {
  margin: auto;
}

[dir=rtl] body .layout-builder .layout-builder__link--add {
  padding-right: 30px;
  padding-left: 0.5em;
}

[dir=rtl] body .layout-builder .layout-builder__link--import-from-library {
  padding-right: 30px;
  padding-left: 0.5em;
  background: url(../../images/icons/787878/import.svg) transparent center right/1em no-repeat;
}

[dir=rtl] body .layout-builder .layout-builder__actions__section {
  right: -2px;
  left: auto;
}

[dir=rtl] body .layout-builder .layout-builder__actions__block {
  right: 0;
  left: auto;
}

[dir=rtl] body .layout-builder .layout-builder__link--add-section-to-library {
  background: url(../../images/icons/ffffff/save.svg) transparent center right/1.3em no-repeat;
}

[dir=rtl] body .layout-builder .layout-builder__add-section .layout-builder__link--add:hover,
[dir=rtl] body .layout-builder .layout-builder__add-section .layout-builder__link--add:active,
[dir=rtl] body .layout-builder .layout-builder__add-section .layout-builder__link--add:focus {
  background: url(../../images/icons/787878/plus.svg) transparent center right/1em no-repeat;
}

[dir=rtl] body .layout-builder .layout-builder__add-block .layout-builder__link--add:hover,
[dir=rtl] body .layout-builder .layout-builder__add-block .layout-builder__link--add:active,
[dir=rtl] body .layout-builder .layout-builder__add-block .layout-builder__link--add:focus {
  background: url(../../images/icons/787878/plus.svg) transparent center right/1em no-repeat;
}

[dir=rtl] body #drupal-off-canvas .bs-group-title,
[dir=rtl] body #layout-builder-modal .bs-group-title {
  margin-right: 15px;
  margin-left: auto;
}

[dir=rtl] body #drupal-off-canvas .bs-group-title img,
[dir=rtl] body #drupal-off-canvas .bs-group-title svg,
[dir=rtl] body #layout-builder-modal .bs-group-title img,
[dir=rtl] body #layout-builder-modal .bs-group-title svg {
  margin-left: 1rem;
}

.toolbar-fixed .js-messages__wrapper {
  top: 0 !important;
}

.toolbar-horizontal.toolbar-tray-open .js-messages__wrapper {
  top: 0 !important;
}

#drupal-off-canvas .field-text-alignment .fieldset-wrapper > div > div input + label,
#layout-builder-modal .field-text-alignment .fieldset-wrapper > div > div input + label {
  text-indent: -999em;
  font-size: 0;
}

#drupal-off-canvas .field-text-alignment .fieldset-wrapper > div > div input + label .input-icon,
#layout-builder-modal .field-text-alignment .fieldset-wrapper > div > div input + label .input-icon {
  margin-bottom: 0;
}

#drupal-off-canvas .field-text-alignment .fieldset-wrapper > div > div input + label .input-icon[class*="left"],
#drupal-off-canvas .field-text-alignment .fieldset-wrapper > div > div input + label .input-icon[class*="start"],
#layout-builder-modal .field-text-alignment .fieldset-wrapper > div > div input + label .input-icon[class*="left"],
#layout-builder-modal .field-text-alignment .fieldset-wrapper > div > div input + label .input-icon[class*="start"] {
  background-image: url("../../images/plugins/text-alignment/text-start.svg");
}

#drupal-off-canvas .field-text-alignment .fieldset-wrapper > div > div input + label .input-icon[class*="center"],
#layout-builder-modal .field-text-alignment .fieldset-wrapper > div > div input + label .input-icon[class*="center"] {
  background-image: url("../../images/plugins/text-alignment/text-center.svg");
}

#drupal-off-canvas .field-text-alignment .fieldset-wrapper > div > div input + label .input-icon[class*="right"],
#drupal-off-canvas .field-text-alignment .fieldset-wrapper > div > div input + label .input-icon[class*="end"],
#layout-builder-modal .field-text-alignment .fieldset-wrapper > div > div input + label .input-icon[class*="right"],
#layout-builder-modal .field-text-alignment .fieldset-wrapper > div > div input + label .input-icon[class*="end"] {
  background-image: url("../../images/plugins/text-alignment/text-end.svg");
}

#drupal-off-canvas .field-text-alignment .fieldset-wrapper > div > div input + label .input-icon[class*="justify"],
#layout-builder-modal .field-text-alignment .fieldset-wrapper > div > div input + label .input-icon[class*="justify"] {
  background-image: url("../../images/plugins/text-alignment/text-justify.svg");
}

#drupal-off-canvas button.button--primary,
#drupal-off-canvas input[type="submit"].button--primary,
#layout-builder-modal button.button--primary,
#layout-builder-modal input[type="submit"].button--primary {
  text-align: center;
}

#drupal-off-canvas .fieldgroup.form-composite.form-wrapper,
#layout-builder-modal .fieldgroup.form-composite.form-wrapper {
  width: 100%;
}

#drupal-off-canvas .fieldgroup.blb_container_type .fieldset-wrapper > div > div .input-icon:after,
#layout-builder-modal .fieldgroup.blb_container_type .fieldset-wrapper > div > div .input-icon:after {
  cursor: pointer;
}

#drupal-off-canvas .fieldgroup.vlb_container_width .fieldset-wrapper > div,
#layout-builder-modal .fieldgroup.vlb_container_width .fieldset-wrapper > div {
  display: flex;
}

#drupal-off-canvas .fieldgroup.vlb_container_width .fieldset-wrapper > div > div,
#layout-builder-modal .fieldgroup.vlb_container_width .fieldset-wrapper > div > div {
  position: relative;
  flex: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#drupal-off-canvas .fieldgroup.vlb_container_width .fieldset-wrapper > div > div input,
#layout-builder-modal .fieldgroup.vlb_container_width .fieldset-wrapper > div > div input {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
}

#drupal-off-canvas .fieldgroup.vlb_container_width .fieldset-wrapper > div > div input + label,
#layout-builder-modal .fieldgroup.vlb_container_width .fieldset-wrapper > div > div input + label {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  justify-content: center;
  justify-content: center;
  width: 100%;
  width: calc(100% - 4px);
  height: 70px;
  margin: 2px;
  padding: 8px;
  padding: 8px;
  cursor: pointer;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
  text-align: center;
  border-radius: 0;
  background-color: #292c32;
  font-size: 10px;
  font-weight: normal;
}

#drupal-off-canvas .fieldgroup.vlb_container_width .fieldset-wrapper > div > div input + label:hover,
#layout-builder-modal .fieldgroup.vlb_container_width .fieldset-wrapper > div > div input + label:hover {
  background-color: #4b515c;
}

#drupal-off-canvas .fieldgroup.vlb_container_width .fieldset-wrapper > div > div input + label:hover:after,
#layout-builder-modal .fieldgroup.vlb_container_width .fieldset-wrapper > div > div input + label:hover:after {
  border-color: #2f3138;
}

#drupal-off-canvas .fieldgroup.vlb_container_width .fieldset-wrapper > div > div input:checked + label,
#layout-builder-modal .fieldgroup.vlb_container_width .fieldset-wrapper > div > div input:checked + label {
  color: #41a5ff;
  background-color: #5c606b;
  font-weight: bold;
}

#drupal-off-canvas .fieldgroup.vlb_container_width .fieldset-wrapper > div > div input:checked + label svg *,
#layout-builder-modal .fieldgroup.vlb_container_width .fieldset-wrapper > div > div input:checked + label svg * {
  color: inherit;
}

#drupal-off-canvas .fieldgroup.vlb_container_width .fieldset-wrapper > div > div input:checked + label:after,
#layout-builder-modal .fieldgroup.vlb_container_width .fieldset-wrapper > div > div input:checked + label:after {
  border-color: #2f3138;
}

#drupal-off-canvas .fieldgroup.vlb_container_width .fieldset-wrapper > div > div input:checked + label .input-icon:after,
#layout-builder-modal .fieldgroup.vlb_container_width .fieldset-wrapper > div > div input:checked + label .input-icon:after {
  background-image: url("../../images/layout/container-active.svg");
}

#drupal-off-canvas .fieldgroup.vlb_container_width .fieldset-wrapper > div > div .input-icon,
#layout-builder-modal .fieldgroup.vlb_container_width .fieldset-wrapper > div > div .input-icon {
  width: 50px !important;
  height: 26px;
  margin-bottom: 10px;
  background: url("../../images/layout/stripe-sm.svg") center top repeat;
}

#drupal-off-canvas .fieldgroup.vlb_container_width .fieldset-wrapper > div > div .input-icon:after,
#layout-builder-modal .fieldgroup.vlb_container_width .fieldset-wrapper > div > div .input-icon:after {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto 1rem auto;
  content: "";
  cursor: pointer;
  background-color: #292c32;
  background-image: url("../../images/layout/container.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 26px;
}

#drupal-off-canvas .fieldgroup.vlb_container_width .fieldset-wrapper > div > div .input-icon._none:after,
#layout-builder-modal .fieldgroup.vlb_container_width .fieldset-wrapper > div > div .input-icon._none:after {
  background-image: url("../../images/layout/none.svg");
  background-size: 50% 100%;
}

#drupal-off-canvas .fieldgroup.vlb_container_width .fieldset-wrapper > div > div .input-icon.wide:after,
#layout-builder-modal .fieldgroup.vlb_container_width .fieldset-wrapper > div > div .input-icon.wide:after {
  width: 83.33333%;
}

#drupal-off-canvas .fieldgroup.vlb_container_width .fieldset-wrapper > div > div .input-icon.medium:after,
#layout-builder-modal .fieldgroup.vlb_container_width .fieldset-wrapper > div > div .input-icon.medium:after {
  width: 66.66667%;
}

#drupal-off-canvas .fieldgroup.vlb_container_width .fieldset-wrapper > div > div .input-icon.narrow:after,
#layout-builder-modal .fieldgroup.vlb_container_width .fieldset-wrapper > div > div .input-icon.narrow:after {
  width: 50%;
}

#drupal-off-canvas .fieldgroup.vlb_container_width .fieldset-wrapper > div > div .input-icon.tiny:after,
#layout-builder-modal .fieldgroup.vlb_container_width .fieldset-wrapper > div > div .input-icon.tiny:after {
  width: 33.33333%;
}

#layout-builder-modal .form-item--editor-format .form-element--editor-format {
  width: auto;
  min-height: 1.5rem;
  padding: calc(0.15rem - 1px) calc(0.5rem - 1px);
  padding-right: calc(1.5rem - 1px);
  color: #222330;
  border: 2px solid #727579;
  border-radius: inherit;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 9'%3E%3Cpath fill='none' stroke-width='1.5' d='M1 1L7 7L13 1' stroke='%23545560'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: 1.75rem 0.4375rem;
  font-size: 0.889rem;
  line-height: 1.2rem;
}

#layout-builder-modal .form-item--editor-format .form-element--editor-format:hover #layout-builder-modal .form-item--editor-format .form-element--editor-format:active,
#layout-builder-modal .form-item--editor-format .form-element--editor-format:focus {
  background-color: #fff;
}
