#drupal-off-canvas div[id^="edit-vlb-"] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

#drupal-off-canvas div[id^="edit-vlb-"].form-item,
#drupal-off-canvas div[id^="edit-vlb-"] .js-form-item {
  padding: 0;
  margin: 0;
}

#drupal-off-canvas .vlb_background_color .radio input {
  visibility: hidden;
  position: absolute;
}

#drupal-off-canvas .vlb_background_color .radio input:checked + label.option {
  border: #000000 2px solid;
}

#drupal-off-canvas .vlb_background_color .radio label.option {
  cursor: pointer !important;
  border: #000000 1px solid;
  font-size: 0.00001px;
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  float: left;
  margin: 5px 5px 5px 0;
  padding: 0;
  white-space: nowrap;
}

#drupal-off-canvas .vlb_background_color .radio label.option:after {
  content: 'a';
  display: table;
  position: absolute;
  top: 3px;
  left: 0;
  right: 0px;
  bottom: 0;
  z-index: 1;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

#drupal-off-canvas .vlb_background_color .radio label.option:hover {
  opacity: 0.8;
}

#drupal-off-canvas .vlb_background_color .radio label.option._none {
  background: #ffffff !important;
}

#drupal-off-canvas .vlb_background_color .radio label.option._none:after {
  display: inline-block;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  float: none;
  z-index: auto;
  width: 37px;
  height: 2px;
  position: absolute;
  content: "";
  cursor: pointer !important;
  opacity: 1;
  top: 12px;
  left: -5px;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  -o-text-overflow: clip;
  background: #f00;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
     transform: rotateZ(-45deg);
  -webkit-transform-origin: 50% 50% 0;
  -o-transform-origin: 50% 50% 0;
     transform-origin: 50% 50% 0;
}

#drupal-off-canvas .vlb_width .radio input,
#drupal-off-canvas .vlb_gutter .radio input,
#drupal-off-canvas .vlb_column_style_3 .radio input,
#drupal-off-canvas .vlb_column_style_2 .radio input {
  visibility: hidden !important;
  position: absolute !important;
}

#drupal-off-canvas .vlb_width .radio input:checked + label.option,
#drupal-off-canvas .vlb_gutter .radio input:checked + label.option,
#drupal-off-canvas .vlb_column_style_3 .radio input:checked + label.option,
#drupal-off-canvas .vlb_column_style_2 .radio input:checked + label.option {
  -webkit-filter: invert(25%) sepia(0.9) !important;
  filter: invert(25%) sepia(0.9) !important;
}

#drupal-off-canvas .vlb_width .radio label.option,
#drupal-off-canvas .vlb_gutter .radio label.option,
#drupal-off-canvas .vlb_column_style_3 .radio label.option,
#drupal-off-canvas .vlb_column_style_2 .radio label.option {
  cursor: pointer !important;
  font-size: 75% !important;
  text-align: center !important;
  position: relative !important;
  display: inline-block !important;
  min-width: 50px !important;
  height: 20px !important;
  float: left !important;
  margin: 10px 10px 10px 0 !important;
  padding: 40px 0px 0 !important;
  white-space: nowrap !important;
  -webkit-transition: opacity 0.3s ease-in-out !important;
  -o-transition: opacity 0.3s ease-in-out !important;
  transition: opacity 0.3s ease-in-out !important;
}

#drupal-off-canvas .vlb_width .radio label.option:after,
#drupal-off-canvas .vlb_gutter .radio label.option:after,
#drupal-off-canvas .vlb_column_style_3 .radio label.option:after,
#drupal-off-canvas .vlb_column_style_2 .radio label.option:after {
  content: '';
  display: table;
  position: absolute;
  top: 3px;
  left: 0;
  right: 0px;
  bottom: 0;
  z-index: 1;
  font-size: 20px !important;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

#drupal-off-canvas .vlb_width .radio label.option:hover,
#drupal-off-canvas .vlb_gutter .radio label.option:hover,
#drupal-off-canvas .vlb_column_style_3 .radio label.option:hover,
#drupal-off-canvas .vlb_column_style_2 .radio label.option:hover {
  opacity: 0.8 !important;
}

#drupal-off-canvas .vlb_width .radio label.option.tiny, #drupal-off-canvas .vlb_width .radio label.option.narrow, #drupal-off-canvas .vlb_width .radio label.option.medium, #drupal-off-canvas .vlb_width .radio label.option.wide, #drupal-off-canvas .vlb_width .radio label.option.full, #drupal-off-canvas .vlb_width .radio label.option.edge2edge {
  background-image: none;
  background-position: top center;
  background-repeat: no-repeat;
}

#drupal-off-canvas .vlb_width .radio label.option.tiny {
  background-image: url("../../images/icons/vlb--width--tiny.svg");
}

#drupal-off-canvas .vlb_width .radio label.option.narrow {
  background-image: url("../../images/icons/vlb--width--narrow.svg");
}

#drupal-off-canvas .vlb_width .radio label.option.medium {
  background-image: url("../../images/icons/vlb--width--medium.svg");
}

#drupal-off-canvas .vlb_width .radio label.option.wide {
  background-image: url("../../images/icons/vlb--width--wide.svg");
}

#drupal-off-canvas .vlb_width .radio label.option.full {
  background-image: url("../../images/icons/vlb--width--full.svg");
}

#drupal-off-canvas .vlb_width .radio label.option.edge2edge {
  background-image: url("../../images/icons/vlb--width--edge-to-edge.svg");
}

#drupal-off-canvas .vlb_gutter .radio label.option.gutter-0, #drupal-off-canvas .vlb_gutter .radio label.option.gutter-1 {
  background-image: none;
  background-position: top center;
  background-repeat: no-repeat;
}

#drupal-off-canvas .vlb_gutter .radio label.option.gutter-0 {
  background-image: url("../../images/icons/vlb--gutter--without-gutter.svg");
}

#drupal-off-canvas .vlb_gutter .radio label.option.gutter-1 {
  background-image: url("../../images/icons/vlb--gutter--with-gutter.svg");
}

#drupal-off-canvas .vlb_column_style_3 .radio label.option.vlb_style_33_34_33, #drupal-off-canvas .vlb_column_style_3 .radio label.option.vlb_style_25_50_25, #drupal-off-canvas .vlb_column_style_3 .radio label.option.vlb_style_50_25_25, #drupal-off-canvas .vlb_column_style_3 .radio label.option.vlb_style_25_25_50, #drupal-off-canvas .vlb_column_style_3 .radio label.option.vlb_style_16_66_16, #drupal-off-canvas .vlb_column_style_3 .radio label.option.vlb_style_66_16_16, #drupal-off-canvas .vlb_column_style_3 .radio label.option.vlb_style_16_16_66 {
  background-image: none;
  background-position: top center;
  background-repeat: no-repeat;
}

#drupal-off-canvas .vlb_column_style_3 .radio label.option.vlb_style_33_34_33 {
  background-image: url("../../images/icons/vlb--style--33-34-33.svg");
}

#drupal-off-canvas .vlb_column_style_3 .radio label.option.vlb_style_25_50_25 {
  background-image: url("../../images/icons/vlb--style--25-50-25.svg");
}

#drupal-off-canvas .vlb_column_style_3 .radio label.option.vlb_style_50_25_25 {
  background-image: url("../../images/icons/vlb--style--50-25-25.svg");
}

#drupal-off-canvas .vlb_column_style_3 .radio label.option.vlb_style_25_25_50 {
  background-image: url("../../images/icons/vlb--style--25-25-50.svg");
}

#drupal-off-canvas .vlb_column_style_3 .radio label.option.vlb_style_16_66_16 {
  background-image: url("../../images/icons/vlb--style--16-66-16.svg");
}

#drupal-off-canvas .vlb_column_style_3 .radio label.option.vlb_style_66_16_16 {
  background-image: url("../../images/icons/vlb--style--66-16-16.svg");
}

#drupal-off-canvas .vlb_column_style_3 .radio label.option.vlb_style_16_16_66 {
  background-image: url("../../images/icons/vlb--style--16-16-66.svg");
}

#drupal-off-canvas .vlb_column_style_2 .radio label.option.vlb_style_50_50, #drupal-off-canvas .vlb_column_style_2 .radio label.option.vlb_style_75_25, #drupal-off-canvas .vlb_column_style_2 .radio label.option.vlb_style_66_33, #drupal-off-canvas .vlb_column_style_2 .radio label.option.vlb_style_25_75, #drupal-off-canvas .vlb_column_style_2 .radio label.option.vlb_style_33_66 {
  background-image: none;
  background-position: top center;
  background-repeat: no-repeat;
}

#drupal-off-canvas .vlb_column_style_2 .radio label.option.vlb_style_50_50 {
  background-image: url("../../images/icons/vlb--style--50-50.svg");
}

#drupal-off-canvas .vlb_column_style_2 .radio label.option.vlb_style_75_25 {
  background-image: url("../../images/icons/vlb--style--75-25.svg");
}

#drupal-off-canvas .vlb_column_style_2 .radio label.option.vlb_style_66_33 {
  background-image: url("../../images/icons/vlb--style--66-33.svg");
}

#drupal-off-canvas .vlb_column_style_2 .radio label.option.vlb_style_25_75 {
  background-image: url("../../images/icons/vlb--style--25-75.svg");
}

#drupal-off-canvas .vlb_column_style_2 .radio label.option.vlb_style_33_66 {
  background-image: url("../../images/icons/vlb--style--33-66.svg");
}

#drupal-off-canvas [dir=rtl] .vlb_background .radio label.option,
#drupal-off-canvas [dir=rtl] .vlb_width .radio label.option,
#drupal-off-canvas [dir=rtl] .vlb_gutter .radio label.option,
#drupal-off-canvas [dir=rtl] .vlb_column_style_3 .radio label.option,
#drupal-off-canvas [dir=rtl] .vlb_column_style_2 .radio label.option {
  float: right !important;
}

#drupal-off-canvas [dir=rtl] .vlb_background .radio label.option._none:after,
#drupal-off-canvas [dir=rtl] .vlb_width .radio label.option._none:after,
#drupal-off-canvas [dir=rtl] .vlb_gutter .radio label.option._none:after,
#drupal-off-canvas [dir=rtl] .vlb_column_style_3 .radio label.option._none:after,
#drupal-off-canvas [dir=rtl] .vlb_column_style_2 .radio label.option._none:after {
  left: 0;
  right: -5px;
}
