body #layout-builder-modal .media-library-item__attributes {
  max-width: calc(100% - 0.625rem) !important;
}

[dir=rtl] body #layout-builder-modal .form-type--boolean .form-boolean,
[dir=rtl] body .media-library-widget-modal .form-type--boolean .form-boolean,
[dir=rtl] body form.media-form .form-type--boolean .form-boolean {
  float: right;
  margin-right: 0;
  margin-left: 1rem;
}
[dir=rtl] body .media-library-widget-modal .media-library-menu__item {
  width: 100%;
}
[dir=rtl] body .media-library-widget-modal .media-library-item .media-library-item__attributes {
  left: -3px;
  text-align: center;
  direction: ltr;
}
[dir=rtl] body .media-library-widget-modal .views-exposed-form__item.views-exposed-form__item {
  margin: 0.75rem 0.75rem 0 0;
}
