body .layout-builder__link--add {
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 30px;
  color: #686868 !important;
}

body .layout-builder__link--add:hover,
body .layout-builder__link--add:focus,
body .layout-builder__link--add:active {
  color: white !important;
  background-color: #777 !important;
  background-image: url("../../images/icons/ffffff/plus.svg") !important;
}

body .layout-builder__add-section .layout-builder__link--add {
  display: inline;
}

body .layout-builder-block {
  margin: 0;
  padding: 0;
  background: transparent;
  background-color: transparent;
}

body .layout-builder__link--add-section-to-library {
  background: url("../../images/icons/ffffff/save.svg") transparent center left/1.5em no-repeat;
}

body .layout-builder__link--import-from-library {
  margin: 0;
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 30px;
  transition: all 100ms linear;
  text-transform: uppercase;
  background-position: 10px center;
  font-size: 12px;
}

body .layout-builder__link--import-from-library:hover,
body .layout-builder__link--import-from-library:focus,
body .layout-builder__link--import-from-library:active {
  color: white;
  background-color: #777;
  background-image: url("../../images/icons/ffffff/import.svg");
}

[dir=rtl] body .layout-builder__link--add,
[dir=rtl] body .layout-builder__link--import-from-library {
  padding-right: 30px;
  padding-left: 0.5em;
}

.toolbar-fixed .js-messages__wrapper {
  top: 0 !important;
}

.toolbar-horizontal.toolbar-tray-open .js-messages__wrapper {
  top: 0 !important;
}

.layout-builder__region > .layout-builder-block:hover:not(.ui-state-drop) .layout-builder__actions__block,
.layout-builder__region > .layout-builder-block:focus:not(.ui-state-drop) .layout-builder__actions__block {
  z-index: 1;
}

.layout-builder__actions .layout-builder__link--layout_builder_block_attributes {
  background: url("../../images/icons/ffffff/droplet-fill.svg") center center/12px 12px no-repeat;
}

.layout-builder__section .contextual {
  display: none;
}
