body .layout-builder__add-section {
  padding: 1em;
  text-align: center;
  outline: 1px dashed #555;
  font-size: 12px;
  font-weight: bold;
}
body .layout-builder__add-section:hover,
body .layout-builder__add-section:active,
body .layout-builder__add-section:focus {
  outline: 1px solid #000;
}
body .layout-builder__add-section .layout-builder__link--add {
  display: inline;
  text-transform: uppercase;
  color: var(--bs-link-color);
}
body .layout-builder__add-section .layout-builder__link--add:hover,
body .layout-builder__add-section .layout-builder__link--add:active,
body .layout-builder__add-section .layout-builder__link--add:focus {
  text-decoration: underline;
  color: var(--bs-link-hover-color);
  background: url(../../images/icons/787878/plus.svg) transparent center left/1em no-repeat;
  background-color: transparent;
}
body .layout-builder__add-block {
  width: 10rem;
  margin: 10px auto;
  padding: 0.5em 0;
  text-align: center;
  color: var(--bs-link-color);
  border-radius: 8px;
  background-color: rgba(239, 246, 252, 0.7882352941);
}
body .layout-builder__add-block .layout-builder__link--add {
  margin-right: 15px;
  margin-left: 15px;
  text-transform: uppercase;
  color: var(--bs-link-color);
  font-size: 12px;
}
body .layout-builder__add-block .layout-builder__link--add:hover,
body .layout-builder__add-block .layout-builder__link--add:active,
body .layout-builder__add-block .layout-builder__link--add:focus {
  color: var(--bs-link-hover-color);
  border-radius: 8px;
  background: url(../../images/icons/787878/plus.svg) transparent center left/1em no-repeat;
  background-color: transparent;
}
body .layout-builder__region > .layout-builder-block {
  margin: 0;
  padding: 0;
}
body .layout-builder__actions .layout-builder__link--layout_builder_block_attributes {
  background: url("../../images/icons/ffffff/droplet-fill.svg") center center/12px 12px no-repeat;
}
body .layout-builder__section {
  padding: 0;
  outline: 2px dashed #555;
}
body .layout-builder__section:hover,
body .layout-builder__section:active body .layout-builder__section:focus {
  outline: 2px solid #000;
}
body .layout-builder__actions__section {
  top: -25px;
  left: -2px;
}
body .layout-builder__link--configure,
body .layout-builder__link--add-section-to-library,
body .layout-builder__link--add-template-to-library,
body .layout-builder__link--import-from-library {
  text-transform: uppercase;
  color: var(--bs-link-color);
  font-size: 12px;
  font-weight: bold;
}
body .layout-builder__link--configure:hover,
body .layout-builder__link--configure:active,
body .layout-builder__link--configure:focus,
body .layout-builder__link--add-section-to-library:hover,
body .layout-builder__link--add-section-to-library:active,
body .layout-builder__link--add-section-to-library:focus,
body .layout-builder__link--add-template-to-library:hover,
body .layout-builder__link--add-template-to-library:active,
body .layout-builder__link--add-template-to-library:focus,
body .layout-builder__link--import-from-library:hover,
body .layout-builder__link--import-from-library:active,
body .layout-builder__link--import-from-library:focus {
  text-decoration: underline;
  color: var(--bs-link-hover-color);
}
body .layout-builder__message--overrides .messages {
  background-image: none;
}

[dir=rtl] body .layout-builder__link--add {
  padding-right: 30px;
  padding-left: 0.5em;
}
[dir=rtl] body .layout-builder__actions__section {
  right: -2px;
  left: auto;
}
[dir=rtl] body .layout-builder__actions__block {
  right: 0;
  left: auto;
}
[dir=rtl] body .layout-builder__add-section .layout-builder__link--add:hover,
[dir=rtl] body .layout-builder__add-section .layout-builder__link--add:active,
[dir=rtl] body .layout-builder__add-section .layout-builder__link--add:focus {
  background: url(../../images/icons/787878/plus.svg) transparent center right/1em no-repeat;
}
[dir=rtl] body .layout-builder__add-block .layout-builder__link--add:hover,
[dir=rtl] body .layout-builder__add-block .layout-builder__link--add:active,
[dir=rtl] body .layout-builder__add-block .layout-builder__link--add:focus {
  background: url(../../images/icons/787878/plus.svg) transparent center right/1em no-repeat;
}
[dir=rtl] body .layout-builder__link--import-from-library {
  padding-right: 30px;
  padding-left: 0.5em;
  background: url(../../images/icons/787878/import.svg) transparent center right/1em no-repeat;
}
[dir=rtl] body #drupal-off-canvas .bs-group-title {
  margin-right: 15px;
  margin-left: auto;
}
[dir=rtl] body #drupal-off-canvas .bs-group-title img,
[dir=rtl] body #drupal-off-canvas .bs-group-title svg {
  margin-left: 1rem;
}
[dir=rtl] body #drupal-off-canvas .bs_input-circles .fieldset-wrapper > div,
[dir=rtl] body #drupal-off-canvas .bs_input-boxes .fieldset-wrapper > div {
  flex-direction: row-reverse;
}
[dir=rtl] body #drupal-off-canvas .bs_input-circles legend,
[dir=rtl] body #drupal-off-canvas .bs_input-boxes legend {
  text-align: right;
}
[dir=rtl] body #drupal-off-canvas .field-text-alignment .fieldset-wrapper > div > div input + label .input-icon[class*=left],
[dir=rtl] body #drupal-off-canvas .field-text-alignment .fieldset-wrapper > div > div input + label .input-icon[class*=start] {
  background-image: url("../../images/plugins/text-alignment/text-end.svg");
}
[dir=rtl] body #drupal-off-canvas .field-text-alignment .fieldset-wrapper > div > div input + label .input-icon[class*=right],
[dir=rtl] body #drupal-off-canvas .field-text-alignment .fieldset-wrapper > div > div input + label .input-icon[class*=end] {
  background-image: url("../../images/plugins/text-alignment/text-start.svg");
}
[dir=rtl] body #drupal-off-canvas .layout-selection li a {
  flex-direction: row-reverse;
  padding-right: 25px;
  padding-left: auto;
}
[dir=rtl] body #drupal-off-canvas .blb_breakpoint_cols .fieldset-wrapper .form-type-radio .option {
  direction: rtl;
}

#drupal-off-canvas .field-text-alignment .fieldset-wrapper > div > div input + label {
  text-indent: -999em;
  font-size: 0;
}
#drupal-off-canvas .field-text-alignment .fieldset-wrapper > div > div input + label .input-icon {
  margin-bottom: 0;
}
#drupal-off-canvas .field-text-alignment .fieldset-wrapper > div > div input + label .input-icon[class*=left],
#drupal-off-canvas .field-text-alignment .fieldset-wrapper > div > div input + label .input-icon[class*=start] {
  background-image: url("../../images/plugins/text-alignment/text-start.svg");
}
#drupal-off-canvas .field-text-alignment .fieldset-wrapper > div > div input + label .input-icon[class*=center] {
  background-image: url("../../images/plugins/text-alignment/text-center.svg");
}
#drupal-off-canvas .field-text-alignment .fieldset-wrapper > div > div input + label .input-icon[class*=right],
#drupal-off-canvas .field-text-alignment .fieldset-wrapper > div > div input + label .input-icon[class*=end] {
  background-image: url("../../images/plugins/text-alignment/text-end.svg");
}
#drupal-off-canvas .field-text-alignment .fieldset-wrapper > div > div input + label .input-icon[class*=justify] {
  background-image: url("../../images/plugins/text-alignment/text-justify.svg");
}
#drupal-off-canvas button.button--primary,
#drupal-off-canvas input[type=submit].button--primary {
  text-align: center;
}
#drupal-off-canvas .fieldgroup.form-composite.form-wrapper {
  width: 100%;
}
#drupal-off-canvas .fieldgroup.blb_container_type .fieldset-wrapper > div > div .input-icon:after {
  cursor: pointer;
}
#drupal-off-canvas .fieldgroup.vlb_container_width .fieldset-wrapper > div {
  display: flex;
}
#drupal-off-canvas .fieldgroup.vlb_container_width .fieldset-wrapper > div > div {
  position: relative;
  flex: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#drupal-off-canvas .fieldgroup.vlb_container_width .fieldset-wrapper > div > div input {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
}
#drupal-off-canvas .fieldgroup.vlb_container_width .fieldset-wrapper > div > div input + label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  width: calc(100% - 4px);
  height: 70px;
  margin: 2px;
  padding: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
  border-radius: 0;
  background-color: #292c32;
  font-size: 10px;
  font-weight: normal;
}
#drupal-off-canvas .fieldgroup.vlb_container_width .fieldset-wrapper > div > div input + label:hover {
  background-color: #4b515c;
}
#drupal-off-canvas .fieldgroup.vlb_container_width .fieldset-wrapper > div > div input + label:hover:after {
  border-color: #2f3138;
}
#drupal-off-canvas .fieldgroup.vlb_container_width .fieldset-wrapper > div > div input:checked + label {
  color: #41a5ff;
  background-color: #5c606b;
  font-weight: bold;
}
#drupal-off-canvas .fieldgroup.vlb_container_width .fieldset-wrapper > div > div input:checked + label svg * {
  color: inherit;
}
#drupal-off-canvas .fieldgroup.vlb_container_width .fieldset-wrapper > div > div input:checked + label:after {
  border-color: #2f3138;
}
#drupal-off-canvas .fieldgroup.vlb_container_width .fieldset-wrapper > div > div input:checked + label .input-icon:after {
  background-image: url("../../images/layout/container-active.svg");
}
#drupal-off-canvas .fieldgroup.vlb_container_width .fieldset-wrapper > div > div .input-icon {
  width: 50px !important;
  height: 26px;
  margin-bottom: 10px;
  background: url("../../images/layout/stripe-sm.svg") center top repeat;
}
#drupal-off-canvas .fieldgroup.vlb_container_width .fieldset-wrapper > div > div .input-icon:after {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto 1rem auto;
  content: "";
  cursor: pointer;
  background-color: #292c32;
  background-image: url("../../images/layout/container.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 26px;
}
#drupal-off-canvas .fieldgroup.vlb_container_width .fieldset-wrapper > div > div .input-icon._none:after {
  background-image: url("../../images/layout/none.svg");
  background-size: 50% 100%;
}
#drupal-off-canvas .fieldgroup.vlb_container_width .fieldset-wrapper > div > div .input-icon.wide:after {
  width: 83.33333%;
}
#drupal-off-canvas .fieldgroup.vlb_container_width .fieldset-wrapper > div > div .input-icon.medium:after {
  width: 66.66667%;
}
#drupal-off-canvas .fieldgroup.vlb_container_width .fieldset-wrapper > div > div .input-icon.narrow:after {
  width: 50%;
}
#drupal-off-canvas .fieldgroup.vlb_container_width .fieldset-wrapper > div > div .input-icon.tiny:after {
  width: 33.33333%;
}
#drupal-off-canvas form.layout-builder-configure-block [data-drupal-selector^=edit-appearance-alignment] {
  display: none !important;
}
#drupal-off-canvas ul li,
#drupal-off-canvas ol li {
  border-bottom: 0;
}
#drupal-off-canvas .inline-block-list li:last-child {
  padding-bottom: 1rem;
}
#drupal-off-canvas .form-select,
#drupal-off-canvas .form-text,
#drupal-off-canvas input[type=text],
#drupal-off-canvas .form-tel,
#drupal-off-canvas .form-email,
#drupal-off-canvas .form-url,
#drupal-off-canvas .form-search,
#drupal-off-canvas .form-number,
#drupal-off-canvas .form-color,
#drupal-off-canvas .form-file,
#drupal-off-canvas .form-textarea,
#drupal-off-canvas input[type=textarea],
#drupal-off-canvas .form-date,
#drupal-off-canvas .form-time {
  color: #222330 !important;
  background-color: #fff !important;
}
#drupal-off-canvas fieldset.form-type-search {
  width: 100% !important;
}
#drupal-off-canvas .block-categories .links li {
  margin: 0.3125rem 0;
  padding: 0;
}
#drupal-off-canvas .layout-selection li {
  padding-bottom: 0;
}
#drupal-off-canvas .layout-selection li a {
  display: flex;
  margin: 0 -20px;
  padding: 15px 0;
  padding-left: 25px; /* LTR */
}
#drupal-off-canvas .layout-selection li a:hover {
  background-color: #333;
}
#drupal-off-canvas .layout-selection li a svg {
  margin-right: 1em; /* LTR */
  background-color: inherit;
}
#drupal-off-canvas .layout-selection li a div {
  padding-top: 0.55em;
  background-color: inherit;
}

[dir=rtl] #drupal-off-canvas .layout-selection li a {
  padding-right: 25px;
  padding-left: 0;
}
[dir=rtl] #drupal-off-canvas .layout-selection li a svg {
  margin-right: 0;
  margin-left: 1em;
}

.layout-builder__actions {
  font-size: 12px;
}
