#drupal-off-canvas div[id^="edit-vlb-"] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
#drupal-off-canvas div[id^="edit-vlb-"].form-item,
#drupal-off-canvas div[id^="edit-vlb-"] .js-form-item {
  margin: 0;
  padding: 0;
}
#drupal-off-canvas .vlb_background_color .radio input {
  position: absolute;
  visibility: hidden;
}
#drupal-off-canvas .vlb_background_color .radio input:checked + label.option {
  border: #000 2px solid;
}
#drupal-off-canvas .vlb_background_color .radio label.option {
  position: relative;
  display: inline-block;
  float: left;
  width: 30px;
  height: 30px;
  margin: 5px 5px 5px 0;
  padding: 0;
  cursor: pointer !important;
  white-space: nowrap;
  border: #000 1px solid;
  font-size: 0.00001px;
}
#drupal-off-canvas .vlb_background_color .radio label.option:after {
  position: absolute;
  z-index: 1;
  top: 3px;
  right: 0;
  bottom: 0;
  left: 0;
  display: table;
  width: 100%;
  height: 100%;
  content: "a";
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}
#drupal-off-canvas .vlb_background_color .radio label.option:hover {
  opacity: 0.8;
}
#drupal-off-canvas .vlb_background_color .radio label.option._none {
  background: #fff !important;
}
#drupal-off-canvas .vlb_background_color .radio label.option._none:after {
  position: absolute;
  z-index: auto;
  top: 12px;
  right: 0;
  bottom: 0;
  left: -5px;
  display: inline-block;
  float: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 37px;
  height: 2px;
  margin: 0;
  padding: 0;
  content: "";
  cursor: pointer !important;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  -webkit-transform-origin: 50% 50% 0;
  -o-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
  opacity: 1;
  background: #f00;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  -o-text-overflow: clip;
}
#drupal-off-canvas .vlb_width .radio input,
#drupal-off-canvas .vlb_gutter .radio input,
#drupal-off-canvas .vlb_column_style_3 .radio input,
#drupal-off-canvas .vlb_column_style_2 .radio input {
  position: absolute !important;
  visibility: hidden !important;
}
#drupal-off-canvas .vlb_width .radio input:checked + label.option,
#drupal-off-canvas .vlb_gutter .radio input:checked + label.option,
#drupal-off-canvas .vlb_column_style_3 .radio input:checked + label.option,
#drupal-off-canvas .vlb_column_style_2 .radio input:checked + label.option {
  -webkit-filter: invert(25%) sepia(0.9) !important;
  filter: invert(25%) sepia(0.9) !important;
}
#drupal-off-canvas .vlb_width .radio label.option,
#drupal-off-canvas .vlb_gutter .radio label.option,
#drupal-off-canvas .vlb_column_style_3 .radio label.option,
#drupal-off-canvas .vlb_column_style_2 .radio label.option {
  position: relative !important;
  display: inline-block !important;
  float: left !important;
  min-width: 50px !important;
  height: 20px !important;
  margin: 10px 10px 10px 0 !important;
  padding: 40px 0 0 !important;
  cursor: pointer !important;
  -webkit-transition: opacity 0.3s ease-in-out !important;
  -o-transition: opacity 0.3s ease-in-out !important;
  transition: opacity 0.3s ease-in-out !important;
  text-align: center !important;
  white-space: nowrap !important;
  font-size: 75% !important;
}
#drupal-off-canvas .vlb_width .radio label.option:after,
#drupal-off-canvas .vlb_gutter .radio label.option:after,
#drupal-off-canvas .vlb_column_style_3 .radio label.option:after,
#drupal-off-canvas .vlb_column_style_2 .radio label.option:after {
  position: absolute;
  z-index: 1;
  top: 3px;
  right: 0;
  bottom: 0;
  left: 0;
  display: table;
  width: 100%;
  height: 100%;
  content: "";
  text-align: center;
  vertical-align: middle;
  font-size: 20px !important;
}
#drupal-off-canvas .vlb_width .radio label.option:hover,
#drupal-off-canvas .vlb_gutter .radio label.option:hover,
#drupal-off-canvas .vlb_column_style_3 .radio label.option:hover,
#drupal-off-canvas .vlb_column_style_2 .radio label.option:hover {
  opacity: 0.8 !important;
}
#drupal-off-canvas .vlb_width .radio label.option.tiny,
#drupal-off-canvas .vlb_width .radio label.option.narrow,
#drupal-off-canvas .vlb_width .radio label.option.medium,
#drupal-off-canvas .vlb_width .radio label.option.wide,
#drupal-off-canvas .vlb_width .radio label.option.full,
#drupal-off-canvas .vlb_width .radio label.option.edge2edge {
  background-image: none;
  background-repeat: no-repeat;
  background-position: top center;
}
#drupal-off-canvas .vlb_width .radio label.option.tiny {
  background-image: url("../../images/icons/vlb--width--tiny.svg");
}
#drupal-off-canvas .vlb_width .radio label.option.narrow {
  background-image: url("../../images/icons/vlb--width--narrow.svg");
}
#drupal-off-canvas .vlb_width .radio label.option.medium {
  background-image: url("../../images/icons/vlb--width--medium.svg");
}
#drupal-off-canvas .vlb_width .radio label.option.wide {
  background-image: url("../../images/icons/vlb--width--wide.svg");
}
#drupal-off-canvas .vlb_width .radio label.option.full {
  background-image: url("../../images/icons/vlb--width--full.svg");
}
#drupal-off-canvas .vlb_width .radio label.option.edge2edge {
  background-image: url("../../images/icons/vlb--width--edge-to-edge.svg");
}
#drupal-off-canvas .vlb_gutter .radio label.option.gutter-0,
#drupal-off-canvas .vlb_gutter .radio label.option.gutter-1 {
  background-image: none;
  background-repeat: no-repeat;
  background-position: top center;
}
#drupal-off-canvas .vlb_gutter .radio label.option.gutter-0 {
  background-image: url("../../images/icons/vlb--gutter--without-gutter.svg");
}
#drupal-off-canvas .vlb_gutter .radio label.option.gutter-1 {
  background-image: url("../../images/icons/vlb--gutter--with-gutter.svg");
}
#drupal-off-canvas .vlb_column_style_3 .radio label.option.vlb_style_33_34_33,
#drupal-off-canvas .vlb_column_style_3 .radio label.option.vlb_style_25_50_25,
#drupal-off-canvas .vlb_column_style_3 .radio label.option.vlb_style_50_25_25,
#drupal-off-canvas .vlb_column_style_3 .radio label.option.vlb_style_25_25_50,
#drupal-off-canvas .vlb_column_style_3 .radio label.option.vlb_style_16_66_16,
#drupal-off-canvas .vlb_column_style_3 .radio label.option.vlb_style_66_16_16,
#drupal-off-canvas .vlb_column_style_3 .radio label.option.vlb_style_16_16_66 {
  background-image: none;
  background-repeat: no-repeat;
  background-position: top center;
}
#drupal-off-canvas .vlb_column_style_3 .radio label.option.vlb_style_33_34_33 {
  background-image: url("../../images/icons/vlb--style--33-34-33.svg");
}
#drupal-off-canvas .vlb_column_style_3 .radio label.option.vlb_style_25_50_25 {
  background-image: url("../../images/icons/vlb--style--25-50-25.svg");
}
#drupal-off-canvas .vlb_column_style_3 .radio label.option.vlb_style_50_25_25 {
  background-image: url("../../images/icons/vlb--style--50-25-25.svg");
}
#drupal-off-canvas .vlb_column_style_3 .radio label.option.vlb_style_25_25_50 {
  background-image: url("../../images/icons/vlb--style--25-25-50.svg");
}
#drupal-off-canvas .vlb_column_style_3 .radio label.option.vlb_style_16_66_16 {
  background-image: url("../../images/icons/vlb--style--16-66-16.svg");
}
#drupal-off-canvas .vlb_column_style_3 .radio label.option.vlb_style_66_16_16 {
  background-image: url("../../images/icons/vlb--style--66-16-16.svg");
}
#drupal-off-canvas .vlb_column_style_3 .radio label.option.vlb_style_16_16_66 {
  background-image: url("../../images/icons/vlb--style--16-16-66.svg");
}
#drupal-off-canvas .vlb_column_style_2 .radio label.option.vlb_style_50_50,
#drupal-off-canvas .vlb_column_style_2 .radio label.option.vlb_style_75_25,
#drupal-off-canvas .vlb_column_style_2 .radio label.option.vlb_style_66_33,
#drupal-off-canvas .vlb_column_style_2 .radio label.option.vlb_style_25_75,
#drupal-off-canvas .vlb_column_style_2 .radio label.option.vlb_style_33_66 {
  background-image: none;
  background-repeat: no-repeat;
  background-position: top center;
}
#drupal-off-canvas .vlb_column_style_2 .radio label.option.vlb_style_50_50 {
  background-image: url("../../images/icons/vlb--style--50-50.svg");
}
#drupal-off-canvas .vlb_column_style_2 .radio label.option.vlb_style_75_25 {
  background-image: url("../../images/icons/vlb--style--75-25.svg");
}
#drupal-off-canvas .vlb_column_style_2 .radio label.option.vlb_style_66_33 {
  background-image: url("../../images/icons/vlb--style--66-33.svg");
}
#drupal-off-canvas .vlb_column_style_2 .radio label.option.vlb_style_25_75 {
  background-image: url("../../images/icons/vlb--style--25-75.svg");
}
#drupal-off-canvas .vlb_column_style_2 .radio label.option.vlb_style_33_66 {
  background-image: url("../../images/icons/vlb--style--33-66.svg");
}
#drupal-off-canvas [dir=rtl] .vlb_background .radio label.option,
#drupal-off-canvas [dir=rtl] .vlb_width .radio label.option,
#drupal-off-canvas [dir=rtl] .vlb_gutter .radio label.option,
#drupal-off-canvas [dir=rtl] .vlb_column_style_3 .radio label.option,
#drupal-off-canvas [dir=rtl] .vlb_column_style_2 .radio label.option {
  float: right !important;
}
#drupal-off-canvas [dir=rtl] .vlb_background .radio label.option._none:after,
#drupal-off-canvas [dir=rtl] .vlb_width .radio label.option._none:after,
#drupal-off-canvas [dir=rtl] .vlb_gutter .radio label.option._none:after,
#drupal-off-canvas [dir=rtl] .vlb_column_style_3 .radio label.option._none:after,
#drupal-off-canvas [dir=rtl] .vlb_column_style_2 .radio label.option._none:after {
  right: -5px;
  left: 0;
}
#drupal-off-canvas .media-library-item {
  position: relative;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  -webkit-transition: border-color 0.2s, color 0.2s, background 0.2s;
  -o-transition: border-color 0.2s, color 0.2s, background 0.2s;
  transition: border-color 0.2s, color 0.2s, background 0.2s;
  vertical-align: top;
  border: 1px solid #dbdbdb;
  background: #fff;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
}
#drupal-off-canvas .media-library-item *,
#drupal-off-canvas .media-library-item *:not(div) {
  background: transparent;
}
#drupal-off-canvas .media-library-item .media-library-item__remove {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  margin: 5px;
  padding: 0;
  -webkit-transition: 0.2s border-color;
  -o-transition: 0.2s border-color;
  transition: 0.2s border-color;
  color: transparent;
  border: 2px solid #ccc;
  border-radius: 20px;
  background: url(../../images/icons/bebebe/ex.svg) #fff center no-repeat;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
  text-shadow: none;
}
#drupal-off-canvas .media-library-item .media-library-item__remove:hover,
#drupal-off-canvas .media-library-item .media-library-item__remove:focus,
#drupal-off-canvas .media-library-item .media-library-item__remove.button:disabled,
#drupal-off-canvas .media-library-item .media-library-item__remove.button:disabled:active,
#drupal-off-canvas .media-library-item .media-library-item__remove.button:hover,
#drupal-off-canvas .media-library-item .media-library-item__remove.button:focus {
  background: url(../../images/icons/787878/ex.svg) #fff center no-repeat;
}
#drupal-off-canvas .media-library-item .js-click-to-select-trigger {
  overflow: hidden;
  cursor: pointer;
}
#drupal-off-canvas .media-library-views-form,
#drupal-off-canvas .media-library-selection,
#drupal-off-canvas .media-library-add-form__selected-media .details-wrapper,
#drupal-off-canvas .media-library-views-form__bulk_form,
#drupal-off-canvas .media-library-view .form--inline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
#drupal-off-canvas .media-library-selection {
  margin: 1em 0;
}
#drupal-off-canvas .media-library-item__preview {
  padding-bottom: 34px;
}
#drupal-off-canvas .media-library-form-element .media-library-open-button {
  color: #212529;
  border-color: #f8f9fa;
  background-color: #f8f9fa;
}
#drupal-off-canvas .media-library-form-element .media-library-open-button:hover {
  color: #212529;
  border-color: #dae0e5;
  background-color: #e2e6ea;
}
#drupal-off-canvas .media-library-form-element .media-library-form-element-empty-text,
#drupal-off-canvas .media-library-form-element .description,
#drupal-off-canvas .media-library-form-element .js-hide,
#drupal-off-canvas .media-library-form-element .media-library-selection:empty {
  display: none;
}
#drupal-off-canvas .media-library-item__attributes {
  position: absolute;
  bottom: 0;
  display: block;
  overflow: hidden;
  max-height: calc(100% - 50px);
  padding: 5px;
  background: white !important;
}
