// Tabs Fixing for layout builder.
#layout-builder-modal {
  .field-group-tabs-wrapper {
    padding-bottom: 1rem;

    details {
      padding: 1em;

      > summary {
        display: none;
        border: 0;

        &::before,
        &::after {
          display: none;
          border: 0;
        }
      }
    }

    .horizontal-tabs {
      border-color: #727579;
      padding: 0 1em;
      margin: 0;

      .horizontal-tabs-list {
        list-style-type: none;
        margin: 0;
        background: transparent;
        border-color: #727579;
        padding: 0.3125rem var(--gin-spacing-xs) 0 var(--gin-spacing-l);

        &::before,
        &::after {
          display: none;
          border: 0;
        }

        .horizontal-tab-button {
          margin-right: 0.3em;
          margin-left: 0.3em;
          border-radius: var(--gin-border-m) var(--gin-border-m) 0 0;

          &.selected {
            a::before {
              display: none;
              border-bottom: 0;
            }
          }
        }

        .form-required {
          &::after {
            display: inline-block;
            margin-right: 0.15em;
            margin-left: 0.15em;
            content: "*";
            color: #dc3545;
            font-size: 0.875rem;
          }
        }

      }

      details {
        margin: 0;
        border: 1px !important;
        border-color: #727579 !important;
        background: #46484e !important;
      }

      .details-wrapper {
        background: #46484e !important;
        padding-bottom: 1em !important;
      }

      .horizontal-tabs-panes {
        margin-top: 0;
      }
    }

    .vertical-tabs {
      border-color: #727579;
      padding: 0 1em;
      margin: 0;
      box-shadow: unset;

      .vertical-tabs__menu {
        padding-block-start: 0;
        border: 0;

        .vertical-tabs__menu-item {
          list-style-type: none;
          margin-block: 0;
          margin-inline: 0;
          padding-block: 0;
          padding-inline: 0;
          border: 0;

          a {
            color: #aeb0b3;
            transition: color .2s ease;

            &:hover {
              background-color: inherit;
              color: #fff;
            }
          }

          &.is-selected {
            background-color: #46484E;
            background: #46484E;
            border: 0;

            &::after,
            &::before {
              border: 0;
            }

            .vertical-tabs__menu-item-title {
              color: #41A5FF;
            }

            a {
              background-color: #46484E;

              &:hover {
                color: inherit;
              }
            }
          }
  
          .form-required {
            &::after {
              display: inline-block;
              margin-right: 0.15em;
              margin-left: 0.15em;
              content: "*";
              color: #dc3545;
              font-size: 0.875rem;
            }
          }
        }

      }
    }
  }

  table {
    tr,
    .draggable-table.tabledrag-disabled tr {
      color: var(--gin-color-contextual-text) !important;
      background: #292C32 !important;
    }

    td,
    .draggable-table.tabledrag-disabled td {
      color: var(--gin-color-text) !important;
      background: var(--gin-color-contextual) !important;

      details,
      .details-wrapper {
        padding: 0.2em 0.3em !important;
      }
    }
  }

  .field-multiple-table thead .field-label h4.label {
    color: #ffffff !important;
  }

  .form-item {
    margin-top: 1.5em !important;
  }

}



