#layout-builder-modal :root,.media-library-widget-modal :root,form.media-form :root {
  --card-list-spacing: var(--space-m);
  --cards-two-cols-width: calc(((100% + var(--card-list-spacing)) / 2) - var(--card-list-spacing));
  --cards-three-cols-width: calc(((100% + var(--card-list-spacing)) / 3) - var(--card-list-spacing));
  --cards-four-cols-width: calc(((100% + var(--card-list-spacing)) / 4) - var(--card-list-spacing));
}

#layout-builder-modal .card-list,.media-library-widget-modal .card-list,form.media-form .card-list {
  display: flex;
  flex-direction: column;
}

#layout-builder-modal .card-list--two-cols,#layout-builder-modal .card-list--four-cols,.media-library-widget-modal .card-list--two-cols,.media-library-widget-modal .card-list--four-cols,form.media-form .card-list--two-cols,form.media-form .card-list--four-cols {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
}

#layout-builder-modal .card-list__item,.media-library-widget-modal .card-list__item,form.media-form .card-list__item {
  box-sizing: border-box;
  margin-bottom: var(--card-list-spacing);
}

#layout-builder-modal .card-list--two-cols .card-list__item,#layout-builder-modal .card-list--four-cols .card-list__item,.media-library-widget-modal .card-list--two-cols .card-list__item,.media-library-widget-modal .card-list--four-cols .card-list__item,form.media-form .card-list--two-cols .card-list__item,form.media-form .card-list--four-cols .card-list__item {
  flex-basis: 100%;
}

@media screen and (min-width: 36.75rem) {
  #layout-builder-modal .card-list--four-cols .card-list__item,.media-library-widget-modal .card-list--four-cols .card-list__item,form.media-form .card-list--four-cols .card-list__item {
    flex-basis: var(--cards-two-cols-width);
    max-width: var(--cards-two-cols-width);
  }

  #layout-builder-modal .card-list--four-cols .card-list__item,.media-library-widget-modal .card-list--four-cols .card-list__item,form.media-form .card-list--four-cols .card-list__item {
    margin-right: var(--card-list-spacing);
  }

  #layout-builder-modal [dir=rtl] .card-list--four-cols .card-list__item,.media-library-widget-modal [dir=rtl] .card-list--four-cols .card-list__item,form.media-form [dir=rtl] .card-list--four-cols .card-list__item {
    margin-right: 0;
    margin-left: var(--card-list-spacing);
  }

  #layout-builder-modal .card-list--four-cols .card-list__item:nth-child(even),.media-library-widget-modal .card-list--four-cols .card-list__item:nth-child(even),form.media-form .card-list--four-cols .card-list__item:nth-child(even) {
    margin-right: 0;
  }

  #layout-builder-modal [dir=rtl] .card-list--four-cols .card-list__item:nth-child(even),.media-library-widget-modal [dir=rtl] .card-list--four-cols .card-list__item:nth-child(even),form.media-form [dir=rtl] .card-list--four-cols .card-list__item:nth-child(even) {
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (max-width: 53.75rem) {
  #layout-builder-modal .toolbar-tray-open.toolbar-vertical.toolbar-fixed .card-list--four-cols .card-list__item,.media-library-widget-modal .toolbar-tray-open.toolbar-vertical.toolbar-fixed .card-list--four-cols .card-list__item,form.media-form .toolbar-tray-open.toolbar-vertical.toolbar-fixed .card-list--four-cols .card-list__item {
    flex-basis: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (min-width: 70rem) {
  #layout-builder-modal .card-list--four-cols .card-list__item,.media-library-widget-modal .card-list--four-cols .card-list__item,form.media-form .card-list--four-cols .card-list__item {
    flex-basis: var(--cards-three-cols-width);
    max-width: var(--cards-three-cols-width);
  }

  #layout-builder-modal .card-list--four-cols .card-list__item:nth-child(even),.media-library-widget-modal .card-list--four-cols .card-list__item:nth-child(even),form.media-form .card-list--four-cols .card-list__item:nth-child(even) {
    margin-right: var(--card-list-spacing);
  }

  #layout-builder-modal [dir=rtl] .card-list--four-cols .card-list__item:nth-child(even),.media-library-widget-modal [dir=rtl] .card-list--four-cols .card-list__item:nth-child(even),form.media-form [dir=rtl] .card-list--four-cols .card-list__item:nth-child(even) {
    margin-right: 0;
    margin-left: var(--card-list-spacing);
  }

  #layout-builder-modal .card-list--four-cols .card-list__item:nth-child(3n),.media-library-widget-modal .card-list--four-cols .card-list__item:nth-child(3n),form.media-form .card-list--four-cols .card-list__item:nth-child(3n) {
    margin-right: 0;
  }

  #layout-builder-modal [dir=rtl] .card-list--four-cols .card-list__item:nth-child(3n),.media-library-widget-modal [dir=rtl] .card-list--four-cols .card-list__item:nth-child(3n),form.media-form [dir=rtl] .card-list--four-cols .card-list__item:nth-child(3n) {
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (min-width: 85.375rem) {
  #layout-builder-modal .card-list--two-cols .card-list__item,.media-library-widget-modal .card-list--two-cols .card-list__item,form.media-form .card-list--two-cols .card-list__item {
    flex-basis: var(--cards-two-cols-width);
    max-width: var(--cards-two-cols-width);
    margin-right: var(--card-list-spacing);
  }

  #layout-builder-modal [dir=rtl] .card-list--two-cols .card-list__item,.media-library-widget-modal [dir=rtl] .card-list--two-cols .card-list__item,form.media-form [dir=rtl] .card-list--two-cols .card-list__item {
    margin-right: 0;
    margin-left: var(--card-list-spacing);
  }

  #layout-builder-modal .card-list--two-cols .card-list__item:nth-child(even),.media-library-widget-modal .card-list--two-cols .card-list__item:nth-child(even),form.media-form .card-list--two-cols .card-list__item:nth-child(even) {
    margin-right: 0;
  }

  #layout-builder-modal [dir=rtl] .card-list--two-cols .card-list__item:nth-child(even),.media-library-widget-modal [dir=rtl] .card-list--two-cols .card-list__item:nth-child(even),form.media-form [dir=rtl] .card-list--two-cols .card-list__item:nth-child(even) {
    margin-right: 0;
    margin-left: 0;
  }

  #layout-builder-modal .card-list--four-cols .card-list__item,.media-library-widget-modal .card-list--four-cols .card-list__item,form.media-form .card-list--four-cols .card-list__item {
    flex-basis: var(--cards-four-cols-width);
    max-width: var(--cards-four-cols-width);
  }

  #layout-builder-modal .card-list--four-cols .card-list__item:nth-child(even),.media-library-widget-modal .card-list--four-cols .card-list__item:nth-child(even),form.media-form .card-list--four-cols .card-list__item:nth-child(even) {
    margin-right: var(--card-list-spacing);
  }

  #layout-builder-modal [dir=rtl] .card-list--four-cols .card-list__item:nth-child(even),.media-library-widget-modal [dir=rtl] .card-list--four-cols .card-list__item:nth-child(even),form.media-form [dir=rtl] .card-list--four-cols .card-list__item:nth-child(even) {
    margin-right: 0;
    margin-left: var(--card-list-spacing);
  }

  #layout-builder-modal .card-list--four-cols .card-list__item:nth-child(3n),.media-library-widget-modal .card-list--four-cols .card-list__item:nth-child(3n),form.media-form .card-list--four-cols .card-list__item:nth-child(3n) {
    margin-right: var(--card-list-spacing);
  }

  #layout-builder-modal [dir=rtl] .card-list--four-cols .card-list__item:nth-child(3n),.media-library-widget-modal [dir=rtl] .card-list--four-cols .card-list__item:nth-child(3n),form.media-form [dir=rtl] .card-list--four-cols .card-list__item:nth-child(3n) {
    margin-right: 0;
    margin-left: var(--card-list-spacing);
  }

  #layout-builder-modal .card-list--four-cols .card-list__item:nth-child(4n),.media-library-widget-modal .card-list--four-cols .card-list__item:nth-child(4n),form.media-form .card-list--four-cols .card-list__item:nth-child(4n) {
    margin-right: 0;
  }

  #layout-builder-modal [dir=rtl] .card-list--four-cols .card-list__item:nth-child(4n),.media-library-widget-modal [dir=rtl] .card-list--four-cols .card-list__item:nth-child(4n),form.media-form [dir=rtl] .card-list--four-cols .card-list__item:nth-child(4n) {
    margin-right: 0;
    margin-left: 0;
  }
}

