#layout-builder-modal .field-ui-overview .region-title td,.media-library-widget-modal .field-ui-overview .region-title td,form.media-form .field-ui-overview .region-title td {
  font-weight: bold;
}

#layout-builder-modal .field-ui-overview .region-message td,.media-library-widget-modal .field-ui-overview .region-message td,form.media-form .field-ui-overview .region-message td {
  font-style: italic;
}

#layout-builder-modal .field-plugin-summary,.media-library-widget-modal .field-plugin-summary,form.media-form .field-plugin-summary {
  float: left;
  font-size: var(--font-size-s);
}

#layout-builder-modal [dir=rtl] .field-plugin-summary,.media-library-widget-modal [dir=rtl] .field-plugin-summary,form.media-form [dir=rtl] .field-plugin-summary {
  float: right;
}

#layout-builder-modal .field-plugin-summary-cell .warning,.media-library-widget-modal .field-plugin-summary-cell .warning,form.media-form .field-plugin-summary-cell .warning {
  display: block;
  float: left;
  margin-right: .5em;
}

#layout-builder-modal [dir=rtl] .field-plugin-summary-cell .warning,.media-library-widget-modal [dir=rtl] .field-plugin-summary-cell .warning,form.media-form [dir=rtl] .field-plugin-summary-cell .warning {
  float: right;
  margin-right: 0;
  margin-left: .5em;
}

#layout-builder-modal .field-plugin-settings-edit-wrapper,.media-library-widget-modal .field-plugin-settings-edit-wrapper,form.media-form .field-plugin-settings-edit-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#layout-builder-modal .field-plugin-settings-edit,.media-library-widget-modal .field-plugin-settings-edit,form.media-form .field-plugin-settings-edit {
  width: var(--space-m);
  margin: 0;
  padding: 1px .5rem;
}

#layout-builder-modal .field-plugin-settings-edit-wrapper .ajax-progress--throbber,.media-library-widget-modal .field-plugin-settings-edit-wrapper .ajax-progress--throbber,form.media-form .field-plugin-settings-edit-wrapper .ajax-progress--throbber {
  margin-right: 0;
  margin-left: 0;
}

#layout-builder-modal .draggable.field-plugin-settings-editing,#layout-builder-modal .draggable.drag-previous.field-plugin-settings-editing,.media-library-widget-modal .draggable.field-plugin-settings-editing,.media-library-widget-modal .draggable.drag-previous.field-plugin-settings-editing,form.media-form .draggable.field-plugin-settings-editing,form.media-form .draggable.drag-previous.field-plugin-settings-editing {
  background: var(--color-blue-050);
}

#layout-builder-modal .field-plugin-settings-editing td,.media-library-widget-modal .field-plugin-settings-editing td,form.media-form .field-plugin-settings-editing td {
  vertical-align: top;
}

#layout-builder-modal .field-plugin-settings-editing .field-plugin-type,.media-library-widget-modal .field-plugin-settings-editing .field-plugin-type,form.media-form .field-plugin-settings-editing .field-plugin-type {
  display: none;
}

#layout-builder-modal .field-plugin-settings-edit-form .plugin-name,.media-library-widget-modal .field-plugin-settings-edit-form .plugin-name,form.media-form .field-plugin-settings-edit-form .plugin-name {
  font-weight: bold;
}

#layout-builder-modal .field-settings-summary-cell.field-settings-summary-cell li,#layout-builder-modal .storage-settings-summary-cell.storage-settings-summary-cell li,.media-library-widget-modal .field-settings-summary-cell.field-settings-summary-cell li,.media-library-widget-modal .storage-settings-summary-cell.storage-settings-summary-cell li,form.media-form .field-settings-summary-cell.field-settings-summary-cell li,form.media-form .storage-settings-summary-cell.storage-settings-summary-cell li {
  margin: 0;
  list-style-type: none;
}

#layout-builder-modal .field-settings-summary-cell li,.media-library-widget-modal .field-settings-summary-cell li,form.media-form .field-settings-summary-cell li {
  font-size: .9em;
}

#layout-builder-modal .field-settings-summary-cell li:first-child,.media-library-widget-modal .field-settings-summary-cell li:first-child,form.media-form .field-settings-summary-cell li:first-child {
  font-size: 1em;
}

#layout-builder-modal .allowed-values-table .form-item:where(:not(.hidden)),.media-library-widget-modal .allowed-values-table .form-item:where(:not(.hidden)),form.media-form .allowed-values-table .form-item:where(:not(.hidden)) {
  display: inline-table;
}

