#layout-builder-modal .gin-breadcrumb,
.media-library-widget-modal .gin-breadcrumb,
form.media-form .gin-breadcrumb {
  color: var(--gin-color-text);
  padding: 0;
}
#layout-builder-modal .gin-breadcrumb-wrapper,
.media-library-widget-modal .gin-breadcrumb-wrapper,
form.media-form .gin-breadcrumb-wrapper {
  min-width: 1px;
}
#layout-builder-modal .gin-breadcrumb__list,
.media-library-widget-modal .gin-breadcrumb__list,
form.media-form .gin-breadcrumb__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 0;
}
#layout-builder-modal [dir=ltr] .gin-breadcrumb__list,
.media-library-widget-modal [dir=ltr] .gin-breadcrumb__list,
form.media-form [dir=ltr] .gin-breadcrumb__list {
  padding-left: var(--gin-spacing-xxs);
  margin-left: calc(var(--gin-spacing-xxs) * -1);
}
#layout-builder-modal [dir=rtl] .gin-breadcrumb__list,
.media-library-widget-modal [dir=rtl] .gin-breadcrumb__list,
form.media-form [dir=rtl] .gin-breadcrumb__list {
  padding-right: var(--gin-spacing-xxs);
  margin-right: calc(var(--gin-spacing-xxs) * -1);
}
#layout-builder-modal .gin-breadcrumb__item, #layout-builder-modal .gin-breadcrumb__link, #layout-builder-modal .gin-breadcrumb__text,
.media-library-widget-modal .gin-breadcrumb__item,
.media-library-widget-modal .gin-breadcrumb__link,
.media-library-widget-modal .gin-breadcrumb__text,
form.media-form .gin-breadcrumb__item,
form.media-form .gin-breadcrumb__link,
form.media-form .gin-breadcrumb__text {
  display: inline;
  font-weight: var(--gin-font-weight-normal);
  color: var(--gin-color-text-light);
  text-decoration: none;
  vertical-align: middle;
}
#layout-builder-modal .gin-breadcrumb__item,
.media-library-widget-modal .gin-breadcrumb__item,
form.media-form .gin-breadcrumb__item {
  font-size: 0;
}
#layout-builder-modal .gin-breadcrumb__item + .gin-breadcrumb__item::before,
.media-library-widget-modal .gin-breadcrumb__item + .gin-breadcrumb__item::before,
form.media-form .gin-breadcrumb__item + .gin-breadcrumb__item::before {
  content: "/";
  opacity: 0.3;
  font-size: var(--gin-font-size-xs);
  vertical-align: middle;
  display: inline-block;
  padding: 0 0.5em;
  background: none;
}
#layout-builder-modal .gin-breadcrumb__item:first-of-type .gin-breadcrumb__link,
.media-library-widget-modal .gin-breadcrumb__item:first-of-type .gin-breadcrumb__link,
form.media-form .gin-breadcrumb__item:first-of-type .gin-breadcrumb__link {
  position: relative;
}
#layout-builder-modal [dir=ltr] .gin-breadcrumb__item:first-of-type .gin-breadcrumb__link,
.media-library-widget-modal [dir=ltr] .gin-breadcrumb__item:first-of-type .gin-breadcrumb__link,
form.media-form [dir=ltr] .gin-breadcrumb__item:first-of-type .gin-breadcrumb__link {
  padding-left: 1.75em;
}
#layout-builder-modal [dir=rtl] .gin-breadcrumb__item:first-of-type .gin-breadcrumb__link,
.media-library-widget-modal [dir=rtl] .gin-breadcrumb__item:first-of-type .gin-breadcrumb__link,
form.media-form [dir=rtl] .gin-breadcrumb__item:first-of-type .gin-breadcrumb__link {
  padding-right: 1.75em;
}
#layout-builder-modal .gin-breadcrumb__item:first-of-type .gin-breadcrumb__link::before,
.media-library-widget-modal .gin-breadcrumb__item:first-of-type .gin-breadcrumb__link::before,
form.media-form .gin-breadcrumb__item:first-of-type .gin-breadcrumb__link::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  width: var(--gin-icon-size-toolbar-secondary);
  height: var(--gin-icon-size-toolbar-secondary);
  transform: translateY(-50%);
  background-color: var(--gin-icon-color);
  -webkit-mask-image: url("../../media/sprite.svg#backtosite-view");
  mask-image: url("../../media/sprite.svg#backtosite-view");
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-position: center center;
  mask-position: center center;
}
#layout-builder-modal [dir=ltr] .gin-breadcrumb__item:first-of-type .gin-breadcrumb__link::before,
.media-library-widget-modal [dir=ltr] .gin-breadcrumb__item:first-of-type .gin-breadcrumb__link::before,
form.media-form [dir=ltr] .gin-breadcrumb__item:first-of-type .gin-breadcrumb__link::before {
  left: 0;
}
#layout-builder-modal [dir=rtl] .gin-breadcrumb__item:first-of-type .gin-breadcrumb__link::before,
.media-library-widget-modal [dir=rtl] .gin-breadcrumb__item:first-of-type .gin-breadcrumb__link::before,
form.media-form [dir=rtl] .gin-breadcrumb__item:first-of-type .gin-breadcrumb__link::before {
  right: 0;
}
#layout-builder-modal .gin-breadcrumb__item:first-of-type .gin-breadcrumb__link:hover::before,
.media-library-widget-modal .gin-breadcrumb__item:first-of-type .gin-breadcrumb__link:hover::before,
form.media-form .gin-breadcrumb__item:first-of-type .gin-breadcrumb__link:hover::before {
  background-color: var(--gin-color-primary);
}
#layout-builder-modal .gin-breadcrumb__item:first-of-type + .gin-breadcrumb__item::before,
.media-library-widget-modal .gin-breadcrumb__item:first-of-type + .gin-breadcrumb__item::before,
form.media-form .gin-breadcrumb__item:first-of-type + .gin-breadcrumb__item::before {
  content: "";
  opacity: 0.3;
  width: 1px;
  height: 20px;
}
#layout-builder-modal [dir=ltr] .gin-breadcrumb__item:first-of-type + .gin-breadcrumb__item::before,
.media-library-widget-modal [dir=ltr] .gin-breadcrumb__item:first-of-type + .gin-breadcrumb__item::before,
form.media-form [dir=ltr] .gin-breadcrumb__item:first-of-type + .gin-breadcrumb__item::before {
  border-right: 1px solid var(--gin-color-text);
  padding-left: 0.75em;
  padding-right: 0;
  margin-right: 0.75em;
}
#layout-builder-modal [dir=rtl] .gin-breadcrumb__item:first-of-type + .gin-breadcrumb__item::before,
.media-library-widget-modal [dir=rtl] .gin-breadcrumb__item:first-of-type + .gin-breadcrumb__item::before,
form.media-form [dir=rtl] .gin-breadcrumb__item:first-of-type + .gin-breadcrumb__item::before {
  border-left: 1px solid var(--gin-color-text);
  padding-right: 0.75em;
  padding-left: 0;
  margin-left: 0.75em;
}
#layout-builder-modal .gin-breadcrumb__link, #layout-builder-modal .gin-breadcrumb__text,
.media-library-widget-modal .gin-breadcrumb__link,
.media-library-widget-modal .gin-breadcrumb__text,
form.media-form .gin-breadcrumb__link,
form.media-form .gin-breadcrumb__text {
  font-size: var(--gin-font-size-xs);
  line-height: 2;
  border-radius: var(--gin-border-xxs);
}
#layout-builder-modal .gin-breadcrumb__link, #layout-builder-modal .gin-breadcrumb__link:link, #layout-builder-modal .gin-breadcrumb__link:visited, #layout-builder-modal .gin-breadcrumb__link em, #layout-builder-modal .gin-breadcrumb__link em:link, #layout-builder-modal .gin-breadcrumb__link em:visited, #layout-builder-modal .gin-breadcrumb__text, #layout-builder-modal .gin-breadcrumb__text:link, #layout-builder-modal .gin-breadcrumb__text:visited, #layout-builder-modal .gin-breadcrumb__text em, #layout-builder-modal .gin-breadcrumb__text em:link, #layout-builder-modal .gin-breadcrumb__text em:visited,
.media-library-widget-modal .gin-breadcrumb__link,
.media-library-widget-modal .gin-breadcrumb__link:link,
.media-library-widget-modal .gin-breadcrumb__link:visited,
.media-library-widget-modal .gin-breadcrumb__link em,
.media-library-widget-modal .gin-breadcrumb__link em:link,
.media-library-widget-modal .gin-breadcrumb__link em:visited,
.media-library-widget-modal .gin-breadcrumb__text,
.media-library-widget-modal .gin-breadcrumb__text:link,
.media-library-widget-modal .gin-breadcrumb__text:visited,
.media-library-widget-modal .gin-breadcrumb__text em,
.media-library-widget-modal .gin-breadcrumb__text em:link,
.media-library-widget-modal .gin-breadcrumb__text em:visited,
form.media-form .gin-breadcrumb__link,
form.media-form .gin-breadcrumb__link:link,
form.media-form .gin-breadcrumb__link:visited,
form.media-form .gin-breadcrumb__link em,
form.media-form .gin-breadcrumb__link em:link,
form.media-form .gin-breadcrumb__link em:visited,
form.media-form .gin-breadcrumb__text,
form.media-form .gin-breadcrumb__text:link,
form.media-form .gin-breadcrumb__text:visited,
form.media-form .gin-breadcrumb__text em,
form.media-form .gin-breadcrumb__text em:link,
form.media-form .gin-breadcrumb__text em:visited {
  font-weight: var(--gin-font-weight-normal);
  color: var(--gin-color-text-light);
}
#layout-builder-modal .gin-breadcrumb__link em, #layout-builder-modal .gin-breadcrumb__text em,
.media-library-widget-modal .gin-breadcrumb__link em,
.media-library-widget-modal .gin-breadcrumb__text em,
form.media-form .gin-breadcrumb__link em,
form.media-form .gin-breadcrumb__text em {
  font-style: italic;
}
#layout-builder-modal .gin-breadcrumb__link:hover, #layout-builder-modal .gin-breadcrumb__link:hover em,
.media-library-widget-modal .gin-breadcrumb__link:hover,
.media-library-widget-modal .gin-breadcrumb__link:hover em,
form.media-form .gin-breadcrumb__link:hover,
form.media-form .gin-breadcrumb__link:hover em {
  color: var(--gin-color-primary-hover);
}