#layout-builder-modal .form-element.chosen-container-single,.media-library-widget-modal .form-element.chosen-container-single,form.media-form .form-element.chosen-container-single {
  width: auto !important;
  padding: 0;
}

#layout-builder-modal .form-element.chosen-container-single .chosen-single,.media-library-widget-modal .form-element.chosen-container-single .chosen-single,form.media-form .form-element.chosen-container-single .chosen-single {
  min-width: 160px;
  background: none;
  border: none;
  box-shadow: none;
  width: 100%;
  height: 100%;
  display: block;
  line-height: 1.5rem;
  padding: calc(var(--gin-spacing-s) - 1px) calc(var(--gin-spacing-m) - 1px);
}

#layout-builder-modal .form-element.chosen-container-single .chosen-single b,.media-library-widget-modal .form-element.chosen-container-single .chosen-single b,form.media-form .form-element.chosen-container-single .chosen-single b {
  background: none !important;
}

#layout-builder-modal .form-element.chosen-container-multi,.media-library-widget-modal .form-element.chosen-container-multi,form.media-form .form-element.chosen-container-multi {
  width: auto !important;
}

#layout-builder-modal .form-element.chosen-container-multi .chosen-choices,.media-library-widget-modal .form-element.chosen-container-multi .chosen-choices,form.media-form .form-element.chosen-container-multi .chosen-choices {
  min-width: 160px;
  border: 0 none;
  background: none;
  box-shadow: none;
}

