#layout-builder-modal .form-element.chosen-container-single,.media-library-widget-modal .form-element.chosen-container-single,form.media-form .form-element.chosen-container-single {
  width: auto !important;
  padding: 0;
}

#layout-builder-modal .form-element.chosen-container-single .chosen-single,.media-library-widget-modal .form-element.chosen-container-single .chosen-single,form.media-form .form-element.chosen-container-single .chosen-single {
  min-width: 160px;
  background: none;
  border: none;
  box-shadow: none;
  width: 100%;
  height: 100%;
  display: block;
  line-height: 1.5rem;
  padding-block: calc(var(--input-padding-vertical) - 1px);
  padding-inline: var(--input-padding-horizontal);
}

#layout-builder-modal .form-element.chosen-container-single .chosen-single b,.media-library-widget-modal .form-element.chosen-container-single .chosen-single b,form.media-form .form-element.chosen-container-single .chosen-single b {
  background: none !important;
}

#layout-builder-modal .form-element.chosen-container-single .chosen-single span,.media-library-widget-modal .form-element.chosen-container-single .chosen-single span,form.media-form .form-element.chosen-container-single .chosen-single span {
  color: var(--gin-color-text);
}

#layout-builder-modal .form-element.chosen-container-multi,.media-library-widget-modal .form-element.chosen-container-multi,form.media-form .form-element.chosen-container-multi {
  width: auto !important;
}

#layout-builder-modal .form-element.chosen-container-multi .chosen-choices,.media-library-widget-modal .form-element.chosen-container-multi .chosen-choices,form.media-form .form-element.chosen-container-multi .chosen-choices {
  min-width: 160px;
  border: 0 none;
  background: none;
  box-shadow: none;
}

