#layout-builder-modal #coffee-form,
.media-library-widget-modal #coffee-form,
form.media-form #coffee-form {
  padding: var(--gin-spacing-xxs);
  background: #000;
  border-radius: var(--gin-border-l);
}
#layout-builder-modal #coffee-form #coffee-form-inner,
#layout-builder-modal #coffee-form #coffee-q,
.media-library-widget-modal #coffee-form #coffee-form-inner,
.media-library-widget-modal #coffee-form #coffee-q,
form.media-form #coffee-form #coffee-form-inner,
form.media-form #coffee-form #coffee-q {
  color: var(--gin-color-title);
  background: var(--gin-bg-layer);
  border-radius: var(--gin-border-m);
}
#layout-builder-modal #coffee-form #coffee-results a,
.media-library-widget-modal #coffee-form #coffee-results a,
form.media-form #coffee-form #coffee-results a {
  color: var(--gin-color-title);
  border-radius: var(--gin-border-m);
}
#layout-builder-modal #coffee-form #coffee-results a .description,
.media-library-widget-modal #coffee-form #coffee-results a .description,
form.media-form #coffee-form #coffee-results a .description {
  color: var(--gin-color-text-light);
  padding-top: var(--gin-spacing-xxs);
}
#layout-builder-modal #coffee-form #coffee-results a:hover, #layout-builder-modal #coffee-form #coffee-results a.ui-state-active,
.media-library-widget-modal #coffee-form #coffee-results a:hover,
.media-library-widget-modal #coffee-form #coffee-results a.ui-state-active,
form.media-form #coffee-form #coffee-results a:hover,
form.media-form #coffee-form #coffee-results a.ui-state-active {
  background: var(--gin-color-primary);
}
#layout-builder-modal #coffee-form #coffee-results a:hover, #layout-builder-modal #coffee-form #coffee-results a:hover .description, #layout-builder-modal #coffee-form #coffee-results a.ui-state-active, #layout-builder-modal #coffee-form #coffee-results a.ui-state-active .description,
.media-library-widget-modal #coffee-form #coffee-results a:hover,
.media-library-widget-modal #coffee-form #coffee-results a:hover .description,
.media-library-widget-modal #coffee-form #coffee-results a.ui-state-active,
.media-library-widget-modal #coffee-form #coffee-results a.ui-state-active .description,
form.media-form #coffee-form #coffee-results a:hover,
form.media-form #coffee-form #coffee-results a:hover .description,
form.media-form #coffee-form #coffee-results a.ui-state-active,
form.media-form #coffee-form #coffee-results a.ui-state-active .description {
  color: var(--gin-color-button-text);
}
#layout-builder-modal #coffee-form #coffee-results a:hover .description, #layout-builder-modal #coffee-form #coffee-results a.ui-state-active .description,
.media-library-widget-modal #coffee-form #coffee-results a:hover .description,
.media-library-widget-modal #coffee-form #coffee-results a.ui-state-active .description,
form.media-form #coffee-form #coffee-results a:hover .description,
form.media-form #coffee-form #coffee-results a.ui-state-active .description {
  opacity: 0.9;
}
#layout-builder-modal #coffee-form .ui-autocomplete,
.media-library-widget-modal #coffee-form .ui-autocomplete,
form.media-form #coffee-form .ui-autocomplete {
  background: transparent;
  box-shadow: none;
}
#layout-builder-modal #coffee-form .ui-autocomplete .ui-menu-item-wrapper,
.media-library-widget-modal #coffee-form .ui-autocomplete .ui-menu-item-wrapper,
form.media-form #coffee-form .ui-autocomplete .ui-menu-item-wrapper {
  padding: var(--gin-spacing-m);
}