#layout-builder-modal .ui-dialog:not(.ui-dialog-off-canvas),.media-library-widget-modal .ui-dialog:not(.ui-dialog-off-canvas),form.media-form .ui-dialog:not(.ui-dialog-off-canvas) {
  max-width: 1280px;
  border: 0 none !important;
  border-radius: var(--gin-border-m);
  background: var(--gin-bg-layer);
}

@media (forced-colors: active) {
  #layout-builder-modal .ui-dialog:not(.ui-dialog-off-canvas),.media-library-widget-modal .ui-dialog:not(.ui-dialog-off-canvas),form.media-form .ui-dialog:not(.ui-dialog-off-canvas) {
    border: 1px solid buttonBorder !important;
  }
}

#layout-builder-modal .ui-dialog:not(.ui-dialog-off-canvas) .ui-dialog-content:first-of-type,.media-library-widget-modal .ui-dialog:not(.ui-dialog-off-canvas) .ui-dialog-content:first-of-type,form.media-form .ui-dialog:not(.ui-dialog-off-canvas) .ui-dialog-content:first-of-type {
  border-top-left-radius: var(--gin-border-m);
  border-top-right-radius: var(--gin-border-m);
}

#layout-builder-modal .ui-dialog:not(.ui-dialog-off-canvas) .layout-region-node-actions,.media-library-widget-modal .ui-dialog:not(.ui-dialog-off-canvas) .layout-region-node-actions,form.media-form .ui-dialog:not(.ui-dialog-off-canvas) .layout-region-node-actions {
  position: absolute;
  bottom: 0;
  top: auto;
}

#layout-builder-modal [dir=ltr] .ui-dialog:not(.ui-dialog-off-canvas) .layout-region-node-actions,.media-library-widget-modal [dir=ltr] .ui-dialog:not(.ui-dialog-off-canvas) .layout-region-node-actions,form.media-form [dir=ltr] .ui-dialog:not(.ui-dialog-off-canvas) .layout-region-node-actions {
  left: var(--gin-spacing-m);
  right: auto;
}

#layout-builder-modal [dir=rtl] .ui-dialog:not(.ui-dialog-off-canvas) .layout-region-node-actions,.media-library-widget-modal [dir=rtl] .ui-dialog:not(.ui-dialog-off-canvas) .layout-region-node-actions,form.media-form [dir=rtl] .ui-dialog:not(.ui-dialog-off-canvas) .layout-region-node-actions {
  right: var(--gin-spacing-m);
  left: auto;
}

#layout-builder-modal .ui-dialog:not(.ui-dialog-off-canvas) .layout-region-node-secondary,.media-library-widget-modal .ui-dialog:not(.ui-dialog-off-canvas) .layout-region-node-secondary,form.media-form .ui-dialog:not(.ui-dialog-off-canvas) .layout-region-node-secondary {
  width: 100%;
}

#layout-builder-modal .ui-dialog:not(.ui-dialog-off-canvas) .views-exposed-form.views-exposed-form,#layout-builder-modal .ui-dialog:not(.ui-dialog-off-canvas) .views-displays,.media-library-widget-modal .ui-dialog:not(.ui-dialog-off-canvas) .views-exposed-form.views-exposed-form,.media-library-widget-modal .ui-dialog:not(.ui-dialog-off-canvas) .views-displays,form.media-form .ui-dialog:not(.ui-dialog-off-canvas) .views-exposed-form.views-exposed-form,form.media-form .ui-dialog:not(.ui-dialog-off-canvas) .views-displays {
  border: 1px solid var(--gin-border-color-layer);
}

@media (max-width: 47.99em) {
  #layout-builder-modal .ui-dialog:not(.ui-dialog-off-canvas),.media-library-widget-modal .ui-dialog:not(.ui-dialog-off-canvas),form.media-form .ui-dialog:not(.ui-dialog-off-canvas) {
    min-width: 92%;
    max-width: 92%;
  }
}

#layout-builder-modal .ui-dialog,.media-library-widget-modal .ui-dialog,form.media-form .ui-dialog {
  position: absolute;
  left: 0;
  top: 0;
  font-family: var(--gin-font);
  outline: none;
}

#layout-builder-modal .ui-dialog,#layout-builder-modal .ui-dialog:focus,#layout-builder-modal .ui-dialog:focus:active,#layout-builder-modal .ui-dialog:focus:hover,.media-library-widget-modal .ui-dialog,.media-library-widget-modal .ui-dialog:focus,.media-library-widget-modal .ui-dialog:focus:active,.media-library-widget-modal .ui-dialog:focus:hover,form.media-form .ui-dialog,form.media-form .ui-dialog:focus,form.media-form .ui-dialog:focus:active,form.media-form .ui-dialog:focus:hover {
  box-shadow: var(--gin-shadow-l1);
}

#layout-builder-modal .ui-dialog .ui-dialog-titlebar,.media-library-widget-modal .ui-dialog .ui-dialog-titlebar,form.media-form .ui-dialog .ui-dialog-titlebar {
  line-height: 1.2;
  padding: var(--gin-spacing-m) var(--gin-spacing-l);
  background: #1b1b1d;
  border: 0 none;
  border-radius: var(--gin-border-m) var(--gin-border-m) 0 0;
  position: relative;
}

@media (forced-colors: active) {
  #layout-builder-modal .ui-dialog .ui-dialog-titlebar,.media-library-widget-modal .ui-dialog .ui-dialog-titlebar,form.media-form .ui-dialog .ui-dialog-titlebar {
    border-bottom: 1px solid buttonBorder;
  }
}

#layout-builder-modal .ui-dialog .ui-dialog-title,.media-library-widget-modal .ui-dialog .ui-dialog-title,form.media-form .ui-dialog .ui-dialog-title {
  font-size: var(--gin-font-size-l);
  font-weight: var(--gin-font-weight-normal);
  color: #fff;
  width: 100%;
  box-sizing: border-box;
}

#layout-builder-modal [dir=ltr] .ui-dialog .ui-dialog-title,.media-library-widget-modal [dir=ltr] .ui-dialog .ui-dialog-title,form.media-form [dir=ltr] .ui-dialog .ui-dialog-title {
  padding-right: var(--gin-spacing-xl);
}

#layout-builder-modal [dir=rtl] .ui-dialog .ui-dialog-title,.media-library-widget-modal [dir=rtl] .ui-dialog .ui-dialog-title,form.media-form [dir=rtl] .ui-dialog .ui-dialog-title {
  padding-left: var(--gin-spacing-xl);
}

#layout-builder-modal .ui-dialog .ui-dialog-content,.media-library-widget-modal .ui-dialog .ui-dialog-content,form.media-form .ui-dialog .ui-dialog-content {
  color: var(--gin-color-text);
}

#layout-builder-modal .ui-dialog .ui-widget-content.ui-dialog-buttonpane,.media-library-widget-modal .ui-dialog .ui-widget-content.ui-dialog-buttonpane,form.media-form .ui-dialog .ui-widget-content.ui-dialog-buttonpane {
  padding: var(--gin-spacing-s) var(--gin-spacing-l);
  border-top: 1px solid var(--gin-border-color-layer);
  border-bottom-left-radius: var(--gin-border-m);
  border-bottom-right-radius: var(--gin-border-m);
  background: var(--gin-bg-app);
}

#layout-builder-modal .ui-dialog .ui-widget-content.ui-dialog-buttonpane .button,.media-library-widget-modal .ui-dialog .ui-widget-content.ui-dialog-buttonpane .button,form.media-form .ui-dialog .ui-widget-content.ui-dialog-buttonpane .button {
  font-weight: var(--gin-font-weight-heavy);
  margin-top: 0;
  margin-bottom: 0;
}

#layout-builder-modal [dir=ltr] .ui-dialog .ui-widget-content.ui-dialog-buttonpane .button:last-of-type,.media-library-widget-modal [dir=ltr] .ui-dialog .ui-widget-content.ui-dialog-buttonpane .button:last-of-type,form.media-form [dir=ltr] .ui-dialog .ui-widget-content.ui-dialog-buttonpane .button:last-of-type {
  margin-right: 0;
}

#layout-builder-modal [dir=rtl] .ui-dialog .ui-widget-content.ui-dialog-buttonpane .button:last-of-type,.media-library-widget-modal [dir=rtl] .ui-dialog .ui-widget-content.ui-dialog-buttonpane .button:last-of-type,form.media-form [dir=rtl] .ui-dialog .ui-widget-content.ui-dialog-buttonpane .button:last-of-type {
  margin-left: 0;
}

#layout-builder-modal .ui-dialog .ui-widget-content.ui-dialog-buttonpane .button.button--danger,#layout-builder-modal .ui-dialog [data-drupal-selector*=-remove-form] .button.button--danger,.media-library-widget-modal .ui-dialog .ui-widget-content.ui-dialog-buttonpane .button.button--danger,.media-library-widget-modal .ui-dialog [data-drupal-selector*=-remove-form] .button.button--danger,form.media-form .ui-dialog .ui-widget-content.ui-dialog-buttonpane .button.button--danger,form.media-form .ui-dialog [data-drupal-selector*=-remove-form] .button.button--danger {
  border-color: var(--gin-color-danger) !important;
}

#layout-builder-modal .ui-dialog .ui-dialog-buttonset,.media-library-widget-modal .ui-dialog .ui-dialog-buttonset,form.media-form .ui-dialog .ui-dialog-buttonset {
  margin-top: 0;
}

#layout-builder-modal .ui-dialog .ui-dialog-titlebar-close,.media-library-widget-modal .ui-dialog .ui-dialog-titlebar-close,form.media-form .ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  top: 50%;
  width: 2rem;
  height: 2rem;
  opacity: .8;
  margin: 0 var(--gin-spacing-m);
  transform: translateY(-50%);
  background: none;
  border: none;
}

#layout-builder-modal [dir=ltr] .ui-dialog .ui-dialog-titlebar-close,.media-library-widget-modal [dir=ltr] .ui-dialog .ui-dialog-titlebar-close,form.media-form [dir=ltr] .ui-dialog .ui-dialog-titlebar-close {
  left: auto;
  right: 0;
}

#layout-builder-modal [dir=rtl] .ui-dialog .ui-dialog-titlebar-close,.media-library-widget-modal [dir=rtl] .ui-dialog .ui-dialog-titlebar-close,form.media-form [dir=rtl] .ui-dialog .ui-dialog-titlebar-close {
  right: auto;
  left: 0;
}

#layout-builder-modal .ui-dialog .ui-dialog-titlebar-close .ui-icon-closethick,.media-library-widget-modal .ui-dialog .ui-dialog-titlebar-close .ui-icon-closethick,form.media-form .ui-dialog .ui-dialog-titlebar-close .ui-icon-closethick {
  width: 100%;
  height: 100%;
  top: 0;
  margin: 0;
  transform: none;
  background: #fff;
  -webkit-mask-image: url("../../media/sprite.svg#close-view");
          mask-image: url("../../media/sprite.svg#close-view");
  -webkit-mask-size: var(--gin-icon-size-close) var(--gin-icon-size-close);
          mask-size: var(--gin-icon-size-close) var(--gin-icon-size-close);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center center;
          mask-position: center center;
}

#layout-builder-modal [dir=ltr] .ui-dialog .ui-dialog-titlebar-close .ui-icon-closethick,.media-library-widget-modal [dir=ltr] .ui-dialog .ui-dialog-titlebar-close .ui-icon-closethick,form.media-form [dir=ltr] .ui-dialog .ui-dialog-titlebar-close .ui-icon-closethick {
  left: 0;
}

#layout-builder-modal [dir=rtl] .ui-dialog .ui-dialog-titlebar-close .ui-icon-closethick,.media-library-widget-modal [dir=rtl] .ui-dialog .ui-dialog-titlebar-close .ui-icon-closethick,form.media-form [dir=rtl] .ui-dialog .ui-dialog-titlebar-close .ui-icon-closethick {
  right: 0;
}

@media (forced-colors: active) {
  #layout-builder-modal .ui-dialog .ui-dialog-titlebar-close .ui-icon-closethick,.media-library-widget-modal .ui-dialog .ui-dialog-titlebar-close .ui-icon-closethick,form.media-form .ui-dialog .ui-dialog-titlebar-close .ui-icon-closethick {
    background: linktext;
  }
}

#layout-builder-modal .ui-dialog .ui-dialog-titlebar-close:hover,.media-library-widget-modal .ui-dialog .ui-dialog-titlebar-close:hover,form.media-form .ui-dialog .ui-dialog-titlebar-close:hover {
  opacity: 1;
}

#layout-builder-modal .ui-dialog .ui-widget-content.ui-dialog-content,.media-library-widget-modal .ui-dialog .ui-widget-content.ui-dialog-content,form.media-form .ui-dialog .ui-widget-content.ui-dialog-content {
  padding-left: var(--gin-spacing-l);
  padding-right: var(--gin-spacing-l);
  background: var(--gin-bg-layer);
}

#layout-builder-modal .ui-dialog .gin-layer-wrapper,.media-library-widget-modal .ui-dialog .gin-layer-wrapper,form.media-form .ui-dialog .gin-layer-wrapper {
  margin-bottom: var(--gin-spacing-l);
}

#layout-builder-modal .erl-overlay,#layout-builder-modal .layout-paragraphs-dialog,.media-library-widget-modal .erl-overlay,.media-library-widget-modal .layout-paragraphs-dialog,form.media-form .erl-overlay,form.media-form .layout-paragraphs-dialog {
  position: fixed !important;
  top: 50% !important;
  width: calc(100% - var(--gin-spacing-xl)) !important;
}

#layout-builder-modal [dir=ltr] .erl-overlay,#layout-builder-modal [dir=ltr] .layout-paragraphs-dialog,.media-library-widget-modal [dir=ltr] .erl-overlay,.media-library-widget-modal [dir=ltr] .layout-paragraphs-dialog,form.media-form [dir=ltr] .erl-overlay,form.media-form [dir=ltr] .layout-paragraphs-dialog {
  left: 50% !important;
  transform: translate(-50%, -50%);
}

#layout-builder-modal [dir=rtl] .erl-overlay,#layout-builder-modal [dir=rtl] .layout-paragraphs-dialog,.media-library-widget-modal [dir=rtl] .erl-overlay,.media-library-widget-modal [dir=rtl] .layout-paragraphs-dialog,form.media-form [dir=rtl] .erl-overlay,form.media-form [dir=rtl] .layout-paragraphs-dialog {
  right: 50% !important;
  transform: translate(50%, -50%);
}

@media (min-width: 64em) {
  #layout-builder-modal .erl-overlay,#layout-builder-modal .layout-paragraphs-dialog,.media-library-widget-modal .erl-overlay,.media-library-widget-modal .layout-paragraphs-dialog,form.media-form .erl-overlay,form.media-form .layout-paragraphs-dialog {
    width: calc(100% - var(--gin-spacing-xxxl)) !important;
  }
}

#layout-builder-modal ul.paragraphs-add-dialog-list,.media-library-widget-modal ul.paragraphs-add-dialog-list,form.media-form ul.paragraphs-add-dialog-list {
  margin: var(--gin-spacing-l) 0;
}

#layout-builder-modal .ui-widget-overlay,.media-library-widget-modal .ui-widget-overlay,form.media-form .ui-widget-overlay {
  opacity: .9;
  background: var(--gin-bg-layer2);
}

#layout-builder-modal .views-ui-dialog .views-offset-bottom,.media-library-widget-modal .views-ui-dialog .views-offset-bottom,form.media-form .views-ui-dialog .views-offset-bottom {
  border-top: 1px solid var(--gin-border-color);
}

@media (forced-colors: active) {
  #layout-builder-modal .views-ui-dialog .views-offset-bottom,.media-library-widget-modal .views-ui-dialog .views-offset-bottom,form.media-form .views-ui-dialog .views-offset-bottom {
    border-top: none;
  }
}

#layout-builder-modal .ui-widget-content a,.media-library-widget-modal .ui-widget-content a,form.media-form .ui-widget-content a {
  color: var(--gin-color-primary);
}

#layout-builder-modal .ui-widget.ui-dialog.ui-dialog-off-canvas,.media-library-widget-modal .ui-widget.ui-dialog.ui-dialog-off-canvas,form.media-form .ui-widget.ui-dialog.ui-dialog-off-canvas {
  --gin-offcanvas-active: var(--gin-color-primary);
  background: #444;
  border: 0 none;
  box-shadow: 0 0 48px rgba(0, 0, 0, .075);
}

#layout-builder-modal .ui-widget.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar,.media-library-widget-modal .ui-widget.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar,form.media-form .ui-widget.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar {
  background: #1b1b1d;
  border-radius: 0;
}

#layout-builder-modal .ui-widget.ui-dialog.ui-dialog-off-canvas .ui-resizable-w,.media-library-widget-modal .ui-widget.ui-dialog.ui-dialog-off-canvas .ui-resizable-w,form.media-form .ui-widget.ui-dialog.ui-dialog-off-canvas .ui-resizable-w {
  border: 0 none;
  background-color: transparent;
}

#layout-builder-modal .ui-widget.ui-dialog.ui-dialog-off-canvas .fieldset,.media-library-widget-modal .ui-widget.ui-dialog.ui-dialog-off-canvas .fieldset,form.media-form .ui-widget.ui-dialog.ui-dialog-off-canvas .fieldset {
  color: var(--gin-color-text);
}

#layout-builder-modal .ui-widget.ui-dialog.ui-dialog-off-canvas #drupal-off-canvas .button--primary[type=submit],.media-library-widget-modal .ui-widget.ui-dialog.ui-dialog-off-canvas #drupal-off-canvas .button--primary[type=submit],form.media-form .ui-widget.ui-dialog.ui-dialog-off-canvas #drupal-off-canvas .button--primary[type=submit] {
  background: var(--gin-offcanvas-active);
}

#layout-builder-modal .ui-dialog .ui-widget-content.ui-dialog-content,.media-library-widget-modal .ui-dialog .ui-widget-content.ui-dialog-content,form.media-form .ui-dialog .ui-widget-content.ui-dialog-content {
  overflow: auto;
}

#layout-builder-modal .ui-dialog.webform-off-canvas .ui-widget-content.ui-dialog-content,.media-library-widget-modal .ui-dialog.webform-off-canvas .ui-widget-content.ui-dialog-content,form.media-form .ui-dialog.webform-off-canvas .ui-widget-content.ui-dialog-content {
  background: var(--gin-bg-layer);
}

#layout-builder-modal table.treetable tr.branch,.media-library-widget-modal table.treetable tr.branch,form.media-form table.treetable tr.branch {
  background-color: transparent;
}

#layout-builder-modal .ui-dialog .gin-layer-wrapper,.media-library-widget-modal .ui-dialog .gin-layer-wrapper,form.media-form .ui-dialog .gin-layer-wrapper {
  margin-bottom: var(--gin-spacing-l);
  margin-top: var(--gin-spacing-l);
}

