#layout-builder-modal .ief-entity-table .ief-row-form {
  border: 1px solid var(--gin-border-color);
}

#layout-builder-modal .ief-entity-table .ief-row-form:hover {
  background: transparent;
}

#layout-builder-modal .ief-entity-table .ief-row-form td {
  padding-bottom: 0;
}

#layout-builder-modal .ief-entity-table .ief-row-form .form-item {
  margin-top: var(--gin-spacing-density-s);
  margin-bottom: var(--gin-spacing-density-s);
}

#layout-builder-modal .ief-form>.form-wrapper>.form-wrapper:last-of-type {
  background: var(--gin-bg-layer2);
  padding: 0 var(--gin-spacing-m);
  margin: 0 calc(var(--gin-spacing-m)*-1);
}

#layout-builder-modal .ief-form.ief-form-bottom {
  border: 1px solid var(--gin-border-color);
}

#layout-builder-modal .ief-form.ief-form-bottom .fieldset__wrapper {
  margin-bottom: 0;
}

#layout-builder-modal .paragraphs-tabs-wrapper .field-multiple-table .ief-entity-table .draggable {
  display: table-row;
}

[dir="ltr"] #layout-builder-modal .paragraphs-tabs-wrapper .field-multiple-table .ief-entity-table .draggable.drag-previous>.tabledrag-cell::before {
  left: var(--gin-spacing-xs);
}

[dir="ltr"] #layout-builder-modal .paragraphs-tabs-wrapper .field-multiple-table .ief-entity-table .draggable.drag-previous>.tabledrag-cell::before {
  right: var(--gin-spacing-xs);
}

[dir="rtl"] #layout-builder-modal .paragraphs-tabs-wrapper .field-multiple-table .ief-entity-table .draggable.drag-previous>.tabledrag-cell::before {
  right: var(--gin-spacing-xs);
}

[dir="rtl"] #layout-builder-modal .paragraphs-tabs-wrapper .field-multiple-table .ief-entity-table .draggable.drag-previous>.tabledrag-cell::before {
  left: var(--gin-spacing-xs);
}

[dir="ltr"] #layout-builder-modal .paragraphs-tabs-wrapper .field-multiple-table .ief-entity-table .draggable .tabledrag-cell-content__item {
  padding-left: var(--gin-spacing-s);
}

[dir="ltr"] #layout-builder-modal .paragraphs-tabs-wrapper .field-multiple-table .ief-entity-table .draggable .tabledrag-cell-content__item {
  padding-right: var(--gin-spacing-s);
}

[dir="rtl"] #layout-builder-modal .paragraphs-tabs-wrapper .field-multiple-table .ief-entity-table .draggable .tabledrag-cell-content__item {
  padding-right: var(--gin-spacing-s);
}

[dir="rtl"] #layout-builder-modal .paragraphs-tabs-wrapper .field-multiple-table .ief-entity-table .draggable .tabledrag-cell-content__item {
  padding-left: var(--gin-spacing-s);
}

#layout-builder-modal .paragraphs-tabs-wrapper .field-multiple-table .ief-entity-operations {
  display: flex;
}

