#layout-builder-modal .modules-tabs,
.media-library-widget-modal .modules-tabs,
form.media-form .modules-tabs {
  background: transparent;
  border: 0 none;
}
#layout-builder-modal .modules-tabs__pane, #layout-builder-modal .modules-tabs__menu, #layout-builder-modal .modules-tabs__menu-item,
.media-library-widget-modal .modules-tabs__pane,
.media-library-widget-modal .modules-tabs__menu,
.media-library-widget-modal .modules-tabs__menu-item,
form.media-form .modules-tabs__pane,
form.media-form .modules-tabs__menu,
form.media-form .modules-tabs__menu-item {
  background: var(--gin-bg-layer);
}
#layout-builder-modal .modules-tabs__pane,
.media-library-widget-modal .modules-tabs__pane,
form.media-form .modules-tabs__pane {
  padding: var(--gin-spacing-l) var(--gin-spacing-l) 0 var(--gin-spacing-l);
}
#layout-builder-modal [dir=ltr] .modules-tabs__pane,
.media-library-widget-modal [dir=ltr] .modules-tabs__pane,
form.media-form [dir=ltr] .modules-tabs__pane {
  border-left: 1px solid var(--gin-border-color);
}
#layout-builder-modal [dir=rtl] .modules-tabs__pane,
.media-library-widget-modal [dir=rtl] .modules-tabs__pane,
form.media-form [dir=rtl] .modules-tabs__pane {
  border-right: 1px solid var(--gin-border-color);
}
#layout-builder-modal .modules-tabs__pane table tr.enabling,
.media-library-widget-modal .modules-tabs__pane table tr.enabling,
form.media-form .modules-tabs__pane table tr.enabling {
  background: var(--gin-bg-green-light);
}
#layout-builder-modal .modules-tabs__menu-item,
.media-library-widget-modal .modules-tabs__menu-item,
form.media-form .modules-tabs__menu-item {
  border-top: 1px solid var(--gin-border-color);
}
#layout-builder-modal .modules-tabs__menu-item.tab__new,
.media-library-widget-modal .modules-tabs__menu-item.tab__new,
form.media-form .modules-tabs__menu-item.tab__new {
  border-bottom: 1px solid var(--gin-border-color);
}
#layout-builder-modal .modules-tabs__menu-item.disabled,
.media-library-widget-modal .modules-tabs__menu-item.disabled,
form.media-form .modules-tabs__menu-item.disabled {
  background-color: transparent;
  border-top-color: var(--gin-border-color);
  border-bottom-color: transparent;
}
#layout-builder-modal .modules-tabs__menu-item.suggest,
#layout-builder-modal .modules-tabs__menu-item a:hover,
#layout-builder-modal .modules-tabs__menu-item a:focus,
#layout-builder-modal .modules-tabs__menu-item a:active,
.media-library-widget-modal .modules-tabs__menu-item.suggest,
.media-library-widget-modal .modules-tabs__menu-item a:hover,
.media-library-widget-modal .modules-tabs__menu-item a:focus,
.media-library-widget-modal .modules-tabs__menu-item a:active,
form.media-form .modules-tabs__menu-item.suggest,
form.media-form .modules-tabs__menu-item a:hover,
form.media-form .modules-tabs__menu-item a:focus,
form.media-form .modules-tabs__menu-item a:active {
  background: var(--gin-bg-item-hover);
}
#layout-builder-modal .modules-tabs__menu-item.is-selected a,
#layout-builder-modal .modules-tabs__menu-item.is-selected a:hover,
#layout-builder-modal .modules-tabs__menu-item.is-selected a:focus,
#layout-builder-modal .modules-tabs__menu-item.is-selected a:active,
.media-library-widget-modal .modules-tabs__menu-item.is-selected a,
.media-library-widget-modal .modules-tabs__menu-item.is-selected a:hover,
.media-library-widget-modal .modules-tabs__menu-item.is-selected a:focus,
.media-library-widget-modal .modules-tabs__menu-item.is-selected a:active,
form.media-form .modules-tabs__menu-item.is-selected a,
form.media-form .modules-tabs__menu-item.is-selected a:hover,
form.media-form .modules-tabs__menu-item.is-selected a:focus,
form.media-form .modules-tabs__menu-item.is-selected a:active {
  background: var(--gin-bg-layer);
}
#layout-builder-modal .modules-tabs__menu-item ul.enabling,
.media-library-widget-modal .modules-tabs__menu-item ul.enabling,
form.media-form .modules-tabs__menu-item ul.enabling {
  color: var(--gin-color-green);
}
#layout-builder-modal #module-filter-update-status-form .table-filter,
.media-library-widget-modal #module-filter-update-status-form .table-filter,
form.media-form #module-filter-update-status-form .table-filter {
  float: none;
}
#layout-builder-modal [dir=ltr] #module-filter-update-status-form .table-filter,
.media-library-widget-modal [dir=ltr] #module-filter-update-status-form .table-filter,
form.media-form [dir=ltr] #module-filter-update-status-form .table-filter {
  text-align: left;
}
#layout-builder-modal [dir=rtl] #module-filter-update-status-form .table-filter,
.media-library-widget-modal [dir=rtl] #module-filter-update-status-form .table-filter,
form.media-form [dir=rtl] #module-filter-update-status-form .table-filter {
  text-align: right;
}
#layout-builder-modal #module-filter-update-status-form .table-filter .winnow-input,
.media-library-widget-modal #module-filter-update-status-form .table-filter .winnow-input,
form.media-form #module-filter-update-status-form .table-filter .winnow-input {
  width: 100%;
}
#layout-builder-modal #module-filter-update-status-form .table-filter .winnow-clear,
.media-library-widget-modal #module-filter-update-status-form .table-filter .winnow-clear,
form.media-form #module-filter-update-status-form .table-filter .winnow-clear {
  width: 44px;
}
#layout-builder-modal #module-filter-update-status-form .table-filter .winnow-clear:after,
.media-library-widget-modal #module-filter-update-status-form .table-filter .winnow-clear:after,
form.media-form #module-filter-update-status-form .table-filter .winnow-clear:after {
  top: 10px;
}
#layout-builder-modal [dir=ltr] #module-filter-update-status-form .table-filter .winnow-clear:after,
.media-library-widget-modal [dir=ltr] #module-filter-update-status-form .table-filter .winnow-clear:after,
form.media-form [dir=ltr] #module-filter-update-status-form .table-filter .winnow-clear:after {
  right: var(--gin-spacing-xs);
}
#layout-builder-modal [dir=rtl] #module-filter-update-status-form .table-filter .winnow-clear:after,
.media-library-widget-modal [dir=rtl] #module-filter-update-status-form .table-filter .winnow-clear:after,
form.media-form [dir=rtl] #module-filter-update-status-form .table-filter .winnow-clear:after {
  left: var(--gin-spacing-xs);
}
#layout-builder-modal #module-filter-update-status-form .table-filter input.form-search,
.media-library-widget-modal #module-filter-update-status-form .table-filter input.form-search,
form.media-form #module-filter-update-status-form .table-filter input.form-search {
  width: 100%;
  padding: var(--gin-spacing-m);
}
#layout-builder-modal #module-filter-update-status-form .table-filter .form-type--search,
.media-library-widget-modal #module-filter-update-status-form .table-filter .form-type--search,
form.media-form #module-filter-update-status-form .table-filter .form-type--search {
  margin-top: 0;
  margin-bottom: var(--gin-spacing-xs);
}
#layout-builder-modal .system-modules-uninstall .winnow-input,
.media-library-widget-modal .system-modules-uninstall .winnow-input,
form.media-form .system-modules-uninstall .winnow-input {
  width: 100%;
}
#layout-builder-modal [dir=ltr] .module-filter-status,
.media-library-widget-modal [dir=ltr] .module-filter-status,
form.media-form [dir=ltr] .module-filter-status {
  margin-left: -1em;
}
#layout-builder-modal [dir=rtl] .module-filter-status,
.media-library-widget-modal [dir=rtl] .module-filter-status,
form.media-form [dir=rtl] .module-filter-status {
  margin-right: -1em;
}
#layout-builder-modal [dir=ltr] .modules-tabs .module-filter-status,
.media-library-widget-modal [dir=ltr] .modules-tabs .module-filter-status,
form.media-form [dir=ltr] .modules-tabs .module-filter-status {
  margin-left: 0;
}
#layout-builder-modal [dir=rtl] .modules-tabs .module-filter-status,
.media-library-widget-modal [dir=rtl] .modules-tabs .module-filter-status,
form.media-form [dir=rtl] .modules-tabs .module-filter-status {
  margin-right: 0;
}
#layout-builder-modal .system-modules td details a,
.media-library-widget-modal .system-modules td details a,
form.media-form .system-modules td details a {
  color: var(--gin-color-primary);
}