#layout-builder-modal .revision-current {
  background-color: transparent;
}

#layout-builder-modal .revision-current td:first-of-type {
  position: relative;
}

#layout-builder-modal .revision-current td:first-of-type::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
}

[dir="ltr"] #layout-builder-modal .revision-current td:first-of-type::before {
  left: 0;
  border-left: 6px solid var(--gin-color-green);
}

[dir="ltr"] #layout-builder-modal .revision-current td:first-of-type::before {
  right: 0;
  border-right: 6px solid var(--gin-color-green);
}

[dir="rtl"] #layout-builder-modal .revision-current td:first-of-type::before {
  right: 0;
  border-right: 6px solid var(--gin-color-green);
}

[dir="rtl"] #layout-builder-modal .revision-current td:first-of-type::before {
  left: 0;
  border-left: 6px solid var(--gin-color-green);
}

