#layout-builder-modal #gin-toolbar-bar.js-settings-tray-edit-mode button.toolbar-icon.toolbar-icon-edit.toolbar-item.is-active,
.media-library-widget-modal #gin-toolbar-bar.js-settings-tray-edit-mode button.toolbar-icon.toolbar-icon-edit.toolbar-item.is-active,
form.media-form #gin-toolbar-bar.js-settings-tray-edit-mode button.toolbar-icon.toolbar-icon-edit.toolbar-item.is-active {
  color: var(--gin-bg-app);
}
#layout-builder-modal #gin-toolbar-bar.js-settings-tray-edit-mode,
.media-library-widget-modal #gin-toolbar-bar.js-settings-tray-edit-mode,
form.media-form #gin-toolbar-bar.js-settings-tray-edit-mode {
  background: var(--gin-color-primary);
}
#layout-builder-modal #gin-toolbar-bar.js-settings-tray-edit-mode button.toolbar-icon.toolbar-icon-edit.toolbar-item.is-active:hover,
.media-library-widget-modal #gin-toolbar-bar.js-settings-tray-edit-mode button.toolbar-icon.toolbar-icon-edit.toolbar-item.is-active:hover,
form.media-form #gin-toolbar-bar.js-settings-tray-edit-mode button.toolbar-icon.toolbar-icon-edit.toolbar-item.is-active:hover {
  background: var(--gin-color-primary-hover);
}
#layout-builder-modal #gin-toolbar-bar,
.media-library-widget-modal #gin-toolbar-bar,
form.media-form #gin-toolbar-bar {
  position: fixed;
}
#layout-builder-modal #gin-toolbar-bar .contextual-toolbar-tab,
.media-library-widget-modal #gin-toolbar-bar .contextual-toolbar-tab,
form.media-form #gin-toolbar-bar .contextual-toolbar-tab {
  order: 100;
}
#layout-builder-modal #toolbar-bar.toolbar-bar.js-settings-tray-edit-mode,
.media-library-widget-modal #toolbar-bar.toolbar-bar.js-settings-tray-edit-mode,
form.media-form #toolbar-bar.toolbar-bar.js-settings-tray-edit-mode {
  background-color: transparent;
  border-radius: var(--gin-border-s);
}
#layout-builder-modal #toolbar-bar.toolbar-bar.js-settings-tray-edit-mode .toolbar-item,
#layout-builder-modal #toolbar-bar.toolbar-bar.js-settings-tray-edit-mode .toolbar-item.is-active:hover,
.media-library-widget-modal #toolbar-bar.toolbar-bar.js-settings-tray-edit-mode .toolbar-item,
.media-library-widget-modal #toolbar-bar.toolbar-bar.js-settings-tray-edit-mode .toolbar-item.is-active:hover,
form.media-form #toolbar-bar.toolbar-bar.js-settings-tray-edit-mode .toolbar-item,
form.media-form #toolbar-bar.toolbar-bar.js-settings-tray-edit-mode .toolbar-item.is-active:hover {
  background: var(--gin-switch);
  border-radius: var(--gin-border-s);
}
#layout-builder-modal #toolbar-bar.toolbar-bar.js-settings-tray-edit-mode .toolbar-item::before,
#layout-builder-modal #toolbar-bar.toolbar-bar.js-settings-tray-edit-mode .toolbar-item.is-active:hover::before,
.media-library-widget-modal #toolbar-bar.toolbar-bar.js-settings-tray-edit-mode .toolbar-item::before,
.media-library-widget-modal #toolbar-bar.toolbar-bar.js-settings-tray-edit-mode .toolbar-item.is-active:hover::before,
form.media-form #toolbar-bar.toolbar-bar.js-settings-tray-edit-mode .toolbar-item::before,
form.media-form #toolbar-bar.toolbar-bar.js-settings-tray-edit-mode .toolbar-item.is-active:hover::before {
  background-color: #fff;
}
#layout-builder-modal #toolbar-bar.toolbar-bar.js-settings-tray-edit-mode button.toolbar-icon.toolbar-icon-edit.toolbar-item.is-active:hover,
.media-library-widget-modal #toolbar-bar.toolbar-bar.js-settings-tray-edit-mode button.toolbar-icon.toolbar-icon-edit.toolbar-item.is-active:hover,
form.media-form #toolbar-bar.toolbar-bar.js-settings-tray-edit-mode button.toolbar-icon.toolbar-icon-edit.toolbar-item.is-active:hover {
  background-image: none;
}