#layout-builder-modal #gin-sidebar-draggable {
  cursor: ew-resize;
  z-index: 104;
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  padding: 0;
  display: block;
  width: 2px;
  height: 100%;
  transition: var(--gin-transition-fast);
}

#layout-builder-modal #gin-sidebar-draggable:hover {
  background-color: var(--gin-border-color-table);
}

#layout-builder-modal #gin-sidebar-draggable:active {
  background-color: var(--gin-border-color);
}

#layout-builder-modal .layout-region-node-secondary {
  transition: transform var(--gin-transition-fast);
}

@media (max-width: 60.99em) {
  #layout-builder-modal .layout-region-node-secondary {
    --gin-sidebar-width: var(--gin-sidebar-small-width);
  }
}

@media (max-width: 63.99em) {
  #layout-builder-modal .layout-region-node-secondary {
    opacity: 0;
    visibility: hidden;
  }
}

#layout-builder-modal body[data-meta-sidebar=closed] {
  --gin-sidebar-offset: 0px;
}

#layout-builder-modal body[data-meta-sidebar=closed] .layout-region-node-secondary {
  transform: translateX(var(--gin-sidebar-width));
  visibility: hidden;
}

[dir="rtl"] #layout-builder-modal body[data-meta-sidebar=closed] .layout-region-node-secondary {
  transform: translateX(calc(var(--gin-sidebar-width) * -1));
}

[dir="rtl"] #layout-builder-modal body[data-meta-sidebar=closed] .layout-region-node-secondary {
  transform: translateX(calc(-1*(var(--gin-sidebar-width) * -1)));
}

@media (max-width: 63.99em) {
  #layout-builder-modal body[data-meta-sidebar=open] .layout-region-node-secondary {
    opacity: 1;
    visibility: visible;
  }
}

#layout-builder-modal .meta-sidebar__close {
  cursor: pointer;
  background: transparent;
  height: 32px;
  width: 32px;
  border-radius: var(--gin-border-m);
  transition: background var(--gin-transition-fast);
}

#layout-builder-modal .meta-sidebar__close::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  mask-repeat: no-repeat;
  mask-position: center center;
  background-color: var(--gin-icon-color);
}

#layout-builder-modal .meta-sidebar__close:hover,#layout-builder-modal .meta-sidebar__close:focus {
  background-color: var(--gin-color-primary-light);
}

#layout-builder-modal .meta-sidebar__close:hover::before,#layout-builder-modal .meta-sidebar__close:focus::before {
  background-color: var(--gin-color-primary);
}

#layout-builder-modal .meta-sidebar__close.is-active {
  background-color: var(--gin-color-primary-light-hover);
}

#layout-builder-modal .meta-sidebar__close.is-active::before {
  background-color: var(--gin-color-primary-active);
}

#layout-builder-modal .meta-sidebar__trigger {
  cursor: pointer;
  background: transparent;
  display: block;
  height: 32px;
  width: 32px;
  border-radius: var(--gin-border-m);
  transition: background var(--gin-transition-fast);
}

#layout-builder-modal .meta-sidebar__trigger::before {
  display: inline-block;
  width: 100%;
  height: 100%;
  content: "";
  mask-repeat: no-repeat;
  mask-position: center center;
  background-color: var(--gin-icon-color);
  mask-image: url("../../media/sprite.svg#config-view");
  mask-size: var(--gin-icon-size-toolbar-secondary) var(--gin-icon-size-toolbar-secondary);
  border-radius: 50%;
}

#layout-builder-modal .meta-sidebar__trigger:hover,#layout-builder-modal .meta-sidebar__trigger:focus,#layout-builder-modal .meta-sidebar__trigger.is-active,#layout-builder-modal .meta-sidebar__trigger.is-active:hover {
  background-color: var(--gin-color-primary-light);
}

#layout-builder-modal .meta-sidebar__trigger:hover::before,#layout-builder-modal .meta-sidebar__trigger:focus::before,#layout-builder-modal .meta-sidebar__trigger.is-active::before,#layout-builder-modal .meta-sidebar__trigger.is-active:hover::before {
  background-color: var(--gin-color-primary);
}

#layout-builder-modal .meta-sidebar__trigger.is-active {
  background-color: var(--gin-bg-item-hover);
}

#layout-builder-modal .meta-sidebar__close {
  z-index: 104;
  position: absolute;
  top: 18px;
}

[dir="ltr"] #layout-builder-modal .meta-sidebar__close {
  right: var(--gin-spacing-m);
}

[dir="ltr"] #layout-builder-modal .meta-sidebar__close {
  left: var(--gin-spacing-m);
}

[dir="rtl"] #layout-builder-modal .meta-sidebar__close {
  left: var(--gin-spacing-m);
}

[dir="rtl"] #layout-builder-modal .meta-sidebar__close {
  right: var(--gin-spacing-m);
}

@media (min-width: 64em) {
  #layout-builder-modal .meta-sidebar__close {
    display: none;
  }
}

#layout-builder-modal .meta-sidebar__close::before {
  mask-image: url("../../media/sprite.svg#close-view");
  mask-size: 16px 16px;
}

#layout-builder-modal .meta-sidebar__overlay {
  z-index: 102;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background: var(--gin-bg-layer2);
}

[dir="ltr"] #layout-builder-modal .meta-sidebar__overlay {
  left: 0;
}

[dir="ltr"] #layout-builder-modal .meta-sidebar__overlay {
  right: 0;
}

[dir="rtl"] #layout-builder-modal .meta-sidebar__overlay {
  right: 0;
}

[dir="rtl"] #layout-builder-modal .meta-sidebar__overlay {
  left: 0;
}

#layout-builder-modal body[data-meta-sidebar=open] .meta-sidebar__overlay {
  opacity: .9;
  visibility: visible;
}

@media (min-width: 64em) {
  #layout-builder-modal .meta-sidebar__overlay {
    display: none;
  }
}

