@charset "UTF-8";
#layout-builder-modal .drupal-upgrade-status-summary-form tr.known-errors,
#layout-builder-modal .upgrade-status-error-list tr.rector-covered,
#layout-builder-modal .upgrade-status-next-step-collaborate tr,
#layout-builder-modal .upgrade-status-error-list tr.no-known-error,
#layout-builder-modal .upgrade-status-next-step-relax tr,
#layout-builder-modal .upgrade-status-summary-environment tr.no-known-error,
.media-library-widget-modal .drupal-upgrade-status-summary-form tr.known-errors,
.media-library-widget-modal .upgrade-status-error-list tr.rector-covered,
.media-library-widget-modal .upgrade-status-next-step-collaborate tr,
.media-library-widget-modal .upgrade-status-error-list tr.no-known-error,
.media-library-widget-modal .upgrade-status-next-step-relax tr,
.media-library-widget-modal .upgrade-status-summary-environment tr.no-known-error,
form.media-form .drupal-upgrade-status-summary-form tr.known-errors,
form.media-form .upgrade-status-error-list tr.rector-covered,
form.media-form .upgrade-status-next-step-collaborate tr,
form.media-form .upgrade-status-error-list tr.no-known-error,
form.media-form .upgrade-status-next-step-relax tr,
form.media-form .upgrade-status-summary-environment tr.no-known-error {
  color: var(--gin-color-text);
}
#layout-builder-modal .upgrade-status-summary > summary,
.media-library-widget-modal .upgrade-status-summary > summary,
form.media-form .upgrade-status-summary > summary {
  background-color: transparent;
  border-bottom: 1px solid transparent;
}
#layout-builder-modal .upgrade-status-summary tr.not-scanned > td.status-info,
#layout-builder-modal .upgrade-status-error-list tr.no-known-error > td.status-info,
#layout-builder-modal .upgrade-status-summary tr.no-known-error > td.status-info,
#layout-builder-modal .upgrade-status-error-list tr.known-warnings > td.status-info,
#layout-builder-modal .upgrade-status-summary tr.known-warnings > td.status-info,
#layout-builder-modal .upgrade-status-error-list tr.known-errors > td.status-info,
#layout-builder-modal .upgrade-status-summary tr.known-errors > td.status-info,
.media-library-widget-modal .upgrade-status-summary tr.not-scanned > td.status-info,
.media-library-widget-modal .upgrade-status-error-list tr.no-known-error > td.status-info,
.media-library-widget-modal .upgrade-status-summary tr.no-known-error > td.status-info,
.media-library-widget-modal .upgrade-status-error-list tr.known-warnings > td.status-info,
.media-library-widget-modal .upgrade-status-summary tr.known-warnings > td.status-info,
.media-library-widget-modal .upgrade-status-error-list tr.known-errors > td.status-info,
.media-library-widget-modal .upgrade-status-summary tr.known-errors > td.status-info,
form.media-form .upgrade-status-summary tr.not-scanned > td.status-info,
form.media-form .upgrade-status-error-list tr.no-known-error > td.status-info,
form.media-form .upgrade-status-summary tr.no-known-error > td.status-info,
form.media-form .upgrade-status-error-list tr.known-warnings > td.status-info,
form.media-form .upgrade-status-summary tr.known-warnings > td.status-info,
form.media-form .upgrade-status-error-list tr.known-errors > td.status-info,
form.media-form .upgrade-status-summary tr.known-errors > td.status-info {
  position: relative;
  background-image: none;
}
#layout-builder-modal .upgrade-status-summary tr.not-scanned > td.status-info:before,
#layout-builder-modal .upgrade-status-error-list tr.no-known-error > td.status-info:before,
#layout-builder-modal .upgrade-status-summary tr.no-known-error > td.status-info:before,
#layout-builder-modal .upgrade-status-error-list tr.known-warnings > td.status-info:before,
#layout-builder-modal .upgrade-status-summary tr.known-warnings > td.status-info:before,
#layout-builder-modal .upgrade-status-error-list tr.known-errors > td.status-info:before,
#layout-builder-modal .upgrade-status-summary tr.known-errors > td.status-info:before,
.media-library-widget-modal .upgrade-status-summary tr.not-scanned > td.status-info:before,
.media-library-widget-modal .upgrade-status-error-list tr.no-known-error > td.status-info:before,
.media-library-widget-modal .upgrade-status-summary tr.no-known-error > td.status-info:before,
.media-library-widget-modal .upgrade-status-error-list tr.known-warnings > td.status-info:before,
.media-library-widget-modal .upgrade-status-summary tr.known-warnings > td.status-info:before,
.media-library-widget-modal .upgrade-status-error-list tr.known-errors > td.status-info:before,
.media-library-widget-modal .upgrade-status-summary tr.known-errors > td.status-info:before,
form.media-form .upgrade-status-summary tr.not-scanned > td.status-info:before,
form.media-form .upgrade-status-error-list tr.no-known-error > td.status-info:before,
form.media-form .upgrade-status-summary tr.no-known-error > td.status-info:before,
form.media-form .upgrade-status-error-list tr.known-warnings > td.status-info:before,
form.media-form .upgrade-status-summary tr.known-warnings > td.status-info:before,
form.media-form .upgrade-status-error-list tr.known-errors > td.status-info:before,
form.media-form .upgrade-status-summary tr.known-errors > td.status-info:before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  margin-top: 2px;
}
#layout-builder-modal [dir=ltr] .upgrade-status-summary tr.not-scanned > td.status-info:before,
#layout-builder-modal [dir=ltr] .upgrade-status-error-list tr.no-known-error > td.status-info:before,
#layout-builder-modal [dir=ltr] .upgrade-status-summary tr.no-known-error > td.status-info:before,
#layout-builder-modal [dir=ltr] .upgrade-status-error-list tr.known-warnings > td.status-info:before,
#layout-builder-modal [dir=ltr] .upgrade-status-summary tr.known-warnings > td.status-info:before,
#layout-builder-modal [dir=ltr] .upgrade-status-error-list tr.known-errors > td.status-info:before,
#layout-builder-modal [dir=ltr] .upgrade-status-summary tr.known-errors > td.status-info:before,
.media-library-widget-modal [dir=ltr] .upgrade-status-summary tr.not-scanned > td.status-info:before,
.media-library-widget-modal [dir=ltr] .upgrade-status-error-list tr.no-known-error > td.status-info:before,
.media-library-widget-modal [dir=ltr] .upgrade-status-summary tr.no-known-error > td.status-info:before,
.media-library-widget-modal [dir=ltr] .upgrade-status-error-list tr.known-warnings > td.status-info:before,
.media-library-widget-modal [dir=ltr] .upgrade-status-summary tr.known-warnings > td.status-info:before,
.media-library-widget-modal [dir=ltr] .upgrade-status-error-list tr.known-errors > td.status-info:before,
.media-library-widget-modal [dir=ltr] .upgrade-status-summary tr.known-errors > td.status-info:before,
form.media-form [dir=ltr] .upgrade-status-summary tr.not-scanned > td.status-info:before,
form.media-form [dir=ltr] .upgrade-status-error-list tr.no-known-error > td.status-info:before,
form.media-form [dir=ltr] .upgrade-status-summary tr.no-known-error > td.status-info:before,
form.media-form [dir=ltr] .upgrade-status-error-list tr.known-warnings > td.status-info:before,
form.media-form [dir=ltr] .upgrade-status-summary tr.known-warnings > td.status-info:before,
form.media-form [dir=ltr] .upgrade-status-error-list tr.known-errors > td.status-info:before,
form.media-form [dir=ltr] .upgrade-status-summary tr.known-errors > td.status-info:before {
  left: var(--gin-spacing-xs);
}
#layout-builder-modal [dir=rtl] .upgrade-status-summary tr.not-scanned > td.status-info:before,
#layout-builder-modal [dir=rtl] .upgrade-status-error-list tr.no-known-error > td.status-info:before,
#layout-builder-modal [dir=rtl] .upgrade-status-summary tr.no-known-error > td.status-info:before,
#layout-builder-modal [dir=rtl] .upgrade-status-error-list tr.known-warnings > td.status-info:before,
#layout-builder-modal [dir=rtl] .upgrade-status-summary tr.known-warnings > td.status-info:before,
#layout-builder-modal [dir=rtl] .upgrade-status-error-list tr.known-errors > td.status-info:before,
#layout-builder-modal [dir=rtl] .upgrade-status-summary tr.known-errors > td.status-info:before,
.media-library-widget-modal [dir=rtl] .upgrade-status-summary tr.not-scanned > td.status-info:before,
.media-library-widget-modal [dir=rtl] .upgrade-status-error-list tr.no-known-error > td.status-info:before,
.media-library-widget-modal [dir=rtl] .upgrade-status-summary tr.no-known-error > td.status-info:before,
.media-library-widget-modal [dir=rtl] .upgrade-status-error-list tr.known-warnings > td.status-info:before,
.media-library-widget-modal [dir=rtl] .upgrade-status-summary tr.known-warnings > td.status-info:before,
.media-library-widget-modal [dir=rtl] .upgrade-status-error-list tr.known-errors > td.status-info:before,
.media-library-widget-modal [dir=rtl] .upgrade-status-summary tr.known-errors > td.status-info:before,
form.media-form [dir=rtl] .upgrade-status-summary tr.not-scanned > td.status-info:before,
form.media-form [dir=rtl] .upgrade-status-error-list tr.no-known-error > td.status-info:before,
form.media-form [dir=rtl] .upgrade-status-summary tr.no-known-error > td.status-info:before,
form.media-form [dir=rtl] .upgrade-status-error-list tr.known-warnings > td.status-info:before,
form.media-form [dir=rtl] .upgrade-status-summary tr.known-warnings > td.status-info:before,
form.media-form [dir=rtl] .upgrade-status-error-list tr.known-errors > td.status-info:before,
form.media-form [dir=rtl] .upgrade-status-summary tr.known-errors > td.status-info:before {
  right: var(--gin-spacing-xs);
}
#layout-builder-modal .upgrade-status-counter__status-icon--not-scanned:before,
.media-library-widget-modal .upgrade-status-counter__status-icon--not-scanned:before,
form.media-form .upgrade-status-counter__status-icon--not-scanned:before {
  -webkit-mask-size: 24px 24px;
  mask-size: 24px 24px;
}
#layout-builder-modal [dir=ltr] .upgrade-status-summary .select-all,
#layout-builder-modal [dir=ltr] .upgrade-status-summary th.project-label,
#layout-builder-modal [dir=ltr] .upgrade-status-summary th.requirement-label,
.media-library-widget-modal [dir=ltr] .upgrade-status-summary .select-all,
.media-library-widget-modal [dir=ltr] .upgrade-status-summary th.project-label,
.media-library-widget-modal [dir=ltr] .upgrade-status-summary th.requirement-label,
form.media-form [dir=ltr] .upgrade-status-summary .select-all,
form.media-form [dir=ltr] .upgrade-status-summary th.project-label,
form.media-form [dir=ltr] .upgrade-status-summary th.requirement-label {
  border-left: var(--gin-border-m) solid var(--gin-bg-header);
}
#layout-builder-modal [dir=rtl] .upgrade-status-summary .select-all,
#layout-builder-modal [dir=rtl] .upgrade-status-summary th.project-label,
#layout-builder-modal [dir=rtl] .upgrade-status-summary th.requirement-label,
.media-library-widget-modal [dir=rtl] .upgrade-status-summary .select-all,
.media-library-widget-modal [dir=rtl] .upgrade-status-summary th.project-label,
.media-library-widget-modal [dir=rtl] .upgrade-status-summary th.requirement-label,
form.media-form [dir=rtl] .upgrade-status-summary .select-all,
form.media-form [dir=rtl] .upgrade-status-summary th.project-label,
form.media-form [dir=rtl] .upgrade-status-summary th.requirement-label {
  border-right: var(--gin-border-m) solid var(--gin-bg-header);
}
#layout-builder-modal .upgrade-status-error-list tr.rector-covered,
#layout-builder-modal .upgrade-status-next-step-collaborate tr,
#layout-builder-modal .upgrade-status-error-list tr.no-known-error,
#layout-builder-modal .upgrade-status-next-step-relax tr,
#layout-builder-modal .upgrade-status-summary-environment tr.no-known-error,
.media-library-widget-modal .upgrade-status-error-list tr.rector-covered,
.media-library-widget-modal .upgrade-status-next-step-collaborate tr,
.media-library-widget-modal .upgrade-status-error-list tr.no-known-error,
.media-library-widget-modal .upgrade-status-next-step-relax tr,
.media-library-widget-modal .upgrade-status-summary-environment tr.no-known-error,
form.media-form .upgrade-status-error-list tr.rector-covered,
form.media-form .upgrade-status-next-step-collaborate tr,
form.media-form .upgrade-status-error-list tr.no-known-error,
form.media-form .upgrade-status-next-step-relax tr,
form.media-form .upgrade-status-summary-environment tr.no-known-error {
  background-color: transparent;
}
#layout-builder-modal .upgrade-status-summary > summary,
#layout-builder-modal .upgrade-status-summary-environment > summary,
.media-library-widget-modal .upgrade-status-summary > summary,
.media-library-widget-modal .upgrade-status-summary-environment > summary,
form.media-form .upgrade-status-summary > summary,
form.media-form .upgrade-status-summary-environment > summary {
  background-color: transparent;
  border-bottom: 0 none;
}
#layout-builder-modal .drupal-upgrade-status-summary-form tr.no-known-error,
.media-library-widget-modal .drupal-upgrade-status-summary-form tr.no-known-error,
form.media-form .drupal-upgrade-status-summary-form tr.no-known-error {
  color: var(--gin-color-green);
}
#layout-builder-modal .upgrade-status-next-step-remove tr,
#layout-builder-modal .drupal-upgrade-status-summary-form tr.known-warnings ,
.media-library-widget-modal .upgrade-status-next-step-remove tr,
.media-library-widget-modal .drupal-upgrade-status-summary-form tr.known-warnings ,
form.media-form .upgrade-status-next-step-remove tr,
form.media-form .drupal-upgrade-status-summary-form tr.known-warnings  {
  color: var(--gin-color-warning);
}
#layout-builder-modal .drupal-upgrade-status-summary-form tr.known-errors,
.media-library-widget-modal .drupal-upgrade-status-summary-form tr.known-errors,
form.media-form .drupal-upgrade-status-summary-form tr.known-errors {
  color: var(--gin-color-danger);
}