/**
 * Wrapped content from core/themes/claro/css/theme/media-library.css
 * Maintainers: the import statement presumes a relative location of core css.
 * The location may need to be adjusted depending on your setup.
 */
#layout-builder-modal,
#modal-media-library {
  @import "../../../../../core/themes/claro/css/theme/media-library";
  .media-library-widget {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
    .layout__region { 
      position: relative;
    }
  }
  .media-library-item__remove,
  .media-library-item__remove.button,
  .media-library-item__remove.button:first-child,
  .media-library-item__remove.button:disabled,
  .media-library-item__remove.button:disabled:active,
  .media-library-item__remove.button:focus {
    background: url("./icons/ex.svg") #fff center no-repeat;
    width: 25px;
    height: 25px;
    top: 10px;
    background-size: 14px;
    border: 2px solid #ccc;
    font-size: 0;
  }
  .media-library-item__remove.button:hover {
    border-color: #40b6ff !important;
    color: transparent;
  }

  .media-library-wrapper {
    .views-display-link-widget {
      background: url(./icons/grid.svg) left 0 no-repeat;
    }
    .views-display-link-widget_table {
      background: url(./icons/table.svg) left 0 no-repeat;
    }
  }
}
