#layout-builder-modal .file,.media-library-widget-modal .file,form.media-form .file {
  min-height: calc(var(--space-m) + .0625rem);
  padding-left: var(--space-l);
  background-position: left .0625rem;
  background-size: var(--space-m) var(--space-m);
  font-size: var(--font-size-s);
  line-height: 1.125rem;
}

#layout-builder-modal [dir=rtl] .file,.media-library-widget-modal [dir=rtl] .file,form.media-form [dir=rtl] .file {
  padding-right: var(--space-l);
}

#layout-builder-modal .file__size,.media-library-widget-modal .file__size,form.media-form .file__size {
  color: var(--color-gray-800);
}

