#layout-builder-modal :root,.media-library-widget-modal :root,form.media-form :root {
  --file-widget-form-item-min-width: 16rem;
  --file-widget-form-item-max-width: 32rem;
}

#layout-builder-modal .form-managed-file.no-upload,.media-library-widget-modal .form-managed-file.no-upload,form.media-form .form-managed-file.no-upload {
  display: inline-flex;
  flex-direction: column;
  max-width: 100%;
}

#layout-builder-modal .form-managed-file.has-value.is-multiple,.media-library-widget-modal .form-managed-file.has-value.is-multiple,form.media-form .form-managed-file.has-value.is-multiple {
  display: block;
}

#layout-builder-modal .form-managed-file__main,.media-library-widget-modal .form-managed-file__main,form.media-form .form-managed-file__main {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
}

#layout-builder-modal .draggable .form-managed-file.has-value .form-managed-file__main,.media-library-widget-modal .draggable .form-managed-file.has-value .form-managed-file__main,form.media-form .draggable .form-managed-file.has-value .form-managed-file__main {
  display: flex;
}

#layout-builder-modal .form-managed-file.is-single.has-value .form-managed-file__main:last-child,.media-library-widget-modal .form-managed-file.is-single.has-value .form-managed-file__main:last-child,form.media-form .form-managed-file.is-single.has-value .form-managed-file__main:last-child {
  margin-bottom: var(--space-m);
}

#layout-builder-modal .form-managed-file__meta,.media-library-widget-modal .form-managed-file__meta,form.media-form .form-managed-file__meta {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: var(--space-m);
}

#layout-builder-modal .draggable .form-managed-file.has-value .form-managed-file__meta,.media-library-widget-modal .draggable .form-managed-file.has-value .form-managed-file__meta,form.media-form .draggable .form-managed-file.has-value .form-managed-file__meta {
  display: inline-flex;
}

#layout-builder-modal .form-managed-file__image-preview,.media-library-widget-modal .form-managed-file__image-preview,form.media-form .form-managed-file__image-preview {
  flex: 0 0 auto;
  max-width: 100%;
  margin-bottom: var(--space-m);
}

#layout-builder-modal .form-managed-file.has-meta .form-managed-file__image-preview,.media-library-widget-modal .form-managed-file.has-meta .form-managed-file__image-preview,form.media-form .form-managed-file.has-meta .form-managed-file__image-preview {
  margin-right: var(--space-m);
}

#layout-builder-modal [dir=rtl] .form-managed-file.has-meta .form-managed-file__image-preview,.media-library-widget-modal [dir=rtl] .form-managed-file.has-meta .form-managed-file__image-preview,form.media-form [dir=rtl] .form-managed-file.has-meta .form-managed-file__image-preview {
  margin-right: 0;
  margin-left: var(--space-m);
}

#layout-builder-modal td .form-managed-file.no-meta .form-managed-file__image-preview,.media-library-widget-modal td .form-managed-file.no-meta .form-managed-file__image-preview,form.media-form td .form-managed-file.no-meta .form-managed-file__image-preview {
  margin-bottom: var(--space-xs);
}

#layout-builder-modal .form-managed-file__meta-items,.media-library-widget-modal .form-managed-file__meta-items,form.media-form .form-managed-file__meta-items {
  flex: 1 1 var(--file-widget-form-item-min-width);
  max-width: 100%;
}

#layout-builder-modal .form-managed-file .file,.media-library-widget-modal .form-managed-file .file,form.media-form .form-managed-file .file {
  word-break: break-all;
  -webkit-hyphens: auto;
          hyphens: auto;
}

#layout-builder-modal .form-managed-file .file__size,.media-library-widget-modal .form-managed-file .file__size,form.media-form .form-managed-file .file__size {
  word-break: normal;
}

#layout-builder-modal .form-managed-file__main .file,.media-library-widget-modal .form-managed-file__main .file,form.media-form .form-managed-file__main .file {
  flex: 1 1 auto;
  margin: var(--space-xs) var(--space-m) var(--space-xs) 0;
}

#layout-builder-modal [dir=rtl] .form-managed-file__main .file,.media-library-widget-modal [dir=rtl] .form-managed-file__main .file,form.media-form [dir=rtl] .form-managed-file__main .file {
  margin-right: 0;
  margin-left: var(--space-m);
}

#layout-builder-modal .form-managed-file__main .form-element--api-file,.media-library-widget-modal .form-managed-file__main .form-element--api-file,form.media-form .form-managed-file__main .form-element--api-file {
  flex: 1 1 auto;
}

#layout-builder-modal .form-managed-file__main .button.button,.media-library-widget-modal .form-managed-file__main .button.button,form.media-form .form-managed-file__main .button.button {
  flex: 0 0 auto;
  margin: 0;
}

#layout-builder-modal .form-managed-file__meta .form-item,.media-library-widget-modal .form-managed-file__meta .form-item,form.media-form .form-managed-file__meta .form-item {
  max-width: var(--file-widget-form-item-max-width);
  margin-top: 0;
  margin-bottom: var(--space-m);
}

#layout-builder-modal .form-managed-file__meta .form-item:last-child,.media-library-widget-modal .form-managed-file__meta .form-item:last-child,form.media-form .form-managed-file__meta .form-item:last-child {
  margin-bottom: var(--space-xs);
}

#layout-builder-modal .form-managed-file__meta .form-element,.media-library-widget-modal .form-managed-file__meta .form-element,form.media-form .form-managed-file__meta .form-element {
  width: 100%;
}

#layout-builder-modal .file-widget-multiple.has-table .form-type--managed-file,.media-library-widget-modal .file-widget-multiple.has-table .form-type--managed-file,form.media-form .file-widget-multiple.has-table .form-type--managed-file {
  margin-right: var(--space-m);
  margin-left: var(--space-m);
}

