#layout-builder-modal ::placeholder,.media-library-widget-modal ::placeholder,form.media-form ::placeholder {
  opacity: 1;
  color: var(--input-fg-color--placeholder);
}

#layout-builder-modal .form-item,.media-library-widget-modal .form-item,form.media-form .form-item {
  margin-block: var(--space-l);
}

#layout-builder-modal tr .form-item,#layout-builder-modal .container-inline .form-item,.media-library-widget-modal tr .form-item,.media-library-widget-modal .container-inline .form-item,form.media-form tr .form-item,form.media-form .container-inline .form-item {
  margin-block: var(--space-s);
}

#layout-builder-modal .form-item__label,.media-library-widget-modal .form-item__label,form.media-form .form-item__label {
  display: table;
  margin-block: calc(var(--space-xs)/2);
  font-size: var(--font-size-s);
  font-weight: bold;
  line-height: var(--line-height-form-label);
}

#layout-builder-modal .form-item__label[for],.media-library-widget-modal .form-item__label[for],form.media-form .form-item__label[for] {
  cursor: pointer;
}

#layout-builder-modal .form-item__label.option,.media-library-widget-modal .form-item__label.option,form.media-form .form-item__label.option {
  display: inline;
  font-weight: normal;
}

#layout-builder-modal .form-item__label.has-error,.media-library-widget-modal .form-item__label.has-error,form.media-form .form-item__label.has-error {
  color: var(--input--error-color);
}

#layout-builder-modal .form-item__label.option.has-error,.media-library-widget-modal .form-item__label.option.has-error,form.media-form .form-item__label.option.has-error {
  color: inherit;
}

#layout-builder-modal .form-item__label.is-disabled,.media-library-widget-modal .form-item__label.is-disabled,form.media-form .form-item__label.is-disabled {
  cursor: default;
  color: var(--input--disabled-fg-color);
}

#layout-builder-modal .form-item__label--multiple-value-form,#layout-builder-modal .field-multiple-table .field-label h4.label,.media-library-widget-modal .form-item__label--multiple-value-form,.media-library-widget-modal .field-multiple-table .field-label h4.label,form.media-form .form-item__label--multiple-value-form,form.media-form .field-multiple-table .field-label h4.label {
  display: inline-block;
  margin-block: 0;
  align-self: center;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

#layout-builder-modal .form-item__label.form-required::after,#layout-builder-modal .fieldset__label.form-required::after,.media-library-widget-modal .form-item__label.form-required::after,.media-library-widget-modal .fieldset__label.form-required::after,form.media-form .form-item__label.form-required::after,form.media-form .fieldset__label.form-required::after {
  display: inline-block;
  margin-inline: .15em;
  content: "*";
  color: var(--color-maximumred);
  font-size: .875rem;
}

#layout-builder-modal .form-item__description,.media-library-widget-modal .form-item__description,form.media-form .form-item__description {
  margin-block: .375rem;
  color: var(--input-fg-color--description);
  font-size: var(--font-size-xs);
  line-height: 1.0625rem;
}

#layout-builder-modal .form-item__description.is-disabled,.media-library-widget-modal .form-item__description.is-disabled,form.media-form .form-item__description.is-disabled {
  color: var(--input--disabled-fg-color);
}

#layout-builder-modal .form-item__error-message,.media-library-widget-modal .form-item__error-message,form.media-form .form-item__error-message {
  margin-block: .375rem;
  color: var(--input--error-color);
  font-size: var(--font-size-xs);
  font-weight: normal;
  line-height: 1.0625rem;
}

#layout-builder-modal .form-item__prefix.is-disabled,#layout-builder-modal .form-item__suffix.is-disabled,.media-library-widget-modal .form-item__prefix.is-disabled,.media-library-widget-modal .form-item__suffix.is-disabled,form.media-form .form-item__prefix.is-disabled,form.media-form .form-item__suffix.is-disabled {
  color: var(--input--disabled-fg-color);
}

@media screen and (min-width: 37.5625rem) {
  #layout-builder-modal .form-item__suffix,.media-library-widget-modal .form-item__suffix,form.media-form .form-item__suffix {
    margin-inline-start: var(--space-xs);
  }
}

#layout-builder-modal .form-actions,#layout-builder-modal .field-actions,.media-library-widget-modal .form-actions,.media-library-widget-modal .field-actions,form.media-form .form-actions,form.media-form .field-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-block: var(--space-xs);
}

#layout-builder-modal .form-actions .button,#layout-builder-modal .field-actions .button,#layout-builder-modal .form-actions .action-link,#layout-builder-modal .field-actions .action-link,.media-library-widget-modal .form-actions .button,.media-library-widget-modal .field-actions .button,.media-library-widget-modal .form-actions .action-link,.media-library-widget-modal .field-actions .action-link,form.media-form .form-actions .button,form.media-form .field-actions .button,form.media-form .form-actions .action-link,form.media-form .field-actions .action-link {
  margin-block: var(--space-xs);
}

#layout-builder-modal .form-actions .ajax-progress--throbber,#layout-builder-modal .field-actions .ajax-progress--throbber,.media-library-widget-modal .form-actions .ajax-progress--throbber,.media-library-widget-modal .field-actions .ajax-progress--throbber,form.media-form .form-actions .ajax-progress--throbber,form.media-form .field-actions .ajax-progress--throbber {
  align-self: center;
}

#layout-builder-modal .confirm-parent,#layout-builder-modal .password-parent,.media-library-widget-modal .confirm-parent,.media-library-widget-modal .password-parent,form.media-form .confirm-parent,form.media-form .password-parent {
  overflow: visible;
  width: auto;
}

#layout-builder-modal .form-item-options-group-info-identifier,#layout-builder-modal .form-item-pass .description,.media-library-widget-modal .form-item-options-group-info-identifier,.media-library-widget-modal .form-item-pass .description,form.media-form .form-item-options-group-info-identifier,form.media-form .form-item-pass .description {
  clear: both;
}

#layout-builder-modal .form-item--editor-format,.media-library-widget-modal .form-item--editor-format,form.media-form .form-item--editor-format {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
}

#layout-builder-modal .form-item--editor-format .form-item__label,#layout-builder-modal .form-item--editor-format .form-item__prefix,#layout-builder-modal .form-item--editor-format .form-item__suffix,#layout-builder-modal .form-item--editor-format .form-element--editor-format,.media-library-widget-modal .form-item--editor-format .form-item__label,.media-library-widget-modal .form-item--editor-format .form-item__prefix,.media-library-widget-modal .form-item--editor-format .form-item__suffix,.media-library-widget-modal .form-item--editor-format .form-element--editor-format,form.media-form .form-item--editor-format .form-item__label,form.media-form .form-item--editor-format .form-item__prefix,form.media-form .form-item--editor-format .form-item__suffix,form.media-form .form-item--editor-format .form-element--editor-format {
  min-width: 1px;
}

#layout-builder-modal .form-item--editor-format .form-item__label,#layout-builder-modal .form-item--editor-format .form-item__prefix,#layout-builder-modal .form-item--editor-format .form-item__suffix,#layout-builder-modal .form-item--editor-format .form-element--editor-format,.media-library-widget-modal .form-item--editor-format .form-item__label,.media-library-widget-modal .form-item--editor-format .form-item__prefix,.media-library-widget-modal .form-item--editor-format .form-item__suffix,.media-library-widget-modal .form-item--editor-format .form-element--editor-format,form.media-form .form-item--editor-format .form-item__label,form.media-form .form-item--editor-format .form-item__prefix,form.media-form .form-item--editor-format .form-item__suffix,form.media-form .form-item--editor-format .form-element--editor-format {
  min-width: 1px;
}

#layout-builder-modal .form-item--editor-format .form-item__label,#layout-builder-modal .form-item--editor-format .form-item__prefix,#layout-builder-modal .form-item--editor-format .form-item__suffix,.media-library-widget-modal .form-item--editor-format .form-item__label,.media-library-widget-modal .form-item--editor-format .form-item__prefix,.media-library-widget-modal .form-item--editor-format .form-item__suffix,form.media-form .form-item--editor-format .form-item__label,form.media-form .form-item--editor-format .form-item__prefix,form.media-form .form-item--editor-format .form-item__suffix {
  margin-inline-end: var(--space-xs);
}

#layout-builder-modal .form-item--editor-format .form-item__description,#layout-builder-modal .form-item--editor-format .form-item__error-message,.media-library-widget-modal .form-item--editor-format .form-item__description,.media-library-widget-modal .form-item--editor-format .form-item__error-message,form.media-form .form-item--editor-format .form-item__description,form.media-form .form-item--editor-format .form-item__error-message {
  flex: 0 1 100%;
  min-width: 1px;
}

@media screen and (max-width: 37.5rem) {
  #layout-builder-modal .password-strength,.media-library-widget-modal .password-strength,form.media-form .password-strength {
    width: 100%;
  }

  #layout-builder-modal div.form-item div.password-suggestions,.media-library-widget-modal div.form-item div.password-suggestions,form.media-form div.form-item div.password-suggestions {
    float: none;
  }
}

#layout-builder-modal button,.media-library-widget-modal button,form.media-form button {
  line-height: 1.125rem;
}

#layout-builder-modal input,#layout-builder-modal optgroup,.media-library-widget-modal input,.media-library-widget-modal optgroup,form.media-form input,form.media-form optgroup {
  line-height: 1.5rem;
}

#layout-builder-modal ::-webkit-file-upload-button,.media-library-widget-modal ::-webkit-file-upload-button,form.media-form ::-webkit-file-upload-button {
  -webkit-appearance: push-button;
}

#layout-builder-modal .form-required::after,.media-library-widget-modal .form-required::after,form.media-form .form-required::after {
  background-image: none;
  vertical-align: baseline;
}

