body {
  // Remove warning message location icon in layout builder.
  .layout-builder__message--overrides {
    .messages {
      background-image: none;
    }
  }
}

#drupal-off-canvas,
#layout-builder-modal,
.dialog-off-canvas-main-canvas {

  // Alignment.
  .field-text-alignment {
    .fieldset-wrapper > div > div {
      input {
        + label {
          font-size: 0;
          text-indent: -999em;

          .input-icon {
            margin-bottom: 0;

            &[class*="left"],
            &[class*="start"] {
              background-image: url('../../images/plugins/text-alignment/text-start.svg');
            }

            &[class*="center"] {
              background-image: url('../../images/plugins/text-alignment/text-center.svg');
            }

            &[class*="right"],
            &[class*="end"] {
              background-image: url('../../images/plugins/text-alignment/text-end.svg');
            }

            &[class*="justify"] {
              background-image: url('../../images/plugins/text-alignment/text-justify.svg');
            }
          }
        }
      }
    }
  }

  button,
  input[type="submit"] {
    width: auto !important;

    &.button--primary {
      text-align: center;
    }
  }

  .fieldgroup {

    &.form-composite {
      &.form-wrapper {
        width: 100%;
        border: 0;
      }
    }

    &.blb_container_type {
      .fieldset-wrapper {
        > div > div {
          .input-icon {
            &:after {
              cursor: pointer;
            }
          }
        }
      }
    }

    &.vlb_container_width {
      .fieldset-wrapper {
        > div {
          display: flex;
        }

        > div > div {
          position: relative;
          flex: 100%;
          width: 100%;
          margin: 0;
          padding: 0;

          input {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            white-space: nowrap;
            border: 0;

            + label {
              transition: all .3s ease-in-out;
              height: 70px;
              width: 100%;
              display: flex;
              flex-direction: column;
              background-color: #292C32;
              font-size: 10px;
              font-weight: normal;
              padding: 8px;
              margin: 2px;
              width: calc(100% - 4px);
              align-items: center;
              justify-content: center;
              text-align: center;
              cursor: pointer;
              border-radius: 0;

              &:hover {
                background-color: #4b515c;

                &:after {
                  border-color: #2F3138;
                }
              }
            }

            &:checked + label {
              background-color: #5C606B;
              font-weight: bold;
              color: #41A5FF;

              svg * {
                color: inherit;
              }

              &:after {
                border-color: #2F3138;
              }

              .input-icon:after {
                background-image: url("../../images/layout/container-active.svg");
              }
            }
          }

          .input-icon {
            width: 50px !important;
            height: 26px;
            margin-bottom: 10px;
            background: url("../../images/layout/stripe-sm.svg") center top repeat;

            &:after {
              content: '';
              display: block;
              margin: 0 auto 1rem auto;
              width: 100%;
              height: 100%;
              background-image: url("../../images/layout/container.svg");
              background-position: center center;
              background-repeat: no-repeat;
              background-color: #292C32;
              background-size: 100% 26px;
              cursor: pointer;
            }

            &._none:after {
              background-image: url("../../images/layout/none.svg");
              background-size: 50% 100%;
            }

            &.wide:after {
              width: 83.33333%;
            }

            &.medium:after {
              width: 66.66667%;
            }

            &.narrow:after {
              width: 50%;
            }

            &.tiny:after {
              width: 33.33333%;
            }

          }

        }
      }
    }
  }

  form.layout-builder-configure-block {
    [data-drupal-selector^="edit-appearance-alignment"] {
      display: none !important;
    }
  }

  // To make varbase layout builder search blocks field take a full width.
  fieldset {
    &.form-type-search {
      width: 100% !important;
    }
  }

  #bs_nav-tabs {
    position:relative !important;
  }
}

.dialog-off-canvas-main-canvas {
  .block-help {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #dee2e6;
  }
}

#drupal-off-canvas,
#layout-builder-modal {
  button.button,
  input[type="submit"].button,
  button.button--primary,
  input[type="submit"].button--primary,
  .button--primary[type=submit] {
    margin: 1rem 0;
    color: #fff;
    width: auto !important;

    &:focus,
    &:hover,
    &:active {
      color: #fff;
      font-weight: bold;
    }
  }

  .form-actions {
    button.button--primary,
    input[type="submit"].button--primary,
    .button--primary[type=submit] {
      margin: 0;
      padding: calc(var(--gin-spacing-s) - 2px) calc(var(--gin-spacing-l) - 2px);
      color: #fff;

      &:focus,
      &:hover,
      &:active {
        color: #fff;
        font-weight: bold;
      }
    }
  }

  .media-library-item__attributes {
    position: relative;
    background: transparent !important;
  }

  .media-library-item__remove,
  .media-library-item .button.media-library-item__remove {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }

  .media-library-item {
    .media-library-item__preview {
      padding-bottom: 2.125rem !important;
      border: 0 !important;
    }
  }

}

#drupal-off-canvas,
#layout-builder-modal,
.media-library-widget-modal,
form.media-form {
  .form-text.description {
    border: 0 !important;
    color: var(--gin-color-contextual-text) !important;
  }

  input[type=text] {
    background-color: var(--gin-bg-input) !important;
    color: var(--gin-color-contextual) !important;

    &:focus {
      background-color: var(--gin-bg-input) !important;
      color: var(--gin-color-contextual) !important;
    }
  }

}

.media-library-widget-modal {
  .media-library-item {
    .media-library-item__preview {
      padding-bottom: 2.125rem !important;
    }
  }

  .media-library-item__attributes {
    position: relative !important;
    background: transparent !important;
  }

  .media-library-wrapper {
    .views-display-link-widget_table,
    .views-display-link-widget {
      background: none !important;
    }
  }

}

#drupal-off-canvas-wrapper {
  z-index: 502;
  padding: 0;

  #drupal-off-canvas {
    padding-left: var(--gin-spacing-m) !important;
    padding-right: var(--gin-spacing-m) !important;

    .ui-widget-content.ui-dialog-content {
      padding-left: var(--gin-spacing-m) !important;
      padding-right: var(--gin-spacing-m) !important;
      background: #444444 !important;
    }

    .inline-block-create-button {
      width: 100% !important;

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: var(--off-canvas-padding);
        width: 2rem;
        height: 2rem;
        transform: translateY(-50%);
        margin-top: auto;
      }
    }

  }

  .ui-dialog-titlebar {
    margin: 0;
  }

  .details-wrapper {
    border: 0;

    ul {
      li.nav-item {
        width: 100%;
      }
    } 
  }

  form {
    padding-block: 0;
    padding-bottom: var(--off-canvas-padding);
  }

  #bs_nav-tabs {
    margin: 0;
    padding: 0;
    width: 100%;
    top: 0;
  }

  .blb_breakpoint_cols {
    label {
      display: flex !important;
    }
  }

  .layout-selection {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      border-bottom: 1px solid var(--off-canvas-border-color);

      &:last-child {
        padding-bottom: 0;
        border-bottom: none;
      }
    }

    a {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 0.625rem;
      padding: 0.625rem;
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        opacity: 0.7;
      }
    }
  }

  .layout-icon__region {
    fill: var(--off-canvas-text-color);
    stroke: transparent;
  }

  .inline-block-list {
    li {
      padding: 0 0.5rem 1rem 0.5rem;
      display: flow-root;
    }
  }
}

#layout-builder-modal {
  div[data-drupal-selector$="-format"] {
    div.form-item {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      max-width: 100%;

      label {
        margin-right: 0.5rem !important;
      }
  
      select[data-drupal-selector$="-format"] {
        width: auto !important;
        border-radius: var(--gin-border-s) !important;
        padding: calc(0.15rem - 1px) calc(0.5rem - 1px) !important;
        padding-right: calc(1.5rem - 1px) !important;
        background-size: 1.75rem 0.4375rem !important;
        font-size: var(--gin-font-size-s) !important;
        line-height: 1.5 !important;
        min-height: 1.75rem !important;
        min-width: 1px !important;
        color: var(--gin-color-text) !important;
        background-color: var(--gin-bg-input) !important;
        border: 1px solid var(--gin-border-color-form-element) !important;
        box-sizing: border-box !important;
        transition: var(--gin-transition) !important;
        vertical-align: top !important;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 9'%3e%3cpath fill='none' stroke-width='1.5' d='M1 1l6 6 6-6' stroke='%23545560'/%3e%3c/svg%3e");
        background-repeat: no-repeat !important;
        background-position: 100% 50% !important;
        appearance: none !important;
      }
    }

  }

  #bs_ui {
    ~ button.button,
    ~ input[type="submit"].button {
      margin: 2rem 0 0 !important;
      width: auto !important;
      color: var(--gin-color-button-text);

      &:focus,
      &:hover,
      &:active {
        color: var(--gin-color-button-text);
      }
    }
  } 

  .bs_input-boxes--box-model .fieldset-wrapper > div > div input ~ label,
  .field-text-alignment .fieldset-wrapper > div > div input + label  {
    height: 60px;
  }

  .tabledrag-toggle-weight-wrapper {
   margin-top: 0;
  }

  .tabledrag-cell,
  .tabledrag-cell-content {
    max-width: 1rem;
    min-width: 1rem;
  }

  .draggable {
    a {
      &.tabledrag-handle {
        overflow: visible;
      }
    }
  }

  .tabledrag-handle {
    &::after {
      margin-left: 0;
    }
  }

  .ief-entity-table {
    td {
      border: 0;
    }
  }

  fieldset.fieldset {
    background-color: #383a40;

    .media-library-widget-empty-text,
    .fieldset__description,
    .form-item__description {
      color: #fff !important;
    }
  }

  .fieldset__label {
    color: #fff !important;
  }

  .ck {
    &.ck-editor {
      color: var(--ck-color-text);
    }
  }

  .form-element--type-text {
    color: var(--gin-color-text) !important;
    background-color: var(--gin-bg-input) !important;
  }

  .ck-source-editing-area {
    textarea {
      height: -webkit-fill-available;
      border-radius: 0;
    }
  }

}

body {
  .ui-dialog {
    .ui-dialog-titlebar-close {
      margin-top: 0.08rem !important;
      height: 2rem !important;
      width: 2rem !important;
      background: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzMwMHB4JyB3aWR0aD0nMzAwcHgnICBmaWxsPSIjZmZmZmZmIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgODUuODEyIDg1LjgxMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgODUuODEyIDg1LjgxMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PHBhdGggZD0iTTcwLjY5LDE0LjEyMWMtMTUuNjIxLTE1LjYyLTQwLjk0NS0xNS42Mi01Ni41NjgsMGMtMTUuNjIxLDE1LjYyLTE1LjYyLDQwLjk0NiwwLDU2LjU2NyAgIGMxNS42MjQsMTUuNjIzLDQwLjk0OSwxNS42MjMsNTYuNTY5LDAuMDAyQzg2LjMxMiw1NS4wNzEsODYuMzEzLDI5Ljc0NCw3MC42OSwxNC4xMjF6IE01NC44NzEsNTkuMjlMNDIuNDA2LDQ2LjgyNUwyOS45NDIsNTkuMjkgICBjLTEuMjIzLDEuMjIzLTMuMjAyLDEuMjIyLTQuNDIyLDAuMDAyYy0xLjIyMy0xLjIyNC0xLjIyMS0zLjIsMC00LjQyMmwxMi40NjYtMTIuNDY2TDI1LjUyMiwyOS45NDEgICBjLTEuMjIzLTEuMjIzLTEuMjIzLTMuMjAxLDAtNC40MjFjMS4yMTktMS4yMjIsMy4xOTktMS4yMjMsNC40MiwwbDEyLjQ2NSwxMi40NjRMNTQuODcsMjUuNTJjMS4yMjItMS4yMjIsMy4xOTktMS4yMjIsNC40MiwwLjAwMSAgIGMxLjIyMSwxLjIxOSwxLjIyMiwzLjE5OCwwLjAwMSw0LjQxOUw0Ni44MjYsNDIuNDA0bDEyLjQ2NSwxMi40NjZjMS4yMjIsMS4yMjIsMS4yMjIsMy4yMDEsMCw0LjQyMlM1Ni4wOTMsNjAuNTEyLDU0Ljg3MSw1OS4yOXoiPjwvcGF0aD48L2c+PC9zdmc+) center center no-repeat;
      background-size: 2rem 2rem;
    }

    .ui-resizable-w {
      left: -10px;
      width: 20px;
      cursor: col-resize;

      &::before {
        box-shadow: none !important;
        background: #444444 !important;
        background-color: #444444 !important;
      }

      &:after,
      &:after:hover {
        background: #444444 !important;
        background-color: #444444 !important;
        box-shadow: none !important;
      }
    }

    &:not(.ui-dialog-off-canvas) {
      z-index: 100;
    }

    &.ui-front.media-library-widget-modal {
      z-index: 1270;
    }
  }
}

[dir="rtl"] body {
  .ui-dialog {
    .ui-resizable-w {
      left: auto !important;
      right: -10px !important;
    }
  }
}

.layout-builder__link--visibility {
  position: relative;
  z-index: 2;
  display: inline-block;
  box-sizing: border-box;
  width: 1.625rem;
  height: 1.625rem;
  margin-inline: 1rem 0;
  padding: 0;
  white-space: nowrap;
  text-indent: -624.9375rem;
  border: 1px solid #ccc;
  border-radius: 1.625rem;
  font-size: 1rem;
  background: url(../../images/icons/bebebe/invisible.svg) center center / 16px 16px no-repeat;

  &:hover {
    background: url(../../images/icons/787878/invisible.svg) center center / 16px 16px no-repeat;
  }
}

.invisible-section {
  .layout-builder__link--visibility {
    background: url(../../images/icons/bebebe/visible.svg) center center / 16px 16px no-repeat;

    &:hover {
      background: url(../../images/icons/787878/visible.svg) center center / 16px 16px no-repeat;
    }
  }
}
