// Varbase Layout Builder base enhancements.
// -----------------------------------------------------------------------------

#drupal-off-canvas {
  width: auto !important;

  select[multiple] {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    background: none;
  }

  input[type=text],
  textarea {
    color: #495057;
    background: #fff;
  }

  .description,
  .form-item .description,
  .details-description {
    color: #ddd !important;
  }

  div.checkbox.form-check {
    padding: 0;
  }

  div.checkbox.form-check label {
    display: inline;
  }

  .layout-selection {
    li {
      a {
        div {
          padding: 1em;
        }
      }
    }
  }

  // Re-Style Bootstrap Buttons in the drupal-off-canvas

  button,
  .button {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    margin-top: 5px;
    padding: 6px 12px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  }

  @media (prefers-reduced-motion: reduce) {
    button,
    .button {
      transition: none;
    }
  }

  button,
  .button:hover {
    color: #212529;
    text-decoration: none;

    &.entity-browser-processed {
      color: #212529;
      background-color: #f8f9fa;
      border-color: #f8f9fa;

      &:hover {
        color: #212529;
        background-color: #e2e6ea;
        border-color: #dae0e5;
      }
    }
  }

  button:focus,
  .button:focus,
    button,.focus,
  .button.focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  button.disabled,
  .button.disabled,
  button:disabled,
  .button:disabled {
    opacity: 0.65;
  }

  a.button.disabled,
  fieldset:disabled a.button {
    pointer-events: none;
  }

  .button--primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }

  .button--primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }

  .button--primary:focus, .btn-primary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
            box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }

  .button--primary.disabled,
  .button--primary:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }

  .button--primary:not(:disabled):not(.disabled):active,
  .button--primary:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
  }

  .button--primary:not(:disabled):not(.disabled):active:focus,
  .button--primary:not(:disabled):not(.disabled).active:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
            box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }

}

body {

  .layout-builder__link--add {
    color: #686868 !important;
  }

  .layout-builder-block {
    padding: 0;
    margin: 0;
    background: transparent;
    background-color: transparent;
  }
}

.toolbar-fixed {
  .js-messages__wrapper {
    top: 0 !important;
  }
}

.toolbar-horizontal {
  &.toolbar-tray-open {
    .js-messages__wrapper {
      top: 0 !important;
    }
  }
}

.layout-builder__region {
  > .layout-builder-block:hover:not(.ui-state-drop),
  > .layout-builder-block:focus:not(.ui-state-drop) {
    .layout-builder__actions__block {
      z-index: 1;
    }
  }
}

.layout-builder__actions {
  .layout-builder__link--layout_builder_block_attributes {
    background: url("../../images/icons/ffffff/droplet-fill.svg") center center / 12px 12px no-repeat;
  }
}

.layout-builder__section { 
  .contextual {
    display: none;
  }
}
