// Varbase Layout Builder Background Media styling.
// -----------------------------------------------------------------------------
@import "../variables.scss";
// -----------------------------------------------------------------------------

// Varbase Layout Builder Section.
.vlb-section {
  display: block;
  position: relative;

  // Varbase background media wrapper.
  .background-media-wrapper {
    overflow: hidden;
    position: relative;

    > img,
    > video,
    > iframe {
        &.bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        z-index: 1;
      }
    }

    > :not(.bg) {
      z-index: 2;
      position: relative;
    }
  }
}
