#drupal-off-canvas {
  
  select[multiple] {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    background: none;
  }

  description,
  .form-item .description,
  .details-description {
    color: #ddd !important;
  }

  div.checkbox.form-check {
    padding: 0;
  }

  div.checkbox.form-check label {
    display: inline;
  }

  // Re-Style Bootstrap Buttons in the drupal-off-canvas
  
  button,
  .button {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    margin-top: 5px;
    padding: 6px 12px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  }

  @media (prefers-reduced-motion: reduce) {
    button,
    .button {
      transition: none;
    }
  }

  button,
  .button:hover {
    color: #212529;
    text-decoration: none;
    
    &.entity-browser-processed {
      color: #212529;
      background-color: #f8f9fa;
      border-color: #f8f9fa;
      
      &:hover {
        color: #212529;
        background-color: #e2e6ea;
        border-color: #dae0e5;
      }
    }
  }

  button:focus,
  .button:focus,
    button,.focus,
  .button.focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  button.disabled,
  .button.disabled,
  button:disabled,
  .button:disabled {
    opacity: 0.65;
  }

  a.button.disabled,
  fieldset:disabled a.button {
    pointer-events: none;
  }

  .button--primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }

  .button--primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }

  .button--primary:focus, .btn-primary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
            box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }

  .button--primary.disabled,
  .button--primary:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }

  .button--primary:not(:disabled):not(.disabled):active,
  .button--primary:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
  }

  .button--primary:not(:disabled):not(.disabled):active:focus,
  .button--primary:not(:disabled):not(.disabled).active:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
            box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }
  

  .entities-list {

    &#edit-selected {
      .item-container {
        width: 48vw !important;
      }
    }

    .item-container {
      position: relative;
      text-align: center;
      vertical-align: middle;
      width: 150px !important;
      height: 150px !important;
      background: #000;

      .contextual-region {
        position: initial;
      }

      .field--name-name {
        display: none;
        position: absolute;
        bottom: 3px;
        left: 0;
        right: 0;
        padding: 0.5em;
        margin: 0;
        background: #000;
        opacity: 1;
        font-size: 9px;
        color: #fff;
        word-break: break-all;
        z-index: 5;
      }

      &:hover {
        .field--name-name {
          display: block;
        }

        input,
        button {
          display: block;
        }
      }

      input,
      button {
        position: absolute;
        top: 0;
        display: none;
        font-size: 0;
        border: 0;
        padding: 0;
        border: 0;
        width: 30px;
        height: 30px;
        margin: 5px;
        background: transparent;
        background-color: transparent;
        cursor: pointer;
        opacity: 1;
        z-index: 4;
      }

      input[id*="-edit-button"],
      button[id*="-edit-button"] {
        background-image: url("../../images/pencil-square-o.svg");
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 100%;
        left: 0;
        right: auto;
        -webkit-filter: invert(100%) !important;
        filter: invert(100%) !important;
      }

      input[id*="-remove-button"],
      button[id*="-remove-button"]{
        background-image: url("../../images/times-circle-o.svg");
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 100%;
        right: 0;
        left: auto;
        -webkit-filter: invert(75%) !important;
        filter: invert(75%) !important;
      }

      img.image-style-field-preview {
        overflow: auto;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }
  }
  

}

body {
  .block-help {
    width: 100%;  
  }

  .layout-builder__link--add {
    color: #686868 !important;
  }
}

.layout-builder__link {
  &.layout-builder__link--configure {
    z-index: 20;
    position: absolute;
  }
} 
