body {

  .layout-builder__add-section {
    text-align: center;
    outline: 1px dashed #555555;
    padding: 1em;
    font-weight: bold;
    font-size: 12px;

    &:hover,
    &:active,
    &:focus {
      outline: 1px solid #000000;
    }

    .layout-builder__link--add {
      text-transform: uppercase;
      display: inline;
      color: var(--bs-link-color);

      &:hover,
      &:active,
      &:focus {
        text-decoration: underline;
        color: var(--bs-link-hover-color);
        background-color: transparent;
        background:  url(../../images/icons/787878/plus.svg) transparent center left/1em no-repeat;
      }
    }
  }

  .layout-builder__add-block {
    margin: 10px auto;
    padding: 0.5em 0;
    width: 10rem;
    background-color: #eff6fcc9;
    border-radius: 8px;
    text-align: center;
    color: var(--bs-link-color);

    .layout-builder__link--add {
      font-size: 12px;
      text-transform: uppercase;
      color: var(--bs-link-color);
      margin-right: 15px;
      margin-left: 15px;

      &:hover,
      &:active,
      &:focus {
        background-color: transparent;
        border-radius: 8px;
        color: var(--bs-link-hover-color);
        background: url(../../images/icons/787878/plus.svg) transparent center left/1em no-repeat;
      }
    }
  }

  .layout-builder__region {

    > .layout-builder-block {
      margin: 0;
      padding: 0;
    }
  }

  .layout-builder__actions {
    .layout-builder__link--layout_builder_block_attributes {
      background: url("../../images/icons/ffffff/droplet-fill.svg") center center/12px 12px no-repeat;
    }
  }

  .layout-builder__section {
    padding: 0;
    outline: 2px dashed #555555;

    &:hover,
    &:active
    &:focus {
      outline: 2px solid #000000;
    }

  }

  .layout-builder__actions__section {
    top: -25px;
    left: -2px;
  }

  .layout-builder__link--configure,
  .layout-builder__link--add-section-to-library,
  .layout-builder__link--add-template-to-library,
  .layout-builder__link--import-from-library {
    text-transform: uppercase;
    color: var(--bs-link-color);
    font-weight: bold;
    font-size: 12px;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
      color: var(--bs-link-hover-color);
    }
  }

  // Remove warning message location icon in layout builder.
  .layout-builder__message--overrides {
    .messages {
      background-image: none;
    }
  }
}
[dir=rtl] body {
  .layout-builder__link--add {
    padding-right: 30px;
    padding-left: 0.5em;
  }

  .layout-builder__actions__section {
    left: auto;
    right: -2px;
  }
  .layout-builder__actions__block {
    left: auto;
    right: 0;
  }

  .layout-builder__add-section {
    .layout-builder__link--add {
      &:hover,
      &:active,
      &:focus {
        background: url(../../images/icons/787878/plus.svg) transparent center right/1em no-repeat;
      }
    }
  }

  .layout-builder__add-block {
    .layout-builder__link--add {
      &:hover,
      &:active,
      &:focus {
        background: url(../../images/icons/787878/plus.svg) transparent center right/1em no-repeat;
      }
    }
  }

  .layout-builder__link--import-from-library {
    padding-right: 30px;
    padding-left: 0.5em;
    background: url(../../images/icons/787878/import.svg) transparent center right/1em no-repeat;
  }

  #drupal-off-canvas {
    .bs-group-title {
      margin-left: auto;
      margin-right: 15px;

      img,
      svg {
        margin-left: 1rem;
      }
    }

    .bs_input-circles,
    .bs_input-boxes {
      .fieldset-wrapper > div {
        flex-direction: row-reverse;
      }

      legend {
        text-align: right;
      }
    }

    // Alignment RTL.
    .field-text-alignment {
      .fieldset-wrapper > div > div {
        input {
          + label {
            .input-icon {

              &[class*="left"],
              &[class*="start"] {
                background-image: url('../../images/plugins/text-alignment/text-end.svg');
              }

              &[class*="right"],
              &[class*="end"] {
                background-image: url('../../images/plugins/text-alignment/text-start.svg');
              }

            }
          }
        }
      }
    }

    .layout-selection li a {
      padding-left: auto;
      padding-right: 25px;
      flex-direction: row-reverse;
    }

    // Breakpoints cols RTL.
    .blb_breakpoint_cols {
      .fieldset-wrapper {
        .form-type-radio {
          .option {
            direction: rtl;
          }
        }
      }
    }
  }

}

#drupal-off-canvas {

  // Alignment.
  .field-text-alignment {
    .fieldset-wrapper > div > div {
      input {
        + label {
          font-size: 0;
          text-indent: -999em;

          .input-icon {
            margin-bottom: 0;

            &[class*="left"],
            &[class*="start"] {
              background-image: url('../../images/plugins/text-alignment/text-start.svg');
            }

            &[class*="center"] {
              background-image: url('../../images/plugins/text-alignment/text-center.svg');
            }

            &[class*="right"],
            &[class*="end"] {
              background-image: url('../../images/plugins/text-alignment/text-end.svg');
            }

            &[class*="justify"] {
              background-image: url('../../images/plugins/text-alignment/text-justify.svg');
            }
          }
        }
      }
    }
  }

  button,
  input[type="submit"] {
    &.button--primary {
      text-align: center;
    }
  }

  .fieldgroup {

    &.form-composite {
      &.form-wrapper {
        width: 100%;
      }
    }

    &.blb_container_type {
      .fieldset-wrapper {
        > div > div {
          .input-icon {
            &:after {
              cursor: pointer;
            }
          }
        }
      }
    }

    &.vlb_container_width {
      .fieldset-wrapper {
        > div {
          display: flex;
        }

        > div > div {
          position: relative;
          flex: 100%;
          width: 100%;
          margin: 0;
          padding: 0;

          input {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            white-space: nowrap;
            border: 0;

            + label {
              transition: all .3s ease-in-out;
              height: 70px;
              width: 100%;
              display: flex;
              flex-direction: column;
              background-color: #292C32;
              font-size: 10px;
              font-weight: normal;
              padding: 8px;
              margin: 2px;
              width: calc(100% - 4px);
              align-items: center;
              justify-content: center;
              text-align: center;
              cursor: pointer;
              border-radius: 0;

              &:hover {
                background-color: #4b515c;

                &:after {
                  border-color: #2F3138;
                }
              }
            }

            &:checked + label {
              background-color: #5C606B;
              font-weight: bold;
              color: #41A5FF;

              svg * {
                color: inherit;
              }

              &:after {
                border-color: #2F3138;
              }

              .input-icon:after {
                background-image: url("../../images/layout/container-active.svg");
              }
            }
          }

          .input-icon {
            width: 50px !important;
            height: 26px;
            margin-bottom: 10px;
            background: url("../../images/layout/stripe-sm.svg") center top repeat;

            &:after {
              content: '';
              display: block;
              margin: 0 auto 1rem auto;
              width: 100%;
              height: 100%;
              background-image: url("../../images/layout/container.svg");
              background-position: center center;
              background-repeat: no-repeat;
              background-color: #292C32;
              background-size: 100% 26px;
              cursor: pointer;
            }

            &._none:after {
              background-image: url("../../images/layout/none.svg");
              background-size: 50% 100%;
            }

            &.wide:after {
              width: 83.33333%;
            }

            &.medium:after {
              width: 66.66667%;
            }

            &.narrow:after {
              width: 50%;
            }

            &.tiny:after {
              width: 33.33333%;
            }

          }

        }
      }
    }
  }

  form.layout-builder-configure-block {
    [data-drupal-selector^="edit-appearance-alignment"] {
      display: none !important;
    }
  }

  ul li,
  ol li {
    border-bottom: 0;
  }

  .inline-block-create-button,
  .inline-block-list__item {
    width: auto;
  }

  .inline-block-list {
    
    li {
      padding: 0 0.5rem 2.5rem 0.5rem;
      width: 45%;

      &:last-child { 
        padding-bottom: 1rem;
      }
    }

    .inline-block-list__item {
      width: 100%;
    }
  }


  .form-select,
  .form-text,
  input[type="text"],
  .form-tel,
  .form-email,
  .form-url,
  .form-search,
  .form-number,
  .form-color,
  .form-file,
  .form-textarea,
  input[type="textarea"],
  .form-date,
  .form-time {
    color: #222330 !important;
    background-color: #fff !important;
  }

  // To make varbase layout builder search blocks field take a full width.
  fieldset {
    &.form-type-search {
      width: 100% !important;
    }
  }

  .block-categories {
    .links li {
      padding: 0;
      margin: 0.3125rem 0;
    }
  }

  // Layout Selection.
  .layout-selection li {
    padding-bottom: 0;

    a {
      display: flex;
      margin: 0 -20px;
      padding: 15px 0;
      padding-left: 25px; /* LTR */

      &:hover {
        background-color: #333;
      }

      svg {
        margin-right: 1em; /* LTR */
        background-color: inherit;
      }

      div {
        padding-top: 0.55em;
        background-color: inherit;
      }
    }
  }
}

[dir="rtl"] #drupal-off-canvas {
  .layout-selection {
    li {
      a {
        padding-right: 25px;
        padding-left: 0;

        svg {
          margin-right: 0;
          margin-left: 1em;
        }
      }
    }
  }
}

.layout-builder__actions {
  font-size: 12px;
}
