// Varbase Layout Builder Background Media styling.
// -----------------------------------------------------------------------------

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// Varbase Layout Builder Section.
.vlb-section {
  display: block;
  position: relative;

  // Varbase background media wrapper.
  .background-media-wrapper {
    overflow: hidden;
    position: relative;

    > img,
    > picture,
    > video {
      &.bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        z-index: 1;
      }
    }

    > iframe {
      &.bg {
        width: 100vw;
        min-height: 34vw;
        height: 100%;
        object-fit: cover;
        position: absolute;
        z-index: 1;
      }
    }

    > :not(.bg) {
      z-index: 2;
      position: relative;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, "sm")) {
.vlb-section {
  .background-media-wrapper {
    > iframe {
      &.bg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
