body {

  .layout-builder {
    margin: -3px;
    padding: 3px;

    .layout-builder__add-section {
      text-align: center;
      outline: 1px dashed #555555;
      padding: 1em;
      font-weight: bold;
    
      &:hover,
      &:active,
      &:focus {
        outline: 1px solid #000000;
      }

      .layout-builder__link--add {
        display: inline;
        color: #007bff;

        &:hover,
        &:active,
        &:focus {
          text-decoration: underline;
          color: #0056b3;
          background-color: transparent;
          background:  url(../../images/icons/787878/plus.svg) transparent center left/1em no-repeat;
          background-position: 10px center;
        }
      }
    }
    
    .layout-builder-block {
      margin: 0;
      padding: 0;
      background: transparent;
      background-color: transparent;
    }
    
    .layout-builder__link--import-from-library {
      margin: 0;
      padding-top: 0.5em;
      padding-right: 0.5em;
      padding-bottom: 0.5em;
      padding-left: 30px;
      transition: all 100ms linear;
      text-transform: uppercase;
      background-position: 10px center;
      font-size: 12px;
      color: #007bff;

      &:hover,
      &:active,
      &:focus {
        text-decoration: underline;
        color: #0056b3;
        background-color: transparent;
      }
    }

    .layout-builder__add-block {
      margin: 10px auto;
      width: 9rem;
      max-width: 60%;
      background-color: #eff6fcc9;
      border-radius: 8px;
      text-align: center;
      color: #007bff;

      .layout-builder__link--add {
        color: #007bff;
        margin-right: 15px;
        margin-left: 15px;

        &:hover,
        &:active,
        &:focus {
          background-color: transparent;
          border-radius: 8px;
          color: #0056b3;
          background: url(../../images/icons/787878/plus.svg) transparent center left/1em no-repeat;
          background-position: 10px center;
        }
      }
    }

    .layout-builder__link--add-section-to-library {
      color: #007bff;
      background: url(../../images/icons/ffffff/save.svg) transparent center left/1.3em no-repeat;

      &:hover,
      &:active,
      &:focus {
        text-decoration: underline;
        color: #0056b3;
        background-color: transparent;
      }
    }

    .layout-builder__link--add-template-to-library {
      text-transform: uppercase;
      color: #007bff;
      background: #eeeeee;
      background-color: #eeeeee;
      font-weight: bold;

      &:hover,
      &:active,
      &:focus {
        text-decoration: underline;
        color: #0056b3;
      }
    }

    .layout-builder__region {
      > {
        .layout-builder-block:hover:not(.ui-state-drop),
        .layout-builder-block:focus:not(.ui-state-drop) {
          .layout-builder__actions__block {
            z-index: 1;
          }
        }
      }

      > .layout-builder-block {
        margin: 0;
        padding: 0;
      }
    } 

    .layout-builder__actions {
      .layout-builder__link--layout_builder_block_attributes {
        background: url("../../images/icons/ffffff/droplet-fill.svg") center center/12px 12px no-repeat;
      }
    } 

    .layout-builder__section {
      padding: 0;
      outline: 2px dashed #555555;

      &:hover,
      &:active
      &:focus {
        outline: 2px solid #000000;

        .layout-builder__actions__section {
          z-index: 1;
        }
      }

      .contextual {
        display: none;
      }
    }

    .layout-builder__actions__section {
      top: -25px;
      left: -2px;
    }

    .layout-builder__actions__block {
      top: 0;
      left: 0;
    }
  }
}
[dir=rtl] body {
  .layout-builder {
    .layout-builder__link--add,
    .layout-builder__link--import-from-library {
      padding-right: 30px;
      padding-left: 0.5em;
    }

    .layout-builder__actions__section {
      left: auto;
      right: -2px;
    }
    .layout-builder__actions__block {
      left: auto;
      right: 0;
    }
  }
}

.toolbar-fixed {
  .js-messages__wrapper {
    top: 0 !important;
  }
}

.toolbar-horizontal {
  &.toolbar-tray-open {
    .js-messages__wrapper {
      top: 0 !important;
    }
  } 
}

// Section Title Alignment.
// Body Alignment.
#drupal-off-canvas {
  .field-text-alignment,
  .field-section-title-alignment {
    .fieldset-wrapper > div > div {
      input {
        + label {
          font-size: 0;
          text-indent: -999em;
    
          .input-icon {
            margin-bottom: 0;
    
            &[class*="left"],
            &[class*="start"] {
              background-image: url('../../images/plugins/text-alignment/text-start.svg');
            }
    
            &[class*="center"] {
              background-image: url('../../images/plugins/text-alignment/text-center.svg');
            }
    
            &[class*="right"],
            &[class*="end"] {
              background-image: url('../../images/plugins/text-alignment/text-end.svg');
            }
    
            &[class*="justify"] {
              background-image: url('../../images/plugins/text-alignment/text-justify.svg');
            }
          }
        }
      }
    }
  }
}
