// Varbase Layout Builder colors theme.
// -----------------------------------------------------------------------------

// Background colors;
// -----------------------------------------------------------------------------
// vlb_color_01: Blue
// vlb_color_02: Madison
// vlb_color_03: Dark Gray
// vlb_color_04: Light Gray
// vlb_color_05: Red

// List of palette background colors by name.
$vlb-palette-color-boston-blue:      #338ec7;
$vlb-palette-color-pickled-bluewood: #2c3e50;
$vlb-palette-color-silver-chalice:   #a4a4a4;
$vlb-palette-color-alto:             #d3d3d3;
$vlb-palette-color-persian-red:      #cc3c2d;
$vlb-palette-color-anzac:            #E4B649;

// Associate background colors nemas to a function name.
$vlb_color_01: $vlb-palette-color-boston-blue;       // Blue
$vlb_color_02: $vlb-palette-color-pickled-bluewood;  // Madison
$vlb_color_03: $vlb-palette-color-silver-chalice;    // Dark Gray
$vlb_color_04: $vlb-palette-color-alto;              // Light Gray
$vlb_color_05: $vlb-palette-color-persian-red;       // Red

// Map of background colors by function.
$vlb-colors: () !default;
$vlb-colors: map-merge(
  (
    "vlb_color_01": $vlb_color_01,
    "vlb_color_02": $vlb_color_02,
    "vlb_color_03": $vlb_color_03,
    "vlb_color_04": $vlb_color_04,
    "vlb_color_05": $vlb_color_05
  ),
  $vlb-colors
);

// Foreground colors:
// -----------------------------------------------------------------------------
// vlb_foreground_color_01: White for background vlb_color_01 color.
// vlb_foreground_color_02: White for background vlb_color_02 color.
// vlb_foreground_color_03: White for background vlb_color_03 color.
// vlb_foreground_color_04: Black for background vlb_color_04 color.
// vlb_foreground_color_05: White for background vlb_color_05 color.

// List of palette foreground colors by name.
$vlb-palette-color-black:            #000000;
$vlb-palette-color-white:            #ffffff;

// Associate foreground colors nemas to a function name.
$vlb_foreground_color_01: $vlb-palette-color-white; // White
$vlb_foreground_color_02: $vlb-palette-color-white; // White
$vlb_foreground_color_03: $vlb-palette-color-white; // White
$vlb_foreground_color_04: $vlb-palette-color-black; // Black
$vlb_foreground_color_05: $vlb-palette-color-white; // White

// Map of foreground colors by function.
$vlb-foreground-colors: () !default;
$vlb-foreground-colors: map-merge(
  (
    "vlb_color_01": $vlb_foreground_color_01,
    "vlb_color_02": $vlb_foreground_color_02,
    "vlb_color_03": $vlb_foreground_color_03,
    "vlb_color_04": $vlb_foreground_color_04,
    "vlb_color_05": $vlb_foreground_color_05
  ),
  $vlb-foreground-colors
);

// Varbase Layout Builder color default template for the vlb_color_{NUM}
// we could copy this mixin and change it for other type of styling options.
// This could be changed in your sub-theme, in the way you custom sites.
@mixin vlb_color($vlb_color_name, $vlb_background_color, $vlb_foreground_color) {
  .#{$vlb_color_name} {
    background-color: $vlb_background_color;
    color: $vlb_foreground_color;

    a {
      color: $vlb_foreground_color;

      &:hover,
      &:focus,
      &:active,
      &.is-active,
      &.active {
        color: $vlb_foreground_color;
      }
    }
  }
}

// Varbase Layout Builder colors default template.
// This could be changed in your sub-theme, in the way you custom sites.
@mixin vlb_colors {

  // Only listing 5 colors, this could work in a loop.
  // or by writing the list of css color classes manually.
  @each $vlb-color-name, $vlb-color-value in $vlb-colors {
    @include vlb_color(#{$vlb-color-name}, $vlb-color-value, map-get($vlb-foreground-colors, #{$vlb-color-name}));
  }

}

// Call the vlb_colors mixin for the front-end use.
@include vlb_colors;

// Add support for drupal off canvas editor and the layout builder settings try.
#drupal-off-canvas {
  @include vlb_colors;
}
