/**
 * @file
 * Wrapped content from core/themes/claro/css/base/elements.pcss.css
 * Maintainers: the import statement presumes a relative location of core css.
 * The location may need to be adjusted depending on your setup.
 */
#layout-builder-modal html,
.media-library-widget-modal html,
form.media-form html {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
}
#layout-builder-modal body,
.media-library-widget-modal body,
form.media-form body {
  color: #232429;
  background: #fff;
}
#layout-builder-modal a,
#layout-builder-modal .link,
.media-library-widget-modal a,
.media-library-widget-modal .link,
form.media-form a,
form.media-form .link {
  color: #003cc5;
}
#layout-builder-modal a:hover,
#layout-builder-modal a:focus,
#layout-builder-modal .link:hover,
#layout-builder-modal .link:focus,
.media-library-widget-modal a:hover,
.media-library-widget-modal a:focus,
.media-library-widget-modal .link:hover,
.media-library-widget-modal .link:focus,
form.media-form a:hover,
form.media-form a:focus,
form.media-form .link:hover,
form.media-form .link:focus {
  text-decoration: none;
  outline: 0;
}
#layout-builder-modal a:hover,
#layout-builder-modal .link:hover,
.media-library-widget-modal a:hover,
.media-library-widget-modal .link:hover,
form.media-form a:hover,
form.media-form .link:hover {
  color: #0036b1;
}
#layout-builder-modal a:active,
#layout-builder-modal .link:active,
.media-library-widget-modal a:active,
.media-library-widget-modal .link:active,
form.media-form a:active,
form.media-form .link:active {
  color: #00339a;
}
#layout-builder-modal hr,
.media-library-widget-modal hr,
form.media-form hr {
  height: 1px;
  margin: 1rem 0;
  padding: 0;
  border: none;
  background: rgba(142, 146, 156, 0.5);
}
#layout-builder-modal summary,
.media-library-widget-modal summary,
form.media-form summary {
  font-weight: bold;
}
#layout-builder-modal h1,
#layout-builder-modal .heading-a,
.media-library-widget-modal h1,
.media-library-widget-modal .heading-a,
form.media-form h1,
form.media-form .heading-a {
  margin: 1rem 0 0.75rem;
  font-size: 2.027rem;
  font-weight: bold;
  line-height: 1.3;
}
#layout-builder-modal h2,
#layout-builder-modal .heading-b,
.media-library-widget-modal h2,
.media-library-widget-modal .heading-b,
form.media-form h2,
form.media-form .heading-b {
  margin: 1rem 0 0.75rem;
  font-size: 1.802rem;
  font-weight: bold;
  line-height: 1.3;
}
#layout-builder-modal h3,
#layout-builder-modal .heading-c,
.media-library-widget-modal h3,
.media-library-widget-modal .heading-c,
form.media-form h3,
form.media-form .heading-c {
  margin: 1rem 0 0.75rem;
  font-size: 1.602rem;
  font-weight: bold;
  line-height: 1.3;
}
#layout-builder-modal h4,
#layout-builder-modal .heading-d,
.media-library-widget-modal h4,
.media-library-widget-modal .heading-d,
form.media-form h4,
form.media-form .heading-d {
  margin: 1rem 0 0.75rem;
  font-size: 1.424rem;
  font-weight: bold;
  line-height: 1.3;
}
#layout-builder-modal h5,
#layout-builder-modal .heading-e,
.media-library-widget-modal h5,
.media-library-widget-modal .heading-e,
form.media-form h5,
form.media-form .heading-e {
  margin: 1rem 0 0.75rem;
  font-size: 1.266rem;
  font-weight: bold;
  line-height: 1.3;
}
#layout-builder-modal h6,
#layout-builder-modal .heading-f,
.media-library-widget-modal h6,
.media-library-widget-modal .heading-f,
form.media-form h6,
form.media-form .heading-f {
  margin: 1rem 0 0.75rem;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.3;
}
#layout-builder-modal p,
.media-library-widget-modal p,
form.media-form p {
  margin: 1em 0;
}
#layout-builder-modal dl,
.media-library-widget-modal dl,
form.media-form dl {
  margin: 0 0 1.25rem;
}
#layout-builder-modal dl dd,
#layout-builder-modal dl dl,
.media-library-widget-modal dl dd,
.media-library-widget-modal dl dl,
form.media-form dl dd,
form.media-form dl dl {
  margin-bottom: 0.625rem;
  margin-left: 1.25rem;
  /* LTR */
}
#layout-builder-modal [dir=rtl] dl dd,
#layout-builder-modal [dir=rtl] dl dl,
.media-library-widget-modal [dir=rtl] dl dd,
.media-library-widget-modal [dir=rtl] dl dl,
form.media-form [dir=rtl] dl dd,
form.media-form [dir=rtl] dl dl {
  margin-right: 1.25rem;
}
#layout-builder-modal blockquote,
.media-library-widget-modal blockquote,
form.media-form blockquote {
  margin: 1em 2.5rem;
}
#layout-builder-modal address,
.media-library-widget-modal address,
form.media-form address {
  font-style: italic;
}
#layout-builder-modal u,
#layout-builder-modal ins,
.media-library-widget-modal u,
.media-library-widget-modal ins,
form.media-form u,
form.media-form ins {
  text-decoration: underline;
}
#layout-builder-modal s,
#layout-builder-modal strike,
#layout-builder-modal del,
.media-library-widget-modal s,
.media-library-widget-modal strike,
.media-library-widget-modal del,
form.media-form s,
form.media-form strike,
form.media-form del {
  text-decoration: line-through;
}
#layout-builder-modal big,
.media-library-widget-modal big,
form.media-form big {
  font-size: larger;
}
#layout-builder-modal small,
.media-library-widget-modal small,
form.media-form small {
  font-size: smaller;
}
#layout-builder-modal sub,
.media-library-widget-modal sub,
form.media-form sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: normal;
}
#layout-builder-modal sup,
.media-library-widget-modal sup,
form.media-form sup {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}
#layout-builder-modal abbr,
#layout-builder-modal acronym,
.media-library-widget-modal abbr,
.media-library-widget-modal acronym,
form.media-form abbr,
form.media-form acronym {
  border-bottom: dotted 1px;
}
#layout-builder-modal ul,
.media-library-widget-modal ul,
form.media-form ul {
  margin: 0.25em 0 0.25em 1.5em;
  /* LTR */
  padding-left: 0;
  list-style-type: disc;
  list-style-image: none;
}
#layout-builder-modal [dir=rtl] ul,
.media-library-widget-modal [dir=rtl] ul,
form.media-form [dir=rtl] ul {
  margin-right: 1.5em;
  margin-left: 0;
  padding-right: 0;
}
#layout-builder-modal [dir=rtl] .messages__list,
.media-library-widget-modal [dir=rtl] .messages__list,
form.media-form [dir=rtl] .messages__list {
  margin-right: 0;
}
#layout-builder-modal ol,
.media-library-widget-modal ol,
form.media-form ol {
  margin: 0.25em 0 0.25em 2em;
  /* LTR */
  padding: 0;
  list-style-type: decimal;
}
#layout-builder-modal [dir=rtl] ol,
.media-library-widget-modal [dir=rtl] ol,
form.media-form [dir=rtl] ol {
  margin-right: 2em;
  margin-left: 0;
}
#layout-builder-modal abbr[title],
.media-library-widget-modal abbr[title],
form.media-form abbr[title] {
  text-decoration: none;
}
#layout-builder-modal code,
.media-library-widget-modal code,
form.media-form code {
  margin: 0.5em 0;
}
#layout-builder-modal pre,
.media-library-widget-modal pre,
form.media-form pre {
  margin: 0.5em 0;
  white-space: pre-wrap;
}
#layout-builder-modal details,
.media-library-widget-modal details,
form.media-form details {
  line-height: 1.295rem;
}
#layout-builder-modal details summary,
.media-library-widget-modal details summary,
form.media-form details summary {
  padding: 0.95em 1.45em;
}
#layout-builder-modal details summary:focus,
.media-library-widget-modal details summary:focus,
form.media-form details summary:focus {
  outline: none;
}
#layout-builder-modal img,
.media-library-widget-modal img,
form.media-form img {
  max-width: 100%;
  height: auto;
}
#layout-builder-modal .page-wrapper *:focus,
#layout-builder-modal .ui-dialog *:focus,
.media-library-widget-modal .page-wrapper *:focus,
.media-library-widget-modal .ui-dialog *:focus,
form.media-form .page-wrapper *:focus,
form.media-form .ui-dialog *:focus {
  outline: 2px dotted transparent;
  box-shadow: 0 0 0 2px #fff, 0 0 0 5px #26a769;
}

html #layout-builder-modal,
html .media-library-widget-modal,
html form.media-form {
  font-size: 90%;
}
