/**
 * @file
 * Wrapped content from core/themes/claro/css/base/off-canvas.theme.pcss.css
 * Maintainers: the import statement presumes a relative location of core css.
 * The location may need to be adjusted depending on your setup.
 */
#layout-builder-modal .ui-dialog.ui-dialog-off-canvas,
.media-library-widget-modal .ui-dialog.ui-dialog-off-canvas,
form.media-form .ui-dialog.ui-dialog-off-canvas {
  /* Layer the dialog just under the toolbar. */
  z-index: 501;
  padding: 0;
  color: #ddd;
  border-radius: 0;
  background: #444;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3333);
}
#layout-builder-modal .ui-widget.ui-dialog.ui-dialog-off-canvas,
.media-library-widget-modal .ui-widget.ui-dialog.ui-dialog-off-canvas,
form.media-form .ui-widget.ui-dialog.ui-dialog-off-canvas {
  border: 1px solid transparent;
}
#layout-builder-modal .ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar,
.media-library-widget-modal .ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar,
form.media-form .ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar {
  padding: 0.75rem 3rem 0.75rem 1rem;
  /* LTR */
  border: 0;
  border-bottom: 1px solid #000;
  border-radius: 0;
  background: #2d2d2d;
  line-height: 1.5;
}
#layout-builder-modal [dir=rtl] .ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar,
.media-library-widget-modal [dir=rtl] .ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar,
form.media-form [dir=rtl] .ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar {
  padding-right: 1rem;
  padding-left: 3rem;
}
#layout-builder-modal .ui-dialog.ui-dialog-off-canvas .ui-dialog-title,
.media-library-widget-modal .ui-dialog.ui-dialog-off-canvas .ui-dialog-title,
form.media-form .ui-dialog.ui-dialog-off-canvas .ui-dialog-title {
  /* Push the text away from the icon. */
  padding-left: 1.75rem;
  /* LTR */
  /* Ensure that long titles are not truncated. */
  white-space: normal;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cg%3e%3cpath fill='%23ffffff' d='M14.545 3.042l-1.586-1.585c-.389-.389-1.025-.389-1.414 0l-1.293 1.293 3 3 1.293-1.293c.389-.389.389-1.026 0-1.415z'/%3e%3crect fill='%23ffffff' x='5.129' y='3.8' transform='matrix(-.707 -.707 .707 -.707 6.189 20.064)' width='4.243' height='9.899'/%3e%3cpath fill='%23ffffff' d='M.908 14.775c-.087.262.055.397.316.312l2.001-.667-1.65-1.646-.667 2.001z'/%3e%3c/g%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: 0 50%;
  /* LTR */
  background-size: 1.25rem 1.25rem;
  font-size: 1rem;
}
#layout-builder-modal [dir=rtl] .ui-dialog.ui-dialog-off-canvas .ui-dialog-title,
.media-library-widget-modal [dir=rtl] .ui-dialog.ui-dialog-off-canvas .ui-dialog-title,
form.media-form [dir=rtl] .ui-dialog.ui-dialog-off-canvas .ui-dialog-title {
  padding-right: 1.75rem;
  padding-left: 0;
  background-position: 100% 50%;
}
#layout-builder-modal .ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar-close,
.media-library-widget-modal .ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar-close,
form.media-form .ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar-close {
  margin-right: 1rem;
  margin-left: 1rem;
}
#layout-builder-modal #drupal-off-canvas .ui-state-default,
#layout-builder-modal #drupal-off-canvas .ui-widget-content .ui-state-default,
#layout-builder-modal #drupal-off-canvas .ui-widget-header .ui-state-default,
.media-library-widget-modal #drupal-off-canvas .ui-state-default,
.media-library-widget-modal #drupal-off-canvas .ui-widget-content .ui-state-default,
.media-library-widget-modal #drupal-off-canvas .ui-widget-header .ui-state-default,
form.media-form #drupal-off-canvas .ui-state-default,
form.media-form #drupal-off-canvas .ui-widget-content .ui-state-default,
form.media-form #drupal-off-canvas .ui-widget-header .ui-state-default {
  color: #333;
  border: 0;
  font-size: 0.889rem;
  font-weight: normal;
}
#layout-builder-modal #drupal-off-canvas .ui-widget-content a,
.media-library-widget-modal #drupal-off-canvas .ui-widget-content a,
form.media-form #drupal-off-canvas .ui-widget-content a {
  color: #85bef4;
}
#layout-builder-modal #drupal-off-canvas .form-actions,
.media-library-widget-modal #drupal-off-canvas .form-actions,
form.media-form #drupal-off-canvas .form-actions {
  display: block;
}
