#layout-builder-modal .vertical-tabs,.media-library-widget-modal .vertical-tabs,form.media-form .vertical-tabs {
  margin-top: .75rem;
  margin-bottom: .75rem;
  border-top: 1px solid transparent;
}

@media screen and (-ms-high-contrast: active) {
  #layout-builder-modal .vertical-tabs,.media-library-widget-modal .vertical-tabs,form.media-form .vertical-tabs {
    border-color: transparent;
  }
}

#layout-builder-modal .vertical-tabs__menu,.media-library-widget-modal .vertical-tabs__menu,form.media-form .vertical-tabs__menu {
  position: relative;
  display: block;
  float: left;
  width: 20em;
  margin: 0;
  padding-top: .5rem;
  list-style: none;
  color: #232429;
}

#layout-builder-modal [dir=rtl] .vertical-tabs__menu,.media-library-widget-modal [dir=rtl] .vertical-tabs__menu,form.media-form [dir=rtl] .vertical-tabs__menu {
  float: right;
  margin: 0;
}

#layout-builder-modal .vertical-tabs__menu-item,.media-library-widget-modal .vertical-tabs__menu-item,form.media-form .vertical-tabs__menu-item {
  overflow: hidden;
  margin: -1rem -1px -0.5rem -0.5rem;
  padding: .5rem 0 .5rem .5rem;
}

#layout-builder-modal [dir=rtl] .vertical-tabs__menu-item,.media-library-widget-modal [dir=rtl] .vertical-tabs__menu-item,form.media-form [dir=rtl] .vertical-tabs__menu-item {
  margin-right: -0.5rem;
  margin-left: -1px;
  padding-right: .5rem;
  padding-left: 0;
}

#layout-builder-modal .vertical-tabs__menu-item::before,#layout-builder-modal .vertical-tabs__menu-item::after,.media-library-widget-modal .vertical-tabs__menu-item::before,.media-library-widget-modal .vertical-tabs__menu-item::after,form.media-form .vertical-tabs__menu-item::before,form.media-form .vertical-tabs__menu-item::after {
  position: absolute;
  z-index: 1;
  display: block;
  width: 100%;
  margin-top: -1px;
  border-top: 1px solid #d3d4d9;
}

#layout-builder-modal .vertical-tabs__menu-item::after,.media-library-widget-modal .vertical-tabs__menu-item::after,form.media-form .vertical-tabs__menu-item::after {
  z-index: 2;
  border-color: #fff;
}

#layout-builder-modal .vertical-tabs__menu-item:not(.vertical-tab--hidden)~.vertical-tabs__menu-item::before,.media-library-widget-modal .vertical-tabs__menu-item:not(.vertical-tab--hidden)~.vertical-tabs__menu-item::before,form.media-form .vertical-tabs__menu-item:not(.vertical-tab--hidden)~.vertical-tabs__menu-item::before {
  content: "";
}

#layout-builder-modal .vertical-tabs__menu-item:focus,.media-library-widget-modal .vertical-tabs__menu-item:focus,form.media-form .vertical-tabs__menu-item:focus {
  outline: 0;
  box-shadow: none;
}

#layout-builder-modal .vertical-tabs__menu-item.is-selected::before,#layout-builder-modal .vertical-tabs__menu-item:not(.vertical-tab--hidden)~.vertical-tabs__menu-item.is-selected::before,.media-library-widget-modal .vertical-tabs__menu-item.is-selected::before,.media-library-widget-modal .vertical-tabs__menu-item:not(.vertical-tab--hidden)~.vertical-tabs__menu-item.is-selected::before,form.media-form .vertical-tabs__menu-item.is-selected::before,form.media-form .vertical-tabs__menu-item:not(.vertical-tab--hidden)~.vertical-tabs__menu-item.is-selected::before {
  content: normal;
}

#layout-builder-modal .vertical-tabs__menu-item.is-selected::after,.media-library-widget-modal .vertical-tabs__menu-item.is-selected::after,form.media-form .vertical-tabs__menu-item.is-selected::after {
  content: "";
}

#layout-builder-modal .vertical-tabs__menu-link,.media-library-widget-modal .vertical-tabs__menu-link,form.media-form .vertical-tabs__menu-link {
  position: relative;
  display: block;
  margin-top: -1px;
  padding: .75rem .75rem .75rem 1.25rem;
  text-decoration: none;
  word-wrap: break-word;
  -webkit-hyphens: auto;
          hyphens: auto;
  color: #232429;
  border: 1px solid transparent;
  border-width: 1px 0 1px 4px;
  border-radius: 2px 0 0 2px;
}

#layout-builder-modal [dir=rtl] .vertical-tabs__menu-link,.media-library-widget-modal [dir=rtl] .vertical-tabs__menu-link,form.media-form [dir=rtl] .vertical-tabs__menu-link {
  padding-right: 1.25rem;
  padding-left: .75rem;
  border-width: 1px 4px 1px 0;
  border-radius: 0 2px 2px 0;
}

@media screen and (-ms-high-contrast: active) {
  #layout-builder-modal .vertical-tabs__menu-link,.media-library-widget-modal .vertical-tabs__menu-link,form.media-form .vertical-tabs__menu-link {
    border-color: transparent;
  }
}

#layout-builder-modal .vertical-tabs__menu-link:focus,.media-library-widget-modal .vertical-tabs__menu-link:focus,form.media-form .vertical-tabs__menu-link:focus {
  z-index: 4;
  text-decoration: none;
  box-shadow: none;
}

#layout-builder-modal .vertical-tabs__menu-link:hover,.media-library-widget-modal .vertical-tabs__menu-link:hover,form.media-form .vertical-tabs__menu-link:hover {
  text-decoration: none;
  color: #003ecc;
}

#layout-builder-modal .vertical-tabs__menu-link::before,.media-library-widget-modal .vertical-tabs__menu-link::before,form.media-form .vertical-tabs__menu-link::before {
  position: absolute;
  z-index: 0;
  top: -1px;
  right: 0;
  bottom: -1px;
  left: -0.25rem;
  content: "";
  pointer-events: none;
  background-clip: padding-box;
}

#layout-builder-modal [dir=rtl] .vertical-tabs__menu-link::before,.media-library-widget-modal [dir=rtl] .vertical-tabs__menu-link::before,form.media-form [dir=rtl] .vertical-tabs__menu-link::before {
  right: -0.25rem;
  left: 0;
}

#layout-builder-modal .vertical-tabs__menu-link:hover::before,.media-library-widget-modal .vertical-tabs__menu-link:hover::before,form.media-form .vertical-tabs__menu-link:hover::before {
  background: #f5f8ff;
}

#layout-builder-modal .vertical-tabs__menu-link:focus::after,.media-library-widget-modal .vertical-tabs__menu-link:focus::after,form.media-form .vertical-tabs__menu-link:focus::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: -1px -0.25rem;
  content: "";
  pointer-events: none;
  border: 3px solid #26a769;
  border-radius: 2px;
}

#layout-builder-modal .vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link,.media-library-widget-modal .vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link,form.media-form .vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link {
  z-index: 3;
  color: #003ecc;
  border-color: #dedfe4 transparent;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

#layout-builder-modal .vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link:hover,.media-library-widget-modal .vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link:hover,form.media-form .vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link:hover {
  color: #0036b1;
  background-color: #f5f8ff;
}

#layout-builder-modal .vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link::before,.media-library-widget-modal .vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link::before,form.media-form .vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link::before {
  z-index: 1;
  border-left: 4px solid #003ecc;
  border-radius: 2px 0 0 2px;
}

#layout-builder-modal [dir=rtl] .vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link::before,.media-library-widget-modal [dir=rtl] .vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link::before,form.media-form [dir=rtl] .vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link::before {
  border-right: 4px solid #003ecc;
  border-left: 0;
  border-radius: 0 2px 2px 0;
}

#layout-builder-modal .vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link:hover::before,.media-library-widget-modal .vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link:hover::before,form.media-form .vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link:hover::before {
  background: none;
}

@media screen and (-ms-high-contrast: active) {
  #layout-builder-modal .vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link,.media-library-widget-modal .vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link,form.media-form .vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link {
    border-color: windowText transparent;
  }

  #layout-builder-modal .vertical-tabs__menu-link:focus::after,.media-library-widget-modal .vertical-tabs__menu-link:focus::after,form.media-form .vertical-tabs__menu-link:focus::after {
    border-color: transparent;
  }

  #layout-builder-modal .vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link::before,.media-library-widget-modal .vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link::before,form.media-form .vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link::before {
    border-color: windowText;
  }
}

#layout-builder-modal .vertical-tabs__menu-link-content,.media-library-widget-modal .vertical-tabs__menu-link-content,form.media-form .vertical-tabs__menu-link-content {
  position: relative;
  z-index: 1;
}

#layout-builder-modal .vertical-tabs__menu-link-summary,.media-library-widget-modal .vertical-tabs__menu-link-summary,form.media-form .vertical-tabs__menu-link-summary {
  display: block;
  color: #55565b;
  font-size: .889rem;
  font-weight: normal;
}

#layout-builder-modal .vertical-tabs__items,.media-library-widget-modal .vertical-tabs__items,form.media-form .vertical-tabs__items {
  box-sizing: border-box;
  margin-top: .75rem;
  margin-bottom: .75rem;
  color: #232429;
  border: 1px solid #dedfe4;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

#layout-builder-modal .vertical-tabs__panes,.media-library-widget-modal .vertical-tabs__panes,form.media-form .vertical-tabs__panes {
  position: relative;
  z-index: 1;
  top: -1px;
  margin-top: 0;
  margin-bottom: 0;
}

#layout-builder-modal .vertical-tabs__panes::after,.media-library-widget-modal .vertical-tabs__panes::after,form.media-form .vertical-tabs__panes::after {
  display: block;
  clear: both;
  content: "";
}

#layout-builder-modal .vertical-tabs .vertical-tabs__panes,.media-library-widget-modal .vertical-tabs .vertical-tabs__panes,form.media-form .vertical-tabs .vertical-tabs__panes {
  margin-left: 20em;
  border-top-left-radius: 0;
}

#layout-builder-modal [dir=rtl] .vertical-tabs .vertical-tabs__panes,.media-library-widget-modal [dir=rtl] .vertical-tabs .vertical-tabs__panes,form.media-form [dir=rtl] .vertical-tabs .vertical-tabs__panes {
  margin-right: 20em;
  margin-left: 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
}

#layout-builder-modal .vertical-tabs__item,.media-library-widget-modal .vertical-tabs__item,form.media-form .vertical-tabs__item {
  margin: -1px -1px 0;
  border-radius: 0;
}

#layout-builder-modal .vertical-tabs__item.first,.media-library-widget-modal .vertical-tabs__item.first,form.media-form .vertical-tabs__item.first {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

#layout-builder-modal .vertical-tabs__item.last,.media-library-widget-modal .vertical-tabs__item.last,form.media-form .vertical-tabs__item.last {
  margin-bottom: -1px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#layout-builder-modal .js .vertical-tabs .vertical-tabs__item,.media-library-widget-modal .js .vertical-tabs .vertical-tabs__item,form.media-form .js .vertical-tabs .vertical-tabs__item {
  overflow: hidden;
  margin: 0;
  border: 0;
}

#layout-builder-modal .js .vertical-tabs .vertical-tabs__item.first,#layout-builder-modal .js .vertical-tabs .vertical-tabs__item.last,.media-library-widget-modal .js .vertical-tabs .vertical-tabs__item.first,.media-library-widget-modal .js .vertical-tabs .vertical-tabs__item.last,form.media-form .js .vertical-tabs .vertical-tabs__item.first,form.media-form .js .vertical-tabs .vertical-tabs__item.last {
  border-radius: 0;
}

#layout-builder-modal .js .vertical-tabs .vertical-tabs__item>summary,.media-library-widget-modal .js .vertical-tabs .vertical-tabs__item>summary,form.media-form .js .vertical-tabs .vertical-tabs__item>summary {
  display: none;
}

