{#
/**
 * @file
 * Default theme implementation to display an oEmbed resource in an iframe.
 *
 * @ingroup themeable
 */
#}
<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        display: flex;
      }

      iframe {
        position: absolute;
        top: 50%;
        right: 0;
        bottom: 0;
        left: 50%;
        overflow: hidden;
        align-items: stretch;
        width: 250vw;
        height: 200vh;
        margin: 0;
        padding: 0;
        -webkit-transform: translateY(-50%) translateX(-50%);
        -o-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
        pointer-events: none;
      }

      @media (max-aspect-ratio: 16 / 9) {
        iframe {
          position: absolute;
          top: 50%;
          left: 50%;
          overflow: hidden;
          width: 650vw;
          height: 250vh;
          margin: 0;
          padding: 0;
          -webkit-transform: translateY(-50%) translateX(-50%);
          -o-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
        }
      }

      @media (min-width: 1920px) {
        iframe {
          width: 1200vw;
          height: 1200vh;
        }
      }

      @media (min-width: 3840px) {
        iframe {
          width: 2800vw;
          height: 1800vh;
        }
      }
    </style>
    <script src="{{ base_path }}{{ varbase_layout_builder_path }}/js/oembed-frame.vlb-background-media.{{ provider }}.js"></script>
  </head>
  <body style="margin: 0;">
    {{ media|raw }}
  </body>
</html>
