/**
 * @file
 * Wrapped content from core/themes/claro/css/components/accordion.css
 * Maintainers: the import statement presumes a relative location of core css.
 * The location may need to be adjusted depending on your setup.
 */

#layout-builder-modal .accordion,
#modal-media-library .accordion {
  color: #222330;
  border: 1px solid rgba(216, 217, 224, 0.8);
  border-radius: 2px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#layout-builder-modal .accordion__item,
#modal-media-library .accordion__item {
  margin: 0 -1px;
  border-radius: 0;
}

#layout-builder-modal .accordion__item:first-child,
#modal-media-library .accordion__item:first-child {
  margin-top: -1px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

#layout-builder-modal .accordion__item + .accordion__item,
#modal-media-library .accordion__item + .accordion__item {
  margin-top: -1px;
}

#layout-builder-modal .accordion__item:last-child,
#modal-media-library .accordion__item:last-child {
  margin-bottom: -1px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#layout-builder-modal .accordion__item .claro-details__summary .summary,
#modal-media-library .accordion__item .claro-details__summary .summary {
  display: none;
}
