/**
 * @file
 * Wrapped content from core/themes/claro/css/components/ajax-progress.module.css
 * Maintainers: the import statement presumes a relative location of core css.
 * The location may need to be adjusted depending on your setup.
 */
#layout-builder-modal .ajax-progress,
.media-library-widget-modal .ajax-progress,
form.media-form .ajax-progress {
  display: inline-block;
}
#layout-builder-modal .ajax-progress-bar,
.media-library-widget-modal .ajax-progress-bar,
form.media-form .ajax-progress-bar {
  width: 13em;
  padding: 0 0.3125rem;
  /* 0 5px */
}
#layout-builder-modal .ajax-progress--throbber,
.media-library-widget-modal .ajax-progress--throbber,
form.media-form .ajax-progress--throbber {
  position: relative;
  display: inline-flex;
  align-content: center;
  height: 1.125rem;
  margin: -0.1875rem 0.75rem 0;
  vertical-align: middle;
  white-space: nowrap;
  line-height: 1.125rem;
}
#layout-builder-modal .js .button:not(.js-hide) + .ajax-progress--throbber,
.media-library-widget-modal .js .button:not(.js-hide) + .ajax-progress--throbber,
form.media-form .js .button:not(.js-hide) + .ajax-progress--throbber {
  margin-left: 0;
  /* LTR */
}
#layout-builder-modal [dir=rtl].js .button:not(.js-hide) + .ajax-progress--throbber,
.media-library-widget-modal [dir=rtl].js .button:not(.js-hide) + .ajax-progress--throbber,
form.media-form [dir=rtl].js .button:not(.js-hide) + .ajax-progress--throbber {
  margin-right: 0;
  margin-left: 0.75rem;
}
#layout-builder-modal .js .form-type--managed-file .button:not(.js-hide) + .ajax-progress--throbber,
#layout-builder-modal .js .file-operations-cell .button:not(.js-hide) + .ajax-progress--throbber,
.media-library-widget-modal .js .form-type--managed-file .button:not(.js-hide) + .ajax-progress--throbber,
.media-library-widget-modal .js .file-operations-cell .button:not(.js-hide) + .ajax-progress--throbber,
form.media-form .js .form-type--managed-file .button:not(.js-hide) + .ajax-progress--throbber,
form.media-form .js .file-operations-cell .button:not(.js-hide) + .ajax-progress--throbber {
  margin-left: 0.75rem;
  /* LTR */
}
#layout-builder-modal [dir=rtl].js .form-type--managed-file .button:not(.js-hide) + .ajax-progress--throbber,
#layout-builder-modal [dir=rtl].js .file-operations-cell .button:not(.js-hide) + .ajax-progress--throbber,
.media-library-widget-modal [dir=rtl].js .form-type--managed-file .button:not(.js-hide) + .ajax-progress--throbber,
.media-library-widget-modal [dir=rtl].js .file-operations-cell .button:not(.js-hide) + .ajax-progress--throbber,
form.media-form [dir=rtl].js .form-type--managed-file .button:not(.js-hide) + .ajax-progress--throbber,
form.media-form [dir=rtl].js .file-operations-cell .button:not(.js-hide) + .ajax-progress--throbber {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
#layout-builder-modal .ajax-progress__throbber,
.media-library-widget-modal .ajax-progress__throbber,
form.media-form .ajax-progress__throbber {
  box-sizing: border-box;
  width: 1.125rem;
  height: 1.125rem;
  animation: claro-throbber 0.75s linear infinite;
  border: 2px solid #003cc5;
  border-right: 2px dotted transparent;
  border-radius: 50%;
}
#layout-builder-modal .ajax-progress__message,
.media-library-widget-modal .ajax-progress__message,
form.media-form .ajax-progress__message {
  display: inline-block;
  padding-left: 0.75rem;
  font-size: 0.889rem;
}
#layout-builder-modal [dir=rtl] .ajax-progress__message,
.media-library-widget-modal [dir=rtl] .ajax-progress__message,
form.media-form [dir=rtl] .ajax-progress__message {
  padding-right: 0.75rem;
  padding-left: 0;
}
#layout-builder-modal .ajax-progress--fullscreen,
#layout-builder-modal .ui-dialog .ajax-progress--throbber,
.media-library-widget-modal .ajax-progress--fullscreen,
.media-library-widget-modal .ui-dialog .ajax-progress--throbber,
form.media-form .ajax-progress--fullscreen,
form.media-form .ui-dialog .ajax-progress--throbber {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  width: 3.5rem;
  /* 56px */
  height: 3.5rem;
  margin: -1.75rem;
  border: 1px solid rgba(216, 217, 224, 0.8);
  border-radius: 3.5rem;
  background: #fff;
  box-shadow: 0 0.25rem 0.625rem rgba(34, 35, 48, 0.1);
}
#layout-builder-modal .ajax-progress__throbber--fullscreen,
#layout-builder-modal .ui-dialog .ajax-progress__throbber,
.media-library-widget-modal .ajax-progress__throbber--fullscreen,
.media-library-widget-modal .ui-dialog .ajax-progress__throbber,
form.media-form .ajax-progress__throbber--fullscreen,
form.media-form .ui-dialog .ajax-progress__throbber {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.75rem;
  /* 28px */
  height: 1.75rem;
  /* 28px */
  margin: -0.875rem;
  content: "";
  border: 3px solid #003cc5;
  border-right: 3px dotted transparent;
}
#layout-builder-modal .ui-dialog .ajax-progress__message,
.media-library-widget-modal .ui-dialog .ajax-progress__message,
form.media-form .ui-dialog .ajax-progress__message {
  display: none;
}
@media screen and (-ms-high-contrast: active) {
  @supports (-ms-ime-align: auto) {
    #layout-builder-modal [dir=rtl] .ajax-progress__throbber,
    .media-library-widget-modal [dir=rtl] .ajax-progress__throbber,
    form.media-form [dir=rtl] .ajax-progress__throbber {
      border-width: 4px;
    }
  }
}
@keyframes claro-throbber {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
