#layout-builder-modal .button,.media-library-widget-modal .button,form.media-form .button {
  display: inline-block;
  margin-block: var(--space-m);
  margin-inline: 0 var(--space-s);
  padding: calc(var(--space-m) - 1px) calc(var(--space-l) - 1px);
  cursor: pointer;
  text-align: center;
  -webkit-text-decoration: none;
          text-decoration: none;
  color: var(--button-fg-color);
  border: 1px solid transparent;
  border-radius: var(--button-border-radius-size);
  background-color: var(--button-bg-color);
  font-size: var(--font-size-base);
  font-weight: 700;
  line-height: 1rem;
  appearance: none;
  -webkit-font-smoothing: antialiased;
}

#layout-builder-modal .button:not(:focus),.media-library-widget-modal .button:not(:focus),form.media-form .button:not(:focus) {
  box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
}

#layout-builder-modal .button:hover,.media-library-widget-modal .button:hover,form.media-form .button:hover {
  -webkit-text-decoration: none;
          text-decoration: none;
  color: var(--button-fg-color);
  background-color: var(--button--hover-bg-color);
}

#layout-builder-modal .button:focus,.media-library-widget-modal .button:focus,form.media-form .button:focus {
  -webkit-text-decoration: none;
          text-decoration: none;
}

#layout-builder-modal .button:active,.media-library-widget-modal .button:active,form.media-form .button:active {
  background-color: var(--button--active-bg-color);
}

#layout-builder-modal .no-touchevents .button--small,.media-library-widget-modal .no-touchevents .button--small,form.media-form .no-touchevents .button--small {
  margin-block: var(--space-s);
  margin-inline: 0 var(--space-xs);
  padding: calc(var(--space-xs) - 1px) calc(var(--space-m) - 1px);
  font-size: var(--font-size-xs);
}

#layout-builder-modal .no-touchevents .button--extrasmall,.media-library-widget-modal .no-touchevents .button--extrasmall,form.media-form .no-touchevents .button--extrasmall {
  margin-block: var(--space-xs);
  margin-inline: 0 var(--space-xs);
  padding: calc(var(--space-xs)/2 - 1px) calc(var(--space-s) - 1px);
  font-size: var(--font-size-xs);
}

#layout-builder-modal .button--action,.media-library-widget-modal .button--action,form.media-form .button--action {
  margin: 0;
}

#layout-builder-modal .button--action::before,.media-library-widget-modal .button--action::before,form.media-form .button--action::before {
  margin-inline: -0.25em 0;
  padding-inline: 0 .25em;
  content: "+";
  font-weight: 900;
}

#layout-builder-modal .button--primary,.media-library-widget-modal .button--primary,form.media-form .button--primary {
  color: var(--button-fg-color--primary);
  background-color: var(--button-bg-color--primary);
}

#layout-builder-modal .button--primary:is(:hover,:active),.media-library-widget-modal .button--primary:is(:hover,:active),form.media-form .button--primary:is(:hover,:active) {
  color: var(--button-fg-color--primary);
  background-color: var(--button--hover-bg-color--primary);
}

#layout-builder-modal .button--danger,.media-library-widget-modal .button--danger,form.media-form .button--danger {
  color: var(--button-fg-color--danger);
  background-color: var(--button-bg-color--danger);
}

#layout-builder-modal .button--danger:is(:hover,:active),.media-library-widget-modal .button--danger:is(:hover,:active),form.media-form .button--danger:is(:hover,:active) {
  color: var(--button-fg-color--danger);
  background-color: var(--button--hover-bg-color--danger);
}

#layout-builder-modal .button:is(:disabled,.is-disabled),.media-library-widget-modal .button:is(:disabled,.is-disabled),form.media-form .button:is(:disabled,.is-disabled) {
  color: var(--button--disabled-fg-color);
  background-color: var(--button--disabled-bg-color);
}

#layout-builder-modal .button.is-disabled,.media-library-widget-modal .button.is-disabled,form.media-form .button.is-disabled {
  -webkit-user-select: none;
          user-select: none;
  pointer-events: none;
}

#layout-builder-modal .link,.media-library-widget-modal .link,form.media-form .link {
  display: inline;
  padding: 0;
  cursor: pointer;
  -webkit-text-decoration: underline;
          text-decoration: underline;
  border: 0;
  background: none;
  appearance: none;
}

#layout-builder-modal .button--primary,.media-library-widget-modal .button--primary,form.media-form .button--primary {
  background: #003cc5;
}

#layout-builder-modal .button--primary:hover,#layout-builder-modal .button--primary:active,.media-library-widget-modal .button--primary:hover,.media-library-widget-modal .button--primary:active,form.media-form .button--primary:hover,form.media-form .button--primary:active {
  background: #0036b1;
}

#layout-builder-modal .button,.media-library-widget-modal .button,form.media-form .button {
  width: auto;
  height: auto;
  background-image: none;
}

#layout-builder-modal .button.form-element,.media-library-widget-modal .button.form-element,form.media-form .button.form-element {
  background: #d4d4d8;
}

#layout-builder-modal .js-hide,.media-library-widget-modal .js-hide,form.media-form .js-hide {
  display: none;
}

#layout-builder-modal .button--extrasmall,#layout-builder-modal .button--small,.media-library-widget-modal .button--extrasmall,.media-library-widget-modal .button--small,form.media-form .button--extrasmall,form.media-form .button--small {
  margin: .5rem .5rem .5rem 0;
  padding: calc(.25rem - 1px) calc(.75rem - 1px);
  font-size: .79rem;
}

#layout-builder-modal .field-add-more-submit,.media-library-widget-modal .field-add-more-submit,form.media-form .field-add-more-submit {
  display: inline-block !important;
}

