#LNWmg-IRVCWUrT2afKWFDg\=\= ._05w3oYJKyY\+ShgDSnAaNLw\=\= div,#LNWmg-IRVCWUrT2afKWFDg\=\= ._05w3oYJKyY\+ShgDSnAaNLw\=\= label,.uzxqhyUme9eeP8iSb9bmKg\=\= ._05w3oYJKyY\+ShgDSnAaNLw\=\= div,.uzxqhyUme9eeP8iSb9bmKg\=\= ._05w3oYJKyY\+ShgDSnAaNLw\=\= label,form.rDeOsC1rZZLtLSg7MjnO4g\=\= ._05w3oYJKyY\+ShgDSnAaNLw\=\= div,form.rDeOsC1rZZLtLSg7MjnO4g\=\= ._05w3oYJKyY\+ShgDSnAaNLw\=\= label {
  display: inline-block;
}

#LNWmg-IRVCWUrT2afKWFDg\=\= .jg1bmfaQSgP85pH2wrKLwA\=\=,.uzxqhyUme9eeP8iSb9bmKg\=\= .jg1bmfaQSgP85pH2wrKLwA\=\=,form.rDeOsC1rZZLtLSg7MjnO4g\=\= .jg1bmfaQSgP85pH2wrKLwA\=\= {
  margin-block: -2px;
}

#LNWmg-IRVCWUrT2afKWFDg\=\= .jg1bmfaQSgP85pH2wrKLwA\=\=>.OcAniqpKeH7AA\+5rArVftA\=\=,.uzxqhyUme9eeP8iSb9bmKg\=\= .jg1bmfaQSgP85pH2wrKLwA\=\=>.OcAniqpKeH7AA\+5rArVftA\=\=,form.rDeOsC1rZZLtLSg7MjnO4g\=\= .jg1bmfaQSgP85pH2wrKLwA\=\=>.OcAniqpKeH7AA\+5rArVftA\=\= {
  display: inline-block;
  margin-block: 2px;
}

