/**
 * @file
 * Wrapped content from core/themes/claro/css/components/divider.css
 * Maintainers: the import statement presumes a relative location of core css.
 * The location may need to be adjusted depending on your setup.
 */
#layout-builder-modal .divider,
.media-library-widget-modal .divider,
form.media-form .divider {
  height: 1px;
  background-color: rgba(142, 146, 156, 0.5);
}
