/**
 * @file
 * Wrapped content from core/themes/claro/css/components/dropbutton.css
 * Maintainers: the import statement presumes a relative location of core css.
 * The location may need to be adjusted depending on your setup.
 */
#layout-builder-modal .dropbutton-wrapper,
.media-library-widget-modal .dropbutton-wrapper,
form.media-form .dropbutton-wrapper {
  display: inline-flex;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
#layout-builder-modal .form-actions .dropbutton-wrapper,
.media-library-widget-modal .form-actions .dropbutton-wrapper,
form.media-form .form-actions .dropbutton-wrapper {
  margin: 0.5rem 1rem 0.5rem 0;
}
#layout-builder-modal [dir=rtl] .form-actions .dropbutton-wrapper,
.media-library-widget-modal [dir=rtl] .form-actions .dropbutton-wrapper,
form.media-form [dir=rtl] .form-actions .dropbutton-wrapper {
  margin-right: 0;
  margin-left: 1rem;
}
#layout-builder-modal .dropbutton-widget,
.media-library-widget-modal .dropbutton-widget,
form.media-form .dropbutton-widget {
  position: relative;
  flex: 1 1 auto;
}
#layout-builder-modal .js .dropbutton-wrapper.open .dropbutton-widget,
.media-library-widget-modal .js .dropbutton-wrapper.open .dropbutton-widget,
form.media-form .js .dropbutton-wrapper.open .dropbutton-widget {
  z-index: 100;
}
#layout-builder-modal .dropbutton,
.media-library-widget-modal .dropbutton,
form.media-form .dropbutton {
  display: block;
  overflow: visible;
  margin: 0;
  list-style: none;
}
#layout-builder-modal [dir=rtl] .dropbutton,
.media-library-widget-modal [dir=rtl] .dropbutton,
form.media-form [dir=rtl] .dropbutton {
  margin: 0;
}
#layout-builder-modal .js .dropbutton,
.media-library-widget-modal .js .dropbutton,
form.media-form .js .dropbutton {
  height: 3rem;
}
#layout-builder-modal .js.no-touchevents .dropbutton--small,
.media-library-widget-modal .js.no-touchevents .dropbutton--small,
form.media-form .js.no-touchevents .dropbutton--small {
  height: 2rem;
}
#layout-builder-modal .js.no-touchevents .dropbutton--extrasmall,
.media-library-widget-modal .js.no-touchevents .dropbutton--extrasmall,
form.media-form .js.no-touchevents .dropbutton--extrasmall {
  height: 1.5rem;
}
#layout-builder-modal .js .dropbutton--multiple .dropbutton__item:first-of-type,
.media-library-widget-modal .js .dropbutton--multiple .dropbutton__item:first-of-type,
form.media-form .js .dropbutton--multiple .dropbutton__item:first-of-type {
  margin-right: calc(3rem + 1px);
  /* LTR */
}
#layout-builder-modal [dir=rtl].js .dropbutton--multiple .dropbutton__item:first-of-type,
.media-library-widget-modal [dir=rtl].js .dropbutton--multiple .dropbutton__item:first-of-type,
form.media-form [dir=rtl].js .dropbutton--multiple .dropbutton__item:first-of-type {
  margin-right: 0;
  margin-left: calc(3rem + 1px);
}
#layout-builder-modal .js.no-touchevents .dropbutton--multiple.dropbutton--small .dropbutton__item:first-of-type,
.media-library-widget-modal .js.no-touchevents .dropbutton--multiple.dropbutton--small .dropbutton__item:first-of-type,
form.media-form .js.no-touchevents .dropbutton--multiple.dropbutton--small .dropbutton__item:first-of-type {
  margin-right: calc(2rem + 1px);
  /* LTR */
}
#layout-builder-modal [dir=rtl].js.no-touchevents .dropbutton--multiple.dropbutton--small .dropbutton__item:first-of-type,
.media-library-widget-modal [dir=rtl].js.no-touchevents .dropbutton--multiple.dropbutton--small .dropbutton__item:first-of-type,
form.media-form [dir=rtl].js.no-touchevents .dropbutton--multiple.dropbutton--small .dropbutton__item:first-of-type {
  margin-right: 0;
  margin-left: calc(2rem + 1px);
}
#layout-builder-modal .js.no-touchevents .dropbutton--multiple.dropbutton--extrasmall .dropbutton__item:first-of-type,
.media-library-widget-modal .js.no-touchevents .dropbutton--multiple.dropbutton--extrasmall .dropbutton__item:first-of-type,
form.media-form .js.no-touchevents .dropbutton--multiple.dropbutton--extrasmall .dropbutton__item:first-of-type {
  margin-right: calc(1.5rem + 1px);
  /* LTR */
}
#layout-builder-modal [dir=rtl].js.no-touchevents .dropbutton--multiple.dropbutton--extrasmall .dropbutton__item:first-of-type,
.media-library-widget-modal [dir=rtl].js.no-touchevents .dropbutton--multiple.dropbutton--extrasmall .dropbutton__item:first-of-type,
form.media-form [dir=rtl].js.no-touchevents .dropbutton--multiple.dropbutton--extrasmall .dropbutton__item:first-of-type {
  margin-right: 0;
  margin-left: calc(1.5rem + 1px);
}
#layout-builder-modal .dropbutton__toggle,
.media-library-widget-modal .dropbutton__toggle,
form.media-form .dropbutton__toggle {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  /* LTR */
  bottom: 0;
  width: 3rem;
  height: 3rem;
  /* iOS Safari sets a minimum button-width based on font-size. */
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid transparent !important;
  /* 1 */
  border-radius: 0 2px 2px 0;
  /* LTR */
  background: #d3d4d9;
  font-size: 1px;
}
#layout-builder-modal [dir=rtl] .dropbutton__toggle,
.media-library-widget-modal [dir=rtl] .dropbutton__toggle,
form.media-form [dir=rtl] .dropbutton__toggle {
  right: auto;
  left: 0;
  border-radius: 2px 0 0 2px;
}
#layout-builder-modal .dropbutton__toggle::before,
.media-library-widget-modal .dropbutton__toggle::before,
form.media-form .dropbutton__toggle::before {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 0.875rem;
  height: 0.5625rem;
  content: "";
  transform: translate(50%, -50%) rotate(0);
  background: url("data:image/svg+xml,%3csvg width='14' height='9' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M.238 1.938L1.647.517 7 5.819 12.354.517l1.408 1.421L7 8.636z' fill='%23222330'/%3e%3c/svg%3e") no-repeat center;
  background-size: contain;
}
#layout-builder-modal .dropbutton__toggle:hover,
.media-library-widget-modal .dropbutton__toggle:hover,
form.media-form .dropbutton__toggle:hover {
  color: #232429;
  background-color: #c1c2c7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
#layout-builder-modal .dropbutton__toggle:focus,
.media-library-widget-modal .dropbutton__toggle:focus,
form.media-form .dropbutton__toggle:focus {
  z-index: 2;
}
#layout-builder-modal .dropbutton__toggle:active,
.media-library-widget-modal .dropbutton__toggle:active,
form.media-form .dropbutton__toggle:active {
  color: #232429;
  background-color: #adaeb3;
}
#layout-builder-modal .dropbutton-wrapper.open .dropbutton__toggle::before,
.media-library-widget-modal .dropbutton-wrapper.open .dropbutton__toggle::before,
form.media-form .dropbutton-wrapper.open .dropbutton__toggle::before {
  transform: translate(50%, -50%) rotate(180deg);
}
#layout-builder-modal [dir=rtl] .dropbutton-wrapper.open .dropbutton__toggle::before,
.media-library-widget-modal [dir=rtl] .dropbutton-wrapper.open .dropbutton__toggle::before,
form.media-form [dir=rtl] .dropbutton-wrapper.open .dropbutton__toggle::before {
  transform: translate(50%, -50%) rotate(-180deg);
}
#layout-builder-modal .no-touchevents .dropbutton--small .dropbutton__toggle,
.media-library-widget-modal .no-touchevents .dropbutton--small .dropbutton__toggle,
form.media-form .no-touchevents .dropbutton--small .dropbutton__toggle {
  width: 2rem;
  height: 2rem;
}
#layout-builder-modal .no-touchevents .dropbutton--extrasmall .dropbutton__toggle,
.media-library-widget-modal .no-touchevents .dropbutton--extrasmall .dropbutton__toggle,
form.media-form .no-touchevents .dropbutton--extrasmall .dropbutton__toggle {
  width: 1.5rem;
  height: 1.5rem;
}
#layout-builder-modal .no-touchevents .dropbutton--small .dropbutton__toggle::before,
#layout-builder-modal .no-touchevents .dropbutton--extrasmall .dropbutton__toggle::before,
.media-library-widget-modal .no-touchevents .dropbutton--small .dropbutton__toggle::before,
.media-library-widget-modal .no-touchevents .dropbutton--extrasmall .dropbutton__toggle::before,
form.media-form .no-touchevents .dropbutton--small .dropbutton__toggle::before,
form.media-form .no-touchevents .dropbutton--extrasmall .dropbutton__toggle::before {
  width: 0.75rem;
  /* 12px */
}
@media screen and (-ms-high-contrast: active) {
  #layout-builder-modal .dropbutton__toggle::before,
  .media-library-widget-modal .dropbutton__toggle::before,
  form.media-form .dropbutton__toggle::before {
    width: 0.5625rem;
    height: 0.5625rem;
    margin-top: -0.19886rem;
    transform: translate(50%, -50%) rotate(135deg);
    /* LTR */
    border: 0.125rem solid;
    border-width: 0.125rem 0.125rem 0 0;
    background: none;
  }
  #layout-builder-modal .dropbutton-wrapper.open .dropbutton__toggle::before,
  .media-library-widget-modal .dropbutton-wrapper.open .dropbutton__toggle::before,
  form.media-form .dropbutton-wrapper.open .dropbutton__toggle::before {
    margin-top: 0.19886rem;
    transform: translate(50%, -50%) rotate(315deg);
  }
  #layout-builder-modal [dir=rtl] .dropbutton-wrapper.open .dropbutton__toggle::before,
  .media-library-widget-modal [dir=rtl] .dropbutton-wrapper.open .dropbutton__toggle::before,
  form.media-form [dir=rtl] .dropbutton-wrapper.open .dropbutton__toggle::before {
    transform: translate(50%, -50%) rotate(-45deg);
  }
  #layout-builder-modal .no-touchevents .dropbutton--small .dropbutton__toggle::before,
  #layout-builder-modal .no-touchevents .dropbutton--extrasmall .dropbutton__toggle::before,
  .media-library-widget-modal .no-touchevents .dropbutton--small .dropbutton__toggle::before,
  .media-library-widget-modal .no-touchevents .dropbutton--extrasmall .dropbutton__toggle::before,
  form.media-form .no-touchevents .dropbutton--small .dropbutton__toggle::before,
  form.media-form .no-touchevents .dropbutton--extrasmall .dropbutton__toggle::before {
    width: 0.4375rem;
    height: 0.4375rem;
    margin-top: -0.15467rem;
  }
  #layout-builder-modal .dropbutton-wrapper.open .dropbutton__toggle::before,
  .media-library-widget-modal .dropbutton-wrapper.open .dropbutton__toggle::before,
  form.media-form .dropbutton-wrapper.open .dropbutton__toggle::before {
    margin-top: 0.15467rem;
  }
}
#layout-builder-modal .dropbutton__item:first-of-type > *,
.media-library-widget-modal .dropbutton__item:first-of-type > *,
form.media-form .dropbutton__item:first-of-type > * {
  display: inline-block;
  margin: 0;
  padding: calc(1rem - 1px) calc(1.5rem - 1px);
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #232429;
  border: 1px solid transparent !important;
  /* 1 */
  border-radius: 2px;
  background-color: #d3d4d9;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;

  -webkit-font-smoothing: antialiased;
}
#layout-builder-modal .dropbutton--multiple .dropbutton__item:first-of-type > *,
.media-library-widget-modal .dropbutton--multiple .dropbutton__item:first-of-type > *,
form.media-form .dropbutton--multiple .dropbutton__item:first-of-type > * {
  padding-right: calc(1rem - 1px);
  padding-left: calc(1rem - 1px);
}
#layout-builder-modal .no-touchevents .dropbutton--small .dropbutton__item:first-of-type > *,
.media-library-widget-modal .no-touchevents .dropbutton--small .dropbutton__item:first-of-type > *,
form.media-form .no-touchevents .dropbutton--small .dropbutton__item:first-of-type > * {
  padding-top: calc(0.625rem - 1px);
  padding-bottom: calc(0.625rem - 1px);
  font-size: 0.79rem;
  line-height: 0.75rem;
}
#layout-builder-modal .no-touchevents .dropbutton--extrasmall .dropbutton__item:first-of-type > *,
.media-library-widget-modal .no-touchevents .dropbutton--extrasmall .dropbutton__item:first-of-type > *,
form.media-form .no-touchevents .dropbutton--extrasmall .dropbutton__item:first-of-type > * {
  padding-top: calc(0.375rem - 1px);
  padding-bottom: calc(0.375rem - 1px);
  font-size: 0.79rem;
  line-height: 0.75rem;
}
#layout-builder-modal .dropbutton__item:first-of-type > *:hover,
#layout-builder-modal .dropbutton__item:first-of-type > .button:hover,
.media-library-widget-modal .dropbutton__item:first-of-type > *:hover,
.media-library-widget-modal .dropbutton__item:first-of-type > .button:hover,
form.media-form .dropbutton__item:first-of-type > *:hover,
form.media-form .dropbutton__item:first-of-type > .button:hover {
  text-decoration: none;
  color: #232429;
  background-color: #c1c2c7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
#layout-builder-modal .dropbutton__item:first-of-type > *:focus:hover,
#layout-builder-modal .dropbutton__item:first-of-type > .button:focus:hover,
.media-library-widget-modal .dropbutton__item:first-of-type > *:focus:hover,
.media-library-widget-modal .dropbutton__item:first-of-type > .button:focus:hover,
form.media-form .dropbutton__item:first-of-type > *:focus:hover,
form.media-form .dropbutton__item:first-of-type > .button:focus:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 5px #26a769;
}
#layout-builder-modal .dropbutton__item:first-of-type > *:focus,
.media-library-widget-modal .dropbutton__item:first-of-type > *:focus,
form.media-form .dropbutton__item:first-of-type > *:focus {
  text-decoration: none;
}
#layout-builder-modal .dropbutton__item:first-of-type > *:active,
.media-library-widget-modal .dropbutton__item:first-of-type > *:active,
form.media-form .dropbutton__item:first-of-type > *:active {
  color: #232429;
  background-color: #adaeb3;
}
#layout-builder-modal .dropbutton--multiple .dropbutton__item:first-of-type > *,
.media-library-widget-modal .dropbutton--multiple .dropbutton__item:first-of-type > *,
form.media-form .dropbutton--multiple .dropbutton__item:first-of-type > * {
  position: relative;
  z-index: 3;
}
#layout-builder-modal .dropbutton--multiple .dropbutton__item:first-of-type > *:focus,
.media-library-widget-modal .dropbutton--multiple .dropbutton__item:first-of-type > *:focus,
form.media-form .dropbutton--multiple .dropbutton__item:first-of-type > *:focus {
  z-index: 2;
}
#layout-builder-modal .js .dropbutton--multiple .dropbutton__item:first-of-type > *,
.media-library-widget-modal .js .dropbutton--multiple .dropbutton__item:first-of-type > *,
form.media-form .js .dropbutton--multiple .dropbutton__item:first-of-type > * {
  border-radius: 2px 0 0 2px;
  /* LTR */
}
#layout-builder-modal [dir=rtl].js .dropbutton--multiple .dropbutton__item:first-of-type > *,
.media-library-widget-modal [dir=rtl].js .dropbutton--multiple .dropbutton__item:first-of-type > *,
form.media-form [dir=rtl].js .dropbutton--multiple .dropbutton__item:first-of-type > * {
  border-radius: 0 2px 2px 0;
}
#layout-builder-modal .dropbutton > .dropbutton__item > a,
#layout-builder-modal .dropbutton > .dropbutton__item > .button,
.media-library-widget-modal .dropbutton > .dropbutton__item > a,
.media-library-widget-modal .dropbutton > .dropbutton__item > .button,
form.media-form .dropbutton > .dropbutton__item > a,
form.media-form .dropbutton > .dropbutton__item > .button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  text-align: left;
  /* LTR */
}
#layout-builder-modal [dir=rtl] .dropbutton > .dropbutton__item > a,
#layout-builder-modal [dir=rtl] .dropbutton > .dropbutton__item > .button,
.media-library-widget-modal [dir=rtl] .dropbutton > .dropbutton__item > a,
.media-library-widget-modal [dir=rtl] .dropbutton > .dropbutton__item > .button,
form.media-form [dir=rtl] .dropbutton > .dropbutton__item > a,
form.media-form [dir=rtl] .dropbutton > .dropbutton__item > .button {
  text-align: right;
}
#layout-builder-modal .js .dropbutton-wrapper:not(.open) .dropbutton__item:first-of-type ~ .dropbutton__item,
.media-library-widget-modal .js .dropbutton-wrapper:not(.open) .dropbutton__item:first-of-type ~ .dropbutton__item,
form.media-form .js .dropbutton-wrapper:not(.open) .dropbutton__item:first-of-type ~ .dropbutton__item {
  display: none;
}
#layout-builder-modal .dropbutton__item:first-of-type ~ .dropbutton__item,
.media-library-widget-modal .dropbutton__item:first-of-type ~ .dropbutton__item,
form.media-form .dropbutton__item:first-of-type ~ .dropbutton__item {
  border: 1px solid #d3d4d9;
  border-bottom: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}
#layout-builder-modal .dropbutton__item:first-of-type ~ .dropbutton__item ~ .dropbutton__item,
.media-library-widget-modal .dropbutton__item:first-of-type ~ .dropbutton__item ~ .dropbutton__item,
form.media-form .dropbutton__item:first-of-type ~ .dropbutton__item ~ .dropbutton__item {
  border-top: 0;
}
#layout-builder-modal .dropbutton__item ~ .dropbutton__item:last-child,
.media-library-widget-modal .dropbutton__item ~ .dropbutton__item:last-child,
form.media-form .dropbutton__item ~ .dropbutton__item:last-child {
  border-bottom: 1px solid #d3d4d9;
  border-radius: 0 0 2px 2px;
}
#layout-builder-modal .dropbutton__item:first-of-type ~ .dropbutton__item > a,
#layout-builder-modal .dropbutton__item:first-of-type ~ .dropbutton__item > .button,
.media-library-widget-modal .dropbutton__item:first-of-type ~ .dropbutton__item > a,
.media-library-widget-modal .dropbutton__item:first-of-type ~ .dropbutton__item > .button,
form.media-form .dropbutton__item:first-of-type ~ .dropbutton__item > a,
form.media-form .dropbutton__item:first-of-type ~ .dropbutton__item > .button {
  position: relative;
  padding: calc(1rem - 1px);
  text-decoration: none;
  color: #55565b;
  border: 1px solid transparent !important;
  /* 1 */
  border-radius: 2px;
  background: #fff;
  box-shadow: 0;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1rem;

  -webkit-font-smoothing: antialiased;
}
@media screen and (-ms-high-contrast: active) {
  #layout-builder-modal .dropbutton__item:first-of-type ~ .dropbutton__item > a,
  #layout-builder-modal .dropbutton__item:first-of-type ~ .dropbutton__item > .button,
  .media-library-widget-modal .dropbutton__item:first-of-type ~ .dropbutton__item > a,
  .media-library-widget-modal .dropbutton__item:first-of-type ~ .dropbutton__item > .button,
  form.media-form .dropbutton__item:first-of-type ~ .dropbutton__item > a,
  form.media-form .dropbutton__item:first-of-type ~ .dropbutton__item > .button {
    border-color: transparent !important;
  }
}
#layout-builder-modal .dropbutton__item:first-of-type ~ .dropbutton__item > a:not(:focus),
#layout-builder-modal .dropbutton__item:first-of-type ~ .dropbutton__item > .button:not(:focus),
.media-library-widget-modal .dropbutton__item:first-of-type ~ .dropbutton__item > a:not(:focus),
.media-library-widget-modal .dropbutton__item:first-of-type ~ .dropbutton__item > .button:not(:focus),
form.media-form .dropbutton__item:first-of-type ~ .dropbutton__item > a:not(:focus),
form.media-form .dropbutton__item:first-of-type ~ .dropbutton__item > .button:not(:focus) {
  z-index: 1;
}
#layout-builder-modal .no-touchevents .dropbutton--small .dropbutton__item:first-of-type ~ .dropbutton__item > a,
#layout-builder-modal .no-touchevents .dropbutton--small .dropbutton__item:first-of-type ~ .dropbutton__item > .button,
.media-library-widget-modal .no-touchevents .dropbutton--small .dropbutton__item:first-of-type ~ .dropbutton__item > a,
.media-library-widget-modal .no-touchevents .dropbutton--small .dropbutton__item:first-of-type ~ .dropbutton__item > .button,
form.media-form .no-touchevents .dropbutton--small .dropbutton__item:first-of-type ~ .dropbutton__item > a,
form.media-form .no-touchevents .dropbutton--small .dropbutton__item:first-of-type ~ .dropbutton__item > .button {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  font-size: 0.79rem;
  line-height: 0.75rem;
}
#layout-builder-modal .no-touchevents .dropbutton--extrasmall .dropbutton__item:first-of-type ~ .dropbutton__item > a,
#layout-builder-modal .no-touchevents .dropbutton--extrasmall .dropbutton__item:first-of-type ~ .dropbutton__item > .button,
.media-library-widget-modal .no-touchevents .dropbutton--extrasmall .dropbutton__item:first-of-type ~ .dropbutton__item > a,
.media-library-widget-modal .no-touchevents .dropbutton--extrasmall .dropbutton__item:first-of-type ~ .dropbutton__item > .button,
form.media-form .no-touchevents .dropbutton--extrasmall .dropbutton__item:first-of-type ~ .dropbutton__item > a,
form.media-form .no-touchevents .dropbutton--extrasmall .dropbutton__item:first-of-type ~ .dropbutton__item > .button {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-size: 0.79rem;
  line-height: 0.75rem;
}
#layout-builder-modal .dropbutton__item > *:focus,
.media-library-widget-modal .dropbutton__item > *:focus,
form.media-form .dropbutton__item > *:focus {
  position: relative;
  z-index: 3;
}
#layout-builder-modal .dropbutton__item:first-of-type ~ .dropbutton__item > *:hover,
.media-library-widget-modal .dropbutton__item:first-of-type ~ .dropbutton__item > *:hover,
form.media-form .dropbutton__item:first-of-type ~ .dropbutton__item > *:hover {
  color: #232429;
  background: #f3f4f9;
}
#layout-builder-modal .dropbutton__item > .button:not(:focus),
.media-library-widget-modal .dropbutton__item > .button:not(:focus),
form.media-form .dropbutton__item > .button:not(:focus) {
  box-shadow: none;
}
#layout-builder-modal .dropbutton__item:first-of-type ~ .dropbutton__item > *:focus,
.media-library-widget-modal .dropbutton__item:first-of-type ~ .dropbutton__item > *:focus,
form.media-form .dropbutton__item:first-of-type ~ .dropbutton__item > *:focus {
  border-color: #26a769 !important;
  /* 1 */
  box-shadow: inset 0 0 0 1px #26a769, 0 0 0 1px #26a769;
}
