#layout-builder-modal .fieldset,.media-library-widget-modal .fieldset,form.media-form .fieldset {
  min-width: 0;
  margin: var(--space-m) 0;
  padding: 0;
  color: var(--color-text);
  border: var(--details-border-size) solid var(--details-border-color);
  border-radius: var(--base-border-radius);
  background-color: var(--color-white);
  box-shadow: var(--details-box-shadow);
}

#layout-builder-modal .fieldset--group,.media-library-widget-modal .fieldset--group,form.media-form .fieldset--group {
  color: inherit;
  border: 0;
  border-radius: 0;
  background: none;
  box-shadow: none;
}

#layout-builder-modal .fieldset__legend,.media-library-widget-modal .fieldset__legend,form.media-form .fieldset__legend {
  display: contents;
  float: left;
  width: 100%;
  margin-block-end: var(--space-m);
  color: var(--color-gray-800);
  font-weight: bold;
}

#layout-builder-modal .fieldset__legend--composite,.media-library-widget-modal .fieldset__legend--composite,form.media-form .fieldset__legend--composite {
  float: none;
  width: auto;
  margin-block-start: calc(var(--space-xs)/2);
  margin-block-end: calc(var(--space-xs)/2);
  color: inherit;
  font-size: var(--font-size-s);
  line-height: 1.125rem;
}

@media screen and (min-width: 48em) {
  #layout-builder-modal .fieldset__legend,.media-library-widget-modal .fieldset__legend,form.media-form .fieldset__legend {
    margin-bottom: var(--space-l);
  }
}

#layout-builder-modal .fieldset__legend--group,.media-library-widget-modal .fieldset__legend--group,form.media-form .fieldset__legend--group {
  text-transform: uppercase;
  color: inherit;
}

#layout-builder-modal .fieldset__label,.media-library-widget-modal .fieldset__label,form.media-form .fieldset__label {
  display: block;
  padding: var(--space-m);
  line-height: var(--space-m);
}

#layout-builder-modal .fieldset__label.is-disabled,.media-library-widget-modal .fieldset__label.is-disabled,form.media-form .fieldset__label.is-disabled {
  color: var(--input--disabled-fg-color);
}

#layout-builder-modal .fieldset__label.has-error,.media-library-widget-modal .fieldset__label.has-error,form.media-form .fieldset__label.has-error {
  color: var(--input--error-color);
}

#layout-builder-modal .fieldset__label--group,.media-library-widget-modal .fieldset__label--group,form.media-form .fieldset__label--group {
  padding: 0;
  line-height: inherit;
}

@media screen and (min-width: 48em) {
  #layout-builder-modal .fieldset__label,.media-library-widget-modal .fieldset__label,form.media-form .fieldset__label {
    padding-right: var(--space-l);
    padding-left: var(--space-l);
  }

  #layout-builder-modal .fieldset__label--group,.media-library-widget-modal .fieldset__label--group,form.media-form .fieldset__label--group {
    padding: 0;
  }
}

#layout-builder-modal .fieldset__description,.media-library-widget-modal .fieldset__description,form.media-form .fieldset__description {
  margin-block-start: .375rem;
  margin-block-end: .375rem;
  color: var(--input-fg-color--description);
  font-size: var(--font-size-xs);
  line-height: 1.0625rem;
}

#layout-builder-modal .fieldset__description.is-disabled,.media-library-widget-modal .fieldset__description.is-disabled,form.media-form .fieldset__description.is-disabled {
  color: var(--input--disabled-fg-color);
}

#layout-builder-modal .fieldset__error-message,.media-library-widget-modal .fieldset__error-message,form.media-form .fieldset__error-message {
  margin-block-start: .375rem;
  margin-block-end: .375rem;
  color: var(--input--error-color);
  font-size: var(--font-size-xs);
  font-weight: normal;
  line-height: 1.0625rem;
}

#layout-builder-modal .fieldset__wrapper,.media-library-widget-modal .fieldset__wrapper,form.media-form .fieldset__wrapper {
  margin: var(--space-m);
}

#layout-builder-modal .fieldset__wrapper>.container-inline,.media-library-widget-modal .fieldset__wrapper>.container-inline,form.media-form .fieldset__wrapper>.container-inline {
  padding: 0;
}

@media screen and (min-width: 48em) {
  #layout-builder-modal .fieldset__wrapper,.media-library-widget-modal .fieldset__wrapper,form.media-form .fieldset__wrapper {
    margin: var(--space-l) var(--space-l) calc(var(--space-m) + var(--space-s));
  }
}

#layout-builder-modal .fieldset__legend--visible~.fieldset__wrapper,.media-library-widget-modal .fieldset__legend--visible~.fieldset__wrapper,form.media-form .fieldset__legend--visible~.fieldset__wrapper {
  margin-block-start: 0;
}

#layout-builder-modal .fieldset__wrapper--group,.media-library-widget-modal .fieldset__wrapper--group,form.media-form .fieldset__wrapper--group {
  margin: 0;
}

