#layout-builder-modal :root,.media-library-widget-modal :root,form.media-form :root {
  --password-strength-bar-weak-bg-color: var(--color-maximumred);
  --password-strength-bar-weak-border-color: var(--color-maximumred);
  --password-strength-bar-fair-bg-color: var(--color-sunglow);
  --password-strength-bar-fair-border-color: #977405;
  --password-strength-bar-good-bg-color: var(--color-lightninggreen);
  --password-strength-bar-good-border-color: var(--color-lightninggreen);
  --password-strength-bar-strong-bg-color: var(--color-lightninggreen);
  --password-strength-bar-strong-border-color: var(--color-lightninggreen);
}

#layout-builder-modal .password-confirm,.media-library-widget-modal .password-confirm,form.media-form .password-confirm {
  max-inline-size: 25rem;
}

#layout-builder-modal .password-confirm input,.media-library-widget-modal .password-confirm input,form.media-form .password-confirm input {
  width: 100%;
}

#layout-builder-modal .password-confirm__password,.media-library-widget-modal .password-confirm__password,form.media-form .password-confirm__password {
  margin-block-end: 0;
}

#layout-builder-modal .password-confirm__confirm,.media-library-widget-modal .password-confirm__confirm,form.media-form .password-confirm__confirm {
  margin-block-end: 0;
}

#layout-builder-modal .js .password-confirm__confirm,.media-library-widget-modal .js .password-confirm__confirm,form.media-form .js .password-confirm__confirm {
  max-height: 10rem;
  transition: max-height var(--speed-transition) ease-in-out, margin var(--speed-transition) ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
  #layout-builder-modal .js .password-confirm__confirm,.media-library-widget-modal .js .password-confirm__confirm,form.media-form .js .password-confirm__confirm {
    transition: none;
  }
}

#layout-builder-modal .js .is-initial:not(.form-item--error) .form-item__description,.media-library-widget-modal .js .is-initial:not(.form-item--error) .form-item__description,form.media-form .js .is-initial:not(.form-item--error) .form-item__description {
  margin-block-start: 0;
}

#layout-builder-modal .js .is-initial.is-password-empty.is-confirm-empty:not(.form-item--error) .password-confirm__confirm,.media-library-widget-modal .js .is-initial.is-password-empty.is-confirm-empty:not(.form-item--error) .password-confirm__confirm,form.media-form .js .is-initial.is-password-empty.is-confirm-empty:not(.form-item--error) .password-confirm__confirm {
  display: none;
  max-block-size: 0;
  margin-block-start: 0;
}

#layout-builder-modal .password-strength,.media-library-widget-modal .password-strength,form.media-form .password-strength {
  margin-block: var(--progress-bar-spacing-size);
}

#layout-builder-modal .password-strength__track,.media-library-widget-modal .password-strength__track,form.media-form .password-strength__track {
  height: var(--progress-bar-small-size);
  margin-block: var(--progress-bar-spacing-size);
  border: var(--progress-bar-border-size) solid var(--progress-track-border-color);
  border-radius: var(--progress-bar-small-size-radius);
  background-color: var(--progress-track-bg-color);
}

#layout-builder-modal .password-strength__track::after,.media-library-widget-modal .password-strength__track::after,form.media-form .password-strength__track::after {
  display: table;
  clear: both;
  content: "";
}

#layout-builder-modal .password-strength__bar,.media-library-widget-modal .password-strength__bar,form.media-form .password-strength__bar {
  min-inline-size: var(--progress-bar-small-size);
  height: var(--progress-bar-small-size);
  margin: calc(var(--progress-bar-border-size)*-1);
  transition: var(--progress-bar-transition);
  border: var(--progress-bar-border-size) solid transparent;
  border-radius: var(--progress-bar-small-size-radius);
  background-color: transparent;
}

#layout-builder-modal .password-strength__bar.is-weak,.media-library-widget-modal .password-strength__bar.is-weak,form.media-form .password-strength__bar.is-weak {
  border-color: var(--password-strength-bar-weak-border-color);
  background-color: var(--password-strength-bar-weak-bg-color);
}

#layout-builder-modal .password-strength__bar.is-fair,.media-library-widget-modal .password-strength__bar.is-fair,form.media-form .password-strength__bar.is-fair {
  border-color: var(--password-strength-bar-fair-border-color);
  background-color: var(--password-strength-bar-fair-bg-color);
}

#layout-builder-modal .password-strength__bar.is-good,.media-library-widget-modal .password-strength__bar.is-good,form.media-form .password-strength__bar.is-good {
  border-color: var(--password-strength-bar-good-border-color);
  background-color: var(--password-strength-bar-good-bg-color);
}

#layout-builder-modal .password-strength__bar.is-strong,.media-library-widget-modal .password-strength__bar.is-strong,form.media-form .password-strength__bar.is-strong {
  border-color: var(--password-strength-bar-strong-border-color);
  background-color: var(--password-strength-bar-strong-bg-color);
}

@media screen and (prefers-reduced-motion: reduce) {
  #layout-builder-modal .password-strength__bar,.media-library-widget-modal .password-strength__bar,form.media-form .password-strength__bar {
    transition: none;
  }
}

#layout-builder-modal .password-strength__title,.media-library-widget-modal .password-strength__title,form.media-form .password-strength__title {
  overflow: hidden;
  margin-block: var(--progress-bar-spacing-size);
  color: var(--progress-bar-description-color);
  font-size: var(--progress-bar-description-font-size);
  line-height: var(--space-m);
}

#layout-builder-modal .is-initial.is-password-empty .password-strength__title,.media-library-widget-modal .is-initial.is-password-empty .password-strength__title,form.media-form .is-initial.is-password-empty .password-strength__title {
  margin: 0;
  line-height: 0;
}

#layout-builder-modal .password-strength__text,.media-library-widget-modal .password-strength__text,form.media-form .password-strength__text {
  color: var(--progress-bar-label-color);
  font-weight: bold;
}

#layout-builder-modal .password-strength__bar.is-weak,.media-library-widget-modal .password-strength__bar.is-weak,form.media-form .password-strength__bar.is-weak {
  border-color: var(--password-strength-bar-weak-border-color);
  background-color: var(--password-strength-bar-weak-bg-color);
}

#layout-builder-modal .password-strength__bar.is-fair,.media-library-widget-modal .password-strength__bar.is-fair,form.media-form .password-strength__bar.is-fair {
  border-color: var(--password-strength-bar-fair-border-color);
  background-color: var(--password-strength-bar-fair-bg-color);
}

#layout-builder-modal .password-strength__bar.is-good,.media-library-widget-modal .password-strength__bar.is-good,form.media-form .password-strength__bar.is-good {
  border-color: var(--password-strength-bar-good-border-color);
  background-color: var(--password-strength-bar-good-bg-color);
}

#layout-builder-modal .password-strength__bar.is-strong,.media-library-widget-modal .password-strength__bar.is-strong,form.media-form .password-strength__bar.is-strong {
  border-color: var(--password-strength-bar-strong-border-color);
  background-color: var(--password-strength-bar-strong-bg-color);
}

@media (forced-colors: active) {
  #layout-builder-modal .password-strength__bar.is-weak,#layout-builder-modal .password-strength__bar.is-fair,#layout-builder-modal .password-strength__bar.is-good,#layout-builder-modal .password-strength__bar.is-strong,.media-library-widget-modal .password-strength__bar.is-weak,.media-library-widget-modal .password-strength__bar.is-fair,.media-library-widget-modal .password-strength__bar.is-good,.media-library-widget-modal .password-strength__bar.is-strong,form.media-form .password-strength__bar.is-weak,form.media-form .password-strength__bar.is-fair,form.media-form .password-strength__bar.is-good,form.media-form .password-strength__bar.is-strong {
    background-color: canvastext;
  }

  #layout-builder-modal .is-initial .password-strength__bar,.media-library-widget-modal .is-initial .password-strength__bar,form.media-form .is-initial .password-strength__bar {
    border-color: transparent;
    background-color: transparent;
  }
}

#layout-builder-modal .password-match-message,.media-library-widget-modal .password-match-message,form.media-form .password-match-message {
  margin-block: var(--progress-bar-spacing-size);
  color: var(--progress-bar-description-color);
  font-size: var(--progress-bar-description-font-size);
}

#layout-builder-modal .is-confirm-empty .password-match-message,.media-library-widget-modal .is-confirm-empty .password-match-message,form.media-form .is-confirm-empty .password-match-message {
  visibility: hidden;
}

#layout-builder-modal .password-match-message__text,.media-library-widget-modal .password-match-message__text,form.media-form .password-match-message__text {
  color: var(--progress-bar-label-color);
  font-weight: bold;
}

#layout-builder-modal .password-suggestions,.media-library-widget-modal .password-suggestions,form.media-form .password-suggestions {
  margin-block: var(--progress-bar-spacing-size) var(--space-xs);
  padding: var(--space-m);
  color: var(--progress-bar-description-color);
  border: 1px solid var(--color-gray-200);
  border-radius: var(--base-border-radius);
  background-color: var(--color-white);
  box-shadow: var(--details-box-shadow);
  font-size: var(--progress-bar-description-font-size);
}

#layout-builder-modal .password-suggestions__tips,.media-library-widget-modal .password-suggestions__tips,form.media-form .password-suggestions__tips {
  margin-block-start: var(--space-xs);
  margin-inline-start: var(--space-l);
}

