#layout-builder-modal .form-element,.media-library-widget-modal .form-element,form.media-form .form-element {
  box-sizing: border-box;
  max-width: 100%;
  min-height: calc((var(--input-padding-vertical) + var(--input-border-size))*2 + var(--input-line-height));
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  color: var(--input-fg-color);
  border: var(--input-border-size) solid var(--input-border-color);
  border-radius: var(--input-border-radius-size);
  background: var(--input-bg-color);
  font-size: var(--input-font-size);
  line-height: var(--input-line-height);
  appearance: none;
}

#layout-builder-modal .no-touchevents .form-element--extrasmall,#layout-builder-modal .no-touchevents .form-element[name$="][_weight]"],.media-library-widget-modal .no-touchevents .form-element--extrasmall,.media-library-widget-modal .no-touchevents .form-element[name$="][_weight]"],form.media-form .no-touchevents .form-element--extrasmall,form.media-form .no-touchevents .form-element[name$="][_weight]"] {
  min-height: calc((var(--input--extrasmall-padding-vertical) + var(--input-border-size))*2 + var(--input--extrasmall-line-height));
  padding: var(--input--extrasmall-padding-vertical) var(--input--extrasmall-padding-horizontal);
  font-size: var(--input--extrasmall-font-size);
  line-height: var(--input--extrasmall-line-height);
}

#layout-builder-modal .form-element--type-search[type=search],.media-library-widget-modal .form-element--type-search[type=search],form.media-form .form-element--type-search[type=search] {
  appearance: none;
  box-sizing: border-box;
}

#layout-builder-modal .form-element--type-date,#layout-builder-modal .form-element--type-time,.media-library-widget-modal .form-element--type-date,.media-library-widget-modal .form-element--type-time,form.media-form .form-element--type-date,form.media-form .form-element--type-time {
  vertical-align: -webkit-baseline-middle;
}

#layout-builder-modal .form-element--type-date,.media-library-widget-modal .form-element--type-date,form.media-form .form-element--type-date {
  min-width: 9.5rem;
}

#layout-builder-modal .form-element--type-time,.media-library-widget-modal .form-element--type-time,form.media-form .form-element--type-time {
  min-width: 7.5rem;
}

#layout-builder-modal .form-element--type-color,.media-library-widget-modal .form-element--type-color,form.media-form .form-element--type-color {
  min-width: 3rem;
  padding: 0;
  text-indent: calc(.75rem - var(--input-border-size));
}

#layout-builder-modal .form-element--type-file::-webkit-file-upload-button,.media-library-widget-modal .form-element--type-file::-webkit-file-upload-button,form.media-form .form-element--type-file::-webkit-file-upload-button {
  vertical-align: top;
}

#layout-builder-modal .form-element:active,.media-library-widget-modal .form-element:active,form.media-form .form-element:active {
  border-color: var(--input--focus-border-color);
}

#layout-builder-modal .form-element:hover,.media-library-widget-modal .form-element:hover,form.media-form .form-element:hover {
  border-color: var(--input--hover-border-color);
  box-shadow: inset 0 0 0 var(--input-border-size) var(--input--hover-border-color);
}

#layout-builder-modal .form-element:focus,.media-library-widget-modal .form-element:focus,form.media-form .form-element:focus {
  box-shadow: 0 0 0 2px var(--color-white), 0 0 0 5px var(--color-focus);
}

#layout-builder-modal .form-element:hover:focus,.media-library-widget-modal .form-element:hover:focus,form.media-form .form-element:hover:focus {
  box-shadow: 0 0 0 2px var(--color-white), 0 0 0 5px var(--color-focus), inset 0 0 0 var(--input-border-size) var(--input--hover-border-color);
}

#layout-builder-modal .form-element.error,.media-library-widget-modal .form-element.error,form.media-form .form-element.error {
  border-width: var(--input--error-border-size);
  border-color: var(--input--error-border-color);
}

#layout-builder-modal .form-element.error:hover,.media-library-widget-modal .form-element.error:hover,form.media-form .form-element.error:hover {
  box-shadow: none;
}

#layout-builder-modal .form-element.error:hover:focus,.media-library-widget-modal .form-element.error:hover:focus,form.media-form .form-element.error:hover:focus {
  box-shadow: 0 0 0 2px var(--color-white), 0 0 0 5px var(--color-focus);
}

#layout-builder-modal .form-element--type-textarea.error+.cke,.media-library-widget-modal .form-element--type-textarea.error+.cke,form.media-form .form-element--type-textarea.error+.cke {
  border-color: var(--input--error-border-color);
}

#layout-builder-modal .form-element[disabled],.media-library-widget-modal .form-element[disabled],form.media-form .form-element[disabled] {
  color: var(--input--disabled-fg-color);
  border-color: var(--input--disabled-border-color);
  background-color: var(--input--disabled-bg-color);
  box-shadow: none;
  -webkit-text-fill-color: var(--input--disabled-fg-color);
}

@media screen and (max-width: 37.5rem) {
  #layout-builder-modal .form-element,.media-library-widget-modal .form-element,form.media-form .form-element {
    float: none;
    width: 100%;
    margin-block-start: .75rem;
    margin-inline: 0;
  }

  #layout-builder-modal .form-element:first-child,#layout-builder-modal .form-item__label+.form-element,.media-library-widget-modal .form-element:first-child,.media-library-widget-modal .form-item__label+.form-element,form.media-form .form-element:first-child,form.media-form .form-item__label+.form-element {
    margin-block-start: 0;
  }
}

#layout-builder-modal .form-element--type-textarea.error+.ck-editor>.ck-editor__main,.media-library-widget-modal .form-element--type-textarea.error+.ck-editor>.ck-editor__main,form.media-form .form-element--type-textarea.error+.ck-editor>.ck-editor__main {
  border: var(--input--error-border-size) solid var(--input--error-border-color);
}

