/**
 * @file
 * Wrapped content from core/themes/claro/css/components/form--managed-file.css
 * Maintainers: the import statement presumes a relative location of core css.
 * The location may need to be adjusted depending on your setup.
 */

#layout-builder-modal .form-managed-file.no-upload,
#modal-media-library .form-managed-file.no-upload {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
}

#layout-builder-modal .form-managed-file.has-value.is-multiple,
#modal-media-library .form-managed-file.has-value.is-multiple {
  display: block;
}

#layout-builder-modal .form-managed-file__main,
#modal-media-library .form-managed-file__main {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
}

#layout-builder-modal .draggable .form-managed-file.has-value .form-managed-file__main,
#modal-media-library .draggable .form-managed-file.has-value .form-managed-file__main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

#layout-builder-modal .form-managed-file.is-single.has-value .form-managed-file__main:last-child,
#modal-media-library .form-managed-file.is-single.has-value .form-managed-file__main:last-child {
  margin-bottom: 1rem;
}

#layout-builder-modal .form-managed-file__meta,
#modal-media-library .form-managed-file__meta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 1rem;
  /* Bottom margin will be added by the child elements: because of we use flex display here, our margins won't collapse. */
}

#layout-builder-modal .draggable .form-managed-file.has-value .form-managed-file__meta,
#modal-media-library .draggable .form-managed-file.has-value .form-managed-file__meta {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media all and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #layout-builder-modal *::-ms-backdrop,
  #layout-builder-modal td .form-managed-file__meta,
  #modal-media-library *::-ms-backdrop,
  #modal-media-library td .form-managed-file__meta {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

#layout-builder-modal .form-managed-file__image-preview,
#modal-media-library .form-managed-file__image-preview {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 100%;
  margin-bottom: 1rem;
}

#layout-builder-modal .form-managed-file.has-meta .form-managed-file__image-preview,
#modal-media-library .form-managed-file.has-meta .form-managed-file__image-preview {
  margin-right: 1rem;
  /* LTR */
}

#layout-builder-modal [dir="rtl"] .form-managed-file.has-meta .form-managed-file__image-preview,
#modal-media-library [dir="rtl"] .form-managed-file.has-meta .form-managed-file__image-preview {
  margin-right: 0;
  margin-left: 1rem;
}

#layout-builder-modal td .form-managed-file.no-meta .form-managed-file__image-preview,
#modal-media-library td .form-managed-file.no-meta .form-managed-file__image-preview {
  margin-bottom: 0.5rem;
}

#layout-builder-modal .form-managed-file__meta-items,
#modal-media-library .form-managed-file__meta-items {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 16rem;
      -ms-flex: 1 1 16rem;
          flex: 1 1 16rem;
  max-width: 100%;
}

@media all and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #layout-builder-modal *::-ms-backdrop,
  #layout-builder-modal .form-managed-file__meta-items,
  #modal-media-library *::-ms-backdrop,
  #modal-media-library .form-managed-file__meta-items {
    -ms-flex-preferred-size: 32rem;
        flex-basis: 32rem;
  }
}

@media all and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #layout-builder-modal *::-ms-backdrop,
  #layout-builder-modal td .form-managed-file__meta-wrapper,
  #modal-media-library *::-ms-backdrop,
  #modal-media-library td .form-managed-file__meta-wrapper {
    display: -ms-flexbox;
    display: flex;
  }
}

#layout-builder-modal .form-managed-file .file,
#modal-media-library .form-managed-file .file {
  word-break: break-all;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
       hyphens: auto;
}

#layout-builder-modal .form-managed-file .file__size,
#modal-media-library .form-managed-file .file__size {
  word-break: normal;
}

#layout-builder-modal .form-managed-file__main .file,
#modal-media-library .form-managed-file__main .file {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0.5rem 1rem 0.5rem 0;
  /* LTR */
}

#layout-builder-modal [dir="rtl"] .form-managed-file__main .file,
#modal-media-library [dir="rtl"] .form-managed-file__main .file {
  margin-right: 0;
  margin-left: 1rem;
}

@media all and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #layout-builder-modal *::-ms-backdrop,
  #layout-builder-modal td .form-managed-file__main .file,
  #modal-media-library *::-ms-backdrop,
  #modal-media-library td .form-managed-file__main .file {
    -ms-flex: 0 1 100%;
        flex: 0 1 100%;
  }
}

#layout-builder-modal .form-managed-file__main .form-element--api-file,
#modal-media-library .form-managed-file__main .form-element--api-file {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 1px;
  /* This makes the element to be shrinked on IE11 */
}

#layout-builder-modal .form-managed-file__main .button.button,
#modal-media-library .form-managed-file__main .button.button {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0;
}

#layout-builder-modal .form-managed-file__meta .form-item,
#modal-media-library .form-managed-file__meta .form-item {
  max-width: 32rem;
  margin-top: 0;
  /* Top margin is added by the parent element */
  margin-bottom: 1rem;
}

#layout-builder-modal .form-managed-file__meta .form-item:last-child,
#modal-media-library .form-managed-file__meta .form-item:last-child {
  margin-bottom: 0.5rem;
}

#layout-builder-modal .form-managed-file__meta .form-element,
#modal-media-library .form-managed-file__meta .form-element {
  width: 100%;
}

#layout-builder-modal .file-widget-multiple.has-table .form-type--managed-file,
#modal-media-library .file-widget-multiple.has-table .form-type--managed-file {
  margin-right: 1rem;
  margin-left: 1rem;
}
