@charset "UTF-8";
/**
 * @file
 * Wrapped content from core/themes/claro/css/components/form--text.css
 * Maintainers: the import statement presumes a relative location of core css.
 * The location may need to be adjusted depending on your setup.
 */

#layout-builder-modal .form-element,
#modal-media-library .form-element,
#drupal-modal #media-image-edit-form .form-element {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  min-height: 3rem;
  /* iOS. */
  padding: calc(0.75rem - 1px) calc(1rem - 1px);
  color: #222330;
  border: 1px solid #8e929c;
  border-radius: 0.125rem;
  background: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Being able to control inner box shadow on iOS. */
}

#layout-builder-modal .no-touchevents .form-element--extrasmall,
#layout-builder-modal .no-touchevents .form-element[name$="][_weight]"],
#modal-media-library .no-touchevents .form-element--extrasmall,
#modal-media-library .no-touchevents .form-element[name$="][_weight]"],
#drupal-modal #media-image-edit-form .no-touchevents .form-element--extrasmall,
#drupal-modal #media-image-edit-form .no-touchevents .form-element[name$="][_weight]"] {
  min-height: 1.5rem;
  /* iOS. */
  padding: calc(0.15rem - 1px) calc(0.5rem - 1px);
  font-size: 0.889rem;
  line-height: 1.2rem;
}

#layout-builder-modal .form-element--type-search[type="search"],
#modal-media-library .form-element--type-search[type="search"],
#drupal-modal #media-image-edit-form .form-element--type-search[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#layout-builder-modal .form-element--type-date,
#layout-builder-modal .form-element--type-time,
#modal-media-library .form-element--type-date,
#modal-media-library .form-element--type-time,
#drupal-modal #media-image-edit-form .form-element--type-date,
#drupal-modal #media-image-edit-form .form-element--type-time {
  vertical-align: -webkit-baseline-middle;
  /* Prevent iOS input jump while filling. */
}

#layout-builder-modal .form-element--type-date,
#modal-media-library .form-element--type-date,
#drupal-modal #media-image-edit-form .form-element--type-date {
  min-width: 9.5rem;
  /* Prevent input width change while filling. */
}

#layout-builder-modal .form-element--type-time,
#modal-media-library .form-element--type-time,
#drupal-modal #media-image-edit-form .form-element--type-time {
  min-width: 7.5rem;
  /* Prevent input width change while filling. */
}

#layout-builder-modal .form-element--type-color,
#modal-media-library .form-element--type-color,
#drupal-modal #media-image-edit-form .form-element--type-color {
  min-width: 3rem;
  /* Bigger input for webkit */
  padding: 0;
  /* Bigger pickable area */
  text-indent: calc(0.75rem - 1px);
  /* Text-input fallback for non-supporting browsers like Safari */
}

#layout-builder-modal .form-element--type-file::-ms-value,
#modal-media-library .form-element--type-file::-ms-value,
#drupal-modal #media-image-edit-form .form-element--type-file::-ms-value {
  border: 0;
  background: inherit;
}

#layout-builder-modal .form-element--type-file::-webkit-file-upload-button,
#modal-media-library .form-element--type-file::-webkit-file-upload-button,
#drupal-modal #media-image-edit-form .form-element--type-file::-webkit-file-upload-button {
  vertical-align: top;
}

#layout-builder-modal _:-ms-fullscreen,
#layout-builder-modal :root .form-element--type-file,
#modal-media-library _:-ms-fullscreen,
#modal-media-library :root .form-element--type-file,
#drupal-modal #media-image-edit-form _:-ms-fullscreen,
#drupal-modal #media-image-edit-form :root .form-element--type-file {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

#layout-builder-modal .form-element:active,
#modal-media-library .form-element:active,
#drupal-modal #media-image-edit-form .form-element:active {
  border-color: #003cc5;
}

#layout-builder-modal .form-element:hover,
#modal-media-library .form-element:hover,
#drupal-modal #media-image-edit-form .form-element:hover {
  border-color: #222330;
  -webkit-box-shadow: inset 0 0 0 1px #222330;
          box-shadow: inset 0 0 0 1px #222330;
}

#layout-builder-modal .form-element:focus,
#modal-media-library .form-element:focus,
#drupal-modal #media-image-edit-form .form-element:focus {
  -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 5px #26a769;
          box-shadow: 0 0 0 2px #fff, 0 0 0 5px #26a769;
}

#layout-builder-modal .form-element:hover:focus,
#modal-media-library .form-element:hover:focus,
#drupal-modal #media-image-edit-form .form-element:hover:focus {
  -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 5px #26a769, inset 0 0 0 1px #222330;
          box-shadow: 0 0 0 2px #fff, 0 0 0 5px #26a769, inset 0 0 0 1px #222330;
}

#layout-builder-modal .form-element.error,
#modal-media-library .form-element.error,
#drupal-modal #media-image-edit-form .form-element.error {
  border-width: 2px;
  border-color: #d72222;
}

#layout-builder-modal .form-element.error:hover,
#modal-media-library .form-element.error:hover,
#drupal-modal #media-image-edit-form .form-element.error:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#layout-builder-modal .form-element.error:hover:focus,
#modal-media-library .form-element.error:hover:focus,
#drupal-modal #media-image-edit-form .form-element.error:hover:focus {
  -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 5px #26a769;
          box-shadow: 0 0 0 2px #fff, 0 0 0 5px #26a769;
}

#layout-builder-modal .form-element--type-textarea.error + .cke,
#modal-media-library .form-element--type-textarea.error + .cke,
#drupal-modal #media-image-edit-form .form-element--type-textarea.error + .cke {
  border-color: #d72222;
}

#layout-builder-modal .form-element[disabled],
#modal-media-library .form-element[disabled],
#drupal-modal #media-image-edit-form .form-element[disabled] {
  color: #82828c;
  border-color: #bababf;
  background-color: #f2f2f3;
  -webkit-box-shadow: none;
          box-shadow: none;
  /* https://stackoverflow.com/q/262158#answer-23511280 */
  -webkit-text-fill-color: #82828c;
}

@media screen and (max-width: 600px) {
  #layout-builder-modal,
  #modal-media-library,
  #drupal-modal #media-image-edit-form {
    /* Number, date and time are skipped here */
  }
  #layout-builder-modal .form-element,
  #modal-media-library .form-element,
  #drupal-modal #media-image-edit-form .form-element {
    float: none;
    width: 100%;
    margin-top: 0.75rem;
    margin-right: 0;
    margin-left: 0;
  }
  #layout-builder-modal .form-element:first-child,
  #layout-builder-modal .form-item__label + .form-element,
  #modal-media-library .form-element:first-child,
  #modal-media-library .form-item__label + .form-element,
  #drupal-modal #media-image-edit-form .form-element:first-child,
  #drupal-modal #media-image-edit-form .form-item__label + .form-element {
    margin-top: 0;
  }
}

#layout-builder-modal :root,
#modal-media-library :root,
#drupal-modal #media-image-edit-form :root {
  /*
   * Color Palette.
   */
  /* Secondary. */
  /* Variations. */
  /* 5% darker than base. */
  /* 10% darker than base. */
  /* 10% darker than base. */
  /* 20% darker than base. */
  /* 5% darker than base. */
  /* 10% darker than base. */
  /* 5% darker than base. */
  /* 10% darker than base. */
  /* 5% darker than base. */
  /* 10% darker than base. */
  /*
   * Base.
   */
  /*
   * Typography.
   */
  /* 1rem = 16px if font root is 100% ands browser defaults are used. */
  /* ~32px */
  /* ~29px */
  /* ~26px */
  /* ~23px */
  /* ~20px */
  /* 18px */
  /* ~14px */
  /* ~13px */
  /* ~11px */
  /**
   * Spaces.
   */
  /* 3 * 16px = 48px */
  /* 1.5 * 16px = 24px */
  /* 1 * 16px = 16px */
  /* 0.75 * 16px = 12px */
  /* 0.5 * 16px = 8px */
  /*
   * Common.
   */
  /*
   * Inputs.
   */
  /* Absolute zero with opacity. */
  /* Davy's grey with 0.6 opacity. */
  /* Light gray with 0.3 opacity on white bg. */
  /* Old silver with 0.5 opacity on white bg. */
  /* (1/8)em ~ 2px */
  /* (1/16)em ~ 1px */
  /* Font size is too big to use 1rem for extrasmall line-height */
  /* 7px inside the form element label. */
  /* 8px with the checkbox width of 19px */
  /*
   * Details.
   */
  /**
   * Buttons.
   */
  /**
   * jQuery.UI dropdown.
   */
  /* Light gray with 0.8 opacity. */
  /* Text color with 0.1 opacity. */
  /**
   * Progress bar.
   */
  /**
   * Tabledrag icon size.
   */
  /* 17px */
  /**
   * Ajax progress.
   */
  /**
   * Breadcrumb.
   */
}

#layout-builder-modal .js .form-autocomplete,
#modal-media-library .js .form-autocomplete,
#drupal-modal #media-image-edit-form .js .form-autocomplete {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m8,0.999781c-4.5394538,-0.1723607 -8.18800628,4.7870352 -6.6873554,9.068641 1.1767997,4.383903 6.9938335,6.416563 10.6372244,3.700244 0.325764,-0.391006 0.56541,0.275384 0.84585,0.440896 1.246479,1.246479 2.492958,2.492959 3.739437,3.739438 0.471354,-0.471354 0.942709,-0.942709 1.414063,-1.414063 -1.44987,-1.44987 -2.89974,-2.899739 -4.34961,-4.349609C16.410345,8.7174615 14.748115,2.9379071 10.536504,1.4755074 9.7302231,1.1615612 8.8650587,0.99941873 8,0.999781Z m0,2c3.242467,-0.1231148 5.848576,3.4193109 4.776682,6.477601 -0.841211,3.131959 -4.9939918,4.58038 -7.5998944,2.649077C2.4322236,10.397214 2.2765833,6.0022025 4.8919502,4.0831465 5.7667487,3.38528 6.8811016,2.996997 8,2.999781Z' fill='%23868686' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

#layout-builder-modal .js .form-autocomplete::-ms-clear,
#modal-media-library .js .form-autocomplete::-ms-clear,
#drupal-modal #media-image-edit-form .js .form-autocomplete::-ms-clear {
  display: none;
}

#layout-builder-modal .js[dir="rtl"] .form-autocomplete,
#modal-media-library .js[dir="rtl"] .form-autocomplete,
#drupal-modal #media-image-edit-form .js[dir="rtl"] .form-autocomplete {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12,0.999781c4.539454,-0.1723607 8.188006,4.7870352 6.687355,9.068641 -1.176799,4.383903 -6.993833,6.416563 -10.637224,3.700244C7.724367,13.37766 7.484721,14.04405 7.204281,14.209562 5.957802,15.456041 4.711323,16.702521 3.464844,17.949 2.99349,17.477646 2.522135,17.006291 2.050781,16.534937 3.500651,15.085067 4.950521,13.635198 6.400391,12.185328 3.589655,8.7174615 5.251885,2.9379071 9.463496,1.4755074 10.269777,1.1615612 11.134941,0.99941873 12,0.999781Z m0,2C8.757533,2.8766662 6.151424,6.4190919 7.223318,9.477382c0.841211,3.131959 4.993992,4.58038 7.599894,2.649077C17.567776,10.397214 17.723417,6.0022025 15.10805,4.0831465 14.233251,3.38528 13.118898,2.996997 12,2.999781Z' fill='%23868686' /%3E%3C/svg%3E");
  background-position: 0 50%;
}

#layout-builder-modal .js .form-autocomplete.is-autocompleting,
#modal-media-library .js .form-autocomplete.is-autocompleting,
#drupal-modal #media-image-edit-form .js .form-autocomplete.is-autocompleting {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' height='20' width='40'%3E%3Cstyle type='text/css'%3E @keyframes s%7B0%25%7Btransform:rotate(0deg) translate(-50%25,-50%25)%7D50%25%7Btransform:rotate(430deg) translate(-50%25,-50%25);stroke-dashoffset:20%7D100%25%7Btransform:rotate(720deg) translate(-50%25,-50%25)%7D%7Dellipse%7Banimation:s 1s linear infinite%7D%3C/style%3E%3Cg transform='translate(5 5)'%3E%3Cellipse fill='none' ry='4' rx='4' cy='5' cx='5' stroke='%23004adc' stroke-width='1' stroke-dashoffset='6.125' stroke-dasharray='25' transform='translate(-5 -5)' /%3E%3C/g%3E%3C/svg%3E");
}

#layout-builder-modal .js[dir="rtl"] .form-autocomplete.is-autocompleting,
#modal-media-library .js[dir="rtl"] .form-autocomplete.is-autocompleting,
#drupal-modal #media-image-edit-form .js[dir="rtl"] .form-autocomplete.is-autocompleting {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' height='20' width='40'%3E%3Cstyle type='text/css'%3E @keyframes s%7B0%25%7Btransform:rotate(0deg) translate(-50%25,-50%25)%7D50%25%7Btransform:rotate(-430deg) translate(-50%25,-50%25);stroke-dashoffset:20%7D100%25%7Btransform:rotate(-720deg) translate(-50%25,-50%25)%7D%7Dellipse%7Banimation:s 1s linear infinite%7D%3C/style%3E%3Cg transform='translate(5 5)'%3E%3Cellipse fill='none' ry='4' rx='4' cy='5' cx='5' stroke='%23004adc' stroke-width='1' stroke-dashoffset='6.125' stroke-dasharray='25' transform='translate(-5 -5)' /%3E%3C/g%3E%3C/svg%3E");
}

#layout-builder-modal _:-ms-fullscreen,
#layout-builder-modal .js .form-autocomplete.is-autocompleting,
#modal-media-library _:-ms-fullscreen,
#modal-media-library .js .form-autocomplete.is-autocompleting,
#drupal-modal #media-image-edit-form _:-ms-fullscreen,
#drupal-modal #media-image-edit-form .js .form-autocomplete.is-autocompleting {
  background-image: url("../../images/spinner-ltr.gif");
  background-size: 2.5rem 1.25rem;
}

#layout-builder-modal _:-ms-fullscreen,
#layout-builder-modal .js[dir="rtl"] .form-autocomplete.is-autocompleting,
#modal-media-library _:-ms-fullscreen,
#modal-media-library .js[dir="rtl"] .form-autocomplete.is-autocompleting,
#drupal-modal #media-image-edit-form _:-ms-fullscreen,
#drupal-modal #media-image-edit-form .js[dir="rtl"] .form-autocomplete.is-autocompleting {
  background-image: url("../../images/spinner-rtl.gif");
}

#layout-builder-modal .claro-autocomplete,
#modal-media-library .claro-autocomplete,
#drupal-modal #media-image-edit-form .claro-autocomplete {
  position: relative;
  display: inline-block;
  max-width: 100%;
  margin: 0.25rem 0;
}

#layout-builder-modal .claro-autocomplete__message,
#modal-media-library .claro-autocomplete__message,
#drupal-modal #media-image-edit-form .claro-autocomplete__message {
  position: absolute;
  right: 0;
  bottom: 100%;
  max-width: 100%;
  margin-bottom: 0.15rem;
  color: #003cc5;
  font-size: 0.702rem;
  /* ~11px */
  font-weight: bold;
  line-height: 1.125rem;
  /* 18px */
}

#layout-builder-modal [dir="rtl"] .claro-autocomplete__message,
#modal-media-library [dir="rtl"] .claro-autocomplete__message,
#drupal-modal #media-image-edit-form [dir="rtl"] .claro-autocomplete__message {
  right: auto;
  left: 0;
}

#layout-builder-modal .js .is-autocompleting + .claro-autocomplete__message,
#modal-media-library .js .is-autocompleting + .claro-autocomplete__message,
#drupal-modal #media-image-edit-form .js .is-autocompleting + .claro-autocomplete__message {
  display: block;
}

#layout-builder-modal .form-element--extrasmall,
#modal-media-library .form-element--extrasmall,
#drupal-modal #media-image-edit-form .form-element--extrasmall {
  padding-right: calc(1.5rem - 1px);
  -webkit-background-size: 1.75rem 0.4375rem;
          background-size: 1.75rem 0.4375rem;
  min-height: 1.5rem;
  padding: calc(0.15rem - 1px) calc(0.5rem - 1px);
  font-size: 0.889rem;
  line-height: 1.2rem;
}
