/**
 * @file
 * Wrapped content from core/themes/claro/css/components/form--checkbox-radio.css
 * Maintainers: the import statement presumes a relative location of core css.
 * The location may need to be adjusted depending on your setup.
 */
#layout-builder-modal .form-type--boolean,
.media-library-widget-modal .form-type--boolean,
form.media-form .form-type--boolean {
  margin-left: 1.6875rem;
  /* LTR */
  line-height: 1.5rem;
}
#layout-builder-modal [dir=rtl] .form-type--boolean,
.media-library-widget-modal [dir=rtl] .form-type--boolean,
form.media-form [dir=rtl] .form-type--boolean {
  margin-right: 1.6875rem;
  margin-left: 0;
}
#layout-builder-modal .form-type--boolean .form-boolean,
.media-library-widget-modal .form-type--boolean .form-boolean,
form.media-form .form-type--boolean .form-boolean {
  position: relative;
  top: 0.75rem;
  float: left;
  /* LTR */
  margin-left: -1.6875rem;
  /* LTR */
  transform: translateY(-50%);
}
#layout-builder-modal [dir=rtl] .form-type--boolean .form-boolean,
.media-library-widget-modal [dir=rtl] .form-type--boolean .form-boolean,
form.media-form [dir=rtl] .form-type--boolean .form-boolean {
  float: right;
  margin-right: -1.6875rem;
  margin-left: 0;
}
#layout-builder-modal .form-type--boolean.form-item--no-label,
.media-library-widget-modal .form-type--boolean.form-item--no-label,
form.media-form .form-type--boolean.form-item--no-label {
  margin-left: 0;
}
#layout-builder-modal [dir=rtl] .form-type--boolean.form-item--no-label,
.media-library-widget-modal [dir=rtl] .form-type--boolean.form-item--no-label,
form.media-form [dir=rtl] .form-type--boolean.form-item--no-label {
  margin-right: 0;
}
#layout-builder-modal .form-type--boolean.form-item--no-label .form-boolean,
#layout-builder-modal [dir=rtl] .form-type--boolean.form-item--no-label .form-boolean,
.media-library-widget-modal .form-type--boolean.form-item--no-label .form-boolean,
.media-library-widget-modal [dir=rtl] .form-type--boolean.form-item--no-label .form-boolean,
form.media-form .form-type--boolean.form-item--no-label .form-boolean,
form.media-form [dir=rtl] .form-type--boolean.form-item--no-label .form-boolean {
  position: static;
  float: none;
  margin-right: 0;
  margin-left: 0;
  transform: none;
}
#layout-builder-modal .form-boolean-group .form-type--boolean,
.media-library-widget-modal .form-boolean-group .form-type--boolean,
form.media-form .form-boolean-group .form-type--boolean {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
#layout-builder-modal .form-boolean,
.media-library-widget-modal .form-boolean,
form.media-form .form-boolean {
  display: inline-block;
  box-sizing: border-box;
  width: 1.125rem;
  height: 1.125rem;
  -webkit-appearance: none;
  appearance: none;
  vertical-align: text-bottom;
  border: 1px solid #919297;
  border-radius: 2px;
  background: #fff no-repeat 50% 50%;
  background-image: url("data:image/svg+xml,%3csvg width='12' height='10' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.182 6.966L1.977 4.649l-.182-.19-.18.19-.796.835-.164.173.164.172L4 9.172l.18.19.182-.19 6.818-7.164.164-.172-.164-.173-.795-.835-.181-.19-.182.19-5.841 6.138z' fill='%23FFF'/%3e%3c/svg%3e");
  background-size: 100% 100%;
  box-shadow: 0 0 0 4px transparent;
}
#layout-builder-modal .form-boolean--type-radio,
.media-library-widget-modal .form-boolean--type-radio,
form.media-form .form-boolean--type-radio {
  width: 1.1875rem;
  height: 1.1875rem;
  border-radius: 1.1875rem;
}
#layout-builder-modal .form-boolean:active,
#layout-builder-modal .form-boolean:hover,
.media-library-widget-modal .form-boolean:active,
.media-library-widget-modal .form-boolean:hover,
form.media-form .form-boolean:active,
form.media-form .form-boolean:hover {
  border-color: #232429;
  box-shadow: inset 0 0 0 1px #232429;
}
#layout-builder-modal .form-boolean:focus:active,
#layout-builder-modal .form-boolean:focus:hover,
.media-library-widget-modal .form-boolean:focus:active,
.media-library-widget-modal .form-boolean:focus:hover,
form.media-form .form-boolean:focus:active,
form.media-form .form-boolean:focus:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 5px #26a769, inset 0 0 0 1px #232429;
}
#layout-builder-modal .form-boolean--type-checkbox:checked,
.media-library-widget-modal .form-boolean--type-checkbox:checked,
form.media-form .form-boolean--type-checkbox:checked {
  border-color: #003cc5;
  background-color: #003cc5;
  background-image: url("data:image/svg+xml,%3csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.795 7.096l2.387 2.506 6.023-6.327 1.484 1.56-7.507 7.89L2.31 8.656z' fill='%23fff'/%3e%3c/svg%3e");
}
#layout-builder-modal .form-boolean--type-checkbox:checked:active,
#layout-builder-modal .form-boolean--type-checkbox:checked:hover,
.media-library-widget-modal .form-boolean--type-checkbox:checked:active,
.media-library-widget-modal .form-boolean--type-checkbox:checked:hover,
form.media-form .form-boolean--type-checkbox:checked:active,
form.media-form .form-boolean--type-checkbox:checked:hover {
  border-color: #232429;
  background-color: #232429;
}
#layout-builder-modal .form-boolean--type-radio:checked,
.media-library-widget-modal .form-boolean--type-radio:checked,
form.media-form .form-boolean--type-radio:checked {
  border-color: #003cc5;
  background-image: url("data:image/svg+xml,%3csvg width='17' height='17' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle r='4.5' cx='8.5' cy='8.5' fill='%23004adc'/%3e%3c/svg%3e");
  box-shadow: inset 0 0 0 1px #003cc5;
}
#layout-builder-modal .form-boolean--type-radio:checked:focus,
.media-library-widget-modal .form-boolean--type-radio:checked:focus,
form.media-form .form-boolean--type-radio:checked:focus {
  box-shadow: 0 0 0 2px #fff, 0 0 0 5px #26a769, inset 0 0 0 1px #003cc5;
}
#layout-builder-modal .form-boolean--type-radio:checked:active,
#layout-builder-modal .form-boolean--type-radio:checked:hover,
.media-library-widget-modal .form-boolean--type-radio:checked:active,
.media-library-widget-modal .form-boolean--type-radio:checked:hover,
form.media-form .form-boolean--type-radio:checked:active,
form.media-form .form-boolean--type-radio:checked:hover {
  border-color: #232429;
  background-image: url("data:image/svg+xml,%3csvg width='17' height='17' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle r='4.5' cx='8.5' cy='8.5' fill='%23222330'/%3e%3c/svg%3e");
  box-shadow: inset 0 0 0 1px #232429;
}
#layout-builder-modal .form-boolean--type-radio:checked:focus:active,
#layout-builder-modal .form-boolean--type-radio:checked:focus:hover,
.media-library-widget-modal .form-boolean--type-radio:checked:focus:active,
.media-library-widget-modal .form-boolean--type-radio:checked:focus:hover,
form.media-form .form-boolean--type-radio:checked:focus:active,
form.media-form .form-boolean--type-radio:checked:focus:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 5px #26a769, inset 0 0 0 1px #232429;
}
#layout-builder-modal .form-boolean.error,
.media-library-widget-modal .form-boolean.error,
form.media-form .form-boolean.error {
  border-color: #d72222;
  background-color: #fff;
  box-shadow: inset 0 0 0 1px #d72222;
}
#layout-builder-modal .form-boolean.error:active,
#layout-builder-modal .form-boolean.error:hover,
.media-library-widget-modal .form-boolean.error:active,
.media-library-widget-modal .form-boolean.error:hover,
form.media-form .form-boolean.error:active,
form.media-form .form-boolean.error:hover {
  box-shadow: inset 0 0 0 1px #d72222;
}
#layout-builder-modal .form-boolean.error:focus,
#layout-builder-modal .form-boolean.error:focus:active,
#layout-builder-modal .form-boolean.error:focus:hover,
.media-library-widget-modal .form-boolean.error:focus,
.media-library-widget-modal .form-boolean.error:focus:active,
.media-library-widget-modal .form-boolean.error:focus:hover,
form.media-form .form-boolean.error:focus,
form.media-form .form-boolean.error:focus:active,
form.media-form .form-boolean.error:focus:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 5px #26a769, inset 0 0 0 1px #d72222;
}
#layout-builder-modal .form-boolean.error:checked:active,
#layout-builder-modal .form-boolean.error:checked:hover,
.media-library-widget-modal .form-boolean.error:checked:active,
.media-library-widget-modal .form-boolean.error:checked:hover,
form.media-form .form-boolean.error:checked:active,
form.media-form .form-boolean.error:checked:hover {
  border-color: #d72222;
  background-color: #fff;
}
#layout-builder-modal .form-boolean--type-checkbox.error:checked,
#layout-builder-modal .form-boolean--type-checkbox.error:checked:active,
#layout-builder-modal .form-boolean--type-checkbox.error:checked:hover,
.media-library-widget-modal .form-boolean--type-checkbox.error:checked,
.media-library-widget-modal .form-boolean--type-checkbox.error:checked:active,
.media-library-widget-modal .form-boolean--type-checkbox.error:checked:hover,
form.media-form .form-boolean--type-checkbox.error:checked,
form.media-form .form-boolean--type-checkbox.error:checked:active,
form.media-form .form-boolean--type-checkbox.error:checked:hover {
  background-color: #d72222;
}
#layout-builder-modal .form-boolean--type-radio.error:checked,
#layout-builder-modal .form-boolean--type-radio.error:checked:active,
#layout-builder-modal .form-boolean--type-radio.error:checked:hover,
.media-library-widget-modal .form-boolean--type-radio.error:checked,
.media-library-widget-modal .form-boolean--type-radio.error:checked:active,
.media-library-widget-modal .form-boolean--type-radio.error:checked:hover,
form.media-form .form-boolean--type-radio.error:checked,
form.media-form .form-boolean--type-radio.error:checked:active,
form.media-form .form-boolean--type-radio.error:checked:hover {
  background-image: url("data:image/svg+xml,%3csvg width='17' height='17' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle r='4.5' cx='8.5' cy='8.5' fill='%23d72222'/%3e%3c/svg%3e");
}
#layout-builder-modal .form-boolean--type-radio.error:checked:focus,
.media-library-widget-modal .form-boolean--type-radio.error:checked:focus,
form.media-form .form-boolean--type-radio.error:checked:focus {
  box-shadow: 0 0 0 2px #fff, 0 0 0 5px #26a769, inset 0 0 0 1px #d72222;
}
#layout-builder-modal .form-boolean[disabled],
#layout-builder-modal .form-boolean[disabled]:hover,
#layout-builder-modal .form-boolean[disabled].error,
#layout-builder-modal .form-boolean[disabled].error:hover,
#layout-builder-modal .form-boolean--type-radio[disabled]:focus:active,
#layout-builder-modal .form-boolean--type-radio[disabled]:active:hover,
#layout-builder-modal .form-boolean--type-radio[disabled].error:active:hover,
.media-library-widget-modal .form-boolean[disabled],
.media-library-widget-modal .form-boolean[disabled]:hover,
.media-library-widget-modal .form-boolean[disabled].error,
.media-library-widget-modal .form-boolean[disabled].error:hover,
.media-library-widget-modal .form-boolean--type-radio[disabled]:focus:active,
.media-library-widget-modal .form-boolean--type-radio[disabled]:active:hover,
.media-library-widget-modal .form-boolean--type-radio[disabled].error:active:hover,
form.media-form .form-boolean[disabled],
form.media-form .form-boolean[disabled]:hover,
form.media-form .form-boolean[disabled].error,
form.media-form .form-boolean[disabled].error:hover,
form.media-form .form-boolean--type-radio[disabled]:focus:active,
form.media-form .form-boolean--type-radio[disabled]:active:hover,
form.media-form .form-boolean--type-radio[disabled].error:active:hover {
  border-color: #bababf;
  background-color: #f2f2f3;
  background-image: none;
  box-shadow: none;
}
#layout-builder-modal .form-boolean--type-checkbox[disabled]:checked,
.media-library-widget-modal .form-boolean--type-checkbox[disabled]:checked,
form.media-form .form-boolean--type-checkbox[disabled]:checked {
  background-image: url("data:image/svg+xml,%3csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.795 7.096l2.387 2.506 6.023-6.327 1.484 1.56-7.507 7.89L2.31 8.656z' fill='%2382828c'/%3e%3c/svg%3e");
}
#layout-builder-modal .form-boolean--type-radio[disabled]:checked,
#layout-builder-modal .form-boolean--type-radio[disabled].error:checked,
.media-library-widget-modal .form-boolean--type-radio[disabled]:checked,
.media-library-widget-modal .form-boolean--type-radio[disabled].error:checked,
form.media-form .form-boolean--type-radio[disabled]:checked,
form.media-form .form-boolean--type-radio[disabled].error:checked {
  background-image: url("data:image/svg+xml,%3csvg width='17' height='17' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle r='4.5' cx='8.5' cy='8.5' fill='%2382828c'/%3e%3c/svg%3e");
}
