/**
 * @file
 * Wrapped content from core/themes/claro/css/components/form--password-confirm.css
 * Maintainers: the import statement presumes a relative location of core css.
 * The location may need to be adjusted depending on your setup.
 */
#layout-builder-modal .password-confirm,
.media-library-widget-modal .password-confirm,
form.media-form .password-confirm {
  max-width: 25rem;
}
#layout-builder-modal .password-confirm__password,
.media-library-widget-modal .password-confirm__password,
form.media-form .password-confirm__password {
  margin-bottom: 0;
}
#layout-builder-modal .password-confirm__confirm,
.media-library-widget-modal .password-confirm__confirm,
form.media-form .password-confirm__confirm {
  margin-bottom: 0;
}
#layout-builder-modal .js .password-confirm__confirm,
.media-library-widget-modal .js .password-confirm__confirm,
form.media-form .js .password-confirm__confirm {
  max-height: 10rem;
  transition: max-height 0.2s ease-in-out, margin 0.2s ease-in-out;
}
@media screen and (prefers-reduced-motion: reduce) {
  #layout-builder-modal .js .password-confirm__confirm,
  .media-library-widget-modal .js .password-confirm__confirm,
  form.media-form .js .password-confirm__confirm {
    transition: none;
  }
}
#layout-builder-modal .js .is-initial:not(.form-item--error) .form-item__description,
.media-library-widget-modal .js .is-initial:not(.form-item--error) .form-item__description,
form.media-form .js .is-initial:not(.form-item--error) .form-item__description {
  margin-top: 0;
}
#layout-builder-modal .js .is-initial.is-password-empty.is-confirm-empty:not(.form-item--error) .password-confirm__confirm,
.media-library-widget-modal .js .is-initial.is-password-empty.is-confirm-empty:not(.form-item--error) .password-confirm__confirm,
form.media-form .js .is-initial.is-password-empty.is-confirm-empty:not(.form-item--error) .password-confirm__confirm {
  display: none;
  max-height: 0;
  margin-top: 0;
}
#layout-builder-modal .password-strength,
.media-library-widget-modal .password-strength,
form.media-form .password-strength {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#layout-builder-modal .password-strength__track,
.media-library-widget-modal .password-strength__track,
form.media-form .password-strength__track {
  height: calc(0.5rem - 2px);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #919297;
  border-radius: 0.5rem;
  background-color: #d3d4d9;
}
#layout-builder-modal .password-strength__track::after,
.media-library-widget-modal .password-strength__track::after,
form.media-form .password-strength__track::after {
  display: table;
  clear: both;
  content: "";
}
#layout-builder-modal .password-strength__bar,
.media-library-widget-modal .password-strength__bar,
form.media-form .password-strength__bar {
  min-width: calc(0.5rem - 2px);
  height: calc(0.5rem - 2px);
  margin: -1px;
  transition: width 0.5s ease-out;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  background-color: transparent;
}
@media screen and (prefers-reduced-motion: reduce) {
  #layout-builder-modal .password-strength__bar,
  .media-library-widget-modal .password-strength__bar,
  form.media-form .password-strength__bar {
    transition: none;
  }
}
@media screen and (-ms-high-contrast: active) {
  #layout-builder-modal .password-strength__bar,
  .media-library-widget-modal .password-strength__bar,
  form.media-form .password-strength__bar {
    background-color: windowText;
  }
  #layout-builder-modal .is-initial .password-strength__bar,
  .media-library-widget-modal .is-initial .password-strength__bar,
  form.media-form .is-initial .password-strength__bar {
    border-color: transparent;
    background-color: transparent;
  }
}
#layout-builder-modal .password-strength__title,
.media-library-widget-modal .password-strength__title,
form.media-form .password-strength__title {
  overflow: hidden;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #55565b;
  font-size: 0.79rem;
  line-height: 1rem;
}
#layout-builder-modal .password-strength__text,
.media-library-widget-modal .password-strength__text,
form.media-form .password-strength__text {
  color: #232429;
  font-weight: bold;
}
#layout-builder-modal .password-strength__bar.is-weak,
.media-library-widget-modal .password-strength__bar.is-weak,
form.media-form .password-strength__bar.is-weak {
  border-color: #d72222;
  background-color: #d72222;
}
#layout-builder-modal .password-strength__bar.is-fair,
.media-library-widget-modal .password-strength__bar.is-fair,
form.media-form .password-strength__bar.is-fair {
  border-color: #977405;
  background-color: #ffd23f;
}
#layout-builder-modal .password-strength__bar.is-good,
.media-library-widget-modal .password-strength__bar.is-good,
form.media-form .password-strength__bar.is-good {
  border-color: #26a769;
  background-color: #26a769;
}
#layout-builder-modal .password-strength__bar.is-strong,
.media-library-widget-modal .password-strength__bar.is-strong,
form.media-form .password-strength__bar.is-strong {
  border-color: #26a769;
  background-color: #26a769;
}
#layout-builder-modal .is-initial.is-password-empty .password-strength__title,
.media-library-widget-modal .is-initial.is-password-empty .password-strength__title,
form.media-form .is-initial.is-password-empty .password-strength__title {
  margin: 0;
  line-height: 0;
}
#layout-builder-modal .password-match-message,
.media-library-widget-modal .password-match-message,
form.media-form .password-match-message {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #55565b;
  font-size: 0.79rem;
}
#layout-builder-modal .password-match-message__text,
.media-library-widget-modal .password-match-message__text,
form.media-form .password-match-message__text {
  color: #232429;
  font-weight: bold;
}
#layout-builder-modal .is-confirm-empty .password-match-message,
.media-library-widget-modal .is-confirm-empty .password-match-message,
form.media-form .is-confirm-empty .password-match-message {
  visibility: hidden;
}
#layout-builder-modal .password-suggestions,
.media-library-widget-modal .password-suggestions,
form.media-form .password-suggestions {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  color: #55565b;
  border: 1px solid #d3d4d9;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 0.79rem;
}
#layout-builder-modal .password-suggestions__tips,
.media-library-widget-modal .password-suggestions__tips,
form.media-form .password-suggestions__tips {
  margin: 0.5rem 0 0 1.5rem;
  /* LTR */
}
#layout-builder-modal [dir=rtl] .password-suggestions__tips,
.media-library-widget-modal [dir=rtl] .password-suggestions__tips,
form.media-form [dir=rtl] .password-suggestions__tips {
  margin-right: 1.5rem;
  margin-left: 0;
}
