/**
 * @file
 * Wrapped content from core/themes/claro/css/components/image-preview.css
 * Maintainers: the import statement presumes a relative location of core css.
 * The location may need to be adjusted depending on your setup.
 */
#layout-builder-modal .image-preview,
.media-library-widget-modal .image-preview,
form.media-form .image-preview {
  line-height: 0;
}
#layout-builder-modal .image-preview__img-wrapper,
.media-library-widget-modal .image-preview__img-wrapper,
form.media-form .image-preview__img-wrapper {
  display: inline-block;
  max-width: 100%;
  background-color: #fff;
  box-shadow: inset 0 0 0.4375rem #d3d4d9;
}
#layout-builder-modal .image-preview img,
.media-library-widget-modal .image-preview img,
form.media-form .image-preview img {
  background-image: linear-gradient(-45deg, #d3d4d9 25%, transparent 26%), linear-gradient(-45deg, #d3d4d9 25%, transparent 26%), linear-gradient(135deg, #d3d4d9 25%, transparent 26%), linear-gradient(135deg, #d3d4d9 25%, transparent 26%);
  background-position: 0 0, 0.4375rem 0.4375rem, 0.4375rem 0.4375rem, 0 0;
  background-size: 0.875rem 0.875rem;
}
@media screen and (-ms-high-contrast: active) {
  #layout-builder-modal .image-preview img,
  .media-library-widget-modal .image-preview img,
  form.media-form .image-preview img {
    background: none;
  }
}
#layout-builder-modal .image-widget .file.file,
.media-library-widget-modal .image-widget .file.file,
form.media-form .image-widget .file.file {
  padding: 0;
  /* LTR and RTL */
  background: none;
}
