/**
 * @file
 * Wrapped content from core/themes/claro/css/components/menus-and-lists.css
 * Maintainers: the import statement presumes a relative location of core css.
 * The location may need to be adjusted depending on your setup.
 */

#layout-builder-modal .item-list ul,
#modal-media-library .item-list ul {
  margin: 0.25em 0 0.25em 1.5em;
  /* LTR */
  list-style-type: disc;
  list-style-image: none;
}

#layout-builder-modal [dir="rtl"] .item-list ul,
#modal-media-library [dir="rtl"] .item-list ul {
  margin: 0.25em 1.5em 0.25em 0;
}

#layout-builder-modal .item-list ul li,
#layout-builder-modal .menu-item,
#modal-media-library .item-list ul li,
#modal-media-library .menu-item {
  list-style-type: disc;
  list-style-image: none;
}

#layout-builder-modal .menu-item,
#modal-media-library .menu-item {
  margin: 0;
}

#layout-builder-modal .item-list ul li.collapsed,
#layout-builder-modal .menu-item--collapsed,
#modal-media-library .item-list ul li.collapsed,
#modal-media-library .menu-item--collapsed {
  list-style-type: disc;
  list-style-image: url(../../images/menu-collapsed.png);
}

#layout-builder-modal .item-list ul li.expanded,
#layout-builder-modal .menu-item--expanded,
#modal-media-library .item-list ul li.expanded,
#modal-media-library .menu-item--expanded {
  list-style-type: circle;
  list-style-image: url(../../images/menu-expanded.png);
}

#layout-builder-modal ul.links li,
#layout-builder-modal ul.inline li,
#modal-media-library ul.links li,
#modal-media-library ul.inline li {
  padding-right: 1em;
  /* LTR */
}

#layout-builder-modal [dir="rtl"] ul.links li,
#layout-builder-modal [dir="rtl"] ul.inline li,
#modal-media-library [dir="rtl"] ul.links li,
#modal-media-library [dir="rtl"] ul.inline li {
  padding-right: 0;
  padding-left: 1em;
}

#layout-builder-modal ul.inline li,
#modal-media-library ul.inline li {
  display: inline;
}
