/**
 * @file
 * Wrapped content from core/themes/claro/css/components/messages.css
 * Maintainers: the import statement presumes a relative location of core css.
 * The location may need to be adjusted depending on your setup.
 */
#layout-builder-modal .messages-list,
.media-library-widget-modal .messages-list,
form.media-form .messages-list {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  padding: 0;
  list-style: none;
}
#layout-builder-modal .field .messages-list,
#layout-builder-modal .form-wrapper .messages-list,
.media-library-widget-modal .field .messages-list,
.media-library-widget-modal .form-wrapper .messages-list,
form.media-form .field .messages-list,
form.media-form .form-wrapper .messages-list {
  margin-bottom: 0;
}
#layout-builder-modal .messages,
.media-library-widget-modal .messages,
form.media-form .messages {
  box-sizing: border-box;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1.5rem 1.5rem 2rem 1.1875rem;
  /* LTR */
  color: #fff;
  border-width: 0 0 0 5px;
  /* LTR */
  border-style: solid;
  border-color: #353641;
  border-radius: 2px;
  background-color: #353641;
}
#layout-builder-modal [dir=rtl] .messages,
.media-library-widget-modal [dir=rtl] .messages,
form.media-form [dir=rtl] .messages {
  padding-right: 1.1875rem;
  padding-left: 1.5rem;
  border-right-width: 5px;
  border-left-width: 0;
}
#layout-builder-modal .messages--error,
.media-library-widget-modal .messages--error,
form.media-form .messages--error {
  border-color: #e34f4f;
}
#layout-builder-modal .messages--status,
.media-library-widget-modal .messages--status,
form.media-form .messages--status {
  border-color: #42a877;
}
#layout-builder-modal .messages--warning,
.media-library-widget-modal .messages--warning,
form.media-form .messages--warning {
  border-color: #e0ac00;
}
#layout-builder-modal .messages__title,
.media-library-widget-modal .messages__title,
form.media-form .messages__title {
  margin: 0 0 0 2.5rem;
  /* LTR */
  font-size: 1rem;
}
#layout-builder-modal [dir=rtl] .messages__title,
.media-library-widget-modal [dir=rtl] .messages__title,
form.media-form [dir=rtl] .messages__title {
  margin-right: 2.5rem;
  margin-left: 0;
}
#layout-builder-modal .messages--error .messages__header,
.media-library-widget-modal .messages--error .messages__header,
form.media-form .messages--error .messages__header {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 14 14'%3e%3cpath d='M3 11.193L11.45 3' stroke='%23e34f4f' stroke-width='2'/%3e%3ccircle cx='7' cy='7' r='6' fill='none' stroke='%23e34f4f' stroke-width='2'/%3e%3c/svg%3e") no-repeat center left;
  /* LTR */
}
#layout-builder-modal [dir=rtl] .messages--error .messages__header,
.media-library-widget-modal [dir=rtl] .messages--error .messages__header,
form.media-form [dir=rtl] .messages--error .messages__header {
  background-position: center right;
}
#layout-builder-modal .messages--status .messages__header,
.media-library-widget-modal .messages--status .messages__header,
form.media-form .messages--status .messages__header {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 13'%3e%3cpath d='M2 6.571L5.6 10 14 2' fill='none' stroke='%2342a877' stroke-width='3'/%3e%3c/svg%3e") no-repeat center left;
  /* LTR */
}
#layout-builder-modal [dir=rtl] .messages--status .messages__header,
.media-library-widget-modal [dir=rtl] .messages--status .messages__header,
form.media-form [dir=rtl] .messages--status .messages__header {
  background-position: center right;
}
#layout-builder-modal .messages--warning .messages__header,
.media-library-widget-modal .messages--warning .messages__header,
form.media-form .messages--warning .messages__header {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 4 14' fill='%23e0ac00'%3e%3cpath d='M.5 0h3v9h-3z'/%3e%3ccircle cx='2' cy='12.5' r='1.5'/%3e%3c/svg%3e") no-repeat center left;
  /* LTR */
}
#layout-builder-modal [dir=rtl] .messages--warning .messages__header,
.media-library-widget-modal [dir=rtl] .messages--warning .messages__header,
form.media-form [dir=rtl] .messages--warning .messages__header {
  background-position: center right;
}
#layout-builder-modal .messages__header,
.media-library-widget-modal .messages__header,
form.media-form .messages__header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  #layout-builder-modal .messages__content,
  .media-library-widget-modal .messages__content,
  form.media-form .messages__content {
    margin-left: 2.5rem;
    /* LTR */
  }
  #layout-builder-modal [dir=rtl] .messages__content,
  .media-library-widget-modal [dir=rtl] .messages__content,
  form.media-form [dir=rtl] .messages__content {
    margin-right: 2.5rem;
    margin-left: 0;
  }
}
#layout-builder-modal .messages a,
.media-library-widget-modal .messages a,
form.media-form .messages a {
  text-decoration: underline;
  color: #ffd23f;
}
#layout-builder-modal .messages a:hover,
.media-library-widget-modal .messages a:hover,
form.media-form .messages a:hover {
  color: #fff;
}
#layout-builder-modal .messages pre,
.media-library-widget-modal .messages pre,
form.media-form .messages pre {
  margin: 0;
}
#layout-builder-modal .messages__list,
.media-library-widget-modal .messages__list,
form.media-form .messages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
#layout-builder-modal .messages__item + .messages__item,
.media-library-widget-modal .messages__item + .messages__item,
form.media-form .messages__item + .messages__item {
  margin-top: 0.75rem;
}
@media screen and (-ms-high-contrast: active) {
  #layout-builder-modal .messages,
  .media-library-widget-modal .messages,
  form.media-form .messages {
    border-width: 1px 1px 1px 5px;
    /* LTR */
  }
  #layout-builder-modal [dir=rtl] .messages,
  .media-library-widget-modal [dir=rtl] .messages,
  form.media-form [dir=rtl] .messages {
    border-right-width: 5px;
    border-left-width: 1px;
  }
  #layout-builder-modal .messages__header,
  .media-library-widget-modal .messages__header,
  form.media-form .messages__header {
    filter: grayscale(1) brightness(1.5) contrast(10);
  }
}
