@charset "UTF-8";
/**
 * @file
 * Wrapped content from core/themes/claro/css/components/pager.css
 * Maintainers: the import statement presumes a relative location of core css.
 * The location may need to be adjusted depending on your setup.
 */
#layout-builder-modal .pager,
.media-library-widget-modal .pager,
form.media-form .pager {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#layout-builder-modal .pager__items,
.media-library-widget-modal .pager__items,
form.media-form .pager__items {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  margin: 1rem 0;
  /* LTR */
  list-style: none;
  text-align: center;
  font-weight: bold;
}
#layout-builder-modal [dir=rtl] .pager__items,
.media-library-widget-modal [dir=rtl] .pager__items,
form.media-form [dir=rtl] .pager__items {
  margin: 1rem 0;
}
#layout-builder-modal .pager__item,
.media-library-widget-modal .pager__item,
form.media-form .pager__item {
  display: inline-block;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  vertical-align: top;
}
#layout-builder-modal .pager__link,
#layout-builder-modal .pager__item--current,
.media-library-widget-modal .pager__link,
.media-library-widget-modal .pager__item--current,
form.media-form .pager__link,
form.media-form .pager__item--current {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 2rem;
  height: 2rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  text-decoration: none;
  color: #55565b;
  border-radius: 1rem;
  /* Pager size รท 2 */
  background: #fff;
  /* Make sure that the text is visible on dark background. */
  line-height: 1;
}
#layout-builder-modal .pager__link:hover,
#layout-builder-modal .pager__link:focus,
#layout-builder-modal .pager__link:active,
.media-library-widget-modal .pager__link:hover,
.media-library-widget-modal .pager__link:focus,
.media-library-widget-modal .pager__link:active,
form.media-form .pager__link:hover,
form.media-form .pager__link:focus,
form.media-form .pager__link:active {
  text-decoration: none;
}
#layout-builder-modal .pager__link:hover,
#layout-builder-modal .pager__link.is-active:hover,
.media-library-widget-modal .pager__link:hover,
.media-library-widget-modal .pager__link.is-active:hover,
form.media-form .pager__link:hover,
form.media-form .pager__link.is-active:hover {
  color: #55565b;
  background: #e6ecf8;
}
#layout-builder-modal .pager__link--action-link,
.media-library-widget-modal .pager__link--action-link,
form.media-form .pager__link--action-link {
  border-radius: 0.125rem;
}
#layout-builder-modal .pager__link.is-active,
#layout-builder-modal .pager__item--current,
.media-library-widget-modal .pager__link.is-active,
.media-library-widget-modal .pager__item--current,
form.media-form .pager__link.is-active,
form.media-form .pager__item--current {
  color: #fff;
  border: 0.125rem solid transparent;
  background: #003cc5;
}
#layout-builder-modal .pager__item--first .pager__link::before,
.media-library-widget-modal .pager__item--first .pager__link::before,
form.media-form .pager__item--first .pager__link::before {
  background-image: url("data:image/svg+xml,%3csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2 2v12M14 2L8 8l6 6' stroke='%23545560' stroke-width='2'/%3e%3c/svg%3e");
}
#layout-builder-modal .pager__item--previous .pager__link::before,
.media-library-widget-modal .pager__item--previous .pager__link::before,
form.media-form .pager__item--previous .pager__link::before {
  background-image: url("data:image/svg+xml,%3csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11 2L5 8l6 6' stroke='%23545560' stroke-width='2'/%3e%3c/svg%3e");
}
#layout-builder-modal .pager__item--next .pager__link::after,
.media-library-widget-modal .pager__item--next .pager__link::after,
form.media-form .pager__item--next .pager__link::after {
  background-image: url("data:image/svg+xml,%3csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5 14l6-6-6-6' stroke='%23545560' stroke-width='2'/%3e%3c/svg%3e");
}
#layout-builder-modal .pager__item--last .pager__link::after,
.media-library-widget-modal .pager__item--last .pager__link::after,
form.media-form .pager__item--last .pager__link::after {
  background-image: url("data:image/svg+xml,%3csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14 14V2M2 14l6-6-6-6' stroke='%23545560' stroke-width='2'/%3e%3c/svg%3e");
}
#layout-builder-modal .pager__item--first .pager__link::before,
#layout-builder-modal .pager__item--previous .pager__link::before,
#layout-builder-modal .pager__item--next .pager__link::after,
#layout-builder-modal .pager__item--last .pager__link::after,
.media-library-widget-modal .pager__item--first .pager__link::before,
.media-library-widget-modal .pager__item--previous .pager__link::before,
.media-library-widget-modal .pager__item--next .pager__link::after,
.media-library-widget-modal .pager__item--last .pager__link::after,
form.media-form .pager__item--first .pager__link::before,
form.media-form .pager__item--previous .pager__link::before,
form.media-form .pager__item--next .pager__link::after,
form.media-form .pager__item--last .pager__link::after {
  position: relative;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
}
#layout-builder-modal [dir=rtl] .pager__item--first .pager__link::before,
#layout-builder-modal [dir=rtl] .pager__item--previous .pager__link::before,
#layout-builder-modal [dir=rtl] .pager__item--next .pager__link::after,
#layout-builder-modal [dir=rtl] .pager__item--last .pager__link::after,
.media-library-widget-modal [dir=rtl] .pager__item--first .pager__link::before,
.media-library-widget-modal [dir=rtl] .pager__item--previous .pager__link::before,
.media-library-widget-modal [dir=rtl] .pager__item--next .pager__link::after,
.media-library-widget-modal [dir=rtl] .pager__item--last .pager__link::after,
form.media-form [dir=rtl] .pager__item--first .pager__link::before,
form.media-form [dir=rtl] .pager__item--previous .pager__link::before,
form.media-form [dir=rtl] .pager__item--next .pager__link::after,
form.media-form [dir=rtl] .pager__item--last .pager__link::after {
  transform: scaleX(-1);
}
#layout-builder-modal .pager__item--mini,
.media-library-widget-modal .pager__item--mini,
form.media-form .pager__item--mini {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
#layout-builder-modal .pager__link--mini,
.media-library-widget-modal .pager__link--mini,
form.media-form .pager__link--mini {
  border-radius: 50%;
}
#layout-builder-modal .pager__link--mini::before,
.media-library-widget-modal .pager__link--mini::before,
form.media-form .pager__link--mini::before {
  margin-right: 0;
  margin-left: 0;
}
#layout-builder-modal .pager__item-title--backwards,
.media-library-widget-modal .pager__item-title--backwards,
form.media-form .pager__item-title--backwards {
  margin-left: 0.5rem;
  /* LTR */
}
#layout-builder-modal [dir=rtl] .pager__item-title--backwards,
.media-library-widget-modal [dir=rtl] .pager__item-title--backwards,
form.media-form [dir=rtl] .pager__item-title--backwards {
  margin-right: 0.5rem;
  margin-left: 0;
}
#layout-builder-modal .pager__item-title--forward,
.media-library-widget-modal .pager__item-title--forward,
form.media-form .pager__item-title--forward {
  margin-right: 0.5rem;
  /* LTR */
}
#layout-builder-modal [dir=rtl] .pager__item-title--forward,
.media-library-widget-modal [dir=rtl] .pager__item-title--forward,
form.media-form [dir=rtl] .pager__item-title--forward {
  margin-right: 0;
  margin-left: 0.5rem;
}
@media (-ms-high-contrast: active) {
  #layout-builder-modal .pager__item a:hover,
  .media-library-widget-modal .pager__item a:hover,
  form.media-form .pager__item a:hover {
    text-decoration: underline;
  }
}
