#layout-builder-modal :root,.media-library-widget-modal :root,form.media-form :root {
  --progress-bar-bg-color: var(--color-absolutezero);
  --progress-bar-border-color: var(--color-absolutezero);
  --progress-bar-label-font-size: var(--font-size-base);
  --progress-bar-small-label-font-size: var(--font-size-label);
  --progress-bar-default-size: calc(var(--space-m) - (2 * var(--progress-bar-border-size)));
  --progress-bar-default-size-radius: var(--space-m);
}

#layout-builder-modal .progress::after,.media-library-widget-modal .progress::after,form.media-form .progress::after {
  display: table;
  clear: both;
  content: "";
}

#layout-builder-modal .progress--small .progress__track,.media-library-widget-modal .progress--small .progress__track,form.media-form .progress--small .progress__track {
  height: var(--progress-bar-small-size);
}

#layout-builder-modal .progress--small .progress__bar,.media-library-widget-modal .progress--small .progress__bar,form.media-form .progress--small .progress__bar {
  width: var(--progress-bar-small-size);
  min-width: var(--progress-bar-small-size);
  height: var(--progress-bar-small-size);
}

#layout-builder-modal .progress--small .progress__label,.media-library-widget-modal .progress--small .progress__label,form.media-form .progress--small .progress__label {
  font-size: var(--progress-bar-small-label-font-size);
}

#layout-builder-modal .progress__track,.media-library-widget-modal .progress__track,form.media-form .progress__track {
  height: var(--progress-bar-default-size);
  margin-block-start: 0;
  border: var(--progress-bar-border-size) var(--progress-track-border-color) solid;
  border-radius: var(--progress-bar-default-size-radius);
  background-color: var(--progress-track-bg-color);
}

#layout-builder-modal .progress__bar,.media-library-widget-modal .progress__bar,form.media-form .progress__bar {
  width: var(--progress-bar-default-size);
  min-width: var(--progress-bar-default-size);
  height: var(--progress-bar-default-size);
  margin-block-start: calc(var(--progress-bar-border-size)*-1);
  margin-inline-start: calc(var(--progress-bar-border-size)*-1);
  transition: var(--progress-bar-transition);
  border: var(--progress-bar-border-size) var(--progress-bar-border-color) solid;
  border-radius: var(--progress-bar-default-size-radius);
  background-color: var(--progress-bar-bg-color);
}

@media screen and (prefers-reduced-motion: reduce) {
  #layout-builder-modal .progress__bar,.media-library-widget-modal .progress__bar,form.media-form .progress__bar {
    transition: none;
  }
}

@media (forced-colors: active) {
  #layout-builder-modal .progress__bar,.media-library-widget-modal .progress__bar,form.media-form .progress__bar {
    background-color: canvastext;
  }
}

#layout-builder-modal .progress__label,.media-library-widget-modal .progress__label,form.media-form .progress__label {
  margin-block-end: var(--progress-bar-spacing-size);
  font-size: var(--progress-bar-label-font-size);
  font-weight: bold;
}

#layout-builder-modal .progress__description,#layout-builder-modal .progress__percentage,.media-library-widget-modal .progress__description,.media-library-widget-modal .progress__percentage,form.media-form .progress__description,form.media-form .progress__percentage {
  overflow: hidden;
  margin-block-start: var(--progress-bar-spacing-size);
  color: var(--progress-bar-description-color);
  font-size: var(--progress-bar-description-font-size);
}

