/**
 * @file
 * Wrapped content from core/themes/claro/css/components/search-admin-settings.css
 * Maintainers: the import statement presumes a relative location of core css.
 * The location may need to be adjusted depending on your setup.
 */

#layout-builder-modal .search-admin-settings .container-inline,
.media-library-widget-modal .search-admin-settings .container-inline {
  margin-bottom: 1em;
}

#layout-builder-modal .search-admin-settings label[for="edit-search-type"],
.media-library-widget-modal .search-admin-settings label[for="edit-search-type"] {
  display: block;
}
