#layout-builder-modal :root,.media-library-widget-modal :root,form.media-form :root {
  --skip-link-bg-color: var(--color-gray-800);
  --skip-link-color: var(--color-white);
  --skip-link-active-bg-color: var(--color-gray);
}

#layout-builder-modal .skip-link,.media-library-widget-modal .skip-link,form.media-form .skip-link {
  z-index: 503;
  top: 0;
  left: 0;
  padding: 1px .625rem 2px;
  color: var(--skip-link-color);
  border-radius: 0 0 .625rem 0;
  background: var(--skip-link-bg-color);
  box-shadow: 0 0 0 2px var(--color-white), 0 0 0 5px var(--color-focus);
  font-size: .94em;
}

#layout-builder-modal .skip-link:hover,#layout-builder-modal .skip-link:active,.media-library-widget-modal .skip-link:hover,.media-library-widget-modal .skip-link:active,form.media-form .skip-link:hover,form.media-form .skip-link:active {
  color: var(--skip-link-color);
  background-color: var(--skip-link-active-bg-color);
}

#layout-builder-modal .skip-link:focus,.media-library-widget-modal .skip-link:focus,form.media-form .skip-link:focus {
  -webkit-text-decoration: none;
          text-decoration: none;
}

#layout-builder-modal .skip-link.visually-hidden.focusable:focus,.media-library-widget-modal .skip-link.visually-hidden.focusable:focus,form.media-form .skip-link.visually-hidden.focusable:focus {
  position: absolute !important;
}

#layout-builder-modal [dir=rtl] .skip-link,.media-library-widget-modal [dir=rtl] .skip-link,form.media-form [dir=rtl] .skip-link {
  right: 0;
  left: auto;
  border-radius: 0 0 0 .625rem;
}

