#layout-builder-modal :root,.media-library-widget-modal :root,form.media-form :root {
  --module-table-cell-padding-vertical: var(--space-m);
  --module-table-cell-padding-horizontal: calc(var(--space-m) - (var(--input-border-size) * 2));
}

#layout-builder-modal .modules-table-filter,#layout-builder-modal .permissions-table-filter,.media-library-widget-modal .modules-table-filter,.media-library-widget-modal .permissions-table-filter,form.media-form .modules-table-filter,form.media-form .permissions-table-filter {
  padding: .25rem var(--space-l);
  border: 1px solid var(--color-gray-200);
  border-radius: 2px 2px 0 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

#layout-builder-modal .modules-table-filter .form-item__description,#layout-builder-modal .permissions-table-filter .form-item__description,.media-library-widget-modal .modules-table-filter .form-item__description,.media-library-widget-modal .permissions-table-filter .form-item__description,form.media-form .modules-table-filter .form-item__description,form.media-form .permissions-table-filter .form-item__description {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

#layout-builder-modal .claro-details.claro-details--package-listing,#layout-builder-modal .claro-details.module-list__module-details,.media-library-widget-modal .claro-details.claro-details--package-listing,.media-library-widget-modal .claro-details.module-list__module-details,form.media-form .claro-details.claro-details--package-listing,form.media-form .claro-details.module-list__module-details {
  margin-top: 2rem;
  margin-bottom: 0;
  border: none;
  box-shadow: none;
}

#layout-builder-modal .claro-details__wrapper.claro-details__wrapper--package-listing,.media-library-widget-modal .claro-details__wrapper.claro-details__wrapper--package-listing,form.media-form .claro-details__wrapper.claro-details__wrapper--package-listing {
  margin: 0;
}

#layout-builder-modal .claro-details__summary.claro-details__summary--package-listing,.media-library-widget-modal .claro-details__summary.claro-details__summary--package-listing,form.media-form .claro-details__summary.claro-details__summary--package-listing {
  color: var(--color-text);
  border-radius: .25rem;
  background: var(--color-gray-050);
  font-size: 1.125rem;
  line-height: 1.424rem;
}

#layout-builder-modal .module-list,.media-library-widget-modal .module-list,form.media-form .module-list {
  margin-top: 0;
}

#layout-builder-modal .module-list__module,.media-library-widget-modal .module-list__module,form.media-form .module-list__module {
  color: var(--color-text);
  border-bottom: 1px solid var(--color-gray-200);
  background: none;
}

#layout-builder-modal .module-list__module:hover,.media-library-widget-modal .module-list__module:hover,form.media-form .module-list__module:hover {
  background: none;
}

#layout-builder-modal .module-list__module td,.media-library-widget-modal .module-list__module td,form.media-form .module-list__module td {
  height: auto;
  padding: var(--module-table-cell-padding-vertical) var(--module-table-cell-padding-horizontal);
  vertical-align: top;
}

@media screen and (min-width: 60em) {
  #layout-builder-modal td.module-list__module,.media-library-widget-modal td.module-list__module,form.media-form td.module-list__module {
    width: 25%;
  }
}

#layout-builder-modal .module-list__module-name,.media-library-widget-modal .module-list__module-name,form.media-form .module-list__module-name {
  font-weight: bold;
}

#layout-builder-modal .module-list__checkbox,.media-library-widget-modal .module-list__checkbox,form.media-form .module-list__checkbox {
  padding-left: .6875rem;
  text-align: left;
}

#layout-builder-modal [dir=rtl] .module-list__checkbox,.media-library-widget-modal [dir=rtl] .module-list__checkbox,form.media-form [dir=rtl] .module-list__checkbox {
  padding-right: .6875rem;
  padding-left: var(--module-table-cell-padding-horizontal);
  text-align: right;
}

#layout-builder-modal .module-list__checkbox .form-type--checkbox,.media-library-widget-modal .module-list__checkbox .form-type--checkbox,form.media-form .module-list__checkbox .form-type--checkbox {
  margin: 0;
  line-height: var(--details-line-height);
}

#layout-builder-modal .module-list__checkbox .form-checkbox:not([disabled]),.media-library-widget-modal .module-list__checkbox .form-checkbox:not([disabled]),form.media-form .module-list__checkbox .form-checkbox:not([disabled]) {
  cursor: pointer;
}

#layout-builder-modal td.module-list__checkbox,.media-library-widget-modal td.module-list__checkbox,form.media-form td.module-list__checkbox {
  width: 4%;
}

#layout-builder-modal td.module-list__description,.media-library-widget-modal td.module-list__description,form.media-form td.module-list__description {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
}

#layout-builder-modal .claro-details.module-list__module-details,.media-library-widget-modal .claro-details.module-list__module-details,form.media-form .claro-details.module-list__module-details {
  margin: 0;
}

#layout-builder-modal .claro-details__summary.module-list__module-summary,.media-library-widget-modal .claro-details__summary.module-list__module-summary,form.media-form .claro-details__summary.module-list__module-summary {
  padding-top: var(--module-table-cell-padding-vertical);
  padding-bottom: var(--module-table-cell-padding-vertical);
  font-weight: normal;
  line-height: var(--details-line-height);
}

#layout-builder-modal .claro-details__summary.module-list__module-summary::before,.media-library-widget-modal .claro-details__summary.module-list__module-summary::before,form.media-form .claro-details__summary.module-list__module-summary::before {
  top: calc(var(--space-m) + var(--space-s));
}

#layout-builder-modal .module-details__description,.media-library-widget-modal .module-details__description,form.media-form .module-details__description {
  font-size: var(--space-s);
  line-height: .9375rem;
}

#layout-builder-modal .claro-details__wrapper.module-details__wrapper,.media-library-widget-modal .claro-details__wrapper.module-details__wrapper,form.media-form .claro-details__wrapper.module-details__wrapper {
  margin-top: 0;
  margin-bottom: 0;
}

#layout-builder-modal .module-details__requirements,.media-library-widget-modal .module-details__requirements,form.media-form .module-details__requirements {
  margin-bottom: var(--space-m);
}

#layout-builder-modal .module-details__links,.media-library-widget-modal .module-details__links,form.media-form .module-details__links {
  position: relative;
  margin-top: calc((var(--space-s) - (var(--space-l) - var(--space-s))/2)*-1);
  margin-bottom: var(--space-m);
}

#layout-builder-modal .module-details__links .action-link+.action-link,.media-library-widget-modal .module-details__links .action-link+.action-link,form.media-form .module-details__links .action-link+.action-link {
  margin-left: 0;
}

#layout-builder-modal [dir=rtl] .module-details__links .action-link+.action-link,.media-library-widget-modal [dir=rtl] .module-details__links .action-link+.action-link,form.media-form [dir=rtl] .module-details__links .action-link+.action-link {
  margin-right: 0;
}

#layout-builder-modal .claro-details .tableresponsive-toggle,.media-library-widget-modal .claro-details .tableresponsive-toggle,form.media-form .claro-details .tableresponsive-toggle {
  padding: var(--space-m) var(--space-m) var(--space-m) 0;
}

#layout-builder-modal .claro-details .tableresponsive-toggle::before,.media-library-widget-modal .claro-details .tableresponsive-toggle::before,form.media-form .claro-details .tableresponsive-toggle::before {
  position: relative;
  top: -1px;
  display: inline-block;
  width: calc(var(--space-m)*2);
  height: 1.25rem;
  content: "";
  cursor: pointer;
  vertical-align: text-top;
  background: url("data:image/svg+xml,%3csvg height='16' stroke='%23545560' stroke-width='2' width='16' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3 8h10M8 3v10'/%3e%3c/svg%3e") no-repeat center;
  background-size: contain;
}

#layout-builder-modal .claro-details .tableresponsive-toggle:hover,.media-library-widget-modal .claro-details .tableresponsive-toggle:hover,form.media-form .claro-details .tableresponsive-toggle:hover {
  color: var(--color-absolutezero-hover);
  background-color: var(--color-bgblue-hover);
}

#layout-builder-modal .claro-details .tableresponsive-toggle:hover::before,.media-library-widget-modal .claro-details .tableresponsive-toggle:hover::before,form.media-form .claro-details .tableresponsive-toggle:hover::before {
  background-image: url("data:image/svg+xml,%3csvg height='16' stroke='%230036b1' stroke-width='2' width='16' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3 8h10M8 3v10'/%3e%3c/svg%3e");
}

#layout-builder-modal .claro-details .tableresponsive-toggle-columns button,.media-library-widget-modal .claro-details .tableresponsive-toggle-columns button,form.media-form .claro-details .tableresponsive-toggle-columns button {
  margin-top: var(--space-xs);
  -webkit-text-decoration: none;
          text-decoration: none;
  color: var(--color-gray-800);
  font-weight: bold;
}

#layout-builder-modal .claro-details .admin-missing,.media-library-widget-modal .claro-details .admin-missing,form.media-form .claro-details .admin-missing {
  color: var(--color-maximumred);
}

