/**
 * @file
 * Wrapped content from core/themes/claro/css/components/system-admin--status-report.css
 * Maintainers: the import statement presumes a relative location of core css.
 * The location may need to be adjusted depending on your setup.
 */
#layout-builder-modal .system-status-report,
.media-library-widget-modal .system-status-report,
form.media-form .system-status-report {
  position: relative;
  padding-top: 1rem;
}
@media screen and (min-width: 38em) {
  #layout-builder-modal .system-status-report,
  .media-library-widget-modal .system-status-report,
  form.media-form .system-status-report {
    padding-top: 1.5rem;
  }
}
#layout-builder-modal .system-status-report__status-title,
.media-library-widget-modal .system-status-report__status-title,
form.media-form .system-status-report__status-title {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 0.625rem 0.375rem 0.625rem 2.5rem;
  /* LTR */
  vertical-align: top;
  background-color: transparent;
  font-weight: normal;
}
#layout-builder-modal [dir=rtl] .system-status-report__status-title,
.media-library-widget-modal [dir=rtl] .system-status-report__status-title,
form.media-form [dir=rtl] .system-status-report__status-title {
  padding: 0.625rem 2.5rem 0.625rem 0.375rem;
}
#layout-builder-modal .system-status-report__status-icon:before,
.media-library-widget-modal .system-status-report__status-icon:before,
form.media-form .system-status-report__status-icon:before {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  /* LTR */
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background-repeat: no-repeat;
}
#layout-builder-modal [dir=rtl] .system-status-report__status-icon:before,
.media-library-widget-modal [dir=rtl] .system-status-report__status-icon:before,
form.media-form [dir=rtl] .system-status-report__status-icon:before {
  right: 0.75rem;
  left: auto;
}
#layout-builder-modal .system-status-report__status-icon--error:before,
.media-library-widget-modal .system-status-report__status-icon--error:before,
form.media-form .system-status-report__status-icon--error:before {
  background-image: url("data:image/svg+xml,%3csvg fill='%23e32700' height='16' width='16' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m8.002 1c-3.868 0-7.002 3.134-7.002 7s3.134 7 7.002 7c3.865 0 7-3.134 7-7s-3.135-7-7-7zm4.025 9.284c.062.063.1.149.1.239 0 .091-.037.177-.1.24l-1.262 1.262c-.064.062-.15.1-.24.1s-.176-.036-.24-.1l-2.283-2.283-2.286 2.283c-.064.062-.15.1-.24.1s-.176-.036-.24-.1l-1.261-1.262c-.063-.062-.1-.148-.1-.24 0-.088.036-.176.1-.238l2.283-2.285-2.283-2.284c-.063-.064-.1-.15-.1-.24s.036-.176.1-.24l1.262-1.262c.063-.063.149-.1.24-.1.089 0 .176.036.24.1l2.285 2.284 2.283-2.284c.064-.063.15-.1.24-.1s.176.036.24.1l1.262 1.262c.062.063.1.149.1.24 0 .089-.037.176-.1.24l-2.283 2.284z'/%3e%3c/svg%3e");
}
#layout-builder-modal .system-status-report__status-icon--warning:before,
.media-library-widget-modal .system-status-report__status-icon--warning:before,
form.media-form .system-status-report__status-icon--warning:before {
  background-image: url("data:image/svg+xml,%3csvg fill='%23e29700' height='16' width='16' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m14.66 12.316-5.316-10.633c-.738-1.476-1.946-1.476-2.685 0l-5.317 10.633c-.738 1.477.008 2.684 1.658 2.684h10.002c1.65 0 2.396-1.207 1.658-2.684zm-7.66-8.316h2.002v5h-2.002zm2.252 8.615c0 .344-.281.625-.625.625h-1.25c-.345 0-.626-.281-.626-.625v-1.239c0-.344.281-.625.626-.625h1.25c.344 0 .625.281.625.625z'/%3e%3c/svg%3e");
}
#layout-builder-modal .system-status-report__entry__value,
.media-library-widget-modal .system-status-report__entry__value,
form.media-form .system-status-report__entry__value {
  padding: 1em 0.5em;
}
#layout-builder-modal .cron-description__run-cron,
.media-library-widget-modal .cron-description__run-cron,
form.media-form .cron-description__run-cron {
  display: block;
}
#layout-builder-modal .claro-details__wrapper.claro-details__wrapper--system-status-report,
.media-library-widget-modal .claro-details__wrapper.claro-details__wrapper--system-status-report,
form.media-form .claro-details__wrapper.claro-details__wrapper--system-status-report {
  margin: 0;
}
#layout-builder-modal .system-status-report__row,
.media-library-widget-modal .system-status-report__row,
form.media-form .system-status-report__row {
  display: flex;
  border-bottom: 1px solid #d3d4d9;
}
#layout-builder-modal .system-status-report__row:last-of-type,
.media-library-widget-modal .system-status-report__row:last-of-type,
form.media-form .system-status-report__row:last-of-type {
  border-bottom: none;
}
