/**
 * @file
 * Wrapped content from core/themes/claro/css/components/tablesort-indicator.css
 * Maintainers: the import statement presumes a relative location of core css.
 * The location may need to be adjusted depending on your setup.
 */
#layout-builder-modal .tablesort,
.media-library-widget-modal .tablesort,
form.media-form .tablesort {
  position: absolute;
  top: 50%;
  right: 1rem;
  width: 0.875rem;
  /* 14px */
  height: 1rem;
  /* 16px */
  margin-top: -0.5rem;
  /* -8px */
  opacity: 0.5;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='8'%3e%3cpath d='M1.75.25v1.5h10.5V.25zm0 3v1.5h7.5v-1.5zm0 3v1.5h4.5v-1.5z' fill='%23222330'/%3e%3c/svg%3e") no-repeat 0 50%;
  background-size: auto;
}
#layout-builder-modal _:-ms-fullscreen,
#layout-builder-modal .tablesort,
.media-library-widget-modal _:-ms-fullscreen,
.media-library-widget-modal .tablesort,
form.media-form _:-ms-fullscreen,
form.media-form .tablesort {
  position: static;
  float: right;
  margin-top: 0.125rem;
  /* 2px */
  margin-right: -1.5rem;
  /* -24px */
}
#layout-builder-modal [dir=rtl] .tablesort,
.media-library-widget-modal [dir=rtl] .tablesort,
form.media-form [dir=rtl] .tablesort {
  right: auto;
  left: 1rem;
  /* 16px */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='8'%3e%3cpath d='M12.25.25v1.5H1.75V.25zm0 3v1.5h-7.5v-1.5zm0 3v1.5h-4.5v-1.5z' fill='%23222330'/%3e%3c/svg%3e");
}
#layout-builder-modal _:-ms-fullscreen,
#layout-builder-modal [dir=rtl] .tablesort,
.media-library-widget-modal _:-ms-fullscreen,
.media-library-widget-modal [dir=rtl] .tablesort,
form.media-form _:-ms-fullscreen,
form.media-form [dir=rtl] .tablesort {
  float: left;
  margin-right: 0;
  margin-left: -1.5rem;
  /* -24px */
}
#layout-builder-modal .tablesort--asc,
#layout-builder-modal [dir=rtl] .tablesort--asc,
.media-library-widget-modal .tablesort--asc,
.media-library-widget-modal [dir=rtl] .tablesort--asc,
form.media-form .tablesort--asc,
form.media-form [dir=rtl] .tablesort--asc {
  opacity: 1;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='16' viewBox='0 0 10 12'%3e%3cpath d='M5 .44L.719 4.718 1.78 5.78 4.25 3.313v7.937h1.5V3.312l2.469 2.47L9.28 4.718 5 .439z' fill='%23004adc'/%3e%3c/svg%3e");
}
#layout-builder-modal .tablesort--desc,
#layout-builder-modal [dir=rtl] .tablesort--desc,
.media-library-widget-modal .tablesort--desc,
.media-library-widget-modal [dir=rtl] .tablesort--desc,
form.media-form .tablesort--desc,
form.media-form [dir=rtl] .tablesort--desc {
  opacity: 1;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='16' viewBox='0 0 10 12'%3e%3cpath d='M4.25.75v7.938l-2.469-2.47L.72 7.282 5 11.561l4.281-4.28L8.22 6.22 5.75 8.687V.75h-1.5z' fill='%23004adc'/%3e%3c/svg%3e");
}
