/**
 * @file
 * Wrapped content from core/themes/claro/css/components/tables.css
 * Maintainers: the import statement presumes a relative location of core css.
 * The location may need to be adjusted depending on your setup.
 */

#layout-builder-modal table,
#modal-media-library table {
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#layout-builder-modal .sticky-header,
#modal-media-library .sticky-header {
  min-width: 0;
}

#layout-builder-modal caption,
#modal-media-library caption {
  text-align: left;
  /* LTR */
}

#layout-builder-modal [dir="rtl"] caption,
#modal-media-library [dir="rtl"] caption {
  text-align: right;
}

#layout-builder-modal th,
#modal-media-library th {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 3rem;
  padding: 0.5rem 1rem;
  text-align: left;
  /* LTR */
  color: #222330;
  background: #f3f4f9;
  line-height: 1.25rem;
  /* 20px */
}

#layout-builder-modal [dir="rtl"] th,
#modal-media-library [dir="rtl"] th {
  text-align: right;
}

#layout-builder-modal .sortable-heading,
#modal-media-library .sortable-heading {
  padding: 0 1rem;
}

#layout-builder-modal .sortable-heading > a,
#modal-media-library .sortable-heading > a {
  display: block;
  padding: 0.5rem 1.5rem 0.5rem 0;
  /* LTR */
  text-decoration: none;
  color: inherit;
}

#layout-builder-modal [dir="rtl"] .sortable-heading > a,
#modal-media-library [dir="rtl"] .sortable-heading > a {
  padding-right: 0;
  padding-left: 1.5rem;
}

#layout-builder-modal .sortable-heading > a::before,
#modal-media-library .sortable-heading > a::before {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 1rem;
  bottom: 0;
  left: 1rem;
  display: block;
  content: "";
  border-bottom: 0.125rem solid transparent;
}

#layout-builder-modal _:-ms-fullscreen,
#layout-builder-modal .sortable-heading > a::before,
#modal-media-library _:-ms-fullscreen,
#modal-media-library .sortable-heading > a::before {
  top: auto;
  height: 100%;
}

#layout-builder-modal .sortable-heading > a::after,
#modal-media-library .sortable-heading > a::after {
  position: absolute;
  top: 50%;
  right: 1rem;
  width: 0.875rem;
  height: 1rem;
  margin-top: -0.5rem;
  content: "";
  opacity: 0.5;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='8' viewBox='0 0 14 8'%3E%3Cpath d='m1.75,0.25v1.5h10.5v-1.5z m0,3v1.5h7.5v-1.5z m0,3v1.5h4.5v-1.5z' fill='%23222330'/%3E%3C/svg%3E") no-repeat 50% 50%;
  -webkit-background-size: contain;
  background-size: contain;
}

#layout-builder-modal _:-ms-fullscreen,
#layout-builder-modal .sortable-heading > a::after,
#modal-media-library _:-ms-fullscreen,
#modal-media-library .sortable-heading > a::after {
  position: static;
  float: right;
  margin-top: 0.125rem;
  /* 2px */
  margin-right: -1.5rem;
  /* -24px */
}

#layout-builder-modal [dir="rtl"] .sortable-heading > a::after,
#modal-media-library [dir="rtl"] .sortable-heading > a::after {
  right: auto;
  left: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='8' viewBox='0 0 14 8'%3E%3Cpath d='m12.25,0.25v1.5H1.75v-1.5z m0,3v1.5h-7.5v-1.5z m0,3v1.5h-4.5v-1.5z' fill='%23222330'/%3E%3C/svg%3E");
}

#layout-builder-modal _:-ms-fullscreen,
#layout-builder-modal [dir="rtl"] .sortable-heading > a::after,
#modal-media-library _:-ms-fullscreen,
#modal-media-library [dir="rtl"] .sortable-heading > a::after {
  float: left;
  margin-right: 0;
  margin-left: -1.5rem;
  /* -24px */
}

#layout-builder-modal .sortable-heading > a:focus,
#layout-builder-modal .sortable-heading > a:hover,
#modal-media-library .sortable-heading > a:focus,
#modal-media-library .sortable-heading > a:hover {
  text-decoration: none;
}

#layout-builder-modal .sortable-heading > a:focus::before,
#layout-builder-modal .sortable-heading > a:hover::before,
#modal-media-library .sortable-heading > a:focus::before,
#modal-media-library .sortable-heading > a:hover::before {
  border-color: inherit;
}

#layout-builder-modal .sortable-heading > a:focus::after,
#layout-builder-modal .sortable-heading > a:hover::after,
#modal-media-library .sortable-heading > a:focus::after,
#modal-media-library .sortable-heading > a:hover::after {
  opacity: 1;
}

#layout-builder-modal .sortable-heading.is-active > a,
#modal-media-library .sortable-heading.is-active > a {
  color: #003cc5;
}

#layout-builder-modal .sortable-heading.is-active > a::before,
#modal-media-library .sortable-heading.is-active > a::before {
  border-bottom: 0.1875rem solid #003cc5;
}

#layout-builder-modal .sortable-heading.is-active > a::after,
#modal-media-library .sortable-heading.is-active > a::after {
  content: none;
}

#layout-builder-modal tr,
#modal-media-library tr {
  border-bottom: 0.0625rem solid #d4d4d8;
}

#layout-builder-modal tr,
#layout-builder-modal .draggable-table.tabledrag-disabled tr,
#modal-media-library tr,
#modal-media-library .draggable-table.tabledrag-disabled tr {
  color: #222330;
  background: #fff;
}

#layout-builder-modal thead tr,
#modal-media-library thead tr {
  border: 0;
}

#layout-builder-modal tr:hover,
#layout-builder-modal tr:focus,
#modal-media-library tr:hover,
#modal-media-library tr:focus {
  color: #222330;
  background: #f0f5fd;
}

#layout-builder-modal tr.color-warning:hover,
#layout-builder-modal tr.color-warning:focus,
#modal-media-library tr.color-warning:hover,
#modal-media-library tr.color-warning:focus {
  color: #222330;
  background: #fdf8ed;
}

#layout-builder-modal tr.color-error:hover,
#layout-builder-modal tr.color-error:focus,
#modal-media-library tr.color-error:hover,
#modal-media-library tr.color-error:focus {
  color: #222330;
  background: #fcf4f2;
}

#layout-builder-modal td,
#modal-media-library td {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 4rem;
  padding: 0.5rem 1rem;
  text-align: left;
  /* LTR */
}

#layout-builder-modal [dir="rtl"] td,
#modal-media-library [dir="rtl"] td {
  text-align: right;
}

#layout-builder-modal td .item-list ul,
#modal-media-library td .item-list ul {
  margin: 0;
}

#layout-builder-modal [dir="rtl"] td .item-list ul,
#modal-media-library [dir="rtl"] td .item-list ul {
  margin: 0;
}

#layout-builder-modal td.is-active,
#modal-media-library td.is-active {
  background: none;
}

#layout-builder-modal td > .form-item > .form-element,
#layout-builder-modal td > .ajax-new-content > .form-item > .form-element,
#modal-media-library td > .form-item > .form-element,
#modal-media-library td > .ajax-new-content > .form-item > .form-element {
  width: 100%;
}

#layout-builder-modal th.is-disabled.is-disabled,
#modal-media-library th.is-disabled.is-disabled {
  color: #82828c;
}

#layout-builder-modal th.select-all,
#modal-media-library th.select-all {
  width: 1px;
}

#layout-builder-modal .caption,
#modal-media-library .caption {
  margin-bottom: 1.25rem;
  /* 20px */
}

#layout-builder-modal tfoot,
#modal-media-library tfoot {
  font-weight: bold;
}

#layout-builder-modal tfoot tr:last-child,
#modal-media-library tfoot tr:last-child {
  border-bottom: 0;
}

#layout-builder-modal tfoot tr:first-child td,
#modal-media-library tfoot tr:first-child td {
  border-top: 0.0625rem solid #8e929c;
}

#layout-builder-modal th.priority-low,
#layout-builder-modal th.priority-medium,
#layout-builder-modal td.priority-low,
#layout-builder-modal td.priority-medium,
#modal-media-library th.priority-low,
#modal-media-library th.priority-medium,
#modal-media-library td.priority-low,
#modal-media-library td.priority-medium {
  display: none;
}

@media screen and (min-width: 38em) {
  #layout-builder-modal th.priority-medium,
  #layout-builder-modal td.priority-medium,
  #modal-media-library th.priority-medium,
  #modal-media-library td.priority-medium {
    display: table-cell;
  }
}

@media screen and (min-width: 60em) {
  #layout-builder-modal th.priority-low,
  #layout-builder-modal td.priority-low,
  #modal-media-library th.priority-low,
  #modal-media-library td.priority-low {
    display: table-cell;
  }
}

#layout-builder-modal .tabledrag-toggle-weight-wrapper,
#modal-media-library .tabledrag-toggle-weight-wrapper {
  margin-top: 1.5rem;
  line-height: 1.75rem;
}

#layout-builder-modal .tabledrag-toggle-weight-wrapper + table,
#layout-builder-modal .tabledrag-toggle-weight-wrapper + .tableresponsive-toggle-columns + table,
#modal-media-library .tabledrag-toggle-weight-wrapper + table,
#modal-media-library .tabledrag-toggle-weight-wrapper + .tableresponsive-toggle-columns + table {
  margin-top: 0;
}

#layout-builder-modal .tabledrag-cell-content,
#modal-media-library .tabledrag-cell-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#layout-builder-modal .tabledrag-cell-content .tabledrag-handle,
#modal-media-library .tabledrag-cell-content .tabledrag-handle {
  overflow: visible;
}

#layout-builder-modal .tabledrag-cell-content .tabledrag-handle:after,
#modal-media-library .tabledrag-cell-content .tabledrag-handle:after {
  width: 100%;
  height: 100%;
}
