#layout-builder-modal :root {
  --gin-toolbar-height: 39px;
  --gin-toolbar-secondary-height: 48px;
  --gin-scroll-offset: 72px;
  --gin-toolbar-y-offset: var(--gin-toolbar-height);
  --gin-toolbar-x-offset: 0px;
  --gin-sticky-offset: 0px;
}

@media (min-width: 61em) {
  #layout-builder-modal :root {
    --gin-toolbar-height: 0px;
    --gin-toolbar-secondary-height: 60px;
    --gin-icon-size-toolbar: 22px;
    --gin-scroll-offset: 130px;
    --gin-toolbar-x-offset: var(--gin-toolbar-width-collapsed);
    --gin-sticky-offset: var(--gin-height-sticky);
  }
}

@media (min-width: 61em) {
  #layout-builder-modal .toolbar-fixed[data-toolbar-menu=open] {
    --gin-toolbar-x-offset: var(--gin-toolbar-width, 240px);
  }
}

@media (min-width: 61em) {
  #layout-builder-modal #toolbar-item-administration-tray {
    border: 0 none;
  }
}

#layout-builder-modal .toolbar .toolbar-bar {
  box-shadow: none;
}

#layout-builder-modal [dir=rtl] .toolbar .toolbar-bar {
  box-shadow: none;
}

@media (min-width: 36.75em) {
  #layout-builder-modal .toolbar .toolbar-bar {
    display: flex;
  }
}

@media (min-width: 64em) {
  #layout-builder-modal .toolbar .toolbar-bar {
    height: 0;
  }
}

#layout-builder-modal .toolbar .toolbar-bar .toolbar-tab>.toolbar-item {
  font-weight: var(--gin-font-weight-normal);
}

@media (min-width: 61em) {
  #layout-builder-modal .toolbar .toolbar-bar #toolbar-item-administration-tray .toolbar-icon::before,#layout-builder-modal .toolbar .toolbar-bar .toolbar-tab>.toolbar-icon-edit.toolbar-item::before {
    width: var(--gin-icon-size-toolbar);
    height: var(--gin-icon-size-toolbar);
    top: 50%;
    transform: translateY(-50%);
  }

  [dir="ltr"] #layout-builder-modal .toolbar .toolbar-bar #toolbar-item-administration-tray .toolbar-icon::before,[dir="ltr"] #layout-builder-modal .toolbar .toolbar-bar .toolbar-tab>.toolbar-icon-edit.toolbar-item::before {
    left: calc((var(--gin-toolbar-width-collapsed) - var(--gin-icon-size-toolbar))/2 - 9px);
  }

  [dir="ltr"] #layout-builder-modal .toolbar .toolbar-bar #toolbar-item-administration-tray .toolbar-icon::before,[dir="ltr"] #layout-builder-modal .toolbar .toolbar-bar .toolbar-tab>.toolbar-icon-edit.toolbar-item::before {
    right: calc((var(--gin-toolbar-width-collapsed) - var(--gin-icon-size-toolbar))/2 - 9px);
  }

  [dir="rtl"] #layout-builder-modal .toolbar .toolbar-bar #toolbar-item-administration-tray .toolbar-icon::before,[dir="rtl"] #layout-builder-modal .toolbar .toolbar-bar .toolbar-tab>.toolbar-icon-edit.toolbar-item::before {
    right: calc((var(--gin-toolbar-width-collapsed) - var(--gin-icon-size-toolbar))/2 - 9px);
  }

  [dir="rtl"] #layout-builder-modal .toolbar .toolbar-bar #toolbar-item-administration-tray .toolbar-icon::before,[dir="rtl"] #layout-builder-modal .toolbar .toolbar-bar .toolbar-tab>.toolbar-icon-edit.toolbar-item::before {
    left: calc((var(--gin-toolbar-width-collapsed) - var(--gin-icon-size-toolbar))/2 - 9px);
  }
}

@media (max-width: 36.74em) {
  [dir="ltr"] #layout-builder-modal .toolbar .toolbar-bar .toolbar-tab>.toolbar-icon-edit.toolbar-item::before {
    left: 0;
  }

  [dir="ltr"] #layout-builder-modal .toolbar .toolbar-bar .toolbar-tab>.toolbar-icon-edit.toolbar-item::before {
    right: 0;
  }

  [dir="rtl"] #layout-builder-modal .toolbar .toolbar-bar .toolbar-tab>.toolbar-icon-edit.toolbar-item::before {
    right: 0;
  }

  [dir="rtl"] #layout-builder-modal .toolbar .toolbar-bar .toolbar-tab>.toolbar-icon-edit.toolbar-item::before {
    left: 0;
  }
}

@media (min-width: 61em) {
  #layout-builder-modal .toolbar .toolbar-bar .toolbar-logo {
    height: var(--gin-height-sticky);
  }

  #layout-builder-modal .toolbar .toolbar-bar .toolbar-logo:hover,#layout-builder-modal .toolbar .toolbar-bar .toolbar-logo:focus {
    z-index: 3;
    position: relative;
  }

  #layout-builder-modal .toolbar .toolbar-bar .toolbar-icon-home {
    display: block;
    width: 100%;
    margin: var(--gin-spacing-xs) 0;
  }

  #layout-builder-modal .toolbar .toolbar-bar #toolbar-item-administration-tray a.toolbar-icon.override-icon:before {
    width: 0;
    content: none;
  }

  [dir="ltr"] #layout-builder-modal .toolbar .toolbar-bar #toolbar-item-administration-tray a.toolbar-icon.override-icon:before {
    left: 0;
  }

  [dir="ltr"] #layout-builder-modal .toolbar .toolbar-bar #toolbar-item-administration-tray a.toolbar-icon.override-icon:before {
    right: 0;
  }

  [dir="rtl"] #layout-builder-modal .toolbar .toolbar-bar #toolbar-item-administration-tray a.toolbar-icon.override-icon:before {
    right: 0;
  }

  [dir="rtl"] #layout-builder-modal .toolbar .toolbar-bar #toolbar-item-administration-tray a.toolbar-icon.override-icon:before {
    left: 0;
  }
}

#layout-builder-modal .toolbar .toolbar-bar #toolbar-item-administration-tray .toolbar-logo {
  display: block;
  padding: var(--gin-spacing-xs) 0;
}

#layout-builder-modal .toolbar .toolbar-bar #toolbar-item-administration-tray .toolbar-logo img {
  max-width: calc(var(--gin-toolbar-width-collapsed) - 1px);
  max-height: 40px;
}

@media (min-width: 61em) {
  #layout-builder-modal .toolbar .toolbar-bar #toolbar-item-administration-tray a.toolbar-icon-admin-toolbar-tools-help.toolbar-icon-default {
    height: 74px;
    margin-bottom: 6px;
    transition: top var(--gin-transition);
  }
}

@media (min-width: 61em) {
  #layout-builder-modal .toolbar .toolbar-bar #toolbar-item-administration-tray a.toolbar-icon-admin-toolbar-tools-help.toolbar-icon-default::before {
    width: 32px;
    height: 32px;
    -webkit-mask-size: 32px 32px;
            mask-size: 32px 32px;
    -webkit-mask-position: center center;
            mask-position: center center;
  }

  [dir="ltr"] #layout-builder-modal .toolbar .toolbar-bar #toolbar-item-administration-tray a.toolbar-icon-admin-toolbar-tools-help.toolbar-icon-default::before {
    left: calc((var(--gin-toolbar-width-collapsed) - 32px)/2 - 9px);
  }

  [dir="ltr"] #layout-builder-modal .toolbar .toolbar-bar #toolbar-item-administration-tray a.toolbar-icon-admin-toolbar-tools-help.toolbar-icon-default::before {
    right: calc((var(--gin-toolbar-width-collapsed) - 32px)/2 - 9px);
  }

  [dir="rtl"] #layout-builder-modal .toolbar .toolbar-bar #toolbar-item-administration-tray a.toolbar-icon-admin-toolbar-tools-help.toolbar-icon-default::before {
    right: calc((var(--gin-toolbar-width-collapsed) - 32px)/2 - 9px);
  }

  [dir="rtl"] #layout-builder-modal .toolbar .toolbar-bar #toolbar-item-administration-tray a.toolbar-icon-admin-toolbar-tools-help.toolbar-icon-default::before {
    left: calc((var(--gin-toolbar-width-collapsed) - 32px)/2 - 9px);
  }
}

#layout-builder-modal .toolbar .toolbar-bar #toolbar-item-administration-tray a.toolbar-icon-admin-toolbar-tools-help.toolbar-icon-default:hover::before {
  background: var(--gin-color-primary);
}

#layout-builder-modal .toolbar .toolbar-bar #toolbar-item-administration-tray a.toolbar-icon-admin-toolbar-tools-help.toolbar-icon-default::after {
  display: none;
}

#layout-builder-modal .toolbar .toolbar-bar #toolbar-item-administration-tray a.toolbar-icon-admin-toolbar-tools-help.toolbar-icon-default:focus {
  z-index: 3;
  background: var(--gin-color-primary-light);
  box-shadow: none;
  box-shadow: inset 0 0 0 1px var(--gin-color-focus-border), inset 0 0 0 4px var(--gin-color-focus);
}

#layout-builder-modal .toolbar .toolbar-bar #toolbar-item-administration-tray a.toolbar-icon-admin-toolbar-tools-help.toolbar-icon-default:focus::before {
  background: var(--gin-color-primary-active);
}

#layout-builder-modal .toolbar-tray a,#layout-builder-modal .toolbar-tray a:visited,#layout-builder-modal .toolbar-tray span {
  color: var(--gin-color-text);
}

#layout-builder-modal #gin-toolbar-bar.js-settings-tray-edit-mode {
  justify-content: flex-end;
}

@media (min-width: 61em) {
  #layout-builder-modal #toolbar-item-administration-tray a.toolbar-icon.override-icon:before {
    width: 0;
    content: none;
  }

  [dir="ltr"] #layout-builder-modal #toolbar-item-administration-tray a.toolbar-icon.override-icon:before {
    left: 0;
  }

  [dir="ltr"] #layout-builder-modal #toolbar-item-administration-tray a.toolbar-icon.override-icon:before {
    right: 0;
  }

  [dir="rtl"] #layout-builder-modal #toolbar-item-administration-tray a.toolbar-icon.override-icon:before {
    right: 0;
  }

  [dir="rtl"] #layout-builder-modal #toolbar-item-administration-tray a.toolbar-icon.override-icon:before {
    left: 0;
  }
}

#layout-builder-modal .toolbar .toolbar-bar {
  position: fixed;
  width: 100%;
}

[dir="ltr"] #layout-builder-modal .toolbar .toolbar-bar {
  left: 0;
}

[dir="ltr"] #layout-builder-modal .toolbar .toolbar-bar {
  right: 0;
}

[dir="rtl"] #layout-builder-modal .toolbar .toolbar-bar {
  right: 0;
}

[dir="rtl"] #layout-builder-modal .toolbar .toolbar-bar {
  left: 0;
}

#layout-builder-modal .toolbar .toolbar-menu {
  background: transparent;
}

#layout-builder-modal .toolbar .toolbar-menu .toolbar-menu a,#layout-builder-modal .toolbar .toolbar-menu .toolbar-menu span {
  color: var(--gin-color-text);
}

#layout-builder-modal .toolbar .toolbar-tray .menu-item--active-trail>.toolbar-box>a.toolbar-icon,#layout-builder-modal .toolbar .toolbar-tray a.is-active {
  color: var(--gin-color-primary);
  font-weight: var(--gin-font-weight-semibold);
  text-decoration: none;
  background-color: transparent;
}

@media (max-width: 60.99em) {
  #layout-builder-modal .toolbar .toolbar-tray .menu-item--active-trail>.toolbar-box>a.toolbar-icon,#layout-builder-modal .toolbar .toolbar-tray a.is-active {
    width: 100%;
    background: var(--gin-color-primary-light);
  }
}

#layout-builder-modal .toolbar-menu__title,#layout-builder-modal .toolbar-menu__sub-title,#layout-builder-modal a.toolbar-menu__trigger,#layout-builder-modal .toolbar-menu__logo {
  display: none;
}

@media (min-width: 61em) {
  #layout-builder-modal #toolbar-item-administration-tray {
    display: block;
  }

  #layout-builder-modal .toolbar .toolbar-menu .toolbar-menu {
    background: var(--gin-bg-app);
  }

  #layout-builder-modal .toolbar-fixed {
    transition: var(--gin-transition);
  }

  #layout-builder-modal .toolbar .toolbar-box {
    position: static;
  }

  #layout-builder-modal .toolbar-tab>.toolbar-item.toolbar-icon-menu {
    display: none;
  }

  #layout-builder-modal .toolbar-menu-administration a.toolbar-menu__trigger {
    position: fixed;
    bottom: 0;
    font-size: var(--gin-font-size-s);
    color: var(--gin-color-text-light);
    text-decoration: none;
    display: flex;
    align-items: center;
    width: var(--gin-toolbar-width-collapsed);
    height: 64px;
    margin: 0;
    transition: width var(--gin-transition);
    overflow: hidden;
  }

  [dir="ltr"] #layout-builder-modal .toolbar-menu-administration a.toolbar-menu__trigger {
    left: 0;
    padding: var(--gin-spacing-m) 0 var(--gin-spacing-m) var(--gin-toolbar-width-collapsed);
  }

  [dir="ltr"] #layout-builder-modal .toolbar-menu-administration a.toolbar-menu__trigger {
    right: 0;
    padding: var(--gin-spacing-m) var(--gin-toolbar-width-collapsed) var(--gin-spacing-m) 0;
  }

  [dir="rtl"] #layout-builder-modal .toolbar-menu-administration a.toolbar-menu__trigger {
    right: 0;
    padding: var(--gin-spacing-m) var(--gin-toolbar-width-collapsed) var(--gin-spacing-m) 0;
  }

  [dir="rtl"] #layout-builder-modal .toolbar-menu-administration a.toolbar-menu__trigger {
    left: 0;
    padding: var(--gin-spacing-m) 0 var(--gin-spacing-m) var(--gin-toolbar-width-collapsed);
  }

  #layout-builder-modal .toolbar-menu-administration a.toolbar-menu__trigger,#layout-builder-modal .toolbar-menu-administration a.toolbar-menu__trigger:active,#layout-builder-modal .toolbar-menu-administration a.toolbar-menu__trigger:focus {
    background-color: transparent;
  }

  #layout-builder-modal .toolbar-menu-administration a.toolbar-menu__trigger:hover::before,#layout-builder-modal .toolbar-menu-administration a.toolbar-menu__trigger:focus::before {
    background-color: var(--gin-color-title);
  }

  #layout-builder-modal .toolbar-menu-administration a.toolbar-menu__trigger::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid var(--gin-border-color);
    background: var(--gin-bg-layer) url("data:image/svg+xml,%3Csvg width='9' height='14' viewBox='0 0 9 14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 1.7109375,0.31445312 0.2890625,1.7226562 5.5917969,7.0761719 0.2890625,12.429688 1.7109375,13.837891 8.4082031,7.0761719 Z' fill='%23999999'/%3E%3C/svg%3E") no-repeat center center;
    background-size: 11px 11px;
    transition: transform var(--gin-transition);
  }

  [dir="ltr"] #layout-builder-modal .toolbar-menu-administration a.toolbar-menu__trigger::before {
    left: calc((var(--gin-toolbar-width-collapsed) - 36px)/2);
  }

  [dir="ltr"] #layout-builder-modal .toolbar-menu-administration a.toolbar-menu__trigger::before {
    right: calc((var(--gin-toolbar-width-collapsed) - 36px)/2);
  }

  [dir="rtl"] #layout-builder-modal .toolbar-menu-administration a.toolbar-menu__trigger::before {
    right: calc((var(--gin-toolbar-width-collapsed) - 36px)/2);
  }

  [dir="rtl"] #layout-builder-modal .toolbar-menu-administration a.toolbar-menu__trigger::before {
    left: calc((var(--gin-toolbar-width-collapsed) - 36px)/2);
  }
}

@media (min-width: 61em)and (forced-colors: active) {
  #layout-builder-modal .toolbar-menu-administration a.toolbar-menu__trigger::before {
    background: var(--gin-bg-layer) url("data:image/svg+xml,%3Csvg width='9' height='14' viewBox='0 0 9 14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 1.7109375,0.31445312 0.2890625,1.7226562 5.5917969,7.0761719 0.2890625,12.429688 1.7109375,13.837891 8.4082031,7.0761719 Z' fill='linkText'/%3E%3C/svg%3E") no-repeat center center;
  }
}

@media (min-width: 61em) {
  #layout-builder-modal .toolbar-menu-administration a.toolbar-menu__trigger:focus::before {
    box-shadow: 0 0 0 1px var(--gin-color-focus-border), 0 0 0 4px var(--gin-color-focus);
  }
}

@media (min-width: 61em) {
  #layout-builder-modal .toolbar-menu-administration a.toolbar-menu__trigger.is-active {
    display: flex;
    font-weight: var(--gin-font-weight-normal);
    color: var(--gin-color-text-light);
    width: var(--gin-toolbar-width);
  }

  #layout-builder-modal .toolbar-menu-administration a.toolbar-menu__trigger.is-active:hover {
    color: var(--gin-color-title);
  }

  [dir="ltr"] #layout-builder-modal .toolbar-menu-administration a.toolbar-menu__trigger.is-active:before {
    transform: rotate(180deg);
  }

  [dir="ltr"] #layout-builder-modal .toolbar-menu-administration a.toolbar-menu__trigger.is-active:before {
    transform: rotate(-180deg);
  }

  [dir="rtl"] #layout-builder-modal .toolbar-menu-administration a.toolbar-menu__trigger.is-active:before {
    transform: rotate(-180deg);
  }

  [dir="rtl"] #layout-builder-modal .toolbar-menu-administration a.toolbar-menu__trigger.is-active:before {
    transform: rotate(180deg);
  }
}

@media (min-width: 61em) {
  #layout-builder-modal .toolbar-menu-administration a.toolbar-menu__trigger .menu {
    display: none;
  }
}

@media (min-width: 61em) {
  #layout-builder-modal .toolbar-menu-administration a.toolbar-menu__trigger .close {
    display: inline;
  }
}

@media (min-width: 61em) {
  #layout-builder-modal .toolbar-tab--toolbar-item-administration {
    order: -1;
  }
}

@media (min-width: 61em) {
  #layout-builder-modal .toolbar-menu-administration {
    display: flex;
    position: fixed;
    top: auto;
    width: var(--gin-toolbar-width-collapsed);
    height: 100vh;
    max-width: calc(100% - var(--gin-toolbar-height));
    background: var(--gin-bg-layer);
    transition: var(--gin-transition);
  }

  [dir="ltr"] #layout-builder-modal .toolbar-menu-administration {
    left: 0;
    border-right: 1px solid var(--gin-border-color-layer);
  }

  [dir="ltr"] #layout-builder-modal .toolbar-menu-administration {
    right: 0;
    border-left: 1px solid var(--gin-border-color-layer);
  }

  [dir="rtl"] #layout-builder-modal .toolbar-menu-administration {
    right: 0;
    border-left: 1px solid var(--gin-border-color-layer);
  }

  [dir="rtl"] #layout-builder-modal .toolbar-menu-administration {
    left: 0;
    border-right: 1px solid var(--gin-border-color-layer);
  }

  #layout-builder-modal .gin--dark-mode .toolbar-menu-administration {
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
  }

  #layout-builder-modal [data-toolbar-menu=open] .toolbar-menu-administration {
    width: var(--gin-toolbar-width);
  }

  #layout-builder-modal .toolbar-tray-horizontal .toolbar-menu-administration ul li.menu-item--expanded .menu-item.hover-intent ul,#layout-builder-modal .toolbar-tray-horizontal .toolbar-menu-administration ul li.menu-item--expanded .menu-item:focus-within ul {
    margin-top: 0;
  }

  [dir="ltr"] #layout-builder-modal .toolbar-tray-horizontal .toolbar-menu-administration ul li.menu-item--expanded .menu-item.hover-intent ul,[dir="ltr"] #layout-builder-modal .toolbar-tray-horizontal .toolbar-menu-administration ul li.menu-item--expanded .menu-item:focus-within ul {
    margin-left: calc(var(--gin-toolbar-width) - 2px);
  }

  [dir="ltr"] #layout-builder-modal .toolbar-tray-horizontal .toolbar-menu-administration ul li.menu-item--expanded .menu-item.hover-intent ul,[dir="ltr"] #layout-builder-modal .toolbar-tray-horizontal .toolbar-menu-administration ul li.menu-item--expanded .menu-item:focus-within ul {
    margin-right: calc(var(--gin-toolbar-width) - 2px);
  }

  [dir="rtl"] #layout-builder-modal .toolbar-tray-horizontal .toolbar-menu-administration ul li.menu-item--expanded .menu-item.hover-intent ul,[dir="rtl"] #layout-builder-modal .toolbar-tray-horizontal .toolbar-menu-administration ul li.menu-item--expanded .menu-item:focus-within ul {
    margin-right: calc(var(--gin-toolbar-width) - 2px);
  }

  [dir="rtl"] #layout-builder-modal .toolbar-tray-horizontal .toolbar-menu-administration ul li.menu-item--expanded .menu-item.hover-intent ul,[dir="rtl"] #layout-builder-modal .toolbar-tray-horizontal .toolbar-menu-administration ul li.menu-item--expanded .menu-item:focus-within ul {
    margin-left: calc(var(--gin-toolbar-width) - 2px);
  }

  #layout-builder-modal .toolbar-tray-horizontal .toolbar-menu-administration .toolbar-icon.toolbar-handle {
    display: none !important;
  }

  #layout-builder-modal .toolbar-vertical .toolbar-menu-administration {
    width: var(--gin-toolbar-width);
  }

  #layout-builder-modal .toolbar-vertical .toolbar-menu-administration>.toolbar-menu>.menu-item {
    border-top: 0 none;
    border-bottom: 0 none;
  }

  #layout-builder-modal .toolbar-vertical .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-icon,#layout-builder-modal .toolbar-vertical .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-box>.toolbar-icon {
    width: auto;
  }

  [dir="ltr"] #layout-builder-modal .toolbar-vertical .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-icon,[dir="ltr"] #layout-builder-modal .toolbar-vertical .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-box>.toolbar-icon {
    padding-left: calc(var(--gin-spacing-xxl) + var(--gin-spacing-xs));
  }

  [dir="ltr"] #layout-builder-modal .toolbar-vertical .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-icon,[dir="ltr"] #layout-builder-modal .toolbar-vertical .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-box>.toolbar-icon {
    padding-right: calc(var(--gin-spacing-xxl) + var(--gin-spacing-xs));
  }

  [dir="rtl"] #layout-builder-modal .toolbar-vertical .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-icon,[dir="rtl"] #layout-builder-modal .toolbar-vertical .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-box>.toolbar-icon {
    padding-right: calc(var(--gin-spacing-xxl) + var(--gin-spacing-xs));
  }

  [dir="rtl"] #layout-builder-modal .toolbar-vertical .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-icon,[dir="rtl"] #layout-builder-modal .toolbar-vertical .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-box>.toolbar-icon {
    padding-left: calc(var(--gin-spacing-xxl) + var(--gin-spacing-xs));
  }

  [dir="ltr"] #layout-builder-modal .toolbar-vertical .toolbar-menu-administration>.toolbar-menu>.menu-item .toolbar-menu {
    left: var(--gin-toolbar-width);
  }

  [dir="ltr"] #layout-builder-modal .toolbar-vertical .toolbar-menu-administration>.toolbar-menu>.menu-item .toolbar-menu {
    right: var(--gin-toolbar-width);
  }

  [dir="rtl"] #layout-builder-modal .toolbar-vertical .toolbar-menu-administration>.toolbar-menu>.menu-item .toolbar-menu {
    right: var(--gin-toolbar-width);
  }

  [dir="rtl"] #layout-builder-modal .toolbar-vertical .toolbar-menu-administration>.toolbar-menu>.menu-item .toolbar-menu {
    left: var(--gin-toolbar-width);
  }

  #layout-builder-modal .toolbar-menu-administration>.toolbar-menu {
    align-self: flex-start;
    height: 100%;
    max-height: calc(100% - var(--gin-toolbar-width-collapsed));
    overflow-y: auto;
    background: transparent;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }

  #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-icon,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-box>.toolbar-icon {
    font-size: var(--gin-font-size);
    font-weight: 475;
    letter-spacing: -0.0125rem;
    color: var(--gin-color-text);
    display: flex;
    align-items: center;
    width: calc(var(--gin-toolbar-x-offset) - var(--gin-spacing-m));
    height: 48px;
    margin: 0 var(--gin-spacing-xs) 1px;
    border-radius: var(--gin-border-m);
    overflow: hidden;
    transition: width var(--gin-transition);
  }

  [dir="ltr"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-icon,[dir="ltr"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-box>.toolbar-icon {
    padding-left: calc(var(--gin-toolbar-width-collapsed) - var(--gin-spacing-m));
    padding-right: 0;
  }

  [dir="ltr"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-icon,[dir="ltr"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-box>.toolbar-icon {
    padding-right: calc(var(--gin-toolbar-width-collapsed) - var(--gin-spacing-m));
    padding-left: 0;
  }

  [dir="rtl"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-icon,[dir="rtl"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-box>.toolbar-icon {
    padding-right: calc(var(--gin-toolbar-width-collapsed) - var(--gin-spacing-m));
    padding-left: 0;
  }

  [dir="rtl"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-icon,[dir="rtl"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-box>.toolbar-icon {
    padding-left: calc(var(--gin-toolbar-width-collapsed) - var(--gin-spacing-m));
    padding-right: 0;
  }

  #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-icon:hover,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-box>.toolbar-icon:hover {
    color: var(--gin-color-primary);
    background-color: transparent;
  }

  #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-icon.is-active,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-box>.toolbar-icon.is-active {
    color: var(--gin-color-primary-active);
    font-weight: var(--gin-font-weight-semibold);
  }

  #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-icon.is-active:before,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-box>.toolbar-icon.is-active:before {
    background: var(--gin-color-primary);
  }

  #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-icon.toolbar-handle,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-box>.toolbar-icon.toolbar-handle {
    width: var(--gin-toolbar-width-collapsed);
  }

  #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-icon.toolbar-handle:before,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-box>.toolbar-icon.toolbar-handle:before {
    display: none;
  }

  #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item .toolbar-menu {
    display: none;
    top: 0;
    height: 100vh;
    max-width: calc(100% - var(--gin-toolbar-height));
    box-shadow: none;
    overflow-y: auto;
    overflow-x: hidden;
  }

  [dir="ltr"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item .toolbar-menu {
    margin-left: calc(var(--gin-toolbar-x-offset) - 1px);
    border-left: 1px solid var(--gin-border-color-layer);
    transition: margin-left var(--gin-transition);
  }

  [dir="ltr"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item .toolbar-menu {
    margin-right: calc(var(--gin-toolbar-x-offset) - 1px);
    border-right: 1px solid var(--gin-border-color-layer);
    transition: margin-right var(--gin-transition);
  }

  [dir="rtl"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item .toolbar-menu {
    margin-right: calc(var(--gin-toolbar-x-offset) - 1px);
    border-right: 1px solid var(--gin-border-color-layer);
    transition: margin-right var(--gin-transition);
  }

  [dir="rtl"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item .toolbar-menu {
    margin-left: calc(var(--gin-toolbar-x-offset) - 1px);
    border-left: 1px solid var(--gin-border-color-layer);
    transition: margin-left var(--gin-transition);
  }

  #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item .toolbar-menu,#layout-builder-modal [dir] .toolbar-menu-administration>.toolbar-menu>.menu-item .toolbar-menu {
    position: fixed;
    width: var(--gin-toolbar-width);
  }

  #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item .toolbar-menu a,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item .toolbar-menu span {
    color: var(--gin-color-text);
  }

  #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item .toolbar-menu a.is-active,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item .toolbar-menu span.is-active {
    color: var(--gin-color-primary);
    font-weight: var(--gin-font-weight-semibold);
    background: var(--gin-color-primary-light);
  }

  #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item .toolbar-menu a.is-active:hover,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item .toolbar-menu span.is-active:hover {
    color: var(--gin-color-primary-hover);
    background: var(--gin-color-primary-light-hover);
  }

  #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item .toolbar-menu__title,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item .toolbar-menu__sub-title {
    position: relative;
    display: block;
    min-height: 36px;
    font-size: var(--gin-font-size-h3);
    letter-spacing: -0.025em;
    padding: 0;
    margin: var(--gin-spacing-m) var(--gin-spacing-s) calc(var(--gin-spacing-l) - var(--gin-spacing-xxs)) var(--gin-spacing-s);
  }

  #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item .toolbar-menu__title a,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item .toolbar-menu__sub-title a {
    font-weight: var(--gin-font-weight-semibold);
    color: var(--gin-color-title);
    padding: var(--gin-spacing-s);
    border-radius: var(--gin-border-m);
  }

  #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item .toolbar-menu__sub-title {
    font-size: var(--gin-font-size-xl);
    letter-spacing: -0.01em;
    margin-bottom: 1.275rem;
  }

  #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item .toolbar-menu__sub-title a {
    padding: .9rem var(--gin-spacing-s);
  }

  #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item .toolbar-menu .menu-item {
    float: none;
    border-top: 0 none;
    border-bottom: 0 none;
  }

  [dir="ltr"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item .toolbar-menu .menu-item {
    border-left: 0 none;
  }

  [dir="ltr"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item .toolbar-menu .menu-item {
    border-right: 0 none;
  }

  [dir="rtl"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item .toolbar-menu .menu-item {
    border-right: 0 none;
  }

  [dir="rtl"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item .toolbar-menu .menu-item {
    border-left: 0 none;
  }

  #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item .toolbar-menu .menu-item .toolbar-icon {
    font-size: var(--gin-font-size);
    display: block;
    width: 100%;
    max-width: calc(100% - var(--gin-spacing-l));
    margin: .25em var(--gin-spacing-s);
    border-radius: var(--gin-border-m);
    overflow: hidden;
  }

  [dir="ltr"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item .toolbar-menu .menu-item .toolbar-icon {
    padding: var(--gin-spacing-s) var(--gin-spacing-xl) var(--gin-spacing-s) var(--gin-spacing-s);
  }

  [dir="ltr"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item .toolbar-menu .menu-item .toolbar-icon {
    padding: var(--gin-spacing-s) var(--gin-spacing-s) var(--gin-spacing-s) var(--gin-spacing-xl);
  }

  [dir="rtl"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item .toolbar-menu .menu-item .toolbar-icon {
    padding: var(--gin-spacing-s) var(--gin-spacing-s) var(--gin-spacing-s) var(--gin-spacing-xl);
  }

  [dir="rtl"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item .toolbar-menu .menu-item .toolbar-icon {
    padding: var(--gin-spacing-s) var(--gin-spacing-xl) var(--gin-spacing-s) var(--gin-spacing-s);
  }

  [dir="ltr"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu,[dir="ltr"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu .toolbar-menu {
    background: linear-gradient(var(--gin-bg-layer) 30%, var(--gin-bg-layer)), linear-gradient(var(--gin-bg-layer), var(--gin-bg-layer) 80%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .15), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .15), rgba(0, 0, 0, 0)) 0 100%;
  }

  [dir="ltr"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu,[dir="ltr"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu .toolbar-menu {
    background: linear-gradient(var(--gin-bg-layer) 30%, var(--gin-bg-layer)), linear-gradient(var(--gin-bg-layer), var(--gin-bg-layer) 80%) 100% 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .15), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .15), rgba(0, 0, 0, 0)) 100% 100%;
  }

  [dir="rtl"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu,[dir="rtl"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu .toolbar-menu {
    background: linear-gradient(var(--gin-bg-layer) 30%, var(--gin-bg-layer)), linear-gradient(var(--gin-bg-layer), var(--gin-bg-layer) 80%) 100% 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .15), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .15), rgba(0, 0, 0, 0)) 100% 100%;
  }

  [dir="rtl"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu,[dir="rtl"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu .toolbar-menu {
    background: linear-gradient(var(--gin-bg-layer) 30%, var(--gin-bg-layer)), linear-gradient(var(--gin-bg-layer), var(--gin-bg-layer) 80%) 0% 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .15), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .15), rgba(0, 0, 0, 0)) 0% 100%;
  }

  #layout-builder-modal [dir] .toolbar-menu-administration>.toolbar-menu,#layout-builder-modal [dir] .toolbar-menu-administration>.toolbar-menu .toolbar-menu {
    background-color: var(--gin-bg-layer);
    background-repeat: no-repeat;
    background-attachment: local, local, scroll, scroll;
    background-size: 100% 40px, 100% 40px, 100% 16px, 100% 16px;
  }

  #layout-builder-modal .toolbar-menu-administration>.toolbar-menu .toolbar-menu {
    background-size: 100% 40px, 100% 40px, 100% 24px, 100% 24px;
  }

  #layout-builder-modal .toolbar-menu-administration .menu-item.hover-intent>.toolbar-menu,#layout-builder-modal .toolbar-menu-administration .menu-item:focus-within>.toolbar-menu {
    z-index: 2;
    display: block;
  }

  [dir="ltr"] #layout-builder-modal .toolbar-menu-administration .menu-item.hover-intent>.toolbar-menu,[dir="ltr"] #layout-builder-modal .toolbar-menu-administration .menu-item:focus-within>.toolbar-menu {
    border-right: 1px solid rgba(0, 0, 0, .075);
    box-shadow: 7px 0 16px rgba(0, 0, 0, .075), -12px 0 0 0 var(--gin-bg-layer);
  }

  [dir="ltr"] #layout-builder-modal .toolbar-menu-administration .menu-item.hover-intent>.toolbar-menu,[dir="ltr"] #layout-builder-modal .toolbar-menu-administration .menu-item:focus-within>.toolbar-menu {
    border-left: 1px solid rgba(0, 0, 0, .075);
    box-shadow: -7px 0 16px rgba(0, 0, 0, .075), 12px 0 0 0 var(--gin-bg-layer);
  }

  [dir="rtl"] #layout-builder-modal .toolbar-menu-administration .menu-item.hover-intent>.toolbar-menu,[dir="rtl"] #layout-builder-modal .toolbar-menu-administration .menu-item:focus-within>.toolbar-menu {
    border-left: 1px solid rgba(0, 0, 0, .075);
    box-shadow: -7px 0 16px rgba(0, 0, 0, .075), 12px 0 0 0 var(--gin-bg-layer);
  }

  [dir="rtl"] #layout-builder-modal .toolbar-menu-administration .menu-item.hover-intent>.toolbar-menu,[dir="rtl"] #layout-builder-modal .toolbar-menu-administration .menu-item:focus-within>.toolbar-menu {
    border-right: 1px solid rgba(0, 0, 0, .075);
    box-shadow: 7px 0 16px rgba(0, 0, 0, .075), -12px 0 0 0 var(--gin-bg-layer);
  }

  #layout-builder-modal .toolbar-menu-administration .menu-item .menu-item:hover>.toolbar-icon,#layout-builder-modal .toolbar-menu-administration .menu-item .menu-item:focus-within>.toolbar-icon,#layout-builder-modal .toolbar-menu-administration .menu-item .menu-item:hover>.toolbar-box>.toolbar-icon,#layout-builder-modal .toolbar-menu-administration .menu-item .menu-item:focus-within>.toolbar-box>.toolbar-icon {
    color: var(--gin-color-primary-hover);
    background: var(--gin-color-primary-light);
  }
}

@media (min-width: 61em) {
  #layout-builder-modal .toolbar .toolbar-toggle-orientation button {
    display: none;
  }
}

#layout-builder-modal .toolbar .toolbar-icon.toolbar-handle:focus {
  background-color: rgba(255, 255, 255, .1);
}

#layout-builder-modal #toolbar-item-administration-search-tray input {
  width: 100%;
  max-width: calc(100% - var(--gin-spacing-m));
  outline: none;
}

#layout-builder-modal .toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded,#layout-builder-modal .toolbar-tray-horizontal .toolbar-menu:not(:first-child) li.menu-item--expanded>a:focus {
  position: relative;
}

#layout-builder-modal .toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded::before,#layout-builder-modal .toolbar-tray-horizontal .toolbar-menu:not(:first-child) li.menu-item--expanded>a:focus::before {
  z-index: 1;
  top: 1em;
}

[dir="ltr"] #layout-builder-modal .toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded::before,[dir="ltr"] #layout-builder-modal .toolbar-tray-horizontal .toolbar-menu:not(:first-child) li.menu-item--expanded>a:focus::before {
  right: 20px;
}

[dir="ltr"] #layout-builder-modal .toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded::before,[dir="ltr"] #layout-builder-modal .toolbar-tray-horizontal .toolbar-menu:not(:first-child) li.menu-item--expanded>a:focus::before {
  left: 20px;
}

[dir="rtl"] #layout-builder-modal .toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded::before,[dir="rtl"] #layout-builder-modal .toolbar-tray-horizontal .toolbar-menu:not(:first-child) li.menu-item--expanded>a:focus::before {
  left: 20px;
}

[dir="rtl"] #layout-builder-modal .toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded::before,[dir="rtl"] #layout-builder-modal .toolbar-tray-horizontal .toolbar-menu:not(:first-child) li.menu-item--expanded>a:focus::before {
  right: 20px;
}

#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item:hover {
  background: transparent;
}

@media (min-width: 61em) {
  #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item:hover>.toolbar-icon,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item:hover>.toolbar-box>a.toolbar-icon,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-icon:focus,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item.menu-item--active-trail>.toolbar-icon,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item.menu-item--active-trail:hover>.toolbar-icon,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item.menu-item--active-trail>.toolbar-box>a.toolbar-icon {
    color: var(--gin-color-primary-hover);
    box-shadow: none;
  }

  #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item:hover>.toolbar-icon::before,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item:hover>.toolbar-box>a.toolbar-icon::before,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-icon:focus::before,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item.menu-item--active-trail>.toolbar-icon::before,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item.menu-item--active-trail:hover>.toolbar-icon::before,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item.menu-item--active-trail>.toolbar-box>a.toolbar-icon::before {
    background: var(--gin-color-primary-active);
  }

  #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item:hover>.toolbar-icon::after,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item:hover>.toolbar-box>a.toolbar-icon::after,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-icon:focus::after,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item.menu-item--active-trail>.toolbar-icon::after,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item.menu-item--active-trail:hover>.toolbar-icon::after,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item.menu-item--active-trail>.toolbar-box>a.toolbar-icon::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    width: calc(100% - 10px);
    height: 42px;
    background: var(--gin-color-primary-light);
    border-radius: var(--gin-border-m);
  }

  [dir="ltr"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item:hover>.toolbar-icon::after,[dir="ltr"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item:hover>.toolbar-box>a.toolbar-icon::after,[dir="ltr"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-icon:focus::after,[dir="ltr"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item.menu-item--active-trail>.toolbar-icon::after,[dir="ltr"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item.menu-item--active-trail:hover>.toolbar-icon::after,[dir="ltr"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item.menu-item--active-trail>.toolbar-box>a.toolbar-icon::after {
    left: calc((var(--gin-toolbar-width-collapsed) - var(--gin-spacing-xl) - var(--gin-spacing-xs))/2 - 9px);
  }

  [dir="ltr"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item:hover>.toolbar-icon::after,[dir="ltr"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item:hover>.toolbar-box>a.toolbar-icon::after,[dir="ltr"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-icon:focus::after,[dir="ltr"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item.menu-item--active-trail>.toolbar-icon::after,[dir="ltr"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item.menu-item--active-trail:hover>.toolbar-icon::after,[dir="ltr"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item.menu-item--active-trail>.toolbar-box>a.toolbar-icon::after {
    right: calc((var(--gin-toolbar-width-collapsed) - var(--gin-spacing-xl) - var(--gin-spacing-xs))/2 - 9px);
  }

  [dir="rtl"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item:hover>.toolbar-icon::after,[dir="rtl"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item:hover>.toolbar-box>a.toolbar-icon::after,[dir="rtl"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-icon:focus::after,[dir="rtl"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item.menu-item--active-trail>.toolbar-icon::after,[dir="rtl"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item.menu-item--active-trail:hover>.toolbar-icon::after,[dir="rtl"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item.menu-item--active-trail>.toolbar-box>a.toolbar-icon::after {
    right: calc((var(--gin-toolbar-width-collapsed) - var(--gin-spacing-xl) - var(--gin-spacing-xs))/2 - 9px);
  }

  [dir="rtl"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item:hover>.toolbar-icon::after,[dir="rtl"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item:hover>.toolbar-box>a.toolbar-icon::after,[dir="rtl"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-icon:focus::after,[dir="rtl"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item.menu-item--active-trail>.toolbar-icon::after,[dir="rtl"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item.menu-item--active-trail:hover>.toolbar-icon::after,[dir="rtl"] #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item.menu-item--active-trail>.toolbar-box>a.toolbar-icon::after {
    left: calc((var(--gin-toolbar-width-collapsed) - var(--gin-spacing-xl) - var(--gin-spacing-xs))/2 - 9px);
  }

  #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item:hover>.toolbar-icon:focus,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item:hover>.toolbar-box>a.toolbar-icon:focus,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-icon:focus:focus,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item.menu-item--active-trail>.toolbar-icon:focus,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item.menu-item--active-trail:hover>.toolbar-icon:focus,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item.menu-item--active-trail>.toolbar-box>a.toolbar-icon:focus {
    background: transparent;
  }

  #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item:hover>.toolbar-icon:focus::after,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item:hover>.toolbar-box>a.toolbar-icon:focus::after,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-icon:focus:focus::after,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item.menu-item--active-trail>.toolbar-icon:focus::after,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item.menu-item--active-trail:hover>.toolbar-icon:focus::after,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item.menu-item--active-trail>.toolbar-box>a.toolbar-icon:focus::after {
    box-shadow: inset 0 0 0 1px var(--gin-color-focus-border), inset 0 0 0 4px var(--gin-color-focus);
  }
}

@media (min-width: 61em) {
  #layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item.menu-item--active-trail>.toolbar-icon::after,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item.menu-item--active-trail>.toolbar-box>a.toolbar-icon::after,#layout-builder-modal .toolbar-menu-administration>.toolbar-menu>.menu-item>.toolbar-icon.is-active::after {
    background: var(--gin-bg-item-hover);
  }
}

#layout-builder-modal #toolbar-item-administration-tray,#layout-builder-modal .toolbar-loading #toolbar-item-administration-tray {
  box-shadow: none;
}

