/**
 * @file
 * Wrapped content from themes/contrib/vartheme_claro/css/vartheme-claro.theme.style.css
 * Maintainers: the import statement presumes a relative location of core css.
 * The location may need to be adjusted depending on your setup.
 */

#layout-builder-modal,
.media-library-widget-modal,
form.media-form {
  @import "../../../../../../../themes/contrib/vartheme_claro/css/theme/vartheme-claro.theme.style";

  .form-text.description {
    border: 0 !important;
  }
}
