/**
 * @file
 * Wrapped content from themes/contrib/vartheme_claro/css/vartheme-claro.theme.style.css
 * Maintainers: the import statement presumes a relative location of core css.
 * The location may need to be adjusted depending on your setup.
 */
#layout-builder-modal html,
.media-library-widget-modal html,
form.media-form html {
  font-size: 90%;
  /* Make the elements smaller for Varbase admin */
}
#layout-builder-modal input[type=text],
.media-library-widget-modal input[type=text],
form.media-form input[type=text] {
  max-width: 100%;
}
#layout-builder-modal .views-exposed-form__item [id*=edit-created-from],
#layout-builder-modal .views-exposed-form__item [id*=edit-created-to],
#layout-builder-modal .views-exposed-form__item [id*=edit-user-created-from],
#layout-builder-modal .views-exposed-form__item [id*=edit-user-created-to],
#layout-builder-modal .views-exposed-form__item [id*=edit-content-created-from],
#layout-builder-modal .views-exposed-form__item [id*=edit-content-created-to],
.media-library-widget-modal .views-exposed-form__item [id*=edit-created-from],
.media-library-widget-modal .views-exposed-form__item [id*=edit-created-to],
.media-library-widget-modal .views-exposed-form__item [id*=edit-user-created-from],
.media-library-widget-modal .views-exposed-form__item [id*=edit-user-created-to],
.media-library-widget-modal .views-exposed-form__item [id*=edit-content-created-from],
.media-library-widget-modal .views-exposed-form__item [id*=edit-content-created-to],
form.media-form .views-exposed-form__item [id*=edit-created-from],
form.media-form .views-exposed-form__item [id*=edit-created-to],
form.media-form .views-exposed-form__item [id*=edit-user-created-from],
form.media-form .views-exposed-form__item [id*=edit-user-created-to],
form.media-form .views-exposed-form__item [id*=edit-content-created-from],
form.media-form .views-exposed-form__item [id*=edit-content-created-to] {
  width: 9rem;
}
#layout-builder-modal .views-exposed-form__item [id*=edit-langcode],
#layout-builder-modal .views-exposed-form__item [id*=edit-uid],
.media-library-widget-modal .views-exposed-form__item [id*=edit-langcode],
.media-library-widget-modal .views-exposed-form__item [id*=edit-uid],
form.media-form .views-exposed-form__item [id*=edit-langcode],
form.media-form .views-exposed-form__item [id*=edit-uid] {
  width: 12rem;
}
#layout-builder-modal .node-form .field--name-title input,
.media-library-widget-modal .node-form .field--name-title input,
form.media-form .node-form .field--name-title input {
  width: 100%;
  min-height: 4rem;
  font-size: 1.6em;
}
#layout-builder-modal .node-form .field--name-title .length-indicator,
.media-library-widget-modal .node-form .field--name-title .length-indicator,
form.media-form .node-form .field--name-title .length-indicator {
  margin-top: -1rem;
}
#layout-builder-modal body.path-admin .panel.dashboard-block,
.media-library-widget-modal body.path-admin .panel.dashboard-block,
form.media-form body.path-admin .panel.dashboard-block {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #222330;
  border: 1px solid rgba(216, 217, 224, 0.8);
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#layout-builder-modal .block-views-blockvarbase-google-analytics-summary-sessions-and-pageviews .panel__title,
.media-library-widget-modal .block-views-blockvarbase-google-analytics-summary-sessions-and-pageviews .panel__title,
form.media-form .block-views-blockvarbase-google-analytics-summary-sessions-and-pageviews .panel__title {
  display: block;
}
#layout-builder-modal .block-views-blockvarbase-google-analytics-summary-sessions-and-pageviews .description,
.media-library-widget-modal .block-views-blockvarbase-google-analytics-summary-sessions-and-pageviews .description,
form.media-form .block-views-blockvarbase-google-analytics-summary-sessions-and-pageviews .description {
  padding: 20px;
}
#layout-builder-modal .node-form div.autocomplete-deluxe-container,
.media-library-widget-modal .node-form div.autocomplete-deluxe-container,
form.media-form .node-form div.autocomplete-deluxe-container {
  width: 65%;
}
@media screen and (max-width: 81.25rem) {
  #layout-builder-modal .node-form div.autocomplete-deluxe-container,
  .media-library-widget-modal .node-form div.autocomplete-deluxe-container,
  form.media-form .node-form div.autocomplete-deluxe-container {
    width: 100%;
  }
}
#layout-builder-modal .node-form div.autocomplete-deluxe-container:not(.autocomplete-deluxe-multiple) input.autocomplete-deluxe-form,
.media-library-widget-modal .node-form div.autocomplete-deluxe-container:not(.autocomplete-deluxe-multiple) input.autocomplete-deluxe-form,
form.media-form .node-form div.autocomplete-deluxe-container:not(.autocomplete-deluxe-multiple) input.autocomplete-deluxe-form {
  width: 100%;
}
#layout-builder-modal .node-form .claro-autocomplete,
.media-library-widget-modal .node-form .claro-autocomplete,
form.media-form .node-form .claro-autocomplete {
  width: 65%;
}
#layout-builder-modal .node-form .claro-autocomplete .claro-autocomplete__message,
.media-library-widget-modal .node-form .claro-autocomplete .claro-autocomplete__message,
form.media-form .node-form .claro-autocomplete .claro-autocomplete__message {
  display: none;
}
#layout-builder-modal .node-form .claro-autocomplete input,
.media-library-widget-modal .node-form .claro-autocomplete input,
form.media-form .node-form .claro-autocomplete input {
  width: 100%;
  padding-right: 1.875rem;
}
@media screen and (max-width: 81.25rem) {
  #layout-builder-modal .node-form .claro-autocomplete,
  .media-library-widget-modal .node-form .claro-autocomplete,
  form.media-form .node-form .claro-autocomplete {
    width: 100%;
  }
}
#layout-builder-modal .node-form .accordion .claro-autocomplete,
.media-library-widget-modal .node-form .accordion .claro-autocomplete,
form.media-form .node-form .accordion .claro-autocomplete {
  width: 100%;
}
#layout-builder-modal .node-form .js input.form-autocomplete,
.media-library-widget-modal .node-form .js input.form-autocomplete,
form.media-form .node-form .js input.form-autocomplete {
  background: url("../images/search-autocomplete.svg") no-repeat 100% 50%;
}
#layout-builder-modal .node-form .js input.form-autocomplete.ui-autocomplete-loading,
.media-library-widget-modal .node-form .js input.form-autocomplete.ui-autocomplete-loading,
form.media-form .node-form .js input.form-autocomplete.ui-autocomplete-loading {
  background: url("../images/search-autocompleting.svg") no-repeat 100% 50%;
}
#layout-builder-modal .node-form .js .is-autocompleting + .claro-autocomplete__message,
.media-library-widget-modal .node-form .js .is-autocompleting + .claro-autocomplete__message,
form.media-form .node-form .js .is-autocompleting + .claro-autocomplete__message {
  display: none;
}
#layout-builder-modal .node-form .field--type-yoast-seo input,
.media-library-widget-modal .node-form .field--type-yoast-seo input,
form.media-form .node-form .field--type-yoast-seo input {
  width: 66%;
}
@media screen and (max-width: 81.25rem) {
  #layout-builder-modal .node-form .field--type-yoast-seo input,
  .media-library-widget-modal .node-form .field--type-yoast-seo input,
  form.media-form .node-form .field--type-yoast-seo input {
    width: 100%;
  }
}
#layout-builder-modal .media-library-item .media-library-edit__link,
.media-library-widget-modal .media-library-item .media-library-edit__link,
form.media-form .media-library-item .media-library-edit__link {
  right: 40px;
}
#layout-builder-modal .media-library-item .media-library-edit__link,
#layout-builder-modal .media-library-item .media-library-item__remove.button:first-child,
.media-library-widget-modal .media-library-item .media-library-edit__link,
.media-library-widget-modal .media-library-item .media-library-item__remove.button:first-child,
form.media-form .media-library-item .media-library-edit__link,
form.media-form .media-library-item .media-library-item__remove.button:first-child {
  top: 10px;
  width: 25px;
  height: 25px;
  border: 2px solid #ccc !important;
  background-size: 13px;
  font-size: 0;
}
#layout-builder-modal .media-library-item .media-library-edit__link:not(:focus),
#layout-builder-modal .media-library-item .media-library-item__remove.button:first-child:not(:focus),
.media-library-widget-modal .media-library-item .media-library-edit__link:not(:focus),
.media-library-widget-modal .media-library-item .media-library-item__remove.button:first-child:not(:focus),
form.media-form .media-library-item .media-library-edit__link:not(:focus),
form.media-form .media-library-item .media-library-item__remove.button:first-child:not(:focus) {
  box-shadow: none;
}
#layout-builder-modal .media-library-item .media-library-edit__link:hover,
#layout-builder-modal .media-library-item .media-library-edit__link:focus,
#layout-builder-modal .media-library-item .media-library-item__remove.button:first-child:hover,
#layout-builder-modal .media-library-item .media-library-item__remove.button:first-child:focus,
.media-library-widget-modal .media-library-item .media-library-edit__link:hover,
.media-library-widget-modal .media-library-item .media-library-edit__link:focus,
.media-library-widget-modal .media-library-item .media-library-item__remove.button:first-child:hover,
.media-library-widget-modal .media-library-item .media-library-item__remove.button:first-child:focus,
form.media-form .media-library-item .media-library-edit__link:hover,
form.media-form .media-library-item .media-library-edit__link:focus,
form.media-form .media-library-item .media-library-item__remove.button:first-child:hover,
form.media-form .media-library-item .media-library-item__remove.button:first-child:focus {
  color: transparent;
  border-color: #40b6ff !important;
}
#layout-builder-modal .media-library-item .media-library-edit__link:active,
#layout-builder-modal .media-library-item .media-library-item__remove.button:first-child:active,
.media-library-widget-modal .media-library-item .media-library-edit__link:active,
.media-library-widget-modal .media-library-item .media-library-item__remove.button:first-child:active,
form.media-form .media-library-item .media-library-edit__link:active,
form.media-form .media-library-item .media-library-item__remove.button:first-child:active {
  outline: 2px dotted transparent;
  box-shadow: 0 0 0 2px #fff, 0 0 0 5px #26a769;
}
#layout-builder-modal .focal-point-preview-link,
.media-library-widget-modal .focal-point-preview-link,
form.media-form .focal-point-preview-link {
  padding: 1.2rem;
  text-decoration: none;
}
#layout-builder-modal .layout-region-node-secondary .media-library-item.media-library-item--grid,
.media-library-widget-modal .layout-region-node-secondary .media-library-item.media-library-item--grid,
form.media-form .layout-region-node-secondary .media-library-item.media-library-item--grid {
  width: 200px;
  max-width: 200px;
}
#layout-builder-modal fieldset.fieldset,
.media-library-widget-modal fieldset.fieldset,
form.media-form fieldset.fieldset {
  border-color: rgb(216, 217, 224);
}
@media screen and (min-width: 61rem) {
  #layout-builder-modal .layout-region--node-main,
  .media-library-widget-modal .layout-region--node-main,
  form.media-form .layout-region--node-main {
    width: 65%;
  }
  #layout-builder-modal .layout-region--node-main .layout-region__content,
  .media-library-widget-modal .layout-region--node-main .layout-region__content,
  form.media-form .layout-region--node-main .layout-region__content {
    max-width: 100%;
  }
  #layout-builder-modal .layout-region--node-footer .layout-region__content,
  .media-library-widget-modal .layout-region--node-footer .layout-region__content,
  form.media-form .layout-region--node-footer .layout-region__content {
    max-width: 100%;
  }
  #layout-builder-modal .layout-region--node-secondary,
  .media-library-widget-modal .layout-region--node-secondary,
  form.media-form .layout-region--node-secondary {
    width: 35%;
  }
}
@media screen and (max-width: 37.5rem) {
  #layout-builder-modal td > .form-item > .form-element,
  #layout-builder-modal td > .ajax-new-content > .form-item > .form-element,
  .media-library-widget-modal td > .form-item > .form-element,
  .media-library-widget-modal td > .ajax-new-content > .form-item > .form-element,
  form.media-form td > .form-item > .form-element,
  form.media-form td > .ajax-new-content > .form-item > .form-element {
    width: inherit;
  }
}
