/**
 * @file
 * Wrapped content from core/themes/claro/css/components/tables.css
 * Maintainers: the import statement presumes a relative location of core css.
 * The location may need to be adjusted depending on your setup.
 */

#layout-builder-modal,
#modal-media-library {
  @import "../../../../../core/themes/claro/css/components/tables";
  @import "../../../../../../../core/themes/claro/css/components/tabledrag.css";
  .tabledrag-cell-content {
    display: flex;
    align-items: center;
    .tabledrag-handle {
      overflow: visible;
      &:after {
        width: 100%;
        height: 100%;
      }
    }
  }
}
